
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.about-us-bYL {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.about-us-bYL .auto-group-xhmj-uJ8 {
  width: 100%;
  height: 150.9rem;
  position: relative;
  flex-shrink: 0;
}
.about-us-bYL .auto-group-xhmj-uJ8 .auto-group-wy1v-ErC {
  width: 119.8337rem;
  height: 61.3943rem;
  position: absolute;
  left: 12.2rem;
  top: 29.3rem;
  display: flex;
  align-items: center;
}
.about-us-bYL .auto-group-xhmj-uJ8 .auto-group-wy1v-ErC .auto-group-iqpp-kJk {
  margin: 1.2rem 5.6rem 2.994rem 0rem;
  width: 51.1rem;
  height: calc(100% - 4.1943rem);
  flex-shrink: 0;
}
.about-us-bYL .auto-group-xhmj-uJ8 .auto-group-wy1v-ErC .auto-group-iqpp-kJk .about-us-euv {
  margin-bottom: 2.2rem;
  width: 100%;
  text-align: center;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.about-us-bYL .auto-group-xhmj-uJ8 .auto-group-wy1v-ErC .auto-group-iqpp-kJk .about-us-euv .about-us-euv-sub-0 {
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #ecbd27;
  font-family: Roboto, 'Source Sans Pro';
}
.about-us-bYL .auto-group-xhmj-uJ8 .auto-group-wy1v-ErC .auto-group-iqpp-kJk .about-us-euv .about-us-euv-sub-1 {
}
.about-us-bYL .auto-group-xhmj-uJ8 .auto-group-wy1v-ErC .auto-group-iqpp-kJk .cryptofibank-is-a-group-of-friends-established-by-three-people-lucas-british-yoshiko-japanese-and-kuzey-turkish-in-order-to-earn-passive-income-for-themselves-and-their-close-circles-we-provide-our-earnings-through-forex-exchange-and-cryptocurrencies-definitely-not-a-pyramid-scheme-as-in-every-trade-there-is-a-loss-in-our-trade-but-we-do-not-reflect-this-loss-to-you-we-have-created-percentage-earnings-plans-according-to-certain-investment-amounts-since-we-are-not-subject-to-the-tax-system-of-any-country-we-give-percentages-at-rates-that-even-banks-do-notwe-offer-a-24-7-withdrawal-guarantee-there-are-absolutely-no-withdrawal-limits-or-deductions-only-withdrawals-are-processed-after-24-hours-the-reason-is-that-withdrawals-from-the-global-stock-market-do-not-occur-immediately-our-mission-is-to-win-while-you-win-cryptofibank-does-not-support-any-institution-or-organization-and-does-not-give-you-investment-advice-7BE {
  margin-bottom: 2.1rem;
  max-width: 51.1rem;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.6127346046;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.about-us-bYL .auto-group-xhmj-uJ8 .auto-group-wy1v-ErC .auto-group-iqpp-kJk .frame-3-q9A {
  width: 19rem;
  height: 4.1rem;
  font-size: 1.8rem;
  font-weight: 800;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ecbd27;
  border-radius: 0.5rem;
}
.about-us-bYL .auto-group-xhmj-uJ8 .auto-group-wy1v-ErC .auto-group-kjcc-iTr {
  width: 63.1337rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.about-us-bYL .auto-group-xhmj-uJ8 .auto-group-wy1v-ErC .auto-group-kjcc-iTr .rectangle-38-TAY {
  width: 58.2291rem;
  height: 58.3147rem;
  position: absolute;
  left: 4.9046rem;
  top: 3.0797rem;
  background-color: #fbbc04;
  border-radius: 1rem;
}
.about-us-bYL .auto-group-xhmj-uJ8 .auto-group-wy1v-ErC .auto-group-kjcc-iTr .mask-group-ZjN {
  width: 60.5434rem;
  height: 60.5002rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1rem;
}
.about-us-bYL .auto-group-xhmj-uJ8 .auto-group-m2bj-6DW {
  width: 32.4rem;
  height: 5.2rem;
  position: absolute;
  left: 55.8rem;
  top: 99.9rem;
}
.about-us-bYL .auto-group-xhmj-uJ8 .auto-group-m2bj-6DW .services-we-offer-otc {
  width: 32.4rem;
  height: 5.2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.5168749865;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.about-us-bYL .auto-group-xhmj-uJ8 .auto-group-m2bj-6DW .line-24-iVn {
  width: 31.5rem;
  height: 0.2rem;
  position: absolute;
  left: 0.4rem;
  top: 4.9rem;
  background-color: #fbbc04;
}
.about-us-bYL .auto-group-xhmj-uJ8 .explore-the-wealth-of-services-at-cryptofibank-d6x {
  width: 41.9rem;
  height: 3.1rem;
  position: absolute;
  left: 50.7rem;
  top: 106.4rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5168750763;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.about-us-bYL .auto-group-xhmj-uJ8 .explore-the-wealth-of-services-at-cryptofibank-d6x .explore-the-wealth-of-services-at-cryptofibank-d6x-sub-0 {
}
.about-us-bYL .auto-group-xhmj-uJ8 .explore-the-wealth-of-services-at-cryptofibank-d6x .explore-the-wealth-of-services-at-cryptofibank-d6x-sub-1 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5168750763;
  color: #fbbc04;
  font-family: Roboto, 'Source Sans Pro';
}
.about-us-bYL .auto-group-xhmj-uJ8 .auto-group-eyjk-JMW {
  width: 120rem;
  height: 22.8rem;
  position: absolute;
  left: 12rem;
  top: 117.6rem;
  display: flex;
  column-gap: 9.6rem;
  align-items: center;
}
.about-us-bYL .auto-group-xhmj-uJ8 .auto-group-eyjk-JMW .group-44-c7J {
  width: 22.8rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.about-us-bYL .auto-group-xhmj-uJ8 .auto-group-eyjk-JMW .group-44-c7J .ellipse-6-Z2Y {
  width: 21rem;
  height: 21rem;
  position: absolute;
  left: 0.9rem;
  top: 0.9rem;
  background-color: #ecbd27;
  border-radius: 10.5rem;
}
.about-us-bYL .auto-group-xhmj-uJ8 .auto-group-eyjk-JMW .group-44-c7J .ellipse-7-GSk {
  width: 22.8rem;
  height: 22.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border: dashed 0.3rem #fbbc04;
  box-sizing: border-box;
  border-radius: 11.4rem;
}
.about-us-bYL .auto-group-xhmj-uJ8 .auto-group-eyjk-JMW .group-44-c7J .forex-trading-muJ {
  width: 14.9rem;
  height: 3.7rem;
  position: absolute;
  left: 4rem;
  top: 9.7rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5168749491;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.about-us-bYL .auto-group-xhmj-uJ8 .auto-group-eyjk-JMW .group-45-Gr4 {
  width: 22.8rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.about-us-bYL .auto-group-xhmj-uJ8 .auto-group-eyjk-JMW .group-45-Gr4 .ellipse-6-EH6 {
  width: 21rem;
  height: 21rem;
  position: absolute;
  left: 0.9rem;
  top: 0.9rem;
  background-color: #ecbd27;
  border-radius: 10.5rem;
}
.about-us-bYL .auto-group-xhmj-uJ8 .auto-group-eyjk-JMW .group-45-Gr4 .ellipse-7-Y2t {
  width: 22.8rem;
  height: 22.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border: dashed 0.3rem #fbbc04;
  box-sizing: border-box;
  border-radius: 11.4rem;
}
.about-us-bYL .auto-group-xhmj-uJ8 .auto-group-eyjk-JMW .group-45-Gr4 .cryptocurrencies-da8 {
  width: 18.6rem;
  height: 3.7rem;
  position: absolute;
  left: 2rem;
  top: 9.7rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5168749491;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.about-us-bYL .auto-group-xhmj-uJ8 .auto-group-eyjk-JMW .group-46-W88 {
  width: 22.8rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.about-us-bYL .auto-group-xhmj-uJ8 .auto-group-eyjk-JMW .group-46-W88 .ellipse-6-FbW {
  width: 21rem;
  height: 21rem;
  position: absolute;
  left: 0.9rem;
  top: 0.9rem;
  background-color: #ecbd27;
  border-radius: 10.5rem;
}
.about-us-bYL .auto-group-xhmj-uJ8 .auto-group-eyjk-JMW .group-46-W88 .ellipse-7-Nw2 {
  width: 22.8rem;
  height: 22.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border: dashed 0.3rem #fbbc04;
  box-sizing: border-box;
  border-radius: 11.4rem;
}
.about-us-bYL .auto-group-xhmj-uJ8 .auto-group-eyjk-JMW .group-46-W88 .slot-games-Vkk {
  width: 12.5rem;
  height: 3.7rem;
  position: absolute;
  left: 5.1rem;
  top: 9.7rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5168749491;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.about-us-bYL .auto-group-xhmj-uJ8 .auto-group-eyjk-JMW .group-47-oFe {
  width: 22.8rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.about-us-bYL .auto-group-xhmj-uJ8 .auto-group-eyjk-JMW .group-47-oFe .ellipse-6-juz {
  width: 21rem;
  height: 21rem;
  position: absolute;
  left: 0.9rem;
  top: 0.9rem;
  background-color: #ecbd27;
  border-radius: 10.5rem;
}
.about-us-bYL .auto-group-xhmj-uJ8 .auto-group-eyjk-JMW .group-47-oFe .ellipse-7-4hN {
  width: 22.8rem;
  height: 22.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border: dashed 0.3rem #fbbc04;
  box-sizing: border-box;
  border-radius: 11.4rem;
}
.about-us-bYL .auto-group-xhmj-uJ8 .auto-group-eyjk-JMW .group-47-oFe .lotteries-nNU {
  width: 9.7rem;
  height: 3.7rem;
  position: absolute;
  left: 6.4rem;
  top: 9.7rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5168749491;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.about-us-bYL .auto-group-xhmj-uJ8 .group-123-V1z {
  width: 136.8rem;
  height: 27.1605rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
}
.about-us-bYL .auto-group-xhmj-uJ8 .group-123-V1z .group-1-pa4 {
  margin-right: 8.6469rem;
  width: 33.9531rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.about-us-bYL .auto-group-xhmj-uJ8 .group-123-V1z .group-1-pa4 .untitled-1-2-ZnY {
  width: 27.1605rem;
  height: 27.1605rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.about-us-bYL .auto-group-xhmj-uJ8 .group-123-V1z .group-1-pa4 .cryptofibank-6Xa {
  width: 14.2rem;
  height: 2.8rem;
  position: absolute;
  left: 18.8531rem;
  top: 9.8642rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Sansita One, 'Source Sans Pro';
  white-space: nowrap;
}
.about-us-bYL .auto-group-xhmj-uJ8 .group-123-V1z .home-Njz {
  margin-bottom: 2.5605rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  text-transform: uppercase;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-bYL .auto-group-xhmj-uJ8 .group-123-V1z .auto-group-dzke-JNk {
  box-sizing: border-box;
  padding: 10rem 0rem 13.06rem 2rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.about-us-bYL .auto-group-xhmj-uJ8 .group-123-V1z .auto-group-dzke-JNk .auto-group-3gly-p6C {
  margin: 1.1rem 2rem 0.6rem 0rem;
  width: 9.7rem;
  height: calc(100% - 1.7rem);
  position: relative;
  flex-shrink: 0;
}
.about-us-bYL .auto-group-xhmj-uJ8 .group-123-V1z .auto-group-dzke-JNk .auto-group-3gly-p6C .about-us-wAp {
  width: 9.7rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.1725;
  text-transform: uppercase;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.about-us-bYL .auto-group-xhmj-uJ8 .group-123-V1z .auto-group-dzke-JNk .auto-group-3gly-p6C .line-5-eqv {
  width: 9.2rem;
  height: 0;
  position: absolute;
  left: 0.2rem;
  top: 2.2rem;
  object-fit: contain;
  vertical-align: top;
}
.about-us-bYL .auto-group-xhmj-uJ8 .group-123-V1z .auto-group-dzke-JNk .plans-BL4 {
  margin: 0.5rem 2.1rem 0rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-bYL .auto-group-xhmj-uJ8 .group-123-V1z .auto-group-dzke-JNk .game-h3W {
  margin: 0.5rem 2rem 0rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-bYL .auto-group-xhmj-uJ8 .group-123-V1z .auto-group-dzke-JNk .lottery-pP2 {
  margin: 0.5rem 2rem 0rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-bYL .auto-group-xhmj-uJ8 .group-123-V1z .auto-group-dzke-JNk .faqs-9gC {
  margin: 0.5rem 2rem 0rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-bYL .auto-group-xhmj-uJ8 .group-123-V1z .auto-group-dzke-JNk .contact-us-UyN {
  margin: 0.5rem 5rem 0rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-bYL .auto-group-xhmj-uJ8 .group-123-V1z .auto-group-dzke-JNk .group-cJt {
  margin: 0.1rem 0.8rem 0rem 0rem;
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.about-us-bYL .auto-group-xhmj-uJ8 .group-123-V1z .auto-group-dzke-JNk .eng-LVn {
  margin: 0.1rem 5.8rem 0rem 0rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-bYL .auto-group-xhmj-uJ8 .group-123-V1z .auto-group-dzke-JNk .frame-1-ryv {
  width: 12rem;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ecbd27;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.about-us-bYL .auto-group-gj8l-9i8 {
  width: 100%;
  height: 63.2rem;
  position: relative;
  flex-shrink: 0;
}
.about-us-bYL .auto-group-gj8l-9i8 .rectangle-32-HZS {
  width: 144rem;
  height: 51.7rem;
  position: absolute;
  left: 0;
  top: 11.5rem;
  background-color: rgba(236, 189, 39, 0.3000000119);
}
.about-us-bYL .auto-group-gj8l-9i8 .group-20-21E {
  width: 9.7rem;
  height: 23.5rem;
  position: absolute;
  left: 74.1rem;
  top: 31.3rem;
}
.about-us-bYL .auto-group-gj8l-9i8 .group-20-21E .company-9be {
  margin-bottom: 2.8rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.about-us-bYL .auto-group-gj8l-9i8 .group-20-21E .about-us-Fua {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.about-us-bYL .auto-group-gj8l-9i8 .group-20-21E .contact-us-BoE {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.about-us-bYL .auto-group-gj8l-9i8 .group-20-21E .career-j44 {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.about-us-bYL .auto-group-gj8l-9i8 .group-20-21E .lottery-fiQ {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.about-us-bYL .auto-group-gj8l-9i8 .group-37-oZi {
  width: 9.7rem;
  height: 14.7rem;
  position: absolute;
  left: 92.9rem;
  top: 31.3rem;
}
.about-us-bYL .auto-group-gj8l-9i8 .group-37-oZi .support-jiG {
  margin-bottom: 2.8rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.about-us-bYL .auto-group-gj8l-9i8 .group-37-oZi .faqs-frp {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.about-us-bYL .auto-group-gj8l-9i8 .group-37-oZi .contact-us-1vg {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.about-us-bYL .auto-group-gj8l-9i8 .group-19-xqv {
  width: 15rem;
  height: 23.5rem;
  position: absolute;
  left: 51.4rem;
  top: 31.3rem;
}
.about-us-bYL .auto-group-gj8l-9i8 .group-19-xqv .quick-links-gmv {
  margin-bottom: 2.8rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.about-us-bYL .auto-group-gj8l-9i8 .group-19-xqv .terms-of-service-Qxp {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.about-us-bYL .auto-group-gj8l-9i8 .group-19-xqv .privacy-policy-xDe {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.about-us-bYL .auto-group-gj8l-9i8 .group-19-xqv .plans-tNC {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.about-us-bYL .auto-group-gj8l-9i8 .group-19-xqv .games-S8p {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.about-us-bYL .auto-group-gj8l-9i8 .group-38-yuS {
  width: 19.8rem;
  height: 9.1rem;
  position: absolute;
  left: 111.7rem;
  top: 31.3rem;
}
.about-us-bYL .auto-group-gj8l-9i8 .group-38-yuS .connect-with-us--JRv {
  margin: 0rem 0rem 0.5rem 0.4rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.about-us-bYL .auto-group-gj8l-9i8 .group-38-yuS .group-22-cxQ {
  box-sizing: border-box;
  padding: 0.392rem 0.35rem 0.4rem 0.392rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.about-us-bYL .auto-group-gj8l-9i8 .group-38-yuS .group-22-cxQ .ic-baseline-facebook-M9J {
  margin: 0rem 1.292rem 0.001rem 0rem;
  width: 3.9167rem;
  height: 3.9069rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.about-us-bYL .auto-group-gj8l-9i8 .group-38-yuS .group-22-cxQ .formkit-twitter-4ZW {
  margin: 0.008rem 1.258rem 0rem 0rem;
  width: 3.9rem;
  height: 3.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.about-us-bYL .auto-group-gj8l-9i8 .group-38-yuS .group-22-cxQ .ri-instagram-fill-b3e {
  margin: 0.008rem 1.608rem 0rem 0rem;
  width: 3.5835rem;
  height: 3.5835rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.about-us-bYL .auto-group-gj8l-9i8 .group-38-yuS .group-22-cxQ .ri-whatsapp-fill-WRW {
  margin-top: 0.0083rem;
  width: 3.5rem;
  height: 3.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.about-us-bYL .auto-group-gj8l-9i8 .group-36-eGp {
  width: 30.2rem;
  height: 22rem;
  position: absolute;
  left: 6rem;
  top: 23.1rem;
}
.about-us-bYL .auto-group-gj8l-9i8 .group-36-eGp .untitled-1-2-BXe {
  width: 22rem;
  height: 22rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.about-us-bYL .auto-group-gj8l-9i8 .group-36-eGp .cryptofibank-Kdr {
  width: 14.2rem;
  height: 2.8rem;
  position: absolute;
  left: 16rem;
  top: 8.8rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Sansita One, 'Source Sans Pro';
  white-space: nowrap;
}
.about-us-bYL .auto-group-gj8l-9i8 .cryptofibank-a-trusted-name-in-the-world-of-financial-opportunity-provides-a-secure-platform-for-investing-in-forex-cryptocurrencies-slot-games-and-lotteries-EF2 {
  width: 27.5rem;
  height: 14.2rem;
  position: absolute;
  left: 12rem;
  top: 40.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.about-us-bYL .auto-group-gj8l-9i8 .rectangle-34-GhW {
  width: 144rem;
  height: 3.7rem;
  position: absolute;
  left: 0;
  top: 59.5rem;
  background-color: #ecbd27;
}
.about-us-bYL .auto-group-gj8l-9i8 .group-39-bzg {
  width: 26.7rem;
  height: 2.9rem;
  position: absolute;
  left: 58.2rem;
  top: 59.9rem;
}
.about-us-bYL .auto-group-gj8l-9i8 .group-39-bzg .copyright-2023-all-rights-reserved-jqz {
  width: 26.7rem;
  height: 2.9rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.7690000534;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.about-us-bYL .auto-group-gj8l-9i8 .group-39-bzg .ic-outline-copyright-exx {
  width: 1.6667rem;
  height: 1.6667rem;
  position: absolute;
  left: 7.3667rem;
  top: 0.5667rem;
  object-fit: contain;
  vertical-align: top;
}
.about-us-bYL .auto-group-gj8l-9i8 .group-42-P9r {
  box-sizing: border-box;
  padding: 1.3rem 31.2rem 3.2rem 31.2rem;
  width: 119.5rem;
  height: 23rem;
  position: absolute;
  left: 12rem;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1rem;
}
.about-us-bYL .auto-group-gj8l-9i8 .group-42-P9r .auto-group-zhxu-HW8 {
  margin: 0rem 10.6rem 1.8rem 9.4rem;
  width: calc(100% - 20rem);
  height: 8.2rem;
  position: relative;
  flex-shrink: 0;
}
.about-us-bYL .auto-group-gj8l-9i8 .group-42-P9r .auto-group-zhxu-HW8 .subscribe-to-news-Qak {
  width: 31.6rem;
  height: 5.7rem;
  position: absolute;
  left: 2.9rem;
  top: 0;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.7690000534;
  color: #ecbd27;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.about-us-bYL .auto-group-gj8l-9i8 .group-42-P9r .auto-group-zhxu-HW8 .get-the-latest-insights-subscribe-to-our-newsletter-KSp {
  width: 37.1rem;
  height: 2.9rem;
  position: absolute;
  left: 0;
  top: 5.3rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.about-us-bYL .auto-group-gj8l-9i8 .group-42-P9r .group-40-26L {
  box-sizing: border-box;
  padding-left: 2.9rem;
  width: 100%;
  height: 8.5rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #afafaf;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.about-us-bYL .auto-group-gj8l-9i8 .group-42-P9r .group-40-26L .enter-your-email-address-MeQ {
  margin-right: 17.6rem;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.7690001095;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-bYL .auto-group-gj8l-9i8 .group-42-P9r .group-40-26L .auto-group-upvi-t8Y {
  width: 17.3rem;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.7690000534;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ecbd27;
  border-radius: 0 0.8rem 0.8rem 0;
  flex-shrink: 0;
}
