
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.contact-us-Hpk {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.contact-us-Hpk .auto-group-tozz-pJt {
  box-sizing: border-box;
  padding-bottom: 14.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.contact-us-Hpk .auto-group-tozz-pJt .group-122-Z1a {
  margin-bottom: 2.9395rem;
  height: 27.1605rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.contact-us-Hpk .auto-group-tozz-pJt .group-122-Z1a .group-1-gbz {
  margin-right: 8.6469rem;
  width: 33.9531rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.contact-us-Hpk .auto-group-tozz-pJt .group-122-Z1a .group-1-gbz .untitled-1-2-qDz {
  width: 27.1605rem;
  height: 27.1605rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.contact-us-Hpk .auto-group-tozz-pJt .group-122-Z1a .group-1-gbz .cryptofibank-My2 {
  width: 14.2rem;
  height: 2.8rem;
  position: absolute;
  left: 18.6531rem;
  top: 9.8642rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Sansita One, 'Source Sans Pro';
  white-space: nowrap;
}
.contact-us-Hpk .auto-group-tozz-pJt .group-122-Z1a .home-dfe {
  margin: 0rem 2rem 2.56rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  text-transform: uppercase;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-us-Hpk .auto-group-tozz-pJt .group-122-Z1a .about-us-vek {
  margin: 0rem 2.2rem 2.56rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  text-transform: uppercase;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-us-Hpk .auto-group-tozz-pJt .group-122-Z1a .plans-dp4 {
  margin: 0rem 2.1rem 2.56rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-us-Hpk .auto-group-tozz-pJt .group-122-Z1a .game-AJC {
  margin: 0rem 2rem 2.56rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-us-Hpk .auto-group-tozz-pJt .group-122-Z1a .lottery-VbN {
  margin: 0rem 2rem 2.56rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-us-Hpk .auto-group-tozz-pJt .group-122-Z1a .faqs-pNk {
  margin-bottom: 2.5605rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-us-Hpk .auto-group-tozz-pJt .group-122-Z1a .auto-group-ddn8-xjr {
  box-sizing: border-box;
  padding: 10rem 0rem 13.06rem 2rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.contact-us-Hpk .auto-group-tozz-pJt .group-122-Z1a .auto-group-ddn8-xjr .auto-group-cvhe-srp {
  margin: 1.1rem 4.9rem 0.6rem 0rem;
  width: 12.1rem;
  height: calc(100% - 1.7rem);
  position: relative;
  flex-shrink: 0;
}
.contact-us-Hpk .auto-group-tozz-pJt .group-122-Z1a .auto-group-ddn8-xjr .auto-group-cvhe-srp .contact-us-Q64 {
  width: 12.1rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.contact-us-Hpk .auto-group-tozz-pJt .group-122-Z1a .auto-group-ddn8-xjr .auto-group-cvhe-srp .line-5-isS {
  width: 11.5rem;
  height: 0;
  position: absolute;
  left: 0.3rem;
  top: 2.2rem;
  object-fit: contain;
  vertical-align: top;
}
.contact-us-Hpk .auto-group-tozz-pJt .group-122-Z1a .auto-group-ddn8-xjr .group-rik {
  margin: 0.1rem 0.8rem 0rem 0rem;
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.contact-us-Hpk .auto-group-tozz-pJt .group-122-Z1a .auto-group-ddn8-xjr .eng-aue {
  margin: 0.1rem 5.8rem 0rem 0rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-us-Hpk .auto-group-tozz-pJt .group-122-Z1a .auto-group-ddn8-xjr .frame-1-hjN {
  width: 12rem;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ecbd27;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.contact-us-Hpk .auto-group-tozz-pJt .auto-group-swkw-PMJ {
  margin-right: 12rem;
  width: calc(100% - 12rem);
  height: 74.4rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.contact-us-Hpk .auto-group-tozz-pJt .auto-group-swkw-PMJ .auto-group-izhn-KEx {
  margin-right: 9.8rem;
  width: 72.8rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.contact-us-Hpk .auto-group-tozz-pJt .auto-group-swkw-PMJ .auto-group-izhn-KEx .rectangle-79-Trx {
  width: 66rem;
  height: 74.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fbbc04;
}
.contact-us-Hpk .auto-group-tozz-pJt .auto-group-swkw-PMJ .auto-group-izhn-KEx .mask-group-bTN {
  width: 60.8rem;
  height: 67rem;
  position: absolute;
  left: 12rem;
  top: 3.7rem;
  object-fit: contain;
  vertical-align: top;
}
.contact-us-Hpk .auto-group-tozz-pJt .auto-group-swkw-PMJ .auto-group-pvhe-KeG {
  width: 49.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.contact-us-Hpk .auto-group-tozz-pJt .auto-group-swkw-PMJ .auto-group-pvhe-KeG .contact-us-U1N {
  margin: 0rem 0rem 1.3rem 10rem;
  text-align: right;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.contact-us-Hpk .auto-group-tozz-pJt .auto-group-swkw-PMJ .auto-group-pvhe-KeG .contact-us-U1N .contact-us-U1N-sub-0 {
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #fbbc04;
  font-family: Roboto, 'Source Sans Pro';
}
.contact-us-Hpk .auto-group-tozz-pJt .auto-group-swkw-PMJ .auto-group-pvhe-KeG .contact-us-U1N .contact-us-U1N-sub-1 {
}
.contact-us-Hpk .auto-group-tozz-pJt .auto-group-swkw-PMJ .auto-group-pvhe-KeG .cryptofibank-your-trusted-financial-partner-reach-out-to-us-today-xak {
  margin-bottom: 3.6rem;
  max-width: 49.4rem;
  text-align: right;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.6118748983;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.contact-us-Hpk .auto-group-tozz-pJt .auto-group-swkw-PMJ .auto-group-pvhe-KeG .cryptofibank-your-trusted-financial-partner-reach-out-to-us-today-xak .cryptofibank-your-trusted-financial-partner-reach-out-to-us-today-xak-sub-0 {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.6118748983;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.contact-us-Hpk .auto-group-tozz-pJt .auto-group-swkw-PMJ .auto-group-pvhe-KeG .cryptofibank-your-trusted-financial-partner-reach-out-to-us-today-xak .cryptofibank-your-trusted-financial-partner-reach-out-to-us-today-xak-sub-1 {
}
.contact-us-Hpk .auto-group-tozz-pJt .auto-group-swkw-PMJ .auto-group-pvhe-KeG .group-116-Tvp {
  margin: 0rem 0rem 2rem 2.3rem;
  box-sizing: border-box;
  padding: 2rem 3.9rem 1.9rem 3.9rem;
  width: 46.1rem;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.5168749865;
  color: #afafaf;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.2rem #a5a5a5;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.contact-us-Hpk .auto-group-tozz-pJt .auto-group-swkw-PMJ .auto-group-pvhe-KeG .group-117-Ub2 {
  margin: 0rem 0rem 3.6rem 2.3rem;
  box-sizing: border-box;
  padding: 2rem 3.9rem 1.9rem 3.9rem;
  width: 46.1rem;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.5168749865;
  color: #afafaf;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.2rem #a5a5a5;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.contact-us-Hpk .auto-group-tozz-pJt .auto-group-swkw-PMJ .auto-group-pvhe-KeG .auto-group-ffdi-K5r {
  margin: 0rem 0rem 3.8rem 2.3rem;
  width: 46.1rem;
  height: 24.5rem;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.5168749865;
  color: #afafaf;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.2rem #a5a5a5;
  box-sizing: border-box;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.contact-us-Hpk .auto-group-tozz-pJt .auto-group-swkw-PMJ .auto-group-pvhe-KeG .frame-4-NK2 {
  margin: 0rem 14rem 0rem 16.4rem;
  width: calc(100% - 30.4rem);
  height: 6.1rem;
  font-size: 1.8rem;
  font-weight: 800;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ecbd27;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.contact-us-Hpk .auto-group-sz4p-S3z {
  width: 100%;
  height: 63.2rem;
  position: relative;
  flex-shrink: 0;
}
.contact-us-Hpk .auto-group-sz4p-S3z .rectangle-32-mrx {
  width: 144rem;
  height: 51.7rem;
  position: absolute;
  left: 0;
  top: 11.5rem;
  background-color: rgba(236, 189, 39, 0.3000000119);
}
.contact-us-Hpk .auto-group-sz4p-S3z .group-20-i1W {
  width: 9.7rem;
  height: 23.5rem;
  position: absolute;
  left: 74.1rem;
  top: 31.3rem;
}
.contact-us-Hpk .auto-group-sz4p-S3z .group-20-i1W .company-duA {
  margin-bottom: 2.8rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.contact-us-Hpk .auto-group-sz4p-S3z .group-20-i1W .about-us-yCL {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.contact-us-Hpk .auto-group-sz4p-S3z .group-20-i1W .contact-us-7ZS {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.contact-us-Hpk .auto-group-sz4p-S3z .group-20-i1W .career-eZN {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.contact-us-Hpk .auto-group-sz4p-S3z .group-20-i1W .lottery-C56 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.contact-us-Hpk .auto-group-sz4p-S3z .group-37-8zL {
  width: 9.7rem;
  height: 14.7rem;
  position: absolute;
  left: 92.9rem;
  top: 31.3rem;
}
.contact-us-Hpk .auto-group-sz4p-S3z .group-37-8zL .support-Gqe {
  margin-bottom: 2.8rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.contact-us-Hpk .auto-group-sz4p-S3z .group-37-8zL .faqs-248 {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.contact-us-Hpk .auto-group-sz4p-S3z .group-37-8zL .contact-us-9eY {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.contact-us-Hpk .auto-group-sz4p-S3z .group-19-tME {
  width: 15rem;
  height: 23.5rem;
  position: absolute;
  left: 51.4rem;
  top: 31.3rem;
}
.contact-us-Hpk .auto-group-sz4p-S3z .group-19-tME .quick-links-oyz {
  margin-bottom: 2.8rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.contact-us-Hpk .auto-group-sz4p-S3z .group-19-tME .terms-of-service-wqJ {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.contact-us-Hpk .auto-group-sz4p-S3z .group-19-tME .privacy-policy-5gc {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.contact-us-Hpk .auto-group-sz4p-S3z .group-19-tME .plans-peC {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.contact-us-Hpk .auto-group-sz4p-S3z .group-19-tME .games-a7a {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.contact-us-Hpk .auto-group-sz4p-S3z .group-38-XYc {
  width: 19.8rem;
  height: 9.1rem;
  position: absolute;
  left: 111.7rem;
  top: 31.3rem;
}
.contact-us-Hpk .auto-group-sz4p-S3z .group-38-XYc .connect-with-us--ThA {
  margin: 0rem 0rem 0.5rem 0.4rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.contact-us-Hpk .auto-group-sz4p-S3z .group-38-XYc .group-22-njS {
  box-sizing: border-box;
  padding: 0.392rem 0.35rem 0.4rem 0.392rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.contact-us-Hpk .auto-group-sz4p-S3z .group-38-XYc .group-22-njS .ic-baseline-facebook-82c {
  margin: 0rem 1.292rem 0.001rem 0rem;
  width: 3.9167rem;
  height: 3.9069rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.contact-us-Hpk .auto-group-sz4p-S3z .group-38-XYc .group-22-njS .formkit-twitter-R1i {
  margin: 0.008rem 1.258rem 0rem 0rem;
  width: 3.9rem;
  height: 3.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.contact-us-Hpk .auto-group-sz4p-S3z .group-38-XYc .group-22-njS .ri-instagram-fill-jYC {
  margin: 0.008rem 1.608rem 0rem 0rem;
  width: 3.5835rem;
  height: 3.5835rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.contact-us-Hpk .auto-group-sz4p-S3z .group-38-XYc .group-22-njS .ri-whatsapp-fill-ShW {
  margin-top: 0.0083rem;
  width: 3.5rem;
  height: 3.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.contact-us-Hpk .auto-group-sz4p-S3z .group-36-BQC {
  width: 30.2rem;
  height: 22rem;
  position: absolute;
  left: 6rem;
  top: 23.1rem;
}
.contact-us-Hpk .auto-group-sz4p-S3z .group-36-BQC .untitled-1-2-ub6 {
  width: 22rem;
  height: 22rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.contact-us-Hpk .auto-group-sz4p-S3z .group-36-BQC .cryptofibank-eYg {
  width: 14.2rem;
  height: 2.8rem;
  position: absolute;
  left: 16rem;
  top: 8.8rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Sansita One, 'Source Sans Pro';
  white-space: nowrap;
}
.contact-us-Hpk .auto-group-sz4p-S3z .cryptofibank-a-trusted-name-in-the-world-of-financial-opportunity-provides-a-secure-platform-for-investing-in-forex-cryptocurrencies-slot-games-and-lotteries-LgQ {
  width: 27.5rem;
  height: 14.2rem;
  position: absolute;
  left: 12rem;
  top: 40.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.contact-us-Hpk .auto-group-sz4p-S3z .rectangle-34-nYQ {
  width: 144rem;
  height: 3.7rem;
  position: absolute;
  left: 0;
  top: 59.5rem;
  background-color: #ecbd27;
}
.contact-us-Hpk .auto-group-sz4p-S3z .group-39-KoE {
  width: 26.7rem;
  height: 2.9rem;
  position: absolute;
  left: 58.2rem;
  top: 59.9rem;
}
.contact-us-Hpk .auto-group-sz4p-S3z .group-39-KoE .copyright-2023-all-rights-reserved-GCg {
  width: 26.7rem;
  height: 2.9rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.7690000534;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.contact-us-Hpk .auto-group-sz4p-S3z .group-39-KoE .ic-outline-copyright-mv8 {
  width: 1.6667rem;
  height: 1.6667rem;
  position: absolute;
  left: 7.3667rem;
  top: 0.5667rem;
  object-fit: contain;
  vertical-align: top;
}
.contact-us-Hpk .auto-group-sz4p-S3z .group-42-hYt {
  box-sizing: border-box;
  padding: 1.3rem 31.2rem 3.2rem 31.2rem;
  width: 119.5rem;
  height: 23rem;
  position: absolute;
  left: 12rem;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1rem;
}
.contact-us-Hpk .auto-group-sz4p-S3z .group-42-hYt .auto-group-knug-ymJ {
  margin: 0rem 10.6rem 1.8rem 9.4rem;
  width: calc(100% - 20rem);
  height: 8.2rem;
  position: relative;
  flex-shrink: 0;
}
.contact-us-Hpk .auto-group-sz4p-S3z .group-42-hYt .auto-group-knug-ymJ .subscribe-to-news-hxC {
  width: 31.6rem;
  height: 5.7rem;
  position: absolute;
  left: 2.9rem;
  top: 0;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.7690000534;
  color: #ecbd27;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.contact-us-Hpk .auto-group-sz4p-S3z .group-42-hYt .auto-group-knug-ymJ .get-the-latest-insights-subscribe-to-our-newsletter-pG8 {
  width: 37.1rem;
  height: 2.9rem;
  position: absolute;
  left: 0;
  top: 5.3rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.contact-us-Hpk .auto-group-sz4p-S3z .group-42-hYt .group-40-7m2 {
  box-sizing: border-box;
  padding-left: 2.9rem;
  width: 100%;
  height: 8.5rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #afafaf;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.contact-us-Hpk .auto-group-sz4p-S3z .group-42-hYt .group-40-7m2 .enter-your-email-address-Tpt {
  margin-right: 17.6rem;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.7690001095;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-us-Hpk .auto-group-sz4p-S3z .group-42-hYt .group-40-7m2 .auto-group-qswe-CGg {
  width: 17.3rem;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.7690000534;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ecbd27;
  border-radius: 0 0.8rem 0.8rem 0;
  flex-shrink: 0;
}
