
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 88.4rem;
}.deposit-page-bXe {
  width: 100%;
  height: 118rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.deposit-page-bXe .select-payment-method-W8p {
  width: 34.4rem;
  height: 5.7rem;
  position: absolute;
  left: 12rem;
  top: 6.5rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.deposit-page-bXe .auto-group-gmtt-Mv8 {
  width: 64.7rem;
  height: 5.7rem;
  position: absolute;
  left: 12rem;
  top: 22.8rem;
  display: flex;
  align-items: center;
}
.deposit-page-bXe .auto-group-gmtt-Mv8 .select-currency-4pY {
  margin-right: 22.1rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.deposit-page-bXe .auto-group-gmtt-Mv8 .enter-amount-BeG {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.deposit-page-bXe .auto-group-lkze-728 {
  width: 64.4rem;
  height: 7.4rem;
  position: absolute;
  left: 12rem;
  top: 95.5rem;
}
.deposit-page-bXe .auto-group-lkze-728 .copy-address-dmA {
  width: 20.1rem;
  height: 5.7rem;
  position: absolute;
  left: 22.3rem;
  top: 0.7rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.deposit-page-bXe .auto-group-lkze-728 .rectangle-94-vkG {
  width: 64.4rem;
  height: 7.4rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #a5a5a5;
  box-sizing: border-box;
  border-radius: 0.5rem;
}
.deposit-page-bXe .auto-group-rhut-2YQ {
  width: 64.4rem;
  height: 7.4rem;
  position: absolute;
  left: 12rem;
  top: 104.3rem;
}
.deposit-page-bXe .auto-group-rhut-2YQ .sent-LZ6 {
  width: 6.6rem;
  height: 5.7rem;
  position: absolute;
  left: 28.9rem;
  top: 0.7rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.deposit-page-bXe .auto-group-rhut-2YQ .rectangle-95-RqS {
  width: 64.4rem;
  height: 7.4rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #a5a5a5;
  box-sizing: border-box;
  background-color: #000000;
  border-radius: 0.5rem;
}
.deposit-page-bXe .auto-group-rhut-2YQ .sent-Uoi {
  width: 6.6rem;
  height: 5.7rem;
  position: absolute;
  left: 28.4rem;
  top: 0.8rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.7690000534;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.deposit-page-bXe .auto-group-auc8-aLx {
  width: 64.4rem;
  height: 51.9rem;
  position: absolute;
  left: 12rem;
  top: 41.4rem;
}
.deposit-page-bXe .auto-group-auc8-aLx .important-note-sax {
  width: 22rem;
  height: 5.7rem;
  position: absolute;
  left: 3.6rem;
  top: 1.9rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.7690000534;
  color: #ff0000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.deposit-page-bXe .auto-group-auc8-aLx .rectangle-93-mwE {
  width: 64.4rem;
  height: 51.9rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #a5a5a5;
  box-sizing: border-box;
  border-radius: 0.5rem;
}
.deposit-page-bXe .auto-group-auc8-aLx .minimum-deposit-100-usdt-tFA {
  width: 30.1rem;
  height: 2.9rem;
  position: absolute;
  left: 3.6rem;
  top: 10.9rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.deposit-page-bXe .auto-group-auc8-aLx .this-address-is-for-erc-20-usdt-only-VVr {
  width: 40.6rem;
  height: 2.9rem;
  position: absolute;
  left: 3.6rem;
  top: 24.2rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.deposit-page-bXe .auto-group-auc8-aLx .deposit-address--vbA {
  width: 18.4rem;
  height: 2.9rem;
  position: absolute;
  left: 3.6rem;
  top: 40.9rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.deposit-page-bXe .auto-group-auc8-aLx .if-the-deposit-is-below-the-minimum-required-your-deposit-will-not-be-credited-to-your-account-oQ4 {
  width: 49.3rem;
  height: 5.2rem;
  position: absolute;
  left: 3.6rem;
  top: 15.7rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.deposit-page-bXe .auto-group-auc8-aLx .only-send-erc-20-usdt-to-this-address-sending-any-other-currency-to-this-address-may-result-in-forfeiting-the-deposit-3pC {
  width: 55.8rem;
  height: 7.8rem;
  position: absolute;
  left: 3.6rem;
  top: 29rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.deposit-page-bXe .auto-group-auc8-aLx .x50f660a403973f48fc0043ed9f246ad7c34331af-WBz {
  width: 52.1rem;
  height: 2.6rem;
  position: absolute;
  left: 3.6rem;
  top: 45.7rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.deposit-page-bXe .auto-group-t5ag-mNp {
  box-sizing: border-box;
  padding: 2.3rem 2.5rem 2.2rem 2.5rem;
  width: 64.4rem;
  height: 7.4rem;
  position: absolute;
  left: 12rem;
  top: 13.2rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #a5a5a5;
  border-radius: 0.5rem;
}
.deposit-page-bXe .auto-group-t5ag-mNp .tether-usdt-icon-1-q7n {
  margin: 0rem 1.7rem 0.09rem 0rem;
  width: 2.9999rem;
  height: 2.6097rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.deposit-page-bXe .auto-group-t5ag-mNp .tether-usdt-erc-20-ixG {
  margin-right: 30.7002rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.deposit-page-bXe .auto-group-t5ag-mNp .bxs-up-arrow-3je {
  margin-bottom: 0.2027rem;
  width: 1.9999rem;
  height: 1.4973rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.deposit-page-bXe .auto-group-duic-xLp {
  width: 64.4rem;
  height: 7.4rem;
  position: absolute;
  left: 12rem;
  top: 29.5rem;
  display: flex;
  align-items: center;
}
.deposit-page-bXe .auto-group-duic-xLp .auto-group-6yvg-U4G {
  margin-right: 1.9rem;
  box-sizing: border-box;
  padding: 2.4rem 2.3rem 2.1rem 2.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #a5a5a5;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.deposit-page-bXe .auto-group-duic-xLp .auto-group-6yvg-U4G .usdt-Mtk {
  margin-right: 9.9002rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.deposit-page-bXe .auto-group-duic-xLp .auto-group-6yvg-U4G .bxs-up-arrow-HXW {
  margin-bottom: 0.0027rem;
  width: 1.9999rem;
  height: 1.4973rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.deposit-page-bXe .auto-group-duic-xLp .rectangle-92-yv8 {
  width: 39.8rem;
  height: 7.4rem;
  border: solid 0.1rem #a5a5a5;
  box-sizing: border-box;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
