
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.faqs-LY8 {
  box-sizing: border-box;
  padding-bottom: 0.3rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.faqs-LY8 .auto-group-pjmj-rFa {
  box-sizing: border-box;
  padding-bottom: 6.6rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.faqs-LY8 .auto-group-pjmj-rFa .group-121-Boe {
  margin: 0rem 8.2rem 0.14rem 0rem;
  height: 27.1605rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.faqs-LY8 .auto-group-pjmj-rFa .group-121-Boe .group-1-Hrg {
  margin-right: 8.6469rem;
  width: 33.9531rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.faqs-LY8 .auto-group-pjmj-rFa .group-121-Boe .group-1-Hrg .untitled-1-2-35A {
  width: 27.1605rem;
  height: 27.1605rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.faqs-LY8 .auto-group-pjmj-rFa .group-121-Boe .group-1-Hrg .cryptofibank-Afa {
  width: 14.2rem;
  height: 2.8rem;
  position: absolute;
  left: 18.7531rem;
  top: 9.8642rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Sansita One, 'Source Sans Pro';
  white-space: nowrap;
}
.faqs-LY8 .auto-group-pjmj-rFa .group-121-Boe .home-Sd6 {
  margin: 0rem 2rem 2.56rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  text-transform: uppercase;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.faqs-LY8 .auto-group-pjmj-rFa .group-121-Boe .about-us-YAL {
  margin: 0rem 2.2rem 2.56rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  text-transform: uppercase;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.faqs-LY8 .auto-group-pjmj-rFa .group-121-Boe .plans-3ct {
  margin: 0rem 2.1rem 2.56rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.faqs-LY8 .auto-group-pjmj-rFa .group-121-Boe .game-Zr8 {
  margin: 0rem 2rem 2.56rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.faqs-LY8 .auto-group-pjmj-rFa .group-121-Boe .lottery-Vjn {
  margin-bottom: 2.5605rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.faqs-LY8 .auto-group-pjmj-rFa .group-121-Boe .auto-group-66kg-RdS {
  box-sizing: border-box;
  padding: 10rem 0rem 13.06rem 2rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.faqs-LY8 .auto-group-pjmj-rFa .group-121-Boe .auto-group-66kg-RdS .auto-group-xq6k-Yi4 {
  margin: 1.1rem 2rem 0.6rem 0rem;
  width: 4.7rem;
  height: calc(100% - 1.7rem);
  position: relative;
  flex-shrink: 0;
}
.faqs-LY8 .auto-group-pjmj-rFa .group-121-Boe .auto-group-66kg-RdS .auto-group-xq6k-Yi4 .faqs-Tq2 {
  width: 4.7rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.faqs-LY8 .auto-group-pjmj-rFa .group-121-Boe .auto-group-66kg-RdS .auto-group-xq6k-Yi4 .line-5-a8x {
  width: 4.3rem;
  height: 0;
  position: absolute;
  left: 0.2rem;
  top: 2.2rem;
  object-fit: contain;
  vertical-align: top;
}
.faqs-LY8 .auto-group-pjmj-rFa .group-121-Boe .auto-group-66kg-RdS .contact-us-W2c {
  margin: 0.5rem 5rem 0rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.faqs-LY8 .auto-group-pjmj-rFa .group-121-Boe .auto-group-66kg-RdS .group-2Fr {
  margin: 0.1rem 0.8rem 0rem 0rem;
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.faqs-LY8 .auto-group-pjmj-rFa .group-121-Boe .auto-group-66kg-RdS .eng-kSk {
  margin: 0.1rem 5.8rem 0rem 0rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.faqs-LY8 .auto-group-pjmj-rFa .group-121-Boe .auto-group-66kg-RdS .frame-1-gbJ {
  width: 12rem;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ecbd27;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.faqs-LY8 .auto-group-pjmj-rFa .frequently-asked-questions-yaQ {
  margin-left: 0.1rem;
  text-align: center;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.171875;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.faqs-LY8 .auto-group-pjmj-rFa .frequently-asked-questions-yaQ .frequently-asked-questions-yaQ-sub-0 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #fbbc04;
  font-family: Roboto, 'Source Sans Pro';
}
.faqs-LY8 .auto-group-pjmj-rFa .frequently-asked-questions-yaQ .frequently-asked-questions-yaQ-sub-1 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.faqs-LY8 .auto-group-jf3n-oxk {
  width: 176rem;
  height: 209.4rem;
  position: relative;
  flex-shrink: 0;
}
.faqs-LY8 .auto-group-jf3n-oxk .rectangle-32-XNx {
  width: 144rem;
  height: 51.7rem;
  position: absolute;
  left: 0;
  top: 157.7rem;
  background-color: rgba(236, 189, 39, 0.3000000119);
}
.faqs-LY8 .auto-group-jf3n-oxk .group-20-3cC {
  width: 9.7rem;
  height: 23.5rem;
  position: absolute;
  left: 74.1rem;
  top: 177.5rem;
}
.faqs-LY8 .auto-group-jf3n-oxk .group-20-3cC .company-Awi {
  margin-bottom: 2.8rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.faqs-LY8 .auto-group-jf3n-oxk .group-20-3cC .about-us-K3v {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.faqs-LY8 .auto-group-jf3n-oxk .group-20-3cC .contact-us-ebz {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.faqs-LY8 .auto-group-jf3n-oxk .group-20-3cC .career-yuA {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.faqs-LY8 .auto-group-jf3n-oxk .group-20-3cC .lottery-X9z {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.faqs-LY8 .auto-group-jf3n-oxk .group-37-ri4 {
  width: 9.7rem;
  height: 14.7rem;
  position: absolute;
  left: 92.9rem;
  top: 177.5rem;
}
.faqs-LY8 .auto-group-jf3n-oxk .group-37-ri4 .support-bQk {
  margin-bottom: 2.8rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.faqs-LY8 .auto-group-jf3n-oxk .group-37-ri4 .faqs-jWx {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.faqs-LY8 .auto-group-jf3n-oxk .group-37-ri4 .contact-us-st4 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.faqs-LY8 .auto-group-jf3n-oxk .group-19-2FA {
  width: 15rem;
  height: 23.5rem;
  position: absolute;
  left: 51.4rem;
  top: 177.5rem;
}
.faqs-LY8 .auto-group-jf3n-oxk .group-19-2FA .quick-links-MHS {
  margin-bottom: 2.8rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.faqs-LY8 .auto-group-jf3n-oxk .group-19-2FA .terms-of-service-5z8 {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.faqs-LY8 .auto-group-jf3n-oxk .group-19-2FA .privacy-policy-DKe {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.faqs-LY8 .auto-group-jf3n-oxk .group-19-2FA .plans-9DJ {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.faqs-LY8 .auto-group-jf3n-oxk .group-19-2FA .games-suz {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.faqs-LY8 .auto-group-jf3n-oxk .group-38-RRi {
  width: 19.8rem;
  height: 9.1rem;
  position: absolute;
  left: 111.7rem;
  top: 177.5rem;
}
.faqs-LY8 .auto-group-jf3n-oxk .group-38-RRi .connect-with-us--9Mi {
  margin: 0rem 0rem 0.5rem 0.4rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.faqs-LY8 .auto-group-jf3n-oxk .group-38-RRi .group-22-f5A {
  box-sizing: border-box;
  padding: 0.392rem 0.35rem 0.4rem 0.392rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.faqs-LY8 .auto-group-jf3n-oxk .group-38-RRi .group-22-f5A .ic-baseline-facebook-BZJ {
  margin: 0rem 1.292rem 0.001rem 0rem;
  width: 3.9167rem;
  height: 3.9069rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.faqs-LY8 .auto-group-jf3n-oxk .group-38-RRi .group-22-f5A .formkit-twitter-h1r {
  margin: 0.008rem 1.258rem 0rem 0rem;
  width: 3.9rem;
  height: 3.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.faqs-LY8 .auto-group-jf3n-oxk .group-38-RRi .group-22-f5A .ri-instagram-fill-DF6 {
  margin: 0.008rem 1.608rem 0rem 0rem;
  width: 3.5835rem;
  height: 3.5835rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.faqs-LY8 .auto-group-jf3n-oxk .group-38-RRi .group-22-f5A .ri-whatsapp-fill-v9W {
  margin-top: 0.0083rem;
  width: 3.5rem;
  height: 3.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.faqs-LY8 .auto-group-jf3n-oxk .group-36-qXN {
  width: 30.2rem;
  height: 22rem;
  position: absolute;
  left: 6rem;
  top: 169.3rem;
}
.faqs-LY8 .auto-group-jf3n-oxk .group-36-qXN .untitled-1-2-ApY {
  width: 22rem;
  height: 22rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.faqs-LY8 .auto-group-jf3n-oxk .group-36-qXN .cryptofibank-uGL {
  width: 14.2rem;
  height: 2.8rem;
  position: absolute;
  left: 16rem;
  top: 8.8rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Sansita One, 'Source Sans Pro';
  white-space: nowrap;
}
.faqs-LY8 .auto-group-jf3n-oxk .cryptofibank-a-trusted-name-in-the-world-of-financial-opportunity-provides-a-secure-platform-for-investing-in-forex-cryptocurrencies-slot-games-and-lotteries-PBW {
  width: 27.5rem;
  height: 14.2rem;
  position: absolute;
  left: 12rem;
  top: 186.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.faqs-LY8 .auto-group-jf3n-oxk .rectangle-34-DRS {
  width: 144rem;
  height: 3.7rem;
  position: absolute;
  left: 0;
  top: 205.7rem;
  background-color: #ecbd27;
}
.faqs-LY8 .auto-group-jf3n-oxk .group-39-kAU {
  width: 26.7rem;
  height: 2.9rem;
  position: absolute;
  left: 58.2rem;
  top: 206.1rem;
}
.faqs-LY8 .auto-group-jf3n-oxk .group-39-kAU .copyright-2023-all-rights-reserved-5Te {
  width: 26.7rem;
  height: 2.9rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.7690000534;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.faqs-LY8 .auto-group-jf3n-oxk .group-39-kAU .ic-outline-copyright-8gp {
  width: 1.6667rem;
  height: 1.6667rem;
  position: absolute;
  left: 7.3667rem;
  top: 0.5667rem;
  object-fit: contain;
  vertical-align: top;
}
.faqs-LY8 .auto-group-jf3n-oxk .group-42-oY4 {
  box-sizing: border-box;
  padding: 1.3rem 31.2rem 3.2rem 31.2rem;
  width: 119.5rem;
  height: 23rem;
  position: absolute;
  left: 12rem;
  top: 146.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1rem;
}
.faqs-LY8 .auto-group-jf3n-oxk .group-42-oY4 .auto-group-denc-gLx {
  margin: 0rem 10.6rem 1.8rem 9.4rem;
  width: calc(100% - 20rem);
  height: 8.2rem;
  position: relative;
  flex-shrink: 0;
}
.faqs-LY8 .auto-group-jf3n-oxk .group-42-oY4 .auto-group-denc-gLx .subscribe-to-news-zMe {
  width: 31.6rem;
  height: 5.7rem;
  position: absolute;
  left: 2.9rem;
  top: 0;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.7690000534;
  color: #ecbd27;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.faqs-LY8 .auto-group-jf3n-oxk .group-42-oY4 .auto-group-denc-gLx .get-the-latest-insights-subscribe-to-our-newsletter-5tt {
  width: 37.1rem;
  height: 2.9rem;
  position: absolute;
  left: 0;
  top: 5.3rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.faqs-LY8 .auto-group-jf3n-oxk .group-42-oY4 .group-40-Nsz {
  box-sizing: border-box;
  padding-left: 2.9rem;
  width: 100%;
  height: 8.5rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #afafaf;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.faqs-LY8 .auto-group-jf3n-oxk .group-42-oY4 .group-40-Nsz .enter-your-email-address-WjJ {
  margin-right: 17.6rem;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.7690001095;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.faqs-LY8 .auto-group-jf3n-oxk .group-42-oY4 .group-40-Nsz .auto-group-1y2c-SN4 {
  width: 17.3rem;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.7690000534;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ecbd27;
  border-radius: 0 0.8rem 0.8rem 0;
  flex-shrink: 0;
}
.faqs-LY8 .auto-group-jf3n-oxk .group-52-rRn {
  width: 45.8rem;
  height: 11.8rem;
  position: absolute;
  left: 12rem;
  top: 2.9rem;
}
.faqs-LY8 .auto-group-jf3n-oxk .group-52-rRn .who-is-cryptofibank-b8U {
  margin-bottom: 1.8rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.faqs-LY8 .auto-group-jf3n-oxk .group-52-rRn .cryptofibank-does-not-belong-to-anyone-it-is-a-structure-formed-as-a-result-of-three-friends-coming-together-iit {
  max-width: 45.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.faqs-LY8 .auto-group-jf3n-oxk .group-58-c3a {
  width: 38.5rem;
  height: 11.8rem;
  position: absolute;
  left: 85rem;
  top: 2.9rem;
}
.faqs-LY8 .auto-group-jf3n-oxk .group-58-c3a .are-there-any-transaction-fees-at-cryptofibank-8nc {
  margin-bottom: 1.4rem;
  max-width: 35.8rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.faqs-LY8 .auto-group-jf3n-oxk .group-58-c3a .there-are-no-transaction-fees-or-any-fees-at-cryptofibank-SoJ {
  max-width: 38.5rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.faqs-LY8 .auto-group-jf3n-oxk .group-59-AjJ {
  width: 46.8rem;
  height: 11.8rem;
  position: absolute;
  left: 85.2rem;
  top: 20.6rem;
}
.faqs-LY8 .auto-group-jf3n-oxk .group-59-AjJ .is-there-a-withdrawal-limit-on-cryptofibank-6cx {
  margin-bottom: 1.8rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.faqs-LY8 .auto-group-jf3n-oxk .group-59-AjJ .there-is-no-withdrawal-limit-at-cryptofibank-but-when-you-purchase-an-investment-plan-withdrawals-can-be-made-when-the-purchased-plan-expires-RfE {
  max-width: 46.6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.faqs-LY8 .auto-group-jf3n-oxk .group-60-Jyv {
  width: 48rem;
  height: 14.2rem;
  position: absolute;
  left: 85.4rem;
  top: 38.3rem;
}
.faqs-LY8 .auto-group-jf3n-oxk .group-60-Jyv .does-the-withdrawal-take-place-immediately-at-cryptofibank-SaL {
  margin-bottom: 1.4rem;
  max-width: 48rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.faqs-LY8 .auto-group-jf3n-oxk .group-60-Jyv .withdrawals-and-investments-at-cryptofibank-take-place-after-24-hours-depending-on-the-transaction-intensity-wmz {
  max-width: 44.6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.faqs-LY8 .auto-group-jf3n-oxk .group-61-EWC {
  width: 45rem;
  height: 18.8rem;
  position: absolute;
  left: 85.6rem;
  top: 56rem;
}
.faqs-LY8 .auto-group-jf3n-oxk .group-61-EWC .is-it-possible-to-invest-in-cryptofibank-everyday-aKA {
  margin-bottom: 1.3rem;
  max-width: 41.2rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.faqs-LY8 .auto-group-jf3n-oxk .group-61-EWC .since-cryptofibank-makes-its-transactions-over-the-stock-market-investments-made-on-saturday-and-sunday-are-loaded-into-the-account-on-monday-morning-the-reason-is-that-the-stock-market-is-closed-on-saturday-and-sunday-tak {
  max-width: 45rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.faqs-LY8 .auto-group-jf3n-oxk .group-62-k7A {
  width: 50.1rem;
  height: 18.8rem;
  position: absolute;
  left: 85.8rem;
  top: 78.8rem;
}
.faqs-LY8 .auto-group-jf3n-oxk .group-62-k7A .cryptofibank-profit-rates-are-not-low-V4k {
  margin-bottom: 1.8rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.faqs-LY8 .auto-group-jf3n-oxk .group-62-k7A .cryptofibank-does-not-deceive-you-by-declaring-profit-rates-that-it-cannot-give-it-determines-the-profit-rate-it-can-give-and-presents-it-to-you-cryptofibank-does-not-always-win-in-the-stock-market-we-also-have-losses-but-we-have-not-reflected-this-loss-to-any-of-our-customers-until-now-p72 {
  max-width: 50.1rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.faqs-LY8 .auto-group-jf3n-oxk .group-63-ERe {
  width: 90rem;
  height: 89.4rem;
  position: absolute;
  left: 86rem;
  top: 101.9rem;
}
.faqs-LY8 .auto-group-jf3n-oxk .group-63-ERe .will-cryptofibank-go-bankrupt-or-shutdown-the-system-over-night-A4Q {
  margin-bottom: 1.4rem;
  max-width: 46.7rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.faqs-LY8 .auto-group-jf3n-oxk .group-63-ERe .cryptofibank-is-quite-good-in-its-field-in-the-stock-market-with-enough-capital-and-knowledge-it-wont-hurt-you-as-a-matter-of-fact-we-will-suffer-the-same-loss-as-you-lost-so-we-do-not-take-any-action-that-will-cause-harm-trust-us-cryptofibank-is-not-something-that-will-close-over-night-we-are-a-structure-that-does-not-believe-that-trust-can-be-bought-with-money-for-this-reason-we-are-trying-to-earn-and-win-with-all-our-strength-in-order-not-to-lose-your-trust-U56 {
  margin-bottom: 36.8rem;
  max-width: 47.1rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.faqs-LY8 .auto-group-jf3n-oxk .group-63-ERe .untitled-1-2-QN4 {
  margin-left: 68rem;
  width: 22rem;
  height: 22rem;
  object-fit: cover;
  vertical-align: top;
}
.faqs-LY8 .auto-group-jf3n-oxk .group-53-YDN {
  width: 42.9rem;
  height: 9.4rem;
  position: absolute;
  left: 12rem;
  top: 20.6rem;
}
.faqs-LY8 .auto-group-jf3n-oxk .group-53-YDN .what-country-is-cryptofibank-in-5UC {
  margin-bottom: 1.8rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.faqs-LY8 .auto-group-jf3n-oxk .group-53-YDN .cryptofibank-does-not-anonymously-support-any-country-political-party-or-organization-cDE {
  max-width: 42.9rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.faqs-LY8 .auto-group-jf3n-oxk .group-54-WpQ {
  width: 46.9rem;
  height: 11.8rem;
  position: absolute;
  left: 12rem;
  top: 38.3rem;
}
.faqs-LY8 .auto-group-jf3n-oxk .group-54-WpQ .is-cryptofibank-reliable-FGC {
  margin-bottom: 1.8rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.faqs-LY8 .auto-group-jf3n-oxk .group-54-WpQ .you-will-give-cryptofibanks-reliable-rating-even-if-we-say-reliable-the-final-decision-is-yours-you-can-test-its-reliability-with-small-units-n1E {
  max-width: 46.9rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.faqs-LY8 .auto-group-jf3n-oxk .group-55-F9i {
  width: 46rem;
  height: 9.4rem;
  position: absolute;
  left: 12rem;
  top: 56rem;
}
.faqs-LY8 .auto-group-jf3n-oxk .group-55-F9i .is-cryptofibank-a-pyramidscheme-Bp4 {
  margin-bottom: 1.8rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.faqs-LY8 .auto-group-jf3n-oxk .group-55-F9i .cryptofibank-is-definitely-not-a-pyramid-scheme-he-does-not-distribute-the-money-he-cannot-earn-iJC {
  max-width: 46rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.faqs-LY8 .auto-group-jf3n-oxk .group-56-23z {
  width: 44.6rem;
  height: 9.4rem;
  position: absolute;
  left: 12rem;
  top: 73.7rem;
}
.faqs-LY8 .auto-group-jf3n-oxk .group-56-23z .how-does-cryptofibank-make-money-GDE {
  margin-bottom: 1.8rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.faqs-LY8 .auto-group-jf3n-oxk .group-56-23z .cryptofibank-makes-money-by-trading-on-the-forex-exchange-and-crypto-exchange-bFW {
  max-width: 44.6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.faqs-LY8 .auto-group-jf3n-oxk .group-57-JQp {
  width: 47.7rem;
  height: 9.6rem;
  position: absolute;
  left: 12rem;
  top: 91.4rem;
}
.faqs-LY8 .auto-group-jf3n-oxk .group-57-JQp .what-is-the-minimum-investmentamount-in-cryptofibank-37W {
  margin-bottom: 1.5rem;
  max-width: 46.3rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.faqs-LY8 .auto-group-jf3n-oxk .group-57-JQp .minimum-investment-amount-at-cryptofibank-is-200-Z5r {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.faqs-LY8 .auto-group-jf3n-oxk .group-64-ggG {
  width: 46rem;
  height: 16.7rem;
  position: absolute;
  left: 12rem;
  top: 111.6rem;
}
.faqs-LY8 .auto-group-jf3n-oxk .group-64-ggG .why-is-there-a-usdt-investment-option-on-cryptofibank-1yS {
  margin-bottom: 1.6rem;
  max-width: 45.8rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.faqs-LY8 .auto-group-jf3n-oxk .group-64-ggG .since-cryptofibank-trades-on-the-stock-market-transactions-are-traded-in-dollars-and-accepts-usdt-payments-in-order-not-to-disturb-you-due-to-the-exchange-rate-difference-of-a-different-currency-Kz8 {
  max-width: 46rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.faqs-LY8 .auto-group-jf3n-oxk .line-25-PUC {
  width: 0.5rem;
  height: 135.3rem;
  position: absolute;
  left: 72rem;
  top: 0;
  background-color: #fbbc04;
}
.faqs-LY8 .auto-group-jf3n-oxk .line-26-XaQ {
  width: 60.4rem;
  height: 0;
  position: absolute;
  left: 12rem;
  top: 135.05rem;
  object-fit: contain;
  vertical-align: top;
}
.faqs-LY8 .auto-group-jf3n-oxk .line-28-GH6 {
  width: 59.9rem;
  height: 0;
  position: absolute;
  left: 12.25rem;
  top: 0.25rem;
  object-fit: contain;
  vertical-align: top;
}
.faqs-LY8 .auto-group-jf3n-oxk .line-29-oXv {
  width: 59.9rem;
  height: 0;
  position: absolute;
  left: 71.85rem;
  top: 0.25rem;
  object-fit: contain;
  vertical-align: top;
}
.faqs-LY8 .auto-group-jf3n-oxk .line-27-KFN {
  width: 61.4rem;
  height: 0;
  position: absolute;
  left: 71.6rem;
  top: 135.05rem;
  object-fit: contain;
  vertical-align: top;
}
