
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.game-qFe {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.game-qFe .auto-group-2wic-mQC {
  width: 144.7rem;
  height: 27.4rem;
  position: relative;
  flex-shrink: 0;
}
.game-qFe .auto-group-2wic-mQC .rectangle-77-uWQ {
  width: 144rem;
  height: 2.1rem;
  position: absolute;
  left: 0;
  top: 24.9rem;
  background-color: #fbbc04;
}
.game-qFe .auto-group-2wic-mQC .group-124-RzY {
  width: 136.8rem;
  height: 27.1605rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
}
.game-qFe .auto-group-2wic-mQC .group-124-RzY .group-1-9vY {
  margin-right: 8.6469rem;
  width: 33.9531rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.game-qFe .auto-group-2wic-mQC .group-124-RzY .group-1-9vY .untitled-1-2-JYY {
  width: 27.1605rem;
  height: 27.1605rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.game-qFe .auto-group-2wic-mQC .group-124-RzY .group-1-9vY .cryptofibank-qYU {
  width: 14.2rem;
  height: 2.8rem;
  position: absolute;
  left: 19.0531rem;
  top: 10.4642rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Sansita One, 'Source Sans Pro';
  white-space: nowrap;
}
.game-qFe .auto-group-2wic-mQC .group-124-RzY .home-XRJ {
  margin: 0rem 2rem 2.56rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  text-transform: uppercase;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.game-qFe .auto-group-2wic-mQC .group-124-RzY .about-us-27A {
  margin: 0rem 2.2rem 2.56rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  text-transform: uppercase;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.game-qFe .auto-group-2wic-mQC .group-124-RzY .plans-YLQ {
  margin-bottom: 2.5605rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.game-qFe .auto-group-2wic-mQC .group-124-RzY .auto-group-icfa-t9N {
  box-sizing: border-box;
  padding: 10rem 0rem 13.06rem 2.1rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.game-qFe .auto-group-2wic-mQC .group-124-RzY .auto-group-icfa-t9N .auto-group-t8ec-CA4 {
  margin: 1.1rem 2rem 0.6rem 0rem;
  width: 5.6rem;
  height: calc(100% - 1.7rem);
  position: relative;
  flex-shrink: 0;
}
.game-qFe .auto-group-2wic-mQC .group-124-RzY .auto-group-icfa-t9N .auto-group-t8ec-CA4 .game-iPJ {
  width: 5.6rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.game-qFe .auto-group-2wic-mQC .group-124-RzY .auto-group-icfa-t9N .auto-group-t8ec-CA4 .line-5-dFN {
  width: 5.3rem;
  height: 0;
  position: absolute;
  left: 0.3rem;
  top: 2.2rem;
  object-fit: contain;
  vertical-align: top;
}
.game-qFe .auto-group-2wic-mQC .group-124-RzY .auto-group-icfa-t9N .lottery-YNL {
  margin: 0.5rem 2rem 0rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.game-qFe .auto-group-2wic-mQC .group-124-RzY .auto-group-icfa-t9N .faqs-FnY {
  margin: 0.5rem 2rem 0rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.game-qFe .auto-group-2wic-mQC .group-124-RzY .auto-group-icfa-t9N .contact-us-BRJ {
  margin: 0.5rem 5rem 0rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.game-qFe .auto-group-2wic-mQC .group-124-RzY .auto-group-icfa-t9N .group-tqW {
  margin: 0.1rem 0.8rem 0rem 0rem;
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.game-qFe .auto-group-2wic-mQC .group-124-RzY .auto-group-icfa-t9N .eng-RKe {
  margin: 0.1rem 5.8rem 0rem 0rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.game-qFe .auto-group-2wic-mQC .group-124-RzY .auto-group-icfa-t9N .frame-1-MDJ {
  width: 12rem;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ecbd27;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.game-qFe .auto-group-daec-Rix {
  box-sizing: border-box;
  padding: 21.7rem 26.55rem 21.6rem 26.55rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/game-1-bg.png');
  background-color: rgba(0, 0, 0, 0.5);
  flex-shrink: 0;
}
.game-qFe .auto-group-daec-Rix .spin-and-win-with-cryptofibank-slot-games-wBW {
  margin-bottom: 2.4rem;
  max-width: 90.9rem;
  text-align: center;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.game-qFe .auto-group-daec-Rix .spin-and-win-with-cryptofibank-slot-games-wBW .spin-and-win-with-cryptofibank-slot-games-wBW-sub-0 {
}
.game-qFe .auto-group-daec-Rix .spin-and-win-with-cryptofibank-slot-games-wBW .spin-and-win-with-cryptofibank-slot-games-wBW-sub-1 {
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #fbbc04;
  font-family: Roboto, 'Source Sans Pro';
}
.game-qFe .auto-group-daec-Rix .spin-and-win-with-cryptofibank-slot-games-wBW .spin-and-win-with-cryptofibank-slot-games-wBW-sub-2 {
}
.game-qFe .auto-group-daec-Rix .certainly-in-this-slot-game-each-player-has-to-spend-1-to-participate-the-biggest-prize-up-for-grabs-is-1000-the-game-exclusively-uses-numbers-from-0-to-9-the-catch-here-is-that-the-likelihood-of-winning-is-pretty-slim-only-1-in-1500-this-means-that-youll-only-win-when-1500-people-have-played-no-matter-how-many-people-have-tried-before-even-if-its-100-or-1300-players-youve-got-to-wait-until-a-full-1500-have-taken-their-chances-for-a-chance-at-the-prize-o7E {
  margin: 0rem 0rem 5.1rem 0.1rem;
  max-width: 76rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.6118748983;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.game-qFe .auto-group-daec-Rix .frame-5-g4Y {
  margin: 0rem 36.15rem 0rem 36.25rem;
  width: calc(100% - 72.4rem);
  height: 6.3rem;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fbbc04;
  border-radius: 3rem;
  flex-shrink: 0;
}
.game-qFe .rectangle-78-Vng {
  margin-bottom: 10.7rem;
  width: 100%;
  height: 2.1rem;
  background-color: #fbbc04;
  flex-shrink: 0;
}
.game-qFe .auto-group-f3dz-qLk {
  width: 100%;
  height: 63.2rem;
  position: relative;
  flex-shrink: 0;
}
.game-qFe .auto-group-f3dz-qLk .rectangle-32-9sE {
  width: 144rem;
  height: 51.7rem;
  position: absolute;
  left: 0;
  top: 11.5rem;
  background-color: rgba(236, 189, 39, 0.3000000119);
}
.game-qFe .auto-group-f3dz-qLk .group-20-Uec {
  width: 9.7rem;
  height: 23.5rem;
  position: absolute;
  left: 74.1rem;
  top: 31.3rem;
}
.game-qFe .auto-group-f3dz-qLk .group-20-Uec .company-Q2U {
  margin-bottom: 2.8rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.game-qFe .auto-group-f3dz-qLk .group-20-Uec .about-us-jaY {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.game-qFe .auto-group-f3dz-qLk .group-20-Uec .contact-us-sRr {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.game-qFe .auto-group-f3dz-qLk .group-20-Uec .career-Qgg {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.game-qFe .auto-group-f3dz-qLk .group-20-Uec .lottery-AA4 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.game-qFe .auto-group-f3dz-qLk .group-37-Vy2 {
  width: 9.7rem;
  height: 14.7rem;
  position: absolute;
  left: 92.9rem;
  top: 31.3rem;
}
.game-qFe .auto-group-f3dz-qLk .group-37-Vy2 .support-EQp {
  margin-bottom: 2.8rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.game-qFe .auto-group-f3dz-qLk .group-37-Vy2 .faqs-mfe {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.game-qFe .auto-group-f3dz-qLk .group-37-Vy2 .contact-us-7Di {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.game-qFe .auto-group-f3dz-qLk .group-19-Smn {
  width: 15rem;
  height: 23.5rem;
  position: absolute;
  left: 51.4rem;
  top: 31.3rem;
}
.game-qFe .auto-group-f3dz-qLk .group-19-Smn .quick-links-a7J {
  margin-bottom: 2.8rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.game-qFe .auto-group-f3dz-qLk .group-19-Smn .terms-of-service-Vzx {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.game-qFe .auto-group-f3dz-qLk .group-19-Smn .privacy-policy-3Fn {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.game-qFe .auto-group-f3dz-qLk .group-19-Smn .plans-Nor {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.game-qFe .auto-group-f3dz-qLk .group-19-Smn .games-Wv4 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.game-qFe .auto-group-f3dz-qLk .group-38-Fck {
  width: 19.8rem;
  height: 9.1rem;
  position: absolute;
  left: 111.7rem;
  top: 31.3rem;
}
.game-qFe .auto-group-f3dz-qLk .group-38-Fck .connect-with-us--PDA {
  margin: 0rem 0rem 0.5rem 0.4rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.game-qFe .auto-group-f3dz-qLk .group-38-Fck .group-22-hje {
  box-sizing: border-box;
  padding: 0.392rem 0.35rem 0.4rem 0.392rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.game-qFe .auto-group-f3dz-qLk .group-38-Fck .group-22-hje .ic-baseline-facebook-EUg {
  margin: 0rem 1.292rem 0.001rem 0rem;
  width: 3.9167rem;
  height: 3.9069rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.game-qFe .auto-group-f3dz-qLk .group-38-Fck .group-22-hje .formkit-twitter-x9n {
  margin: 0.008rem 1.258rem 0rem 0rem;
  width: 3.9rem;
  height: 3.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.game-qFe .auto-group-f3dz-qLk .group-38-Fck .group-22-hje .ri-instagram-fill-4yW {
  margin: 0.008rem 1.608rem 0rem 0rem;
  width: 3.5835rem;
  height: 3.5834rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.game-qFe .auto-group-f3dz-qLk .group-38-Fck .group-22-hje .ri-whatsapp-fill-CK2 {
  margin-top: 0.0083rem;
  width: 3.5rem;
  height: 3.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.game-qFe .auto-group-f3dz-qLk .group-36-8Cg {
  width: 30.2rem;
  height: 22rem;
  position: absolute;
  left: 6rem;
  top: 23.1rem;
}
.game-qFe .auto-group-f3dz-qLk .group-36-8Cg .untitled-1-2-fTW {
  width: 22rem;
  height: 22rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.game-qFe .auto-group-f3dz-qLk .group-36-8Cg .cryptofibank-aKa {
  width: 14.2rem;
  height: 2.8rem;
  position: absolute;
  left: 16rem;
  top: 8.8rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Sansita One, 'Source Sans Pro';
  white-space: nowrap;
}
.game-qFe .auto-group-f3dz-qLk .cryptofibank-a-trusted-name-in-the-world-of-financial-opportunity-provides-a-secure-platform-for-investing-in-forex-cryptocurrencies-slot-games-and-lotteries-Ufr {
  width: 27.5rem;
  height: 14.2rem;
  position: absolute;
  left: 12rem;
  top: 40.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.game-qFe .auto-group-f3dz-qLk .rectangle-34-KRa {
  width: 144rem;
  height: 3.7rem;
  position: absolute;
  left: 0;
  top: 59.5rem;
  background-color: #ecbd27;
}
.game-qFe .auto-group-f3dz-qLk .group-39-rgQ {
  width: 26.7rem;
  height: 2.9rem;
  position: absolute;
  left: 58.2rem;
  top: 59.9rem;
}
.game-qFe .auto-group-f3dz-qLk .group-39-rgQ .copyright-2023-all-rights-reserved-asJ {
  width: 26.7rem;
  height: 2.9rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.7690000534;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.game-qFe .auto-group-f3dz-qLk .group-39-rgQ .ic-outline-copyright-6Kr {
  width: 1.6667rem;
  height: 1.6667rem;
  position: absolute;
  left: 7.3667rem;
  top: 0.5667rem;
  object-fit: contain;
  vertical-align: top;
}
.game-qFe .auto-group-f3dz-qLk .group-42-1hi {
  box-sizing: border-box;
  padding: 1.3rem 31.2rem 3.2rem 31.2rem;
  width: 119.5rem;
  height: 23rem;
  position: absolute;
  left: 12rem;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1rem;
}
.game-qFe .auto-group-f3dz-qLk .group-42-1hi .auto-group-vtdr-7Vr {
  margin: 0rem 10.6rem 1.8rem 9.4rem;
  width: calc(100% - 20rem);
  height: 8.2rem;
  position: relative;
  flex-shrink: 0;
}
.game-qFe .auto-group-f3dz-qLk .group-42-1hi .auto-group-vtdr-7Vr .subscribe-to-news-qAx {
  width: 31.6rem;
  height: 5.7rem;
  position: absolute;
  left: 2.9rem;
  top: 0;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.7690000534;
  color: #ecbd27;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.game-qFe .auto-group-f3dz-qLk .group-42-1hi .auto-group-vtdr-7Vr .get-the-latest-insights-subscribe-to-our-newsletter-viC {
  width: 37.1rem;
  height: 2.9rem;
  position: absolute;
  left: 0;
  top: 5.3rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.game-qFe .auto-group-f3dz-qLk .group-42-1hi .group-40-R9A {
  box-sizing: border-box;
  padding-left: 2.9rem;
  width: 100%;
  height: 8.5rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #afafaf;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.game-qFe .auto-group-f3dz-qLk .group-42-1hi .group-40-R9A .enter-your-email-address-x96 {
  margin-right: 17.6rem;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.7690001095;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.game-qFe .auto-group-f3dz-qLk .group-42-1hi .group-40-R9A .auto-group-gjbn-t2k {
  width: 17.3rem;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.7690000534;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ecbd27;
  border-radius: 0 0.8rem 0.8rem 0;
  flex-shrink: 0;
}
