
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.landing-page-jSY {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.landing-page-jSY .auto-group-2uds-qtt {
  width: 155.2rem;
  height: 126.8rem;
  position: relative;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-2uds-qtt .gold-growing-arrow-with-gold-coin-money-stacks-gold-bar-business-finance-savings-investment-concept-background-3d-illustration-1-5aG {
  width: 155.2rem;
  height: 109.8rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.landing-page-jSY .auto-group-2uds-qtt .rectangle-1-f2g {
  width: 144rem;
  height: 102.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.landing-page-jSY .auto-group-2uds-qtt .explore-the-future-of-passive-income-with-cryptofibank-vUQ {
  width: 84rem;
  height: 15.1rem;
  position: absolute;
  left: 29.95rem;
  top: 35.3rem;
  text-align: center;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
}
.landing-page-jSY .auto-group-2uds-qtt .explore-the-future-of-passive-income-with-cryptofibank-vUQ .explore-the-future-of-passive-income-with-cryptofibank-vUQ-sub-0 {
}
.landing-page-jSY .auto-group-2uds-qtt .explore-the-future-of-passive-income-with-cryptofibank-vUQ .explore-the-future-of-passive-income-with-cryptofibank-vUQ-sub-1 {
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #ecbd27;
  font-family: Roboto, 'Source Sans Pro';
}
.landing-page-jSY .auto-group-2uds-qtt .welcome-to-cryptofibank-where-we-offer-you-the-key-to-unlock-a-future-of-passive-income-empower-your-financial-journey-and-redefine-your-wealth-generation-with-cryptofibank-as-we-accompany-you-on-this-exciting-path-to-financial-freedom-7z8 {
  width: 69.7rem;
  height: 7.8rem;
  position: absolute;
  left: 37.15rem;
  top: 51.7rem;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.5168749865;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
}
.landing-page-jSY .auto-group-2uds-qtt .frame-2-pn4 {
  width: 13.3rem;
  height: 4.7rem;
  position: absolute;
  left: 55.3rem;
  top: 62.3rem;
  font-size: 1.8rem;
  font-weight: 800;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ecbd27;
  border-radius: 0.5rem;
}
.landing-page-jSY .auto-group-2uds-qtt .fluent-video-clip-multiple-16-filled-Pya {
  width: 3.25rem;
  height: 3rem;
  position: absolute;
  left: 72.7rem;
  top: 63.3rem;
  object-fit: contain;
  vertical-align: top;
}
.landing-page-jSY .auto-group-2uds-qtt .group-2-6d6 {
  width: 10.5rem;
  height: 2.5rem;
  position: absolute;
  left: 76.95rem;
  top: 63.6rem;
}
.landing-page-jSY .auto-group-2uds-qtt .group-2-6d6 .watch-a-video-2Wk {
  width: 10.5rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5168750286;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-jSY .auto-group-2uds-qtt .group-2-6d6 .line-1-vs2 {
  width: 9.6rem;
  height: 0.15rem;
  position: absolute;
  left: 0.55rem;
  top: 2.2rem;
  background-color: #ffffff;
}
.landing-page-jSY .auto-group-2uds-qtt .group-5-SKa {
  width: 59.55rem;
  height: 8.1rem;
  position: absolute;
  left: 42.45rem;
  top: 81.1rem;
  display: flex;
  align-items: center;
}
.landing-page-jSY .auto-group-2uds-qtt .group-5-SKa .k-total-users-MSY {
  margin-right: 14.95rem;
  text-align: center;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-2uds-qtt .group-5-SKa .k-total-users-MSY .k-total-users-MSY-sub-0 {
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Righteous, 'Source Sans Pro';
}
.landing-page-jSY .auto-group-2uds-qtt .group-5-SKa .k-total-users-MSY .k-total-users-MSY-sub-1 {
}
.landing-page-jSY .auto-group-2uds-qtt .group-5-SKa .k-total-users-MSY .k-total-users-MSY-sub-2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
}
.landing-page-jSY .auto-group-2uds-qtt .group-5-SKa .k-active-users-ztp {
  text-align: center;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-2uds-qtt .group-5-SKa .k-active-users-ztp .k-active-users-ztp-sub-0 {
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Righteous, 'Source Sans Pro';
}
.landing-page-jSY .auto-group-2uds-qtt .group-5-SKa .k-active-users-ztp .k-active-users-ztp-sub-1 {
}
.landing-page-jSY .auto-group-2uds-qtt .group-5-SKa .k-active-users-ztp .k-active-users-ztp-sub-2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
}
.landing-page-jSY .auto-group-2uds-qtt .group-120-wha {
  width: 136.8rem;
  height: 27.1605rem;
  position: absolute;
  left: 0.7rem;
  top: 0;
  display: flex;
  align-items: center;
}
.landing-page-jSY .auto-group-2uds-qtt .group-120-wha .group-1-UhW {
  width: 33.9531rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-2uds-qtt .group-120-wha .group-1-UhW .untitled-1-2-Duz {
  width: 27.1604rem;
  height: 27.1605rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.landing-page-jSY .auto-group-2uds-qtt .group-120-wha .group-1-UhW .cryptofibank-kuv {
  width: 14.2rem;
  height: 2.8rem;
  position: absolute;
  left: 19.7531rem;
  top: 10.4642rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Sansita One, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-jSY .auto-group-2uds-qtt .group-120-wha .auto-group-fuap-FLt {
  box-sizing: border-box;
  padding: 10rem 0rem 13.06rem 8.647rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-2uds-qtt .group-120-wha .auto-group-fuap-FLt .auto-group-7epz-7tt {
  margin: 1.1rem 2rem 0.6rem 0rem;
  width: 5.7rem;
  height: calc(100% - 1.7rem);
  position: relative;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-2uds-qtt .group-120-wha .auto-group-fuap-FLt .auto-group-7epz-7tt .home-nEL {
  width: 5.7rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.1725;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-jSY .auto-group-2uds-qtt .group-120-wha .auto-group-fuap-FLt .auto-group-7epz-7tt .line-5-LYg {
  width: 5.2rem;
  height: 0;
  position: absolute;
  left: 0.3rem;
  top: 2.2rem;
  object-fit: contain;
  vertical-align: top;
}
.landing-page-jSY .auto-group-2uds-qtt .group-120-wha .auto-group-fuap-FLt .about-us-s2p {
  margin: 0.5rem 2.2rem 0rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-2uds-qtt .group-120-wha .auto-group-fuap-FLt .plans-NEU {
  margin: 0.5rem 2.1rem 0rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-2uds-qtt .group-120-wha .auto-group-fuap-FLt .game-tTi {
  margin: 0.5rem 2rem 0rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-2uds-qtt .group-120-wha .auto-group-fuap-FLt .lottery-2K2 {
  margin: 0.5rem 2rem 0rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-2uds-qtt .group-120-wha .auto-group-fuap-FLt .faqs-98k {
  margin: 0.5rem 2rem 0rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-2uds-qtt .group-120-wha .auto-group-fuap-FLt .contact-us-sqS {
  margin: 0.5rem 5rem 0rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-2uds-qtt .group-120-wha .auto-group-fuap-FLt .group-oj6 {
  margin: 0.1rem 0.8rem 0rem 0rem;
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-2uds-qtt .group-120-wha .auto-group-fuap-FLt .eng-Lj2 {
  margin: 0.1rem 5.8rem 0rem 0rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-2uds-qtt .group-120-wha .auto-group-fuap-FLt .frame-1-G6t {
  width: 12rem;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ecbd27;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-2uds-qtt .rectangle-20-YKJ {
  width: 144rem;
  height: 23rem;
  position: absolute;
  left: 0;
  top: 96.4rem;
  background-color: #ecbd27;
}
.landing-page-jSY .auto-group-2uds-qtt .our-trusted-partners-GWC {
  width: 32.2rem;
  height: 5.2rem;
  position: absolute;
  left: 11.7rem;
  top: 98.2rem;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.5168749865;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-jSY .auto-group-2uds-qtt .libertex-seeklogocom-1-MGk {
  width: 14.7461rem;
  height: 3.6923rem;
  position: absolute;
  left: 12rem;
  top: 110.3rem;
  object-fit: contain;
  vertical-align: top;
}
.landing-page-jSY .auto-group-2uds-qtt .binance-exchange-seeklogocom-1-fYL {
  width: 15.1886rem;
  height: 3.2416rem;
  position: absolute;
  left: 31rem;
  top: 111rem;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}
.landing-page-jSY .auto-group-2uds-qtt .binance-exchange-seeklogocom-1-fYL .auto-group-y3u4-NBr {
  margin: 0.193rem 0.4rem 0rem 0rem;
  width: 4.0151rem;
  height: 3.0491rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-2uds-qtt .binance-exchange-seeklogocom-1-fYL .vector-UVn {
  margin: 0.484rem 0.4rem 0rem 0rem;
  width: 0.6791rem;
  height: 0.6791rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-2uds-qtt .binance-exchange-seeklogocom-1-fYL .vector-Cgg {
  margin: 0.027rem 0.4rem 0rem 0rem;
  width: 1.3521rem;
  height: 1.5935rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-2uds-qtt .binance-exchange-seeklogocom-1-fYL .vector-8qE {
  margin: 0.027rem 0.4rem 0rem 0rem;
  width: 0.3506rem;
  height: 1.5935rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-2uds-qtt .binance-exchange-seeklogocom-1-fYL .vector-4it {
  margin: 0.027rem 0.4rem 0rem 0rem;
  width: 1.4159rem;
  height: 1.5935rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-2uds-qtt .binance-exchange-seeklogocom-1-fYL .vector-ahE {
  margin: 0.022rem 0.4rem 0rem 0rem;
  width: 1.6892rem;
  height: 1.6049rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-2uds-qtt .binance-exchange-seeklogocom-1-fYL .vector-Wqn {
  margin: 0.027rem 0.4rem 0rem 0rem;
  width: 1.4159rem;
  height: 1.5935rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-2uds-qtt .binance-exchange-seeklogocom-1-fYL .vector-SjS {
  width: 1.4705rem;
  height: 1.6481rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-2uds-qtt .bybit-seeklogocom-1-Pua {
  width: 8rem;
  height: 2.6667rem;
  position: absolute;
  left: 50rem;
  top: 111.0299rem;
  object-fit: contain;
  vertical-align: top;
}
.landing-page-jSY .auto-group-2uds-qtt .coinbase-new-2021-seeklogocom-1-WjJ {
  width: 13.2696rem;
  height: 6.5795rem;
  position: absolute;
  left: 62.6rem;
  top: 107rem;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.landing-page-jSY .auto-group-2uds-qtt .coinbase-new-2021-seeklogocom-1-WjJ .group-cGY {
  margin-bottom: 0.7rem;
  width: 3.5091rem;
  height: 3.5091rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-2uds-qtt .coinbase-new-2021-seeklogocom-1-WjJ .vector-j6G {
  width: 13.2696rem;
  height: 2.3704rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-2uds-qtt .kucoin-seeklogocom-3-1-TY4 {
  width: 13.5rem;
  height: 9.093rem;
  position: absolute;
  left: 79.5rem;
  top: 108.1rem;
  object-fit: contain;
  vertical-align: top;
}
.landing-page-jSY .auto-group-2uds-qtt .mexc-global-seeklogocom-1-a6t {
  width: 19rem;
  height: 2.375rem;
  position: absolute;
  left: 97.6rem;
  top: 111.4rem;
  object-fit: contain;
  vertical-align: top;
}
.landing-page-jSY .auto-group-2uds-qtt .okx-seeklogocom-1-J2t {
  width: 10rem;
  height: 2.8067rem;
  position: absolute;
  left: 122rem;
  top: 111.5rem;
  object-fit: contain;
  vertical-align: top;
}
.landing-page-jSY .auto-group-2uds-qtt .line-12-dL4 {
  width: 0.2rem;
  height: 7.4rem;
  position: absolute;
  left: 29rem;
  top: 108.8rem;
  background-color: #ffffff;
}
.landing-page-jSY .auto-group-2uds-qtt .line-18-9pC {
  width: 0.2rem;
  height: 7.4rem;
  position: absolute;
  left: 48rem;
  top: 108.8rem;
  background-color: #ffffff;
}
.landing-page-jSY .auto-group-2uds-qtt .line-19-4wA {
  width: 0.2rem;
  height: 7.4rem;
  position: absolute;
  left: 60.5rem;
  top: 108.8rem;
  background-color: #ffffff;
}
.landing-page-jSY .auto-group-2uds-qtt .line-20-PiY {
  width: 0.2rem;
  height: 7.4rem;
  position: absolute;
  left: 78.5rem;
  top: 108.8rem;
  background-color: #ffffff;
}
.landing-page-jSY .auto-group-2uds-qtt .line-21-ikp {
  width: 0.2rem;
  height: 7.4rem;
  position: absolute;
  left: 94.6rem;
  top: 108.8rem;
  background-color: #ffffff;
}
.landing-page-jSY .auto-group-2uds-qtt .line-22-4Jt {
  width: 0.2rem;
  height: 7.4rem;
  position: absolute;
  left: 119.2rem;
  top: 108.8rem;
  background-color: #ffffff;
}
.landing-page-jSY .auto-group-h6qg-zTS {
  box-sizing: border-box;
  padding: 4.2rem 18.2rem 3.7rem 12.3rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-h6qg-zTS .auto-group-lemn-toi {
  margin: 0rem 39.6rem 3.7rem 45.4rem;
  width: calc(100% - 85rem);
  height: 5.2rem;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.5168749865;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid 0.2rem #fbbc04;
  box-sizing: border-box;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-h6qg-zTS .unlock-the-advantages-of-cryptofibank-MBW {
  margin: 0rem 0rem 5.4rem 5.9rem;
  max-width: 47.8rem;
  text-align: center;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-h6qg-zTS .unlock-the-advantages-of-cryptofibank-MBW .unlock-the-advantages-of-cryptofibank-MBW-sub-0 {
}
.landing-page-jSY .auto-group-h6qg-zTS .unlock-the-advantages-of-cryptofibank-MBW .unlock-the-advantages-of-cryptofibank-MBW-sub-1 {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #fbbc04;
  font-family: Roboto, 'Source Sans Pro';
}
.landing-page-jSY .auto-group-h6qg-zTS .auto-group-kxza-R4t {
  margin: 0rem 0rem 5.3rem 5.1rem;
  height: 36.2rem;
  display: flex;
  column-gap: 7.7rem;
  align-items: center;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-h6qg-zTS .auto-group-kxza-R4t .auto-group-gpwz-X7v {
  box-sizing: border-box;
  padding: 1.4rem 3.85rem 2.8rem 3.85rem;
  width: 31rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-h6qg-zTS .auto-group-kxza-R4t .auto-group-gpwz-X7v .auto-group-qx2c-24g {
  margin: 0rem 6.65rem 0.9rem 6.65rem;
  box-sizing: border-box;
  padding: 2.3rem 2.5rem 2.205rem 2.5rem;
  width: calc(100% - 13.3rem);
  box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.25);
  background-color: #ecbd27;
  border-radius: 5rem;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-h6qg-zTS .auto-group-kxza-R4t .auto-group-gpwz-X7v .auto-group-qx2c-24g .shield-checkmark-black-icon-1-WVe {
  width: 4.9999rem;
  height: 5.495rem;
  object-fit: contain;
  vertical-align: top;
}
.landing-page-jSY .auto-group-h6qg-zTS .auto-group-kxza-R4t .auto-group-gpwz-X7v .trust-transparency-oDr {
  margin: 0rem 0.4rem 1rem 0rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5168750763;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-h6qg-zTS .auto-group-kxza-R4t .auto-group-gpwz-X7v .at-cryptofibank-we-prioritize-honesty-and-openness-in-all-our-dealings-we-stand-firm-in-our-commitment-to-providing-a-trustworthy-investment-platform-assuring-you-that-we-are-not-a-pyramid-scheme-WPA {
  max-width: 23.3rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5168750286;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-h6qg-zTS .auto-group-kxza-R4t .auto-group-xsvg-WGg {
  box-sizing: border-box;
  padding: 2.5rem 2.45rem 6.1rem 2.55rem;
  width: 31rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-h6qg-zTS .auto-group-kxza-R4t .auto-group-xsvg-WGg .auto-group-ncxy-1DS {
  margin: 0rem 8.05rem 1.3rem 7.95rem;
  box-sizing: border-box;
  padding: 2.4rem 1.5rem 2.452rem 1.5rem;
  width: calc(100% - 16rem);
  box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.25);
  background-color: #ecbd27;
  border-radius: 5rem;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-h6qg-zTS .auto-group-kxza-R4t .auto-group-xsvg-WGg .auto-group-ncxy-1DS .skills-icon-1-6Et {
  width: 7rem;
  height: 5.148rem;
  object-fit: contain;
  vertical-align: top;
}
.landing-page-jSY .auto-group-h6qg-zTS .auto-group-kxza-R4t .auto-group-xsvg-WGg .expertise-in-forex-and-cryptocurrency-C32 {
  margin-bottom: 0.4rem;
  max-width: 20.5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5168750763;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-h6qg-zTS .auto-group-kxza-R4t .auto-group-xsvg-WGg .we-leverage-this-expertise-to-offer-you-strategic-investment-solutions-that-harness-the-potential-of-these-markets-delivering-you-solid-returns-6eC {
  max-width: 26rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5168750286;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-h6qg-zTS .auto-group-kxza-R4t .auto-group-kkdn-KG4 {
  box-sizing: border-box;
  padding: 2.5rem 2.5rem 6.1rem 2.6rem;
  width: 31rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-h6qg-zTS .auto-group-kxza-R4t .auto-group-kkdn-KG4 .auto-group-5hj6-qEQ {
  margin: 0rem 8rem 1.4rem 7.9rem;
  box-sizing: border-box;
  padding: 2.4rem 1.801rem 2.511rem 1.7rem;
  width: calc(100% - 15.9rem);
  box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.25);
  background-color: #ecbd27;
  border-radius: 5rem;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-h6qg-zTS .auto-group-kxza-R4t .auto-group-kkdn-KG4 .auto-group-5hj6-qEQ .hand-money-income-dollar-icon-1-KvG {
  width: 6.4993rem;
  height: 5.0891rem;
  object-fit: contain;
  vertical-align: top;
}
.landing-page-jSY .auto-group-h6qg-zTS .auto-group-kxza-R4t .auto-group-kkdn-KG4 .competitive-returns-q7v {
  margin: 0rem 0.1rem 0.9rem 0rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5168750763;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-h6qg-zTS .auto-group-kxza-R4t .auto-group-kkdn-KG4 .at-cryptofibank-we-aim-to-help-you-grow-your-wealth-at-rates-that-often-surpass-what-conventional-financial-institutions-can-offer-making-your-investment-truly-worthwhile-M6G {
  max-width: 25.9rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5168750286;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-h6qg-zTS .auto-group-f2kj-8FS {
  margin: 0rem 0rem 8.3rem 5.1rem;
  height: 36.2rem;
  display: flex;
  column-gap: 7.7rem;
  align-items: center;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-h6qg-zTS .auto-group-f2kj-8FS .auto-group-5wkn-EJU {
  box-sizing: border-box;
  padding: 2.5rem 1.95rem 6.5rem 2.65rem;
  width: 31rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-h6qg-zTS .auto-group-f2kj-8FS .auto-group-5wkn-EJU .auto-group-1tov-wTn {
  margin: 0rem 8.55rem 1.4rem 7.85rem;
  box-sizing: border-box;
  padding: 2.5rem 2.5rem 2.444rem 2.3rem;
  width: calc(100% - 16.4rem);
  box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.25);
  background-color: #ecbd27;
  border-radius: 5rem;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-h6qg-zTS .auto-group-f2kj-8FS .auto-group-5wkn-EJU .auto-group-1tov-wTn .pay-money-icon-1-312 {
  width: 5.2rem;
  height: 5.0563rem;
  object-fit: contain;
  vertical-align: top;
}
.landing-page-jSY .auto-group-h6qg-zTS .auto-group-f2kj-8FS .auto-group-5wkn-EJU .withdrawal-guarantee-wcC {
  margin: 0rem 0.7rem 0.5rem 0rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5168750763;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-h6qg-zTS .auto-group-f2kj-8FS .auto-group-5wkn-EJU .your-financial-freedom-is-our-priority-with-our-24-7-withdrawal-guarantee-you-have-the-flexibility-to-access-your-earnings-at-any-time-without-withdrawal-limits-or-deductions-FMz {
  max-width: 26.4rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5168750286;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-h6qg-zTS .auto-group-f2kj-8FS .auto-group-zbv8-G2C {
  box-sizing: border-box;
  padding: 2.5rem 2.65rem 1.7rem 2.65rem;
  width: 31rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-h6qg-zTS .auto-group-f2kj-8FS .auto-group-zbv8-G2C .auto-group-ewuc-yBW {
  margin: 0rem 7.85rem 1.4rem 7.85rem;
  box-sizing: border-box;
  padding: 2.4rem 2.1rem 2.395rem 2.9rem;
  width: calc(100% - 15.7rem);
  box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.25);
  background-color: #ecbd27;
  border-radius: 5rem;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-h6qg-zTS .auto-group-f2kj-8FS .auto-group-zbv8-G2C .auto-group-ewuc-yBW .map-marker-flag-icon-1-5VS {
  width: 5rem;
  height: 5.2047rem;
  object-fit: contain;
  vertical-align: top;
}
.landing-page-jSY .auto-group-h6qg-zTS .auto-group-f2kj-8FS .auto-group-zbv8-G2C .independence-objectivity-PW8 {
  margin: 0rem 0.6rem 0.5rem 0rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5168750763;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-h6qg-zTS .auto-group-f2kj-8FS .auto-group-zbv8-G2C .we-remain-completely-independent-and-do-not-align-with-any-institution-or-organization-we-prioritize-your-financial-success-and-tailor-our-strategies-to-your-unique-needs-empowering-you-to-make-informed-investment-decisions-i2c {
  max-width: 25.7rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5168750286;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-h6qg-zTS .auto-group-f2kj-8FS .auto-group-ksse-74k {
  box-sizing: border-box;
  padding: 2.5rem 1.35rem 4.1rem 1.45rem;
  width: 31rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-h6qg-zTS .auto-group-f2kj-8FS .auto-group-ksse-74k .auto-group-ddap-cXJ {
  margin: 0rem 9.15rem 1.4rem 9.05rem;
  box-sizing: border-box;
  padding: 2.4rem 2.9rem 2.486rem 3.1rem;
  width: calc(100% - 18.2rem);
  box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.25);
  background-color: #ecbd27;
  border-radius: 5rem;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-h6qg-zTS .auto-group-f2kj-8FS .auto-group-ksse-74k .auto-group-ddap-cXJ .lock-icon-1-umJ {
  width: 4rem;
  height: 5.1142rem;
  object-fit: contain;
  vertical-align: top;
}
.landing-page-jSY .auto-group-h6qg-zTS .auto-group-f2kj-8FS .auto-group-ksse-74k .loss-mitigation-dhJ {
  margin: 0rem 0.1rem 0.5rem 0rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5168750763;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-h6qg-zTS .auto-group-f2kj-8FS .auto-group-ksse-74k .our-approach-shields-your-investments-from-losses-and-instead-offers-percentage-based-earnings-plans-your-peace-of-mind-is-our-priority-as-we-navigate-the-ups-and-downs-of-financial-markets-on-your-behalf-MNQ {
  max-width: 28.2rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5168750286;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-h6qg-zTS .group-29-kfS {
  margin: 0rem 85.4rem 3.5rem 0rem;
  width: 28.1rem;
  height: 5.2rem;
  position: relative;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-h6qg-zTS .group-29-kfS .what-we-offer-UbS {
  width: 28.1rem;
  height: 5.2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.5168749865;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-jSY .auto-group-h6qg-zTS .group-29-kfS .line-23-Bkk {
  width: 26.9rem;
  height: 0.2rem;
  position: absolute;
  left: 0.5rem;
  top: 4.9rem;
  background-color: #fbbc04;
}
.landing-page-jSY .auto-group-h6qg-zTS .take-a-gamble-win-big-slot-games-and-lottery-adventures-NaL {
  margin-right: 30.9rem;
  max-width: 82.6rem;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-h6qg-zTS .take-a-gamble-win-big-slot-games-and-lottery-adventures-NaL .take-a-gamble-win-big-slot-games-and-lottery-adventures-NaL-sub-0 {
}
.landing-page-jSY .auto-group-h6qg-zTS .take-a-gamble-win-big-slot-games-and-lottery-adventures-NaL .take-a-gamble-win-big-slot-games-and-lottery-adventures-NaL-sub-1 {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #ecbd27;
  font-family: Roboto, 'Source Sans Pro';
}
.landing-page-jSY .auto-group-h6qg-zTS .take-a-gamble-win-big-slot-games-and-lottery-adventures-NaL .take-a-gamble-win-big-slot-games-and-lottery-adventures-NaL-sub-2 {
}
.landing-page-jSY .rectangle-81-rP2 {
  width: 100%;
  height: 1.5rem;
  background-color: #fbbc04;
  flex-shrink: 0;
}
.landing-page-jSY .slot-game-with-text-1-zk8 {
  width: 144rem;
  height: 92rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-page-jSY .rectangle-83-ig8 {
  width: 100%;
  height: 1.5rem;
  background-color: #fbbc04;
  flex-shrink: 0;
}
.landing-page-jSY .lottery-image-with-text-1-frG {
  width: 144rem;
  height: 81rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-page-jSY .rectangle-82-19S {
  width: 100%;
  height: 1.5rem;
  background-color: #fbbc04;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-eslu-ksi {
  box-sizing: border-box;
  padding: 5.3rem 3rem 8.281rem 3.2rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-eslu-ksi .auto-group-jm5r-4tQ {
  margin: 0rem 57.204rem 3.3rem 56.396rem;
  width: calc(100% - 113.6rem);
  height: 5.2rem;
  position: relative;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-eslu-ksi .auto-group-jm5r-4tQ .testimonials-b7e {
  width: 24.2rem;
  height: 5.2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.5168749865;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-jSY .auto-group-eslu-ksi .auto-group-jm5r-4tQ .line-23-hwN {
  width: 22.9rem;
  height: 0.2rem;
  position: absolute;
  left: 0.7037rem;
  top: 4.9rem;
  background-color: #fbbc04;
}
.landing-page-jSY .auto-group-eslu-ksi .cryptofibank-in-the-words-of-our-clients-Qqn {
  margin: 0rem 0.1rem 3.1rem 0rem;
  text-align: center;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-eslu-ksi .cryptofibank-in-the-words-of-our-clients-Qqn .cryptofibank-in-the-words-of-our-clients-Qqn-sub-0 {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #fbbc04;
  font-family: Roboto, 'Source Sans Pro';
}
.landing-page-jSY .auto-group-eslu-ksi .cryptofibank-in-the-words-of-our-clients-Qqn .cryptofibank-in-the-words-of-our-clients-Qqn-sub-1 {
}
.landing-page-jSY .auto-group-eslu-ksi .quotation-mark-icon-1-wUL {
  margin: 0rem 105.2rem 3.382rem 0rem;
  width: 14.9999rem;
  height: 11.1183rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-eslu-ksi .auto-group-vmzx-TSg {
  margin-bottom: 4.2rem;
  width: 100%;
  height: 42.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-eslu-ksi .auto-group-vmzx-TSg .auto-group-etic-yvp {
  margin: 20.9rem 2.8rem 15.2rem 0rem;
  box-sizing: border-box;
  padding: 1.8rem 2.464rem 1.706rem 2.1rem;
  height: calc(100% - 36.1rem);
  background-color: #ecbd27;
  border-radius: 3rem;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-eslu-ksi .auto-group-vmzx-TSg .auto-group-etic-yvp .ep-arrow-left-bold-g4Y {
  width: 1.4356rem;
  height: 2.494rem;
  object-fit: contain;
  vertical-align: top;
}
.landing-page-jSY .auto-group-eslu-ksi .auto-group-vmzx-TSg .auto-group-vpbr-Y6k {
  margin-right: 3.5rem;
  width: 37.5rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-eslu-ksi .auto-group-vmzx-TSg .auto-group-vpbr-Y6k .rectangle-26-3JQ {
  width: 37.5rem;
  height: 35rem;
  position: absolute;
  left: 0;
  top: 7.1rem;
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0 0 1.5rem 1.5rem;
}
.landing-page-jSY .auto-group-eslu-ksi .auto-group-vmzx-TSg .auto-group-vpbr-Y6k .ellipse-4-Vw6 {
  width: 14.2rem;
  height: 14.2rem;
  position: absolute;
  left: 11.7rem;
  top: 0;
  border: solid 0.5rem #ffa408;
  box-sizing: border-box;
  background-color: #d9d9d9;
  background-size: 100% 150%;
  background-position: 0 -6.8128rem;
  background-image: url('../assets/ellipse-4-bg-7rG.png');
  border-radius: 7.1rem;
}
.landing-page-jSY .auto-group-eslu-ksi .auto-group-vmzx-TSg .auto-group-vpbr-Y6k .ellipse-4-Vw6 .ellipse-4-Vw6-bg {
  width: 14.2rem;
  height: 14.2rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:3f5cc32c8a890f25eaa75145b88f0357b0d3fa47');
}
.landing-page-jSY .auto-group-eslu-ksi .auto-group-vmzx-TSg .auto-group-vpbr-Y6k .amelia-taylor-UY8 {
  width: 12.3rem;
  height: 2.4rem;
  position: absolute;
  left: 12.65rem;
  top: 16.1rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-jSY .auto-group-eslu-ksi .auto-group-vmzx-TSg .auto-group-vpbr-Y6k .canada-ZpU {
  width: 5.5rem;
  height: 1.9rem;
  position: absolute;
  left: 16.05rem;
  top: 18.5rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-jSY .auto-group-eslu-ksi .auto-group-vmzx-TSg .auto-group-vpbr-Y6k .cryptofibanks-slot-games-are-not-just-fun-but-also-profitable-i-hit-a-jackpot-recently-and-the-payout-was-quick-and-hassle-free-their-variety-of-slots-keeps-me-entertained-for-hours-GTz {
  width: 30rem;
  height: 13.7rem;
  position: absolute;
  left: 3.65rem;
  top: 22.4rem;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.6077319427;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.landing-page-jSY .auto-group-eslu-ksi .auto-group-vmzx-TSg .auto-group-ckyc-tkG {
  margin-right: 3.5rem;
  width: 37.5rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-eslu-ksi .auto-group-vmzx-TSg .auto-group-ckyc-tkG .rectangle-26-DXe {
  width: 37.5rem;
  height: 35rem;
  position: absolute;
  left: 0;
  top: 7.1rem;
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0 0 1.5rem 1.5rem;
}
.landing-page-jSY .auto-group-eslu-ksi .auto-group-vmzx-TSg .auto-group-ckyc-tkG .ellipse-4-vgx {
  width: 14.2rem;
  height: 14.2rem;
  position: absolute;
  left: 11.7rem;
  top: 0;
  border: solid 0.5rem #ffa408;
  box-sizing: border-box;
  background-color: #d9d9d9;
  background-size: 100% 150%;
  background-position: 0 -0.1268rem;
  background-image: url('../assets/ellipse-4-bg-nG8.png');
  border-radius: 7.1rem;
}
.landing-page-jSY .auto-group-eslu-ksi .auto-group-vmzx-TSg .auto-group-ckyc-tkG .ellipse-4-vgx .ellipse-4-vgx-bg {
  width: 14.2rem;
  height: 14.2rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:b5dfb43e68662dcc0cb4365e98e8bbb57531a4da');
}
.landing-page-jSY .auto-group-eslu-ksi .auto-group-vmzx-TSg .auto-group-ckyc-tkG .james-smith-y9S {
  width: 11.9rem;
  height: 2.4rem;
  position: absolute;
  left: 12.85rem;
  top: 16.1rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-jSY .auto-group-eslu-ksi .auto-group-vmzx-TSg .auto-group-ckyc-tkG .turkey-4wa {
  width: 5.3rem;
  height: 1.9rem;
  position: absolute;
  left: 16.15rem;
  top: 18.5rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-jSY .auto-group-eslu-ksi .auto-group-vmzx-TSg .auto-group-ckyc-tkG .the-support-from-cryptofibanks-team-is-top-notch-whenever-ive-had-questions-or-needed-assistance-theyve-been-quick-to-respond-and-help-it-adds-an-extra-layer-of-confidence-to-my-investment-experience-ncg {
  width: 31.9rem;
  height: 13.7rem;
  position: absolute;
  left: 2.7rem;
  top: 22.4rem;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.6077319427;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.landing-page-jSY .auto-group-eslu-ksi .auto-group-vmzx-TSg .auto-group-2dzj-1kL {
  margin-right: 3.5rem;
  width: 37.5rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-eslu-ksi .auto-group-vmzx-TSg .auto-group-2dzj-1kL .rectangle-26-MZJ {
  width: 37.5rem;
  height: 35rem;
  position: absolute;
  left: 0;
  top: 7.1rem;
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0 0 1.5rem 1.5rem;
}
.landing-page-jSY .auto-group-eslu-ksi .auto-group-vmzx-TSg .auto-group-2dzj-1kL .ellipse-4-UP2 {
  width: 14.2rem;
  height: 14.2rem;
  position: absolute;
  left: 11.7rem;
  top: 0;
  border: solid 0.5rem #ffa408;
  box-sizing: border-box;
  background-color: #d9d9d9;
  background-size: 150% 100%;
  background-position: -2.9769rem 0;
  background-image: url('../assets/ellipse-4-bg.png');
  border-radius: 7.1rem;
}
.landing-page-jSY .auto-group-eslu-ksi .auto-group-vmzx-TSg .auto-group-2dzj-1kL .ellipse-4-UP2 .ellipse-4-UP2-bg {
  width: 14.2rem;
  height: 14.2rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:ed19f0f4b83ad4521af859a9e331b4287f491398');
}
.landing-page-jSY .auto-group-eslu-ksi .auto-group-vmzx-TSg .auto-group-2dzj-1kL .sarah-taylor-WqW {
  width: 11.3rem;
  height: 2.4rem;
  position: absolute;
  left: 13.15rem;
  top: 16.1rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-jSY .auto-group-eslu-ksi .auto-group-vmzx-TSg .auto-group-2dzj-1kL .uk-opc {
  width: 2.1rem;
  height: 1.9rem;
  position: absolute;
  left: 17.75rem;
  top: 18.5rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-jSY .auto-group-eslu-ksi .auto-group-vmzx-TSg .auto-group-2dzj-1kL .ive-been-a-part-of-cryptofibank-for-a-while-and-their-lottery-games-are-a-real-thrill-the-anticipation-and-excitement-of-each-draw-keep-me-coming-back-ive-won-a-few-times-and-its-always-a-great-feeling-igg {
  width: 31.9rem;
  height: 16.4rem;
  position: absolute;
  left: 2.7rem;
  top: 22.4rem;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.6077319427;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.landing-page-jSY .auto-group-eslu-ksi .auto-group-vmzx-TSg .auto-group-jywa-91J {
  margin: 20.9rem 0rem 15.2rem 0rem;
  box-sizing: border-box;
  padding: 1.8rem 2.164rem 1.706rem 2.4rem;
  height: calc(100% - 36.1rem);
  background-color: #ecbd27;
  border-radius: 3rem;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-eslu-ksi .auto-group-vmzx-TSg .auto-group-jywa-91J .ep-arrow-left-bold-pt8 {
  width: 1.4356rem;
  height: 2.494rem;
  object-fit: contain;
  vertical-align: top;
}
.landing-page-jSY .auto-group-eslu-ksi .auto-group-58pa-99i {
  margin-left: 53.3999rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-eslu-ksi .auto-group-58pa-99i .rectangle-27-g9e {
  margin: 0rem 0.4rem 0.119rem 0rem;
  width: 3rem;
  height: 1.2rem;
  background-color: #ecbd27;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-eslu-ksi .auto-group-58pa-99i .rectangle-28-Bs6 {
  margin: 0rem 0.4rem 0.119rem 0rem;
  width: 1.8rem;
  height: 1.2rem;
  background-color: #d9d9d9;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-eslu-ksi .auto-group-58pa-99i .rectangle-29-7Vr {
  margin: 0rem 0.4rem 0.119rem 0rem;
  width: 1.8rem;
  height: 1.2rem;
  background-color: #d9d9d9;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-eslu-ksi .auto-group-58pa-99i .rectangle-30-2si {
  margin: 0rem 0.4rem 0.119rem 0rem;
  width: 1.8rem;
  height: 1.2rem;
  background-color: #d9d9d9;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-eslu-ksi .auto-group-58pa-99i .rectangle-31-Muz {
  margin: 0rem 38.6rem 0.119rem 0rem;
  width: 1.8rem;
  height: 1.2rem;
  background-color: #d9d9d9;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-eslu-ksi .auto-group-58pa-99i .quotation-mark-right-icon-1-HYk {
  width: 14.9999rem;
  height: 11.1185rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-493n-QNU {
  width: 100%;
  height: 63.2rem;
  position: relative;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-493n-QNU .rectangle-32-83a {
  width: 144rem;
  height: 51.7rem;
  position: absolute;
  left: 0;
  top: 11.5rem;
  background-color: rgba(236, 189, 39, 0.3000000119);
}
.landing-page-jSY .auto-group-493n-QNU .group-20-enc {
  width: 9.7rem;
  height: 23.5rem;
  position: absolute;
  left: 74.1rem;
  top: 31.3rem;
}
.landing-page-jSY .auto-group-493n-QNU .group-20-enc .company-B1r {
  margin-bottom: 2.8rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-jSY .auto-group-493n-QNU .group-20-enc .about-us-7AQ {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-jSY .auto-group-493n-QNU .group-20-enc .contact-us-qcC {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-jSY .auto-group-493n-QNU .group-20-enc .career-yCc {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-jSY .auto-group-493n-QNU .group-20-enc .lottery-KGU {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-jSY .auto-group-493n-QNU .group-37-f5S {
  width: 9.7rem;
  height: 14.7rem;
  position: absolute;
  left: 92.9rem;
  top: 31.3rem;
}
.landing-page-jSY .auto-group-493n-QNU .group-37-f5S .support-nQx {
  margin-bottom: 2.8rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-jSY .auto-group-493n-QNU .group-37-f5S .faqs-LBa {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-jSY .auto-group-493n-QNU .group-37-f5S .contact-us-gFS {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-jSY .auto-group-493n-QNU .group-19-DWG {
  width: 15rem;
  height: 23.5rem;
  position: absolute;
  left: 51.4rem;
  top: 31.3rem;
}
.landing-page-jSY .auto-group-493n-QNU .group-19-DWG .quick-links-jUc {
  margin-bottom: 2.8rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-jSY .auto-group-493n-QNU .group-19-DWG .terms-of-service-UBJ {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-jSY .auto-group-493n-QNU .group-19-DWG .privacy-policy-PJG {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-jSY .auto-group-493n-QNU .group-19-DWG .plans-j7E {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-jSY .auto-group-493n-QNU .group-19-DWG .games-UKi {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-jSY .auto-group-493n-QNU .group-38-peU {
  width: 19.8rem;
  height: 9.1rem;
  position: absolute;
  left: 111.7rem;
  top: 31.3rem;
}
.landing-page-jSY .auto-group-493n-QNU .group-38-peU .connect-with-us--xkg {
  margin: 0rem 0rem 0.5rem 0.4rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-jSY .auto-group-493n-QNU .group-38-peU .group-22-HY4 {
  box-sizing: border-box;
  padding: 0.392rem 0.35rem 0.4rem 0.392rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.landing-page-jSY .auto-group-493n-QNU .group-38-peU .group-22-HY4 .ic-baseline-facebook-1ix {
  margin: 0rem 1.292rem 0.001rem 0rem;
  width: 3.9167rem;
  height: 3.9069rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-493n-QNU .group-38-peU .group-22-HY4 .formkit-twitter-jQ4 {
  margin: 0.008rem 1.258rem 0rem 0rem;
  width: 3.9rem;
  height: 3.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-493n-QNU .group-38-peU .group-22-HY4 .ri-instagram-fill-f2p {
  margin: 0.008rem 1.608rem 0rem 0rem;
  width: 3.5835rem;
  height: 3.5834rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-493n-QNU .group-38-peU .group-22-HY4 .ri-whatsapp-fill-yZJ {
  margin-top: 0.0083rem;
  width: 3.5rem;
  height: 3.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-493n-QNU .group-36-VXe {
  width: 30.2rem;
  height: 22rem;
  position: absolute;
  left: 6rem;
  top: 23.1rem;
}
.landing-page-jSY .auto-group-493n-QNU .group-36-VXe .untitled-1-2-dNx {
  width: 22rem;
  height: 22rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.landing-page-jSY .auto-group-493n-QNU .group-36-VXe .cryptofibank-mVA {
  width: 14.2rem;
  height: 2.8rem;
  position: absolute;
  left: 16rem;
  top: 8.8rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Sansita One, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-jSY .auto-group-493n-QNU .cryptofibank-a-trusted-name-in-the-world-of-financial-opportunity-provides-a-secure-platform-for-investing-in-forex-cryptocurrencies-slot-games-and-lotteries-4z4 {
  width: 27.5rem;
  height: 14.2rem;
  position: absolute;
  left: 12rem;
  top: 40.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.landing-page-jSY .auto-group-493n-QNU .rectangle-34-7xL {
  width: 144rem;
  height: 3.7rem;
  position: absolute;
  left: 0;
  top: 59.5rem;
  background-color: #ecbd27;
}
.landing-page-jSY .auto-group-493n-QNU .group-39-4Mn {
  width: 26.7rem;
  height: 2.9rem;
  position: absolute;
  left: 58.2rem;
  top: 59.9rem;
}
.landing-page-jSY .auto-group-493n-QNU .group-39-4Mn .copyright-2023-all-rights-reserved-o4U {
  width: 26.7rem;
  height: 2.9rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.7690000534;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-jSY .auto-group-493n-QNU .group-39-4Mn .ic-outline-copyright-Jmv {
  width: 1.6667rem;
  height: 1.6667rem;
  position: absolute;
  left: 7.3667rem;
  top: 0.5667rem;
  object-fit: contain;
  vertical-align: top;
}
.landing-page-jSY .auto-group-493n-QNU .frame-42-qWx {
  box-sizing: border-box;
  padding: 1.3rem 31.2rem;
  width: 119.5rem;
  height: 21.2rem;
  position: absolute;
  left: 12rem;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1rem;
}
.landing-page-jSY .auto-group-493n-QNU .frame-42-qWx .subscribe-to-news-Lic {
  margin: 0rem 0.9rem 0.4rem 0rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.7690000534;
  color: #ecbd27;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-493n-QNU .frame-42-qWx .get-the-latest-insights-subscribe-to-our-newsletter-rgx {
  margin: 0rem 0.6rem 1.1rem 0rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-493n-QNU .frame-42-qWx .group-40-a7A {
  box-sizing: border-box;
  padding-left: 2.9rem;
  width: 100%;
  height: 8.5rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #afafaf;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-493n-QNU .frame-42-qWx .group-40-a7A .enter-your-email-address-776 {
  margin-right: 17.6rem;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.7690001095;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-jSY .auto-group-493n-QNU .frame-42-qWx .group-40-a7A .auto-group-uecx-RtU {
  width: 17.3rem;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.7690000534;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ecbd27;
  border-radius: 0 0.8rem 0.8rem 0;
  flex-shrink: 0;
}
