
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 100rem;
}.login-page-GNc {
  box-sizing: border-box;
  padding-right: 4.1rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
  border-radius: 3rem;
}
.login-page-GNc .auto-group-2ppl-aeC {
  margin-right: 5.3rem;
  width: 50rem;
  height: 80rem;
  position: relative;
  background-size: 239.971% 100%;
  background-position: -16.9048rem -0rem;
  background-image: url('../assets/rectangle-8-bg.png');
  border-radius: 3rem 0 0 3rem;
  background-color: rgba(0, 0, 0, 0.349999994);
  flex-shrink: 0;
}
.login-page-GNc .auto-group-2ppl-aeC .group-6-hyi {
  width: 38.3rem;
  height: 25.9rem;
  position: absolute;
  left: 1.2rem;
  top: 19rem;
}
.login-page-GNc .auto-group-2ppl-aeC .group-6-hyi .untitled-1-2-qKE {
  width: 25.3404rem;
  height: 25.9rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.login-page-GNc .auto-group-2ppl-aeC .group-6-hyi .cryptofibank-mTn {
  width: 19.4rem;
  height: 3.8rem;
  position: absolute;
  left: 18.9rem;
  top: 10.2rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Sansita One, 'Source Sans Pro';
  white-space: nowrap;
}
.login-page-GNc .auto-group-2ppl-aeC .the-cryptofibank-login-page-welcomes-you-to-a-secure-gateway-for-accessing-your-financial-assets-EcG {
  width: 35.9rem;
  height: 9.2rem;
  position: absolute;
  left: 8.1rem;
  top: 40.4rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5168750763;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
}
.login-page-GNc .auto-group-2ppl-aeC .auto-group-2ppl-aeC-bg {
  width: 50rem;
  height: 80rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:0c943cd48414699cb6a390e4cbf57b91138f97ac');
}
.login-page-GNc .auto-group-73p6-xwa {
  margin-top: 3.1rem;
  width: 40.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.login-page-GNc .auto-group-73p6-xwa .icon-park-close-soe {
  margin: 0rem 0rem 3.5rem 38.6rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.login-page-GNc .auto-group-73p6-xwa .sign-in-nfi {
  margin: 0rem 0.8rem 1.2rem 0rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.5168750763;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-page-GNc .auto-group-73p6-xwa .to-stay-in-touch-with-us-please-sign-in-to-your-cryptofibank-WLp {
  margin: 0rem 0.5rem 5.3rem 0rem;
  max-width: 34.3rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5168750763;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.login-page-GNc .auto-group-73p6-xwa .auto-group-7ent-BC4 {
  margin: 0rem 0.4rem 2.5rem 0rem;
  box-sizing: border-box;
  padding: 1.4rem 25.5rem 1.1rem 2.45rem;
  width: calc(100% - 0.4rem);
  display: flex;
  align-items: center;
  border: solid 0.15rem #afafaf;
  border-radius: 1rem;
  flex-shrink: 0;
}
.login-page-GNc .auto-group-73p6-xwa .auto-group-7ent-BC4 .fluent-person-20-filled-DeY {
  margin: 0rem 1.85rem 0.2rem 0rem;
  width: 2.1rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.login-page-GNc .auto-group-73p6-xwa .auto-group-7ent-BC4 .username-6TS {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5168750551;
  color: #afafaf;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-page-GNc .auto-group-73p6-xwa .auto-group-gmtw-YqE {
  margin: 0rem 0.4rem 1.1rem 0rem;
  box-sizing: border-box;
  padding: 1.325rem 25.65rem 1.1rem 2.5rem;
  width: calc(100% - 0.4rem);
  display: flex;
  align-items: center;
  border: solid 0.15rem #afafaf;
  border-radius: 1rem;
  flex-shrink: 0;
}
.login-page-GNc .auto-group-73p6-xwa .auto-group-gmtw-YqE .mdi-password-nzU {
  margin: 0rem 2.05rem 0.25rem 0rem;
  width: 2rem;
  height: 2.625rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.login-page-GNc .auto-group-73p6-xwa .auto-group-gmtw-YqE .password-HRS {
  margin-top: 0.075rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5168750551;
  color: #afafaf;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-page-GNc .auto-group-73p6-xwa .group-8-tw2 {
  margin: 0rem 0.4rem 1.8rem 27.1rem;
  width: calc(100% - 27.5rem);
  display: flex;
  align-items: center;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.login-page-GNc .auto-group-73p6-xwa .group-8-tw2 .rectangle-4-mzp {
  margin-right: 1.7rem;
  width: 2.2rem;
  height: 2.2rem;
  border: solid 0.2rem #d9a648;
  box-sizing: border-box;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.login-page-GNc .auto-group-73p6-xwa .group-8-tw2 .remember-me-dGL {
  margin-bottom: 0.1rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-page-GNc .auto-group-73p6-xwa .group-9-sRa {
  margin: 0rem 0.4rem 2.3rem 0rem;
  width: 40.2rem;
  height: 5.3rem;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 800;
  line-height: 1.5168750069;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9a648;
  border-radius: 2.65rem;
  flex-shrink: 0;
}
.login-page-GNc .auto-group-73p6-xwa .forgot-password-Zxc {
  margin: 0rem 0.2rem 0.9rem 0rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5168750551;
  color: #ecbd27;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-page-GNc .auto-group-73p6-xwa .didnt-have-an-account-create-an-account-eUG {
  margin: 0rem 0.2rem 0.9rem 0rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5168750551;
  color: #ecbd27;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.login-page-GNc .auto-group-73p6-xwa .didnt-have-an-account-create-an-account-eUG .didnt-have-an-account-create-an-account-eUG-sub-0 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5168750551;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.login-page-GNc .auto-group-73p6-xwa .didnt-have-an-account-create-an-account-eUG .didnt-have-an-account-create-an-account-eUG-sub-1 {
}
.login-page-GNc .auto-group-73p6-xwa .auto-group-qjcy-8AU {
  margin: 0rem 4.3rem 3.7rem 4rem;
  width: calc(100% - 8.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.login-page-GNc .auto-group-73p6-xwa .auto-group-qjcy-8AU .line-3-PMJ {
  margin: 0.6rem 0.7rem 0rem 0rem;
  width: 10.6rem;
  height: 0.1rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
  flex-shrink: 0;
}
.login-page-GNc .auto-group-73p6-xwa .auto-group-qjcy-8AU .or-continue-with-3Rr {
  margin-right: 0.5rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.26;
  color: rgba(0, 0, 0, 0.5);
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-page-GNc .auto-group-73p6-xwa .auto-group-qjcy-8AU .line-4-W4Y {
  margin-top: 0.6rem;
  width: 10.6rem;
  height: 0.1rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
  flex-shrink: 0;
}
.login-page-GNc .auto-group-73p6-xwa .frame-13-Aun {
  margin: 0rem 15.2rem 0rem 14.9rem;
  width: calc(100% - 30.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.login-page-GNc .auto-group-73p6-xwa .frame-13-Aun .group-6-4VN {
  margin-right: 2.5rem;
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.login-page-GNc .auto-group-73p6-xwa .frame-13-Aun .group-5-MUU {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
