
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.lottery-page-g1e {
  width: 100%;
  height: 480.8rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.lottery-page-g1e .line-6-13v {
  width: 46.9rem;
  height: 0rem;
  position: absolute;
  left: 48.6rem;
  top: 84.7rem;
  object-fit: contain;
  vertical-align: top;
}
.lottery-page-g1e .auto-group-r34k-vgg {
  box-sizing: border-box;
  padding: 4rem 11.9rem 12.1rem 12rem;
  width: 144rem;
  height: 332.3rem;
  position: absolute;
  left: 0;
  top: 84.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.lottery-page-g1e .auto-group-r34k-vgg .group-75-C8Q {
  margin: 0rem 5.8rem 8.4rem 5.8rem;
  width: calc(100% - 11.6rem);
  height: 20.1rem;
  display: flex;
  column-gap: 2rem;
  align-items: center;
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-r34k-vgg .group-75-C8Q .group-70-hL4 {
  box-sizing: border-box;
  padding-bottom: 6.7rem;
  width: 20.1rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-r34k-vgg .group-75-C8Q .group-70-hL4 .auto-group-nayn-qSG {
  margin-bottom: 2.3rem;
  width: 100%;
  height: 5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fbbc04;
  border-radius: 0.5rem 0.5rem 0 0;
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-r34k-vgg .group-75-C8Q .group-70-hL4 .th-of-every-month-6NC {
  margin-left: 0.8rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.6818750381;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-r34k-vgg .group-75-C8Q .group-70-hL4 .th-of-every-month-6NC .th-of-every-month-6NC-sub-0 {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.6827720501;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.lottery-page-g1e .auto-group-r34k-vgg .group-75-C8Q .group-70-hL4 .th-of-every-month-6NC .th-of-every-month-6NC-sub-1 {
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.6827720501;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.lottery-page-g1e .auto-group-r34k-vgg .group-75-C8Q .group-71-tSU {
  box-sizing: border-box;
  padding-bottom: 5.1rem;
  width: 20.1rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-r34k-vgg .group-75-C8Q .group-71-tSU .auto-group-mjet-pb2 {
  margin-bottom: 3.9rem;
  width: 100%;
  height: 5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fbbc04;
  border-radius: 0.5rem 0.5rem 0 0;
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-r34k-vgg .group-75-C8Q .group-71-tSU .item-5500-uMa {
  text-align: center;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.6827720501;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-r34k-vgg .group-75-C8Q .group-72-PnY {
  box-sizing: border-box;
  padding-bottom: 5.1rem;
  width: 20.1rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-r34k-vgg .group-75-C8Q .group-72-PnY .auto-group-teyy-912 {
  margin-bottom: 3.9rem;
  width: 100%;
  height: 5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fbbc04;
  border-radius: 0.5rem 0.5rem 0 0;
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-r34k-vgg .group-75-C8Q .group-72-PnY .item-5000-EHN {
  text-align: center;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.6827720501;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-r34k-vgg .group-75-C8Q .group-73-Kpc {
  box-sizing: border-box;
  padding-bottom: 5.1rem;
  width: 20.1rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-r34k-vgg .group-75-C8Q .group-73-Kpc .auto-group-wabj-536 {
  margin-bottom: 3.9rem;
  width: 100%;
  height: 5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fbbc04;
  border-radius: 0.5rem 0.5rem 0 0;
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-r34k-vgg .group-75-C8Q .group-73-Kpc .item-1-kQ8 {
  text-align: center;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.6827720501;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-r34k-vgg .group-75-C8Q .group-74-rTA {
  box-sizing: border-box;
  padding-bottom: 5.1rem;
  width: 20.1rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-r34k-vgg .group-75-C8Q .group-74-rTA .auto-group-egqy-b9r {
  margin-bottom: 3.9rem;
  width: 100%;
  height: 5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fbbc04;
  border-radius: 0.5rem 0.5rem 0 0;
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-r34k-vgg .group-75-C8Q .group-74-rTA .item-250-fQc {
  text-align: center;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.6827720501;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 {
  margin-right: 0.6rem;
  width: 119.5rem;
  height: 103.8rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  background-color: #ecbd27;
  border-radius: 1rem 1rem 0 0;
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .rectangle-51-dEx {
  width: 119.5rem;
  height: 17.5rem;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  background-color: #000000;
  border-radius: 1rem 1rem 0 0;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-77-LfA {
  width: 99.4rem;
  height: 21.1297rem;
  position: absolute;
  left: 10.1rem;
  top: -2.6rem;
  display: flex;
  align-items: center;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-77-LfA .two-old-movie-tickets-isolated-removebg-preview-1-fBe {
  margin: 1.58rem 3.9rem 0rem 0rem;
  width: 20rem;
  height: 13.3099rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-77-LfA .two-old-movie-tickets-isolated-removebg-preview-2-XzY {
  margin: 0rem 4.085rem 0.851rem 0rem;
  width: 23.6799rem;
  height: 20.279rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-77-LfA .two-old-movie-tickets-isolated-removebg-preview-3-Etx {
  margin: 1.033rem 4.115rem 0rem 0rem;
  width: 23.6206rem;
  height: 20.0963rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-77-LfA .two-old-movie-tickets-isolated-removebg-preview-4-woN {
  margin-top: 0.2333rem;
  width: 20rem;
  height: 13.3099rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .rectangle-52-4NC {
  width: 119.5rem;
  height: 17.5rem;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1rem 1rem 0 0;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-78-Aw2 {
  width: 61.7rem;
  height: 8.9rem;
  position: absolute;
  left: 28.9rem;
  top: 4.1rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-78-Aw2 .select-buy-your-ticket-hg4 {
  width: 46.7rem;
  height: 6.4rem;
  position: absolute;
  left: 7.3rem;
  top: 0;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.7690000534;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-78-Aw2 .select-buy-your-ticket-hg4 .select-buy-your-ticket-hg4-sub-0 {
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-78-Aw2 .select-buy-your-ticket-hg4 .select-buy-your-ticket-hg4-sub-1 {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.7690000534;
  color: #fbbc04;
  font-family: Roboto, 'Source Sans Pro';
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-78-Aw2 .buy-with-the-price-of-just-one-dollar-and-win-a-grand-prize-of-five-thousand-dollars-2br {
  width: 61.7rem;
  height: 3.1rem;
  position: absolute;
  left: 0;
  top: 5.8rem;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.7690001095;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .rectangle-53-JZN {
  width: 35rem;
  height: 83.1rem;
  position: absolute;
  left: 4.3rem;
  top: 22.8rem;
  background-color: #ffffff;
  border-radius: 1rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .rectangle-58-dLk {
  width: 35rem;
  height: 83.1rem;
  position: absolute;
  left: 41.1rem;
  top: 22.8rem;
  background-color: #ffffff;
  border-radius: 1rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .rectangle-59-xtp {
  width: 35rem;
  height: 83.1rem;
  position: absolute;
  left: 77.9rem;
  top: 22.8rem;
  background-color: #ffffff;
  border-radius: 1rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .rectangle-56-uJG {
  width: 3.3rem;
  height: 86.3rem;
  position: absolute;
  left: 116.2rem;
  top: 17.5rem;
  background-color: #ececec;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .rectangle-57-2tg {
  width: 2.5rem;
  height: 65.7rem;
  position: absolute;
  left: 116.6rem;
  top: 20rem;
  background-color: #afafaf;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .ic-round-play-arrow-a9W {
  width: 1.2361rem;
  height: 1.0145rem;
  position: absolute;
  left: 117.2818rem;
  top: 101.8rem;
  object-fit: contain;
  vertical-align: top;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .ic-round-play-arrow-hV2 {
  width: 1.2361rem;
  height: 1.0145rem;
  position: absolute;
  left: 117.282rem;
  top: 18.0855rem;
  object-fit: contain;
  vertical-align: top;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .rectangle-60-q5S {
  width: 35rem;
  height: 7.2rem;
  position: absolute;
  left: 4.3rem;
  top: 22.8rem;
  background-color: #000000;
  border-radius: 1rem 1rem 0 0;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .rectangle-61-MZa {
  width: 35rem;
  height: 7.2rem;
  position: absolute;
  left: 41.1rem;
  top: 22.8rem;
  background-color: #000000;
  border-radius: 1rem 1rem 0 0;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .rectangle-62-HTE {
  width: 35rem;
  height: 7.2rem;
  position: absolute;
  left: 77.9rem;
  top: 22.8rem;
  background-color: #000000;
  border-radius: 1rem 1rem 0 0;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .select-all-R3e {
  width: 8.6rem;
  height: 3.6rem;
  position: absolute;
  left: 7.5rem;
  top: 24.8rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.7690000534;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .select-all-KPv {
  width: 8.6rem;
  height: 3.6rem;
  position: absolute;
  left: 44.4rem;
  top: 24.8rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.7690000534;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .select-all-dvQ {
  width: 8.6rem;
  height: 3.6rem;
  position: absolute;
  left: 81.3rem;
  top: 24.8rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.7690000534;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .rectangle-63-Z3N {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 32.3rem;
  top: 24.9rem;
  border: solid 0.2rem #ffffff;
  box-sizing: border-box;
  border-radius: 0.3rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .rectangle-64-GiU {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 69.2rem;
  top: 24.9rem;
  border: solid 0.2rem #ffffff;
  box-sizing: border-box;
  border-radius: 0.3rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .rectangle-65-zeU {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 106.1rem;
  top: 24.9rem;
  border: solid 0.2rem #ffffff;
  box-sizing: border-box;
  border-radius: 0.3rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-79-vY8 {
  width: 30.9rem;
  height: 6.1rem;
  position: absolute;
  left: 6.2rem;
  top: 32.3rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-79-vY8 .item-025874136-THA {
  width: 16.4rem;
  height: 5.7rem;
  position: absolute;
  left: 1.3rem;
  top: 0.4rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-79-vY8 .rectangle-65-m2x {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 26.1rem;
  top: 1.5rem;
  border: solid 0.2rem #afafaf;
  box-sizing: border-box;
  border-radius: 0.3rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-79-vY8 .rectangle-64-VUk {
  width: 30.9rem;
  height: 6rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #a5a5a5;
  box-sizing: border-box;
  border-radius: 0.7rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-79-vY8 .rectangle-66-RtC {
  width: 30.9rem;
  height: 6rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #a5a5a5;
  box-sizing: border-box;
  border-radius: 0.7rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-80-N2k {
  width: 30.9rem;
  height: 6.1rem;
  position: absolute;
  left: 6.2rem;
  top: 39.5rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-80-N2k .item-815894137-gp8 {
  width: 16.4rem;
  height: 5.7rem;
  position: absolute;
  left: 1.3rem;
  top: 0.4rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-80-N2k .rectangle-65-yoE {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 26.1rem;
  top: 1.5rem;
  border: solid 0.2rem #afafaf;
  box-sizing: border-box;
  border-radius: 0.3rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-80-N2k .rectangle-64-W2U {
  width: 30.9rem;
  height: 6rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #a5a5a5;
  box-sizing: border-box;
  border-radius: 0.7rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-88-dct {
  width: 30.9rem;
  height: 6.1rem;
  position: absolute;
  left: 43.1rem;
  top: 32.3rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-88-dct .item-815894137-ZmS {
  width: 16.4rem;
  height: 5.7rem;
  position: absolute;
  left: 1.3rem;
  top: 0.4rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-88-dct .rectangle-65-4y6 {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 26.1rem;
  top: 1.5rem;
  border: solid 0.2rem #afafaf;
  box-sizing: border-box;
  border-radius: 0.3rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-88-dct .rectangle-64-nPJ {
  width: 30.9rem;
  height: 6rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #a5a5a5;
  box-sizing: border-box;
  border-radius: 0.7rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-97-J6k {
  width: 30.9rem;
  height: 6.1rem;
  position: absolute;
  left: 80.1rem;
  top: 32.3rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-97-J6k .item-815894137-EFJ {
  width: 16.4rem;
  height: 5.7rem;
  position: absolute;
  left: 1.3rem;
  top: 0.4rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-97-J6k .rectangle-65-L3S {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 26.1rem;
  top: 1.5rem;
  border: solid 0.2rem #afafaf;
  box-sizing: border-box;
  border-radius: 0.3rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-97-J6k .rectangle-64-f5i {
  width: 30.9rem;
  height: 6rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #a5a5a5;
  box-sizing: border-box;
  border-radius: 0.7rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-98-CLY {
  width: 30.9rem;
  height: 6.1rem;
  position: absolute;
  left: 80.1rem;
  top: 39.5rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-98-CLY .item-815894137-Kvx {
  width: 16.4rem;
  height: 5.7rem;
  position: absolute;
  left: 1.3rem;
  top: 0.4rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-98-CLY .rectangle-65-qeQ {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 26.1rem;
  top: 1.5rem;
  border: solid 0.2rem #afafaf;
  box-sizing: border-box;
  border-radius: 0.3rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-98-CLY .rectangle-64-Agg {
  width: 30.9rem;
  height: 6rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #a5a5a5;
  box-sizing: border-box;
  border-radius: 0.7rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-99-tcg {
  width: 30.9rem;
  height: 6.1rem;
  position: absolute;
  left: 80.1rem;
  top: 46.7rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-99-tcg .item-815894137-pFS {
  width: 16.4rem;
  height: 5.7rem;
  position: absolute;
  left: 1.3rem;
  top: 0.4rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-99-tcg .rectangle-65-JRW {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 26.1rem;
  top: 1.5rem;
  border: solid 0.2rem #afafaf;
  box-sizing: border-box;
  border-radius: 0.3rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-99-tcg .rectangle-64-DHa {
  width: 30.9rem;
  height: 6rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #a5a5a5;
  box-sizing: border-box;
  border-radius: 0.7rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-100-8fS {
  width: 30.9rem;
  height: 6.1rem;
  position: absolute;
  left: 80.1rem;
  top: 53.9rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-100-8fS .item-815894137-ffN {
  width: 16.4rem;
  height: 5.7rem;
  position: absolute;
  left: 1.3rem;
  top: 0.4rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-100-8fS .rectangle-65-aGY {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 26.1rem;
  top: 1.5rem;
  border: solid 0.2rem #afafaf;
  box-sizing: border-box;
  border-radius: 0.3rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-100-8fS .rectangle-64-JTS {
  width: 30.9rem;
  height: 6rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #a5a5a5;
  box-sizing: border-box;
  border-radius: 0.7rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-101-qCU {
  width: 30.9rem;
  height: 6.1rem;
  position: absolute;
  left: 80.1rem;
  top: 61.1rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-101-qCU .item-815894137-MwW {
  width: 16.4rem;
  height: 5.7rem;
  position: absolute;
  left: 1.3rem;
  top: 0.4rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-101-qCU .rectangle-65-UFS {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 26.1rem;
  top: 1.5rem;
  border: solid 0.2rem #afafaf;
  box-sizing: border-box;
  border-radius: 0.3rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-101-qCU .rectangle-64-bqr {
  width: 30.9rem;
  height: 6rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #a5a5a5;
  box-sizing: border-box;
  border-radius: 0.7rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-102-8qn {
  width: 30.9rem;
  height: 6.1rem;
  position: absolute;
  left: 80.1rem;
  top: 68.3rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-102-8qn .item-815894137-sYU {
  width: 16.4rem;
  height: 5.7rem;
  position: absolute;
  left: 1.3rem;
  top: 0.4rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-102-8qn .rectangle-65-ahn {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 26.1rem;
  top: 1.5rem;
  border: solid 0.2rem #afafaf;
  box-sizing: border-box;
  border-radius: 0.3rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-102-8qn .rectangle-64-uVA {
  width: 30.9rem;
  height: 6rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #a5a5a5;
  box-sizing: border-box;
  border-radius: 0.7rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-103-qtc {
  width: 30.9rem;
  height: 6.1rem;
  position: absolute;
  left: 80.1rem;
  top: 75.5rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-103-qtc .item-815894137-yzp {
  width: 16.4rem;
  height: 5.7rem;
  position: absolute;
  left: 1.3rem;
  top: 0.4rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-103-qtc .rectangle-65-tbz {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 26.1rem;
  top: 1.5rem;
  border: solid 0.2rem #afafaf;
  box-sizing: border-box;
  border-radius: 0.3rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-103-qtc .rectangle-64-1gc {
  width: 30.9rem;
  height: 6rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #a5a5a5;
  box-sizing: border-box;
  border-radius: 0.7rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-104-jcc {
  width: 30.9rem;
  height: 6.1rem;
  position: absolute;
  left: 80.1rem;
  top: 82.7rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-104-jcc .item-815894137-GsS {
  width: 16.4rem;
  height: 5.7rem;
  position: absolute;
  left: 1.3rem;
  top: 0.4rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-104-jcc .rectangle-65-adE {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 26.1rem;
  top: 1.5rem;
  border: solid 0.2rem #afafaf;
  box-sizing: border-box;
  border-radius: 0.3rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-104-jcc .rectangle-64-K52 {
  width: 30.9rem;
  height: 6rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #a5a5a5;
  box-sizing: border-box;
  border-radius: 0.7rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-105-rak {
  width: 30.9rem;
  height: 6.1rem;
  position: absolute;
  left: 80.1rem;
  top: 89.9rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-105-rak .item-815894137-oF6 {
  width: 16.4rem;
  height: 5.7rem;
  position: absolute;
  left: 1.3rem;
  top: 0.4rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-105-rak .rectangle-65-WvC {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 26.1rem;
  top: 1.5rem;
  border: solid 0.2rem #afafaf;
  box-sizing: border-box;
  border-radius: 0.3rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-105-rak .rectangle-64-T4k {
  width: 30.9rem;
  height: 6rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #a5a5a5;
  box-sizing: border-box;
  border-radius: 0.7rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-108-zKa {
  width: 30.9rem;
  height: 6.1rem;
  position: absolute;
  left: 80.1rem;
  top: 97.1rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-108-zKa .item-815894137-jHA {
  width: 16.4rem;
  height: 5.7rem;
  position: absolute;
  left: 1.3rem;
  top: 0.4rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-108-zKa .rectangle-65-qqz {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 26.1rem;
  top: 1.5rem;
  border: solid 0.2rem #afafaf;
  box-sizing: border-box;
  border-radius: 0.3rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-108-zKa .rectangle-64-AtG {
  width: 30.9rem;
  height: 6rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #a5a5a5;
  box-sizing: border-box;
  border-radius: 0.7rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-89-htC {
  width: 30.9rem;
  height: 6.1rem;
  position: absolute;
  left: 43.1rem;
  top: 39.5rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-89-htC .item-815894137-EdE {
  width: 16.4rem;
  height: 5.7rem;
  position: absolute;
  left: 1.3rem;
  top: 0.4rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-89-htC .rectangle-65-LRN {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 26.1rem;
  top: 1.5rem;
  border: solid 0.2rem #afafaf;
  box-sizing: border-box;
  border-radius: 0.3rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-89-htC .rectangle-64-4cG {
  width: 30.9rem;
  height: 6rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #a5a5a5;
  box-sizing: border-box;
  border-radius: 0.7rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-90-11i {
  width: 30.9rem;
  height: 6.1rem;
  position: absolute;
  left: 43.1rem;
  top: 46.7rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-90-11i .item-815894137-Wz4 {
  width: 16.4rem;
  height: 5.7rem;
  position: absolute;
  left: 1.3rem;
  top: 0.4rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-90-11i .rectangle-65-S72 {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 26.1rem;
  top: 1.5rem;
  border: solid 0.2rem #afafaf;
  box-sizing: border-box;
  border-radius: 0.3rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-90-11i .rectangle-64-91S {
  width: 30.9rem;
  height: 6rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #a5a5a5;
  box-sizing: border-box;
  border-radius: 0.7rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-91-2qv {
  width: 30.9rem;
  height: 6.1rem;
  position: absolute;
  left: 43.1rem;
  top: 53.9rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-91-2qv .item-815894137-Ka8 {
  width: 16.4rem;
  height: 5.7rem;
  position: absolute;
  left: 1.3rem;
  top: 0.4rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-91-2qv .rectangle-65-ZjN {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 26.1rem;
  top: 1.5rem;
  border: solid 0.2rem #afafaf;
  box-sizing: border-box;
  border-radius: 0.3rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-91-2qv .rectangle-64-Gtg {
  width: 30.9rem;
  height: 6rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #a5a5a5;
  box-sizing: border-box;
  border-radius: 0.7rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-92-odi {
  width: 30.9rem;
  height: 6.1rem;
  position: absolute;
  left: 43.1rem;
  top: 61.1rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-92-odi .item-815894137-Krx {
  width: 16.4rem;
  height: 5.7rem;
  position: absolute;
  left: 1.3rem;
  top: 0.4rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-92-odi .rectangle-65-RQC {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 26.1rem;
  top: 1.5rem;
  border: solid 0.2rem #afafaf;
  box-sizing: border-box;
  border-radius: 0.3rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-92-odi .rectangle-64-w7e {
  width: 30.9rem;
  height: 6rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #a5a5a5;
  box-sizing: border-box;
  border-radius: 0.7rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-93-T5z {
  width: 30.9rem;
  height: 6.1rem;
  position: absolute;
  left: 43.1rem;
  top: 68.3rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-93-T5z .item-815894137-NCx {
  width: 16.4rem;
  height: 5.7rem;
  position: absolute;
  left: 1.3rem;
  top: 0.4rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-93-T5z .rectangle-65-4Lg {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 26.1rem;
  top: 1.5rem;
  border: solid 0.2rem #afafaf;
  box-sizing: border-box;
  border-radius: 0.3rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-93-T5z .rectangle-64-aZv {
  width: 30.9rem;
  height: 6rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #a5a5a5;
  box-sizing: border-box;
  border-radius: 0.7rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-94-KGc {
  width: 30.9rem;
  height: 6.1rem;
  position: absolute;
  left: 43.1rem;
  top: 75.5rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-94-KGc .item-815894137-4EC {
  width: 16.4rem;
  height: 5.7rem;
  position: absolute;
  left: 1.3rem;
  top: 0.4rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-94-KGc .rectangle-65-NEt {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 26.1rem;
  top: 1.5rem;
  border: solid 0.2rem #afafaf;
  box-sizing: border-box;
  border-radius: 0.3rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-94-KGc .rectangle-64-VKW {
  width: 30.9rem;
  height: 6rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #a5a5a5;
  box-sizing: border-box;
  border-radius: 0.7rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-95-dAp {
  width: 30.9rem;
  height: 6.1rem;
  position: absolute;
  left: 43.1rem;
  top: 82.7rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-95-dAp .item-815894137-ZaG {
  width: 16.4rem;
  height: 5.7rem;
  position: absolute;
  left: 1.3rem;
  top: 0.4rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-95-dAp .rectangle-65-s5A {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 26.1rem;
  top: 1.5rem;
  border: solid 0.2rem #afafaf;
  box-sizing: border-box;
  border-radius: 0.3rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-95-dAp .rectangle-64-CNL {
  width: 30.9rem;
  height: 6rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #a5a5a5;
  box-sizing: border-box;
  border-radius: 0.7rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-96-8mn {
  width: 30.9rem;
  height: 6.1rem;
  position: absolute;
  left: 43.1rem;
  top: 89.9rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-96-8mn .item-815894137-G7J {
  width: 16.4rem;
  height: 5.7rem;
  position: absolute;
  left: 1.3rem;
  top: 0.4rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-96-8mn .rectangle-65-Ng8 {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 26.1rem;
  top: 1.5rem;
  border: solid 0.2rem #afafaf;
  box-sizing: border-box;
  border-radius: 0.3rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-96-8mn .rectangle-64-Jpg {
  width: 30.9rem;
  height: 6rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #a5a5a5;
  box-sizing: border-box;
  border-radius: 0.7rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-107-qZi {
  width: 30.9rem;
  height: 6.1rem;
  position: absolute;
  left: 43.1rem;
  top: 97.1rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-107-qZi .item-815894137-myA {
  width: 16.4rem;
  height: 5.7rem;
  position: absolute;
  left: 1.3rem;
  top: 0.4rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-107-qZi .rectangle-65-gKS {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 26.1rem;
  top: 1.5rem;
  border: solid 0.2rem #afafaf;
  box-sizing: border-box;
  border-radius: 0.3rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-107-qZi .rectangle-64-QWL {
  width: 30.9rem;
  height: 6rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #a5a5a5;
  box-sizing: border-box;
  border-radius: 0.7rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-81-YMe {
  width: 30.9rem;
  height: 6.1rem;
  position: absolute;
  left: 6.2rem;
  top: 46.7rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-81-YMe .item-725974335-5cU {
  width: 16.4rem;
  height: 5.7rem;
  position: absolute;
  left: 1.3rem;
  top: 0.4rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #fbbc04;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-81-YMe .rectangle-65-Pt4 {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 26.1rem;
  top: 1.5rem;
  border: solid 0.2rem #fbbc04;
  box-sizing: border-box;
  border-radius: 0.3rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-81-YMe .rectangle-64-7ZA {
  width: 30.9rem;
  height: 6rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #fbbc04;
  box-sizing: border-box;
  border-radius: 0.7rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-81-YMe .pajamas-check-Edn {
  width: 1.5628rem;
  height: 1.1868rem;
  position: absolute;
  left: 26.8683rem;
  top: 2.4876rem;
  object-fit: contain;
  vertical-align: top;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-82-A1e {
  width: 30.9rem;
  height: 6.1rem;
  position: absolute;
  left: 6.2rem;
  top: 53.9rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-82-A1e .item-525684124-Uo2 {
  width: 16.4rem;
  height: 5.7rem;
  position: absolute;
  left: 1.3rem;
  top: 0.4rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #fbbc04;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-82-A1e .rectangle-65-ar4 {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 26.1rem;
  top: 1.5rem;
  border: solid 0.2rem #fbbc04;
  box-sizing: border-box;
  border-radius: 0.3rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-82-A1e .rectangle-64-iBa {
  width: 30.9rem;
  height: 6rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #fbbc04;
  box-sizing: border-box;
  border-radius: 0.7rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-82-A1e .pajamas-check-FSQ {
  width: 1.5628rem;
  height: 1.1868rem;
  position: absolute;
  left: 26.8683rem;
  top: 2.3876rem;
  object-fit: contain;
  vertical-align: top;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-83-ytC {
  width: 30.9rem;
  height: 6.1rem;
  position: absolute;
  left: 6.2rem;
  top: 61.1rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-83-ytC .item-745754126-vHe {
  width: 16.4rem;
  height: 5.7rem;
  position: absolute;
  left: 1.3rem;
  top: 0.4rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #fbbc04;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-83-ytC .rectangle-65-q9i {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 26.1rem;
  top: 1.5rem;
  border: solid 0.2rem #fbbc04;
  box-sizing: border-box;
  border-radius: 0.3rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-83-ytC .rectangle-64-kXa {
  width: 30.9rem;
  height: 6rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #fbbc04;
  box-sizing: border-box;
  border-radius: 0.7rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-83-ytC .pajamas-check-VEG {
  width: 1.5628rem;
  height: 1.1868rem;
  position: absolute;
  left: 26.8683rem;
  top: 2.3876rem;
  object-fit: contain;
  vertical-align: top;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-84-2EC {
  width: 30.9rem;
  height: 6.1rem;
  position: absolute;
  left: 6.2rem;
  top: 68.3rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-84-2EC .item-126844199-xde {
  width: 16.4rem;
  height: 5.7rem;
  position: absolute;
  left: 1.3rem;
  top: 0.4rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-84-2EC .rectangle-65-5CU {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 26.1rem;
  top: 1.5rem;
  border: solid 0.2rem #afafaf;
  box-sizing: border-box;
  border-radius: 0.3rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-84-2EC .rectangle-64-PDA {
  width: 30.9rem;
  height: 6rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #a5a5a5;
  box-sizing: border-box;
  border-radius: 0.7rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-85-KMi {
  width: 30.9rem;
  height: 6.1rem;
  position: absolute;
  left: 6.2rem;
  top: 75.5rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-85-KMi .item-827879118-3oW {
  width: 16.4rem;
  height: 5.7rem;
  position: absolute;
  left: 1.3rem;
  top: 0.4rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-85-KMi .rectangle-65-9rY {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 26.1rem;
  top: 1.5rem;
  border: solid 0.2rem #afafaf;
  box-sizing: border-box;
  border-radius: 0.3rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-85-KMi .rectangle-64-Udv {
  width: 30.9rem;
  height: 6rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #a5a5a5;
  box-sizing: border-box;
  border-radius: 0.7rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-86-cVE {
  width: 30.9rem;
  height: 6.1rem;
  position: absolute;
  left: 6.2rem;
  top: 82.7rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-86-cVE .item-844774433-Mhi {
  width: 16.4rem;
  height: 5.7rem;
  position: absolute;
  left: 1.3rem;
  top: 0.4rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-86-cVE .rectangle-65-sRA {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 26.1rem;
  top: 1.5rem;
  border: solid 0.2rem #afafaf;
  box-sizing: border-box;
  border-radius: 0.3rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-86-cVE .rectangle-64-PeQ {
  width: 30.9rem;
  height: 6rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #a5a5a5;
  box-sizing: border-box;
  border-radius: 0.7rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-87-8M6 {
  width: 30.9rem;
  height: 6.1rem;
  position: absolute;
  left: 6.2rem;
  top: 89.9rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-87-8M6 .item-313644235-TPN {
  width: 16.4rem;
  height: 5.7rem;
  position: absolute;
  left: 1.3rem;
  top: 0.4rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-87-8M6 .rectangle-65-AHn {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 26.1rem;
  top: 1.5rem;
  border: solid 0.2rem #afafaf;
  box-sizing: border-box;
  border-radius: 0.3rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-87-8M6 .rectangle-64-tUg {
  width: 30.9rem;
  height: 6rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #a5a5a5;
  box-sizing: border-box;
  border-radius: 0.7rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-106-1pC {
  width: 30.9rem;
  height: 6.1rem;
  position: absolute;
  left: 6.2rem;
  top: 97.1rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-106-1pC .item-313644235-9Qc {
  width: 16.4rem;
  height: 5.7rem;
  position: absolute;
  left: 1.3rem;
  top: 0.4rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-106-1pC .rectangle-65-4Xa {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 26.1rem;
  top: 1.5rem;
  border: solid 0.2rem #afafaf;
  box-sizing: border-box;
  border-radius: 0.3rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .frame-14-ZF6 .group-106-1pC .rectangle-64-nyN {
  width: 30.9rem;
  height: 6rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #a5a5a5;
  box-sizing: border-box;
  border-radius: 0.7rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-mtwj-szp {
  margin: 0rem 0.6rem 6.5rem 0rem;
  box-sizing: border-box;
  padding: 2.6rem 29.7rem 1.9rem 29.8rem;
  width: 119.5rem;
  height: 14.4rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  background-color: #ecbd27;
  border-radius: 0 0 1rem 1rem;
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-mtwj-szp .group-111-yY4 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-mtwj-szp .group-111-yY4 .group-109-8A4 {
  margin-right: 10rem;
  width: 11.5rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-mtwj-szp .group-111-yY4 .group-109-8A4 .total-price-Gn4 {
  width: 11.5rem;
  height: 4.3rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-mtwj-szp .group-111-yY4 .group-109-8A4 .item-3-zTA {
  width: 4.2rem;
  height: 6.4rem;
  position: absolute;
  left: 0;
  top: 3.5rem;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-mtwj-szp .group-111-yY4 .group-110-71z {
  margin-right: 9.4rem;
  width: 14.9rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-mtwj-szp .group-111-yY4 .group-110-71z .total-quantity-3wE {
  width: 14.9rem;
  height: 4.3rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-mtwj-szp .group-111-yY4 .group-110-71z .item-03-Zeg {
  width: 4.2rem;
  height: 6.4rem;
  position: absolute;
  left: 0;
  top: 3.5rem;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-mtwj-szp .group-111-yY4 .frame-5-gDW {
  margin: 1.5rem 0rem 2.3rem 0rem;
  width: 14.2rem;
  height: calc(100% - 3.8rem);
  font-size: 1.8rem;
  font-weight: 800;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-yulc-fr8 {
  margin: 0rem 46.5rem 5.5rem 46.5rem;
  width: calc(100% - 93rem);
  height: 4.3rem;
  position: relative;
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-yulc-fr8 .line-7-PXE {
  width: 26.1rem;
  height: 0;
  position: absolute;
  left: 0.3rem;
  top: 4.2rem;
  object-fit: contain;
  vertical-align: top;
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-yulc-fr8 .ticket-inquiry-XtL {
  width: 27.1rem;
  height: 4.3rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.1725;
  text-transform: uppercase;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-qzag-3Lt {
  margin-bottom: 6.4rem;
  width: 100%;
  height: 59.4rem;
  position: relative;
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-qzag-3Lt .rectangle-68-GzL {
  width: 120rem;
  height: 59.4rem;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-qzag-3Lt .rectangle-69-oDa {
  width: 60rem;
  height: 7.9rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fbbc04;
  border-radius: 1rem 0 0 0;
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-qzag-3Lt .rectangle-70-YBA {
  width: 60.1rem;
  height: 7.9rem;
  position: absolute;
  left: 60rem;
  top: 0;
  border: solid 0.1rem #a5a5a5;
  box-sizing: border-box;
  border-radius: 1rem 0 0 0;
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-qzag-3Lt .inquire-by-ticket-number-U4p {
  width: 27.5rem;
  height: 2.9rem;
  position: absolute;
  left: 16.25rem;
  top: 2.5rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-qzag-3Lt .inquire-by-serial-number-mJp {
  width: 27rem;
  height: 2.9rem;
  position: absolute;
  left: 79.4rem;
  top: 2.5rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-qzag-3Lt .select-the-date-dd-mm-yyyy-Uj2 {
  width: 23.9rem;
  height: 2.2rem;
  position: absolute;
  left: 42.3rem;
  top: 20.1rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-qzag-3Lt .enter-your-ticket-number-yfn {
  width: 20.7rem;
  height: 2.2rem;
  position: absolute;
  left: 42.3rem;
  top: 31.1rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-qzag-3Lt .rectangle-71-5yi {
  width: 47.2rem;
  height: 8.3rem;
  position: absolute;
  left: 40.1rem;
  top: 17.1rem;
  border: solid 0.1rem #a5a5a5;
  box-sizing: border-box;
  border-radius: 0.7rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-qzag-3Lt .rectangle-72-pAc {
  width: 47.2rem;
  height: 8.3rem;
  position: absolute;
  left: 40.1rem;
  top: 28.1rem;
  border: solid 0.1rem #a5a5a5;
  box-sizing: border-box;
  border-radius: 0.7rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-qzag-3Lt .rectangle-73-Kt4 {
  width: 47.2rem;
  height: 8.3rem;
  position: absolute;
  left: 40.1rem;
  top: 39.1rem;
  background-color: #fbbc04;
  border-radius: 0.7rem;
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-qzag-3Lt .simple-line-icons-calender-Fmi {
  width: 4rem;
  height: 3.9991rem;
  position: absolute;
  left: 80.6rem;
  top: 19.3004rem;
  object-fit: contain;
  vertical-align: top;
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-qzag-3Lt .inquire-now-ySp {
  width: 15.3rem;
  height: 2.9rem;
  position: absolute;
  left: 56.1rem;
  top: 42.1rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-wvf2-5Vr {
  margin: 0rem 44.4rem 6.8rem 44.3rem;
  width: calc(100% - 88.7rem);
  height: 4.3rem;
  position: relative;
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-wvf2-5Vr .line-8-zMv {
  width: 30.2rem;
  height: 0;
  position: absolute;
  left: 0.6rem;
  top: 4.1rem;
  object-fit: contain;
  vertical-align: top;
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-wvf2-5Vr .lottery-results-8U8 {
  width: 31.4rem;
  height: 4.3rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.1725;
  text-transform: uppercase;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-qbma-eBa {
  margin-right: 0.1rem;
  width: calc(100% - 0.1rem);
  height: 76.3rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-qbma-eBa .auto-group-tnak-mmz {
  box-sizing: border-box;
  padding: 9rem 3.05rem 6.8rem 5.5rem;
  width: 60rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-qbma-eBa .auto-group-tnak-mmz .competition-icon-1-1-tLp {
  margin: 0rem 2.65rem 5.056rem 0rem;
  width: 15rem;
  height: 14.8438rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-qbma-eBa .auto-group-tnak-mmz .competition-of-lottery-CMW {
  margin: 0rem 2.65rem 10.9rem 0rem;
  max-width: 32.6rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.1725;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-qbma-eBa .auto-group-tnak-mmz .group-114-gGg {
  margin: 0rem 6.1rem 6.7rem 3.4rem;
  width: calc(100% - 9.5rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-qbma-eBa .auto-group-tnak-mmz .group-114-gGg .alarm-icon-1-144 {
  margin: 0.1rem 1.35rem 0rem 0rem;
  width: 2.2rem;
  height: 2.3931rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-qbma-eBa .auto-group-tnak-mmz .group-114-gGg .remaining-time-for-next-draw-vRv {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.1725;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-qbma-eBa .auto-group-tnak-mmz .auto-group-3ecx-2zk {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-qbma-eBa .auto-group-tnak-mmz .auto-group-3ecx-2zk .days-PKW {
  margin-right: 4.4rem;
  max-width: 6rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.6568751335;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-qbma-eBa .auto-group-tnak-mmz .auto-group-3ecx-2zk .days-PKW .days-PKW-sub-0 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.6577587406;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-qbma-eBa .auto-group-tnak-mmz .auto-group-3ecx-2zk .days-PKW .days-PKW-sub-1 {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.6577587406;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-qbma-eBa .auto-group-tnak-mmz .auto-group-3ecx-2zk .hours-Gnc {
  margin-right: 0.05rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.6568751335;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-qbma-eBa .auto-group-tnak-mmz .auto-group-3ecx-2zk .hours-Gnc .hours-Gnc-sub-0 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.6577587406;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-qbma-eBa .auto-group-tnak-mmz .auto-group-3ecx-2zk .hours-Gnc .hours-Gnc-sub-1 {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.6577587406;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-qbma-eBa .auto-group-tnak-mmz .auto-group-3ecx-2zk .auto-group-2nja-Cpg {
  width: 28.6rem;
  height: 6.7rem;
  position: relative;
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-qbma-eBa .auto-group-tnak-mmz .auto-group-3ecx-2zk .auto-group-2nja-Cpg .minutes-9V2 {
  width: 14.7rem;
  height: 6.7rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.6568751335;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-qbma-eBa .auto-group-tnak-mmz .auto-group-3ecx-2zk .auto-group-2nja-Cpg .minutes-9V2 .minutes-9V2-sub-0 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.6577587406;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-qbma-eBa .auto-group-tnak-mmz .auto-group-3ecx-2zk .auto-group-2nja-Cpg .minutes-9V2 .minutes-9V2-sub-1 {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.6577587406;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-qbma-eBa .auto-group-tnak-mmz .auto-group-3ecx-2zk .auto-group-2nja-Cpg .seconds-SsS {
  width: 15.3rem;
  height: 6.7rem;
  position: absolute;
  left: 13.3rem;
  top: 0;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.6568751335;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-qbma-eBa .auto-group-tnak-mmz .auto-group-3ecx-2zk .auto-group-2nja-Cpg .seconds-SsS .seconds-SsS-sub-0 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.6577587406;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-qbma-eBa .auto-group-tnak-mmz .auto-group-3ecx-2zk .auto-group-2nja-Cpg .seconds-SsS .seconds-SsS-sub-1 {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.6577587406;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-qbma-eBa .auto-group-vrxe-uPe {
  margin: 7.1rem 0rem 11rem 0rem;
  width: 60rem;
  height: calc(100% - 18.1rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-qbma-eBa .auto-group-vrxe-uPe .auto-group-tgnk-bnG {
  box-sizing: border-box;
  padding: 0rem 22.3rem 4.3rem 22.5rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-qbma-eBa .auto-group-vrxe-uPe .auto-group-tgnk-bnG .winning-cup-icon-1-tWU {
  margin-bottom: 4.7832rem;
  width: 15rem;
  height: 16.7168rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-qbma-eBa .auto-group-vrxe-uPe .auto-group-tgnk-bnG .winner-NwS {
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.1725;
  text-transform: uppercase;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-qbma-eBa .auto-group-vrxe-uPe .auto-group-ey64-ugU {
  margin-bottom: 5.2rem;
  width: 100%;
  height: 9.1rem;
  position: relative;
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-qbma-eBa .auto-group-vrxe-uPe .auto-group-ey64-ugU .ticket-no-985632147-FEY {
  width: 25.4rem;
  height: 2.9rem;
  position: absolute;
  left: 17.35rem;
  top: 3.1rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.1725;
  text-transform: uppercase;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-qbma-eBa .auto-group-vrxe-uPe .auto-group-ey64-ugU .ticket-no-985632147-FEY .ticket-no-985632147-FEY-sub-0 {
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-qbma-eBa .auto-group-vrxe-uPe .auto-group-ey64-ugU .ticket-no-985632147-FEY .ticket-no-985632147-FEY-sub-1 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1725;
  text-transform: uppercase;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-qbma-eBa .auto-group-vrxe-uPe .auto-group-ey64-ugU .rectangle-76-Coz {
  width: 60rem;
  height: 9.1rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-qbma-eBa .auto-group-vrxe-uPe .group-113-uyJ {
  margin: 0rem 15.7rem 0rem 15.8rem;
  width: calc(100% - 31.5rem);
  height: 13.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-qbma-eBa .auto-group-vrxe-uPe .group-113-uyJ .ellipse-8-1WY {
  margin-right: 4.1rem;
  width: 13.4rem;
  height: 13.4rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-8-bg.png');
  border-radius: 6.7rem;
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-qbma-eBa .auto-group-vrxe-uPe .group-113-uyJ .group-112-6nt {
  margin: 4.2rem 0rem 4.5rem 0rem;
  height: calc(100% - 8.7rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-qbma-eBa .auto-group-vrxe-uPe .group-113-uyJ .group-112-6nt .emily-taylor-dwE {
  margin-bottom: 0.1rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-r34k-vgg .auto-group-qbma-eBa .auto-group-vrxe-uPe .group-113-uyJ .group-112-6nt .australia-kFA {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.lottery-page-g1e .group-76-dZr {
  width: 144rem;
  height: 63.7925rem;
  position: absolute;
  left: 0;
  top: 417rem;
}
.lottery-page-g1e .group-76-dZr .rectangle-32-8Fi {
  width: 144rem;
  height: 52.1847rem;
  position: absolute;
  left: 0;
  top: 11.6078rem;
  background-color: rgba(236, 189, 39, 0.3000000119);
}
.lottery-page-g1e .group-76-dZr .group-20-dyA {
  width: 9.7rem;
  height: 23.6866rem;
  position: absolute;
  left: 74.1rem;
  top: 31.5934rem;
}
.lottery-page-g1e .group-76-dZr .group-20-dyA .company-Lsa {
  margin-bottom: 2.8628rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .group-76-dZr .group-20-dyA .about-us-sMi {
  margin-bottom: 0.8413rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .group-76-dZr .group-20-dyA .contact-us-oFN {
  margin-bottom: 0.8412rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .group-76-dZr .group-20-dyA .career-it8 {
  margin-bottom: 0.8413rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .group-76-dZr .group-20-dyA .lottery-rjS {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .group-76-dZr .group-37-QFA {
  width: 9.7rem;
  height: 14.8042rem;
  position: absolute;
  left: 92.9rem;
  top: 31.5934rem;
}
.lottery-page-g1e .group-76-dZr .group-37-QFA .support-X4t {
  margin-bottom: 2.8628rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .group-76-dZr .group-37-QFA .faqs-TUL {
  margin-bottom: 0.8413rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .group-76-dZr .group-37-QFA .contact-us-Psn {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .group-76-dZr .group-19-8qN {
  width: 15rem;
  height: 23.6866rem;
  position: absolute;
  left: 51.4rem;
  top: 31.5934rem;
}
.lottery-page-g1e .group-76-dZr .group-19-8qN .quick-links-rWU {
  margin-bottom: 2.8628rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .group-76-dZr .group-19-8qN .terms-of-service-oAp {
  margin-bottom: 0.8413rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .group-76-dZr .group-19-8qN .privacy-policy-vmE {
  margin-bottom: 0.8412rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .group-76-dZr .group-19-8qN .plans-GaC {
  margin-bottom: 0.8413rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .group-76-dZr .group-19-8qN .games-11z {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .group-76-dZr .group-38-kVN {
  width: 19.8rem;
  height: 9.1854rem;
  position: absolute;
  left: 111.7rem;
  top: 31.5934rem;
}
.lottery-page-g1e .group-76-dZr .group-38-kVN .connect-with-us--t5n {
  margin: 0rem 0rem 0.541rem 0.4rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .group-76-dZr .group-38-kVN .group-22-QZv {
  box-sizing: border-box;
  padding: 0.395rem 0.35rem 0.404rem 0.392rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.lottery-page-g1e .group-76-dZr .group-38-kVN .group-22-QZv .ic-baseline-facebook-XuS {
  margin: 0rem 1.292rem 0.001rem 0rem;
  width: 3.9167rem;
  height: 3.9435rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.lottery-page-g1e .group-76-dZr .group-38-kVN .group-22-QZv .formkit-twitter-eUG {
  margin: 0.008rem 1.258rem 0rem 0rem;
  width: 3.9rem;
  height: 3.9366rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.lottery-page-g1e .group-76-dZr .group-38-kVN .group-22-QZv .ri-instagram-fill-xzk {
  margin: 0.009rem 1.608rem 0rem 0rem;
  width: 3.5835rem;
  height: 3.617rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.lottery-page-g1e .group-76-dZr .group-38-kVN .group-22-QZv .ri-whatsapp-fill-Hn8 {
  margin-top: 0.0085rem;
  width: 3.5rem;
  height: 3.5328rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.lottery-page-g1e .group-76-dZr .group-36-DQt {
  width: 30.2rem;
  height: 22.2063rem;
  position: absolute;
  left: 6rem;
  top: 23.3165rem;
}
.lottery-page-g1e .group-76-dZr .group-36-DQt .untitled-1-2-9ZS {
  width: 22rem;
  height: 22.2063rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.lottery-page-g1e .group-76-dZr .group-36-DQt .cryptofibank-gJU {
  width: 14.2rem;
  height: 2.8rem;
  position: absolute;
  left: 16rem;
  top: 8.8826rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Sansita One, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .group-76-dZr .cryptofibank-a-trusted-name-in-the-world-of-financial-opportunity-provides-a-secure-platform-for-investing-in-forex-cryptocurrencies-slot-games-and-lotteries-map {
  width: 27.5rem;
  height: 14.2rem;
  position: absolute;
  left: 12rem;
  top: 40.7788rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.lottery-page-g1e .group-76-dZr .rectangle-34-Cw2 {
  width: 144rem;
  height: 3.7347rem;
  position: absolute;
  left: 0;
  top: 60.0578rem;
  background-color: #ecbd27;
}
.lottery-page-g1e .group-76-dZr .group-39-9LU {
  width: 26.7rem;
  height: 2.9rem;
  position: absolute;
  left: 58.2rem;
  top: 60.4616rem;
}
.lottery-page-g1e .group-76-dZr .group-39-9LU .copyright-2023-all-rights-reserved-V9S {
  width: 26.7rem;
  height: 2.9rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.7690000534;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .group-76-dZr .group-39-9LU .ic-outline-copyright-CZe {
  width: 1.6667rem;
  height: 1.6823rem;
  position: absolute;
  left: 7.3667rem;
  top: 0.572rem;
  object-fit: contain;
  vertical-align: top;
}
.lottery-page-g1e .group-76-dZr .group-42-KuA {
  box-sizing: border-box;
  padding: 1.312rem 31.2rem 3.23rem 31.2rem;
  width: 119.5rem;
  height: 23.2156rem;
  position: absolute;
  left: 12rem;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1rem;
}
.lottery-page-g1e .group-76-dZr .group-42-KuA .auto-group-mtuy-22t {
  margin: 0rem 10.6rem 1.844rem 9.4rem;
  width: calc(100% - 20rem);
  height: 8.2497rem;
  position: relative;
  flex-shrink: 0;
}
.lottery-page-g1e .group-76-dZr .group-42-KuA .auto-group-mtuy-22t .subscribe-to-news-LpG {
  width: 31.6rem;
  height: 5.7rem;
  position: absolute;
  left: 2.9rem;
  top: 0;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.7690000534;
  color: #ecbd27;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .group-76-dZr .group-42-KuA .auto-group-mtuy-22t .get-the-latest-insights-subscribe-to-our-newsletter-3ya {
  width: 37.1rem;
  height: 2.9rem;
  position: absolute;
  left: 0;
  top: 5.3497rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .group-76-dZr .group-42-KuA .group-40-wp4 {
  box-sizing: border-box;
  padding-left: 2.9rem;
  width: 100%;
  height: 8.5797rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #afafaf;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.lottery-page-g1e .group-76-dZr .group-42-KuA .group-40-wp4 .enter-your-email-address-sxc {
  margin: 0rem 17.6rem 0.029rem 0rem;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.7690001095;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.lottery-page-g1e .group-76-dZr .group-42-KuA .group-40-wp4 .auto-group-onk2-bNp {
  width: 17.3rem;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.7690000534;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ecbd27;
  border-radius: 0 0.8rem 0.8rem 0;
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-kwqi-C7i {
  width: 145rem;
  height: 77rem;
  position: absolute;
  left: 0;
  top: 0;
}
.lottery-page-g1e .auto-group-kwqi-C7i .rectangle-48-XQt {
  width: 144rem;
  height: 54.3rem;
  position: absolute;
  left: 0;
  top: 21.3rem;
  background-color: #fbbc04;
}
.lottery-page-g1e .auto-group-kwqi-C7i .mask-group-ekQ {
  width: 144rem;
  height: 48.9rem;
  position: absolute;
  left: 0;
  top: 24rem;
  object-fit: contain;
  vertical-align: top;
}
.lottery-page-g1e .auto-group-kwqi-C7i .rectangle-46-zJU {
  width: 144rem;
  height: 48.9rem;
  position: absolute;
  left: 0;
  top: 24rem;
  background-color: rgba(0, 0, 0, 0.400000006);
}
.lottery-page-g1e .auto-group-kwqi-C7i .take-a-chance-explore-cryptofibanks-lotteries-X3W {
  width: 104.3rem;
  height: 14.1rem;
  position: absolute;
  left: 19.9rem;
  top: 28.7rem;
  text-align: center;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.171875;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
}
.lottery-page-g1e .auto-group-kwqi-C7i .take-a-chance-explore-cryptofibanks-lotteries-X3W .take-a-chance-explore-cryptofibanks-lotteries-X3W-sub-0 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
}
.lottery-page-g1e .auto-group-kwqi-C7i .take-a-chance-explore-cryptofibanks-lotteries-X3W .take-a-chance-explore-cryptofibanks-lotteries-X3W-sub-1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #fbbc04;
  font-family: Roboto, 'Source Sans Pro';
}
.lottery-page-g1e .auto-group-kwqi-C7i .take-a-chance-explore-cryptofibanks-lotteries-X3W .take-a-chance-explore-cryptofibanks-lotteries-X3W-sub-2 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
}
.lottery-page-g1e .auto-group-kwqi-C7i .welcome-to-cryptofibanks-monthly-lottery-draw-where-your-dreams-of-winning-big-come-to-life-on-the-5th-of-every-month-with-5500-distinct-tickets-to-choose-from-each-priced-at-just-1-you-have-the-power-to-pick-your-lucky-number-and-test-your-luck-the-prize-pot-is-set-at-an-enticing-5000-and-our-website-administrator-will-determine-the-winner-whose-username-will-be-prominently-displayed-on-the-page-once-the-draw-takes-place-dont-miss-your-chance-to-become-the-next-lucky-winner-in-our-thrilling-lottery-event-5se {
  width: 97.2rem;
  height: 23.3rem;
  position: absolute;
  left: 23.45rem;
  top: 44.7rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.6118748983;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
}
.lottery-page-g1e .auto-group-kwqi-C7i .welcome-to-cryptofibanks-monthly-lottery-draw-where-your-dreams-of-winning-big-come-to-life-on-the-5th-of-every-month-with-5500-distinct-tickets-to-choose-from-each-priced-at-just-1-you-have-the-power-to-pick-your-lucky-number-and-test-your-luck-the-prize-pot-is-set-at-an-enticing-5000-and-our-website-administrator-will-determine-the-winner-whose-username-will-be-prominently-displayed-on-the-page-once-the-draw-takes-place-dont-miss-your-chance-to-become-the-next-lucky-winner-in-our-thrilling-lottery-event-5se .welcome-to-cryptofibanks-monthly-lottery-draw-where-your-dreams-of-winning-big-come-to-life-on-the-5th-of-every-month-with-5500-distinct-tickets-to-choose-from-each-priced-at-just-1-you-have-the-power-to-pick-your-lucky-number-and-test-your-luck-the-prize-pot-is-set-at-an-enticing-5000-and-our-website-administrator-will-determine-the-winner-whose-username-will-be-prominently-displayed-on-the-page-once-the-draw-takes-place-dont-miss-your-chance-to-become-the-next-lucky-winner-in-our-thrilling-lottery-event-5se-sub-0 {
}
.lottery-page-g1e .auto-group-kwqi-C7i .welcome-to-cryptofibanks-monthly-lottery-draw-where-your-dreams-of-winning-big-come-to-life-on-the-5th-of-every-month-with-5500-distinct-tickets-to-choose-from-each-priced-at-just-1-you-have-the-power-to-pick-your-lucky-number-and-test-your-luck-the-prize-pot-is-set-at-an-enticing-5000-and-our-website-administrator-will-determine-the-winner-whose-username-will-be-prominently-displayed-on-the-page-once-the-draw-takes-place-dont-miss-your-chance-to-become-the-next-lucky-winner-in-our-thrilling-lottery-event-5se .welcome-to-cryptofibanks-monthly-lottery-draw-where-your-dreams-of-winning-big-come-to-life-on-the-5th-of-every-month-with-5500-distinct-tickets-to-choose-from-each-priced-at-just-1-you-have-the-power-to-pick-your-lucky-number-and-test-your-luck-the-prize-pot-is-set-at-an-enticing-5000-and-our-website-administrator-will-determine-the-winner-whose-username-will-be-prominently-displayed-on-the-page-once-the-draw-takes-place-dont-miss-your-chance-to-become-the-next-lucky-winner-in-our-thrilling-lottery-event-5se-sub-1 {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.6118748983;
  color: #fbbc04;
  font-family: Roboto, 'Source Sans Pro';
}
.lottery-page-g1e .auto-group-kwqi-C7i .welcome-to-cryptofibanks-monthly-lottery-draw-where-your-dreams-of-winning-big-come-to-life-on-the-5th-of-every-month-with-5500-distinct-tickets-to-choose-from-each-priced-at-just-1-you-have-the-power-to-pick-your-lucky-number-and-test-your-luck-the-prize-pot-is-set-at-an-enticing-5000-and-our-website-administrator-will-determine-the-winner-whose-username-will-be-prominently-displayed-on-the-page-once-the-draw-takes-place-dont-miss-your-chance-to-become-the-next-lucky-winner-in-our-thrilling-lottery-event-5se .welcome-to-cryptofibanks-monthly-lottery-draw-where-your-dreams-of-winning-big-come-to-life-on-the-5th-of-every-month-with-5500-distinct-tickets-to-choose-from-each-priced-at-just-1-you-have-the-power-to-pick-your-lucky-number-and-test-your-luck-the-prize-pot-is-set-at-an-enticing-5000-and-our-website-administrator-will-determine-the-winner-whose-username-will-be-prominently-displayed-on-the-page-once-the-draw-takes-place-dont-miss-your-chance-to-become-the-next-lucky-winner-in-our-thrilling-lottery-event-5se-sub-2 {
}
.lottery-page-g1e .auto-group-kwqi-C7i .group-125-cHE {
  width: 136.8rem;
  height: 27.1605rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
}
.lottery-page-g1e .auto-group-kwqi-C7i .group-125-cHE .group-1-KxL {
  margin-right: 8.6469rem;
  width: 33.9531rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-kwqi-C7i .group-125-cHE .group-1-KxL .untitled-1-2-5Ri {
  width: 27.1604rem;
  height: 27.1605rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.lottery-page-g1e .auto-group-kwqi-C7i .group-125-cHE .group-1-KxL .cryptofibank-cRe {
  width: 14.2rem;
  height: 2.8rem;
  position: absolute;
  left: 18.7531rem;
  top: 9.4642rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Sansita One, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .auto-group-kwqi-C7i .group-125-cHE .home-WX2 {
  margin: 0rem 2rem 2.56rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  text-transform: uppercase;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-kwqi-C7i .group-125-cHE .about-us-pnc {
  margin: 0rem 2.2rem 2.56rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  text-transform: uppercase;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-kwqi-C7i .group-125-cHE .plans-kAU {
  margin: 0rem 2.1rem 2.56rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-kwqi-C7i .group-125-cHE .game-sVz {
  margin-bottom: 2.5605rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-kwqi-C7i .group-125-cHE .auto-group-za6c-QVv {
  box-sizing: border-box;
  padding: 10rem 0rem 13.06rem 2rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-kwqi-C7i .group-125-cHE .auto-group-za6c-QVv .auto-group-dtha-p3r {
  margin: 1.1rem 2rem 0.6rem 0rem;
  width: 8.4rem;
  height: calc(100% - 1.7rem);
  position: relative;
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-kwqi-C7i .group-125-cHE .auto-group-za6c-QVv .auto-group-dtha-p3r .lottery-jgc {
  width: 8.4rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.lottery-page-g1e .auto-group-kwqi-C7i .group-125-cHE .auto-group-za6c-QVv .auto-group-dtha-p3r .line-5-fKN {
  width: 7.8rem;
  height: 0;
  position: absolute;
  left: 0.3rem;
  top: 2.2rem;
  object-fit: contain;
  vertical-align: top;
}
.lottery-page-g1e .auto-group-kwqi-C7i .group-125-cHE .auto-group-za6c-QVv .faqs-PmA {
  margin: 0.5rem 2rem 0rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-kwqi-C7i .group-125-cHE .auto-group-za6c-QVv .contact-us-8Cx {
  margin: 0.5rem 5rem 0rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-kwqi-C7i .group-125-cHE .auto-group-za6c-QVv .group-TFE {
  margin: 0.1rem 0.8rem 0rem 0rem;
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-kwqi-C7i .group-125-cHE .auto-group-za6c-QVv .eng-yzG {
  margin: 0.1rem 5.8rem 0rem 0rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.lottery-page-g1e .auto-group-kwqi-C7i .group-125-cHE .auto-group-za6c-QVv .frame-1-iS4 {
  width: 12rem;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ecbd27;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.lottery-page-g1e .monthly-lottery-details-oTW {
  width: 48rem;
  height: 4.3rem;
  position: absolute;
  left: 48rem;
  top: 80.4rem;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.1725;
  text-transform: uppercase;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
