
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.my-message-fDz {
  width: 100%;
  height: 181.9rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.my-message-fDz .line-50-ZaG {
  width: 0.1rem;
  height: 95.7rem;
  position: absolute;
  left: 34.4rem;
  top: 24.3rem;
  background-color: #a5a5a5;
}
.my-message-fDz .rectangle-32-sax {
  width: 144rem;
  height: 51.7rem;
  position: absolute;
  left: 0;
  top: 130.2rem;
  background-color: rgba(236, 189, 39, 0.3000000119);
}
.my-message-fDz .group-20-C7S {
  width: 9.7rem;
  height: 23.5rem;
  position: absolute;
  left: 74.1rem;
  top: 150rem;
}
.my-message-fDz .group-20-C7S .company-7EQ {
  margin-bottom: 2.8rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-message-fDz .group-20-C7S .about-us-diY {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-message-fDz .group-20-C7S .contact-us-xkp {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-message-fDz .group-20-C7S .career-hCc {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-message-fDz .group-20-C7S .lottery-drx {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-message-fDz .group-37-yfv {
  width: 9.7rem;
  height: 14.7rem;
  position: absolute;
  left: 92.9rem;
  top: 150rem;
}
.my-message-fDz .group-37-yfv .support-WA4 {
  margin-bottom: 2.8rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-message-fDz .group-37-yfv .faqs-FNY {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-message-fDz .group-37-yfv .contact-us-Pje {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-message-fDz .group-19-j2p {
  width: 15rem;
  height: 23.5rem;
  position: absolute;
  left: 51.4rem;
  top: 150rem;
}
.my-message-fDz .group-19-j2p .quick-links-G2k {
  margin-bottom: 2.8rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-message-fDz .group-19-j2p .terms-of-service-CSC {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-message-fDz .group-19-j2p .privacy-policy-wPn {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-message-fDz .group-19-j2p .plans-Uec {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-message-fDz .group-19-j2p .games-RZr {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-message-fDz .group-38-mtc {
  width: 19.8rem;
  height: 9.1rem;
  position: absolute;
  left: 111.7rem;
  top: 150rem;
}
.my-message-fDz .group-38-mtc .connect-with-us--WLQ {
  margin: 0rem 0rem 0.5rem 0.4rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-message-fDz .group-38-mtc .group-22-2Ze {
  box-sizing: border-box;
  padding: 0.392rem 0.35rem 0.4rem 0.392rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.my-message-fDz .group-38-mtc .group-22-2Ze .ic-baseline-facebook-Z3n {
  margin: 0rem 1.292rem 0.001rem 0rem;
  width: 3.9167rem;
  height: 3.9069rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-message-fDz .group-38-mtc .group-22-2Ze .formkit-twitter-GD6 {
  margin: 0.008rem 1.258rem 0rem 0rem;
  width: 3.9rem;
  height: 3.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-message-fDz .group-38-mtc .group-22-2Ze .ri-instagram-fill-aja {
  margin: 0.008rem 1.608rem 0rem 0rem;
  width: 3.5835rem;
  height: 3.5834rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-message-fDz .group-38-mtc .group-22-2Ze .ri-whatsapp-fill-umr {
  margin-top: 0.0083rem;
  width: 3.5rem;
  height: 3.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-message-fDz .group-36-S16 {
  width: 30.2rem;
  height: 22rem;
  position: absolute;
  left: 6rem;
  top: 141.8rem;
}
.my-message-fDz .group-36-S16 .untitled-1-2-Ahn {
  width: 22rem;
  height: 22rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.my-message-fDz .group-36-S16 .cryptofibank-hhi {
  width: 14.2rem;
  height: 2.8rem;
  position: absolute;
  left: 16rem;
  top: 8.8rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Sansita One, 'Source Sans Pro';
  white-space: nowrap;
}
.my-message-fDz .cryptofibank-a-trusted-name-in-the-world-of-financial-opportunity-provides-a-secure-platform-for-investing-in-forex-cryptocurrencies-slot-games-and-lotteries-CeU {
  width: 27.5rem;
  height: 14.2rem;
  position: absolute;
  left: 12rem;
  top: 159.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.my-message-fDz .rectangle-34-2Nc {
  width: 144rem;
  height: 3.7rem;
  position: absolute;
  left: 0;
  top: 178.2rem;
  background-color: #ecbd27;
}
.my-message-fDz .group-39-y2x {
  width: 26.7rem;
  height: 2.9rem;
  position: absolute;
  left: 58.2rem;
  top: 178.6rem;
}
.my-message-fDz .group-39-y2x .copyright-2023-all-rights-reserved-Jqv {
  width: 26.7rem;
  height: 2.9rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.7690000534;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-message-fDz .group-39-y2x .ic-outline-copyright-d7W {
  width: 1.6667rem;
  height: 1.6667rem;
  position: absolute;
  left: 7.3667rem;
  top: 0.5667rem;
  object-fit: contain;
  vertical-align: top;
}
.my-message-fDz .group-42-MJQ {
  box-sizing: border-box;
  padding: 1.3rem 31.2rem 3.2rem 31.2rem;
  width: 119.5rem;
  height: 23rem;
  position: absolute;
  left: 12rem;
  top: 118.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1rem;
}
.my-message-fDz .group-42-MJQ .auto-group-w9iq-rFA {
  margin: 0rem 10.6rem 1.8rem 9.4rem;
  width: calc(100% - 20rem);
  height: 8.2rem;
  position: relative;
  flex-shrink: 0;
}
.my-message-fDz .group-42-MJQ .auto-group-w9iq-rFA .subscribe-to-news-NUQ {
  width: 31.6rem;
  height: 5.7rem;
  position: absolute;
  left: 2.9rem;
  top: 0;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.7690000534;
  color: #ecbd27;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-message-fDz .group-42-MJQ .auto-group-w9iq-rFA .get-the-latest-insights-subscribe-to-our-newsletter-gV6 {
  width: 37.1rem;
  height: 2.9rem;
  position: absolute;
  left: 0;
  top: 5.3rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-message-fDz .group-42-MJQ .group-40-P8c {
  box-sizing: border-box;
  padding-left: 2.9rem;
  width: 100%;
  height: 8.5rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #afafaf;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.my-message-fDz .group-42-MJQ .group-40-P8c .enter-your-email-address-iwa {
  margin-right: 17.6rem;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.7690001095;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-message-fDz .group-42-MJQ .group-40-P8c .auto-group-rr72-eqE {
  width: 17.3rem;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.7690000534;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ecbd27;
  border-radius: 0 0.8rem 0.8rem 0;
  flex-shrink: 0;
}
.my-message-fDz .about-us-rwJ {
  width: 9.5rem;
  height: 2.4rem;
  position: absolute;
  left: 49.6rem;
  top: 10.7rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  text-transform: uppercase;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-message-fDz .home-n4G {
  width: 5.7rem;
  height: 2.4rem;
  position: absolute;
  left: 41.9rem;
  top: 10.7rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  text-transform: uppercase;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-message-fDz .plans-gfS {
  width: 6.4rem;
  height: 2.4rem;
  position: absolute;
  left: 61.3rem;
  top: 10.7rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-message-fDz .game-BMJ {
  width: 5.6rem;
  height: 2.4rem;
  position: absolute;
  left: 69.8rem;
  top: 10.7rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-message-fDz .lottery-sE8 {
  width: 8.4rem;
  height: 2.4rem;
  position: absolute;
  left: 77.4rem;
  top: 10.7rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-message-fDz .faqs-Ayv {
  width: 4.7rem;
  height: 2.4rem;
  position: absolute;
  left: 87.8rem;
  top: 10.7rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-message-fDz .contact-us-H2x {
  width: 12rem;
  height: 2.4rem;
  position: absolute;
  left: 94.5rem;
  top: 10.7rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-message-fDz .group-1-myi {
  width: 33.9531rem;
  height: 27.1605rem;
  position: absolute;
  left: 0;
  top: 0;
}
.my-message-fDz .group-1-myi .untitled-1-2-KEY {
  width: 27.1605rem;
  height: 27.1605rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.my-message-fDz .group-1-myi .cryptofibank-eXi {
  width: 14.2rem;
  height: 2.8rem;
  position: absolute;
  left: 19.0531rem;
  top: 10.4642rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Sansita One, 'Source Sans Pro';
  white-space: nowrap;
}
.my-message-fDz .group-SiU {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 111.5rem;
  top: 10.2rem;
  object-fit: contain;
  vertical-align: top;
}
.my-message-fDz .eng-9sn {
  width: 3rem;
  height: 1.8rem;
  position: absolute;
  left: 115.3rem;
  top: 10.8rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-message-fDz .group-135-Srt {
  width: 22.7rem;
  height: 6.4rem;
  position: absolute;
  left: 6.1rem;
  top: 26.8rem;
}
.my-message-fDz .group-135-Srt .my-message-ZRi {
  width: 22.7rem;
  height: 6.4rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-message-fDz .group-135-Srt .line-25-4NU {
  width: 22rem;
  height: 0.2rem;
  position: absolute;
  left: 0.4rem;
  top: 5.2rem;
  background-color: #fbbc04;
}
.my-message-fDz .ellipse-11-yEY {
  width: 6rem;
  height: 6rem;
  position: absolute;
  left: 125.8rem;
  top: 8.8rem;
  border: solid 0.2rem #ffffff;
  box-sizing: border-box;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  background-size: 100% 150%;
  background-position: 0 -1.5rem;
  background-image: url('../assets/ellipse-11-bg-xcQ.png');
  border-radius: 3rem;
}
.my-message-fDz .ellipse-11-yEY .ellipse-11-yEY-bg {
  width: 6rem;
  height: 6rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:be205d20703d00cb3a2ca82cd0a3d02320b81482');
}
.my-message-fDz .line-49-ytk {
  width: 144rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 24.3rem;
  background-color: #a5a5a5;
}
.my-message-fDz .frame-15-uXW {
  box-sizing: border-box;
  padding: 5.8rem 2.9rem 0rem 2.8rem;
  width: 41rem;
  height: 87.1rem;
  position: absolute;
  left: 38.3rem;
  top: 27.8rem;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}
.my-message-fDz .frame-15-uXW .auto-group-3s5e-yXN {
  margin: 0rem 14.6rem 1.7rem 0.5rem;
  width: calc(100% - 15.1rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.my-message-fDz .frame-15-uXW .auto-group-3s5e-yXN .iconoir-search-Hnx {
  margin: 0rem 2.5rem 0.2rem 0rem;
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-message-fDz .frame-15-uXW .auto-group-3s5e-yXN .search-by-name-omJ {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1725;
  text-transform: capitalize;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-message-fDz .frame-15-uXW .line-54-vqv {
  margin-bottom: 5.2rem;
  width: 100%;
  height: 0.1rem;
  background-color: #a5a5a5;
  flex-shrink: 0;
}
.my-message-fDz .frame-15-uXW .recent-chats-U6k {
  margin: 0rem 23.4rem 2.9rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1725;
  text-transform: capitalize;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-message-fDz .frame-15-uXW .auto-group-s9kl-yZJ {
  margin-bottom: 2.6rem;
  box-sizing: border-box;
  padding: 1.6rem 0.9rem 1.7rem 1.3rem;
  width: 100%;
  height: 9.2rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.my-message-fDz .frame-15-uXW .auto-group-s9kl-yZJ .ellipse-15-seg {
  margin-right: 1.8rem;
  width: 5.9rem;
  height: 5.9rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-15-bg-uEY.png');
  border-radius: 2.95rem;
  flex-shrink: 0;
}
.my-message-fDz .frame-15-uXW .auto-group-s9kl-yZJ .auto-group-64mw-ZnQ {
  margin: 1rem 0.3rem 0.9rem 0rem;
  height: calc(100% - 1.9rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.my-message-fDz .frame-15-uXW .auto-group-s9kl-yZJ .auto-group-64mw-ZnQ .taylor-5Vr {
  margin-bottom: 0.3rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.1725;
  text-transform: capitalize;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-message-fDz .frame-15-uXW .auto-group-s9kl-yZJ .auto-group-64mw-ZnQ .hi-how-are-you-i-am-still--oRr {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-message-fDz .frame-15-uXW .auto-group-s9kl-yZJ .auto-group-hcic-XMr {
  margin: 1.2rem 0rem 0.9rem 0rem;
  width: 4.4rem;
  height: calc(100% - 2.1rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.my-message-fDz .frame-15-uXW .auto-group-s9kl-yZJ .auto-group-hcic-XMr .pm-EXA {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-message-fDz .frame-15-uXW .auto-group-s9kl-yZJ .auto-group-hcic-XMr .group-140-yDr {
  margin: 0 1.2rem;
  width: calc(100% - 2.4rem);
  height: 2rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fbbc04;
  border-radius: 1rem;
  flex-shrink: 0;
}
.my-message-fDz .frame-15-uXW .group-142-cGp {
  margin-bottom: 2.6rem;
  box-sizing: border-box;
  padding: 1.6rem 0.9rem 1.7rem 1.3rem;
  width: 100%;
  height: 9.2rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.my-message-fDz .frame-15-uXW .group-142-cGp .ellipse-15-8FA {
  margin-right: 1.8rem;
  width: 5.9rem;
  height: 5.9rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-15-bg-aYQ.png');
  border-radius: 2.95rem;
  flex-shrink: 0;
}
.my-message-fDz .frame-15-uXW .group-142-cGp .auto-group-mbua-cg8 {
  margin: 1rem 0.3rem 0.9rem 0rem;
  height: calc(100% - 1.9rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.my-message-fDz .frame-15-uXW .group-142-cGp .auto-group-mbua-cg8 .taylor-M7v {
  margin-bottom: 0.3rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.1725;
  text-transform: capitalize;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-message-fDz .frame-15-uXW .group-142-cGp .auto-group-mbua-cg8 .hi-how-are-you-i-am-still--UiL {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-message-fDz .frame-15-uXW .group-142-cGp .auto-group-pvak-DA8 {
  margin: 1.2rem 0rem 0.9rem 0rem;
  width: 4.4rem;
  height: calc(100% - 2.1rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.my-message-fDz .frame-15-uXW .group-142-cGp .auto-group-pvak-DA8 .pm-Xgc {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-message-fDz .frame-15-uXW .group-142-cGp .auto-group-pvak-DA8 .group-140-U64 {
  margin: 0 1.2rem;
  width: calc(100% - 2.4rem);
  height: 2rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fbbc04;
  border-radius: 1rem;
  flex-shrink: 0;
}
.my-message-fDz .frame-15-uXW .group-143-tQg {
  margin-bottom: 2.6rem;
  box-sizing: border-box;
  padding: 1.6rem 0.9rem 1.7rem 1.3rem;
  width: 100%;
  height: 9.2rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.my-message-fDz .frame-15-uXW .group-143-tQg .ellipse-15-bK6 {
  margin-right: 1.8rem;
  width: 5.9rem;
  height: 5.9rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-15-bg.png');
  border-radius: 2.95rem;
  flex-shrink: 0;
}
.my-message-fDz .frame-15-uXW .group-143-tQg .auto-group-d7us-Hxc {
  margin: 1rem 0.3rem 0.9rem 0rem;
  height: calc(100% - 1.9rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.my-message-fDz .frame-15-uXW .group-143-tQg .auto-group-d7us-Hxc .taylor-pSk {
  margin-bottom: 0.3rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.1725;
  text-transform: capitalize;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-message-fDz .frame-15-uXW .group-143-tQg .auto-group-d7us-Hxc .hi-how-are-you-i-am-still--Lfz {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-message-fDz .frame-15-uXW .group-143-tQg .auto-group-drs2-Fnx {
  margin: 1.2rem 0rem 0.9rem 0rem;
  width: 4.4rem;
  height: calc(100% - 2.1rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.my-message-fDz .frame-15-uXW .group-143-tQg .auto-group-drs2-Fnx .pm-a4Y {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-message-fDz .frame-15-uXW .group-143-tQg .auto-group-drs2-Fnx .group-140-7KN {
  margin: 0 1.2rem;
  width: calc(100% - 2.4rem);
  height: 2rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fbbc04;
  border-radius: 1rem;
  flex-shrink: 0;
}
.my-message-fDz .frame-15-uXW .group-144-m92 {
  margin-bottom: 2.6rem;
  box-sizing: border-box;
  padding: 1.6rem 0.9rem 1.7rem 1.3rem;
  width: 100%;
  height: 9.2rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.my-message-fDz .frame-15-uXW .group-144-m92 .ellipse-15-tDe {
  margin-right: 1.8rem;
  width: 5.9rem;
  height: 5.9rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-15-bg-Whe.png');
  border-radius: 2.95rem;
  flex-shrink: 0;
}
.my-message-fDz .frame-15-uXW .group-144-m92 .auto-group-gudw-bdr {
  margin: 1rem 0.3rem 0.9rem 0rem;
  height: calc(100% - 1.9rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.my-message-fDz .frame-15-uXW .group-144-m92 .auto-group-gudw-bdr .taylor-87z {
  margin-bottom: 0.3rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.1725;
  text-transform: capitalize;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-message-fDz .frame-15-uXW .group-144-m92 .auto-group-gudw-bdr .hi-how-are-you-i-am-still--f7v {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-message-fDz .frame-15-uXW .group-144-m92 .auto-group-7e6t-yuJ {
  margin: 1.2rem 0rem 0.9rem 0rem;
  width: 4.4rem;
  height: calc(100% - 2.1rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.my-message-fDz .frame-15-uXW .group-144-m92 .auto-group-7e6t-yuJ .pm-u2G {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-message-fDz .frame-15-uXW .group-144-m92 .auto-group-7e6t-yuJ .group-140-2sa {
  margin: 0 1.2rem;
  width: calc(100% - 2.4rem);
  height: 2rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fbbc04;
  border-radius: 1rem;
  flex-shrink: 0;
}
.my-message-fDz .frame-15-uXW .group-145-VWG {
  margin-bottom: 2.6rem;
  box-sizing: border-box;
  padding: 1.6rem 0.9rem 1.7rem 1.3rem;
  width: 100%;
  height: 9.2rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.my-message-fDz .frame-15-uXW .group-145-VWG .ellipse-15-p2k {
  margin-right: 1.8rem;
  width: 5.9rem;
  height: 5.9rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-15-bg-p9N.png');
  border-radius: 2.95rem;
  flex-shrink: 0;
}
.my-message-fDz .frame-15-uXW .group-145-VWG .auto-group-uewj-XC4 {
  margin: 1rem 0.3rem 0.9rem 0rem;
  height: calc(100% - 1.9rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.my-message-fDz .frame-15-uXW .group-145-VWG .auto-group-uewj-XC4 .taylor-Fdr {
  margin-bottom: 0.3rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.1725;
  text-transform: capitalize;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-message-fDz .frame-15-uXW .group-145-VWG .auto-group-uewj-XC4 .hi-how-are-you-i-am-still--PEG {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-message-fDz .frame-15-uXW .group-145-VWG .auto-group-2cc8-Wpg {
  margin: 1.2rem 0rem 0.9rem 0rem;
  width: 4.4rem;
  height: calc(100% - 2.1rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.my-message-fDz .frame-15-uXW .group-145-VWG .auto-group-2cc8-Wpg .pm-3Jp {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-message-fDz .frame-15-uXW .group-145-VWG .auto-group-2cc8-Wpg .group-140-PNg {
  margin: 0 1.2rem;
  width: calc(100% - 2.4rem);
  height: 2rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fbbc04;
  border-radius: 1rem;
  flex-shrink: 0;
}
.my-message-fDz .frame-15-uXW .group-146-Q2t {
  box-sizing: border-box;
  padding: 1.6rem 0.9rem 1.7rem 1.3rem;
  width: 100%;
  height: 9.2rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.my-message-fDz .frame-15-uXW .group-146-Q2t .ellipse-15-vG8 {
  margin-right: 1.8rem;
  width: 5.9rem;
  height: 5.9rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-15-bg-TXW.png');
  border-radius: 2.95rem;
  flex-shrink: 0;
}
.my-message-fDz .frame-15-uXW .group-146-Q2t .auto-group-uztg-qP6 {
  margin: 1rem 0.3rem 0.9rem 0rem;
  height: calc(100% - 1.9rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.my-message-fDz .frame-15-uXW .group-146-Q2t .auto-group-uztg-qP6 .taylor-wwv {
  margin-bottom: 0.3rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.1725;
  text-transform: capitalize;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-message-fDz .frame-15-uXW .group-146-Q2t .auto-group-uztg-qP6 .hi-how-are-you-i-am-still--US4 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-message-fDz .frame-15-uXW .group-146-Q2t .auto-group-x9ma-1B6 {
  margin: 1.2rem 0rem 0.9rem 0rem;
  width: 4.4rem;
  height: calc(100% - 2.1rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.my-message-fDz .frame-15-uXW .group-146-Q2t .auto-group-x9ma-1B6 .pm-vor {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-message-fDz .frame-15-uXW .group-146-Q2t .auto-group-x9ma-1B6 .group-140-UKa {
  margin: 0 1.2rem;
  width: calc(100% - 2.4rem);
  height: 2rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fbbc04;
  border-radius: 1rem;
  flex-shrink: 0;
}
.my-message-fDz .frame-16-6rk {
  box-sizing: border-box;
  padding-bottom: 1.6rem;
  width: 54.1rem;
  height: 87.1rem;
  position: absolute;
  left: 81.6rem;
  top: 27.8rem;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}
.my-message-fDz .frame-16-6rk .auto-group-zjrk-QcY {
  box-sizing: border-box;
  padding: 3.2rem 3.35rem 4.4rem 2.7rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.my-message-fDz .frame-16-6rk .auto-group-zjrk-QcY .auto-group-7coa-j92 {
  margin: 0rem 0rem 3.2rem 0.4rem;
  width: calc(100% - 0.4rem);
  height: 8.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.my-message-fDz .frame-16-6rk .auto-group-zjrk-QcY .auto-group-7coa-j92 .auto-group-ukcc-rUY {
  box-sizing: border-box;
  padding: 6.2rem 0.4rem 0.8rem 6.6rem;
  width: 8.5rem;
  height: 100%;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-16-bg.png');
  border-radius: 4.25rem;
  flex-shrink: 0;
}
.my-message-fDz .frame-16-6rk .auto-group-zjrk-QcY .auto-group-7coa-j92 .auto-group-ukcc-rUY .ellipse-17-Bmi {
  width: 100%;
  height: 1.5rem;
  background-color: #00ff44;
  border-radius: 0.75rem;
}
.my-message-fDz .frame-16-6rk .auto-group-zjrk-QcY .auto-group-7coa-j92 .auto-group-gcsc-67z {
  box-sizing: border-box;
  padding: 1.8rem 0rem 1.9rem 1.4rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.my-message-fDz .frame-16-6rk .auto-group-zjrk-QcY .auto-group-7coa-j92 .auto-group-gcsc-67z .auto-group-3sjw-RRA {
  margin-right: 31.65rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.my-message-fDz .frame-16-6rk .auto-group-zjrk-QcY .auto-group-7coa-j92 .auto-group-gcsc-67z .auto-group-3sjw-RRA .taylor-AtY {
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1725;
  text-transform: capitalize;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-message-fDz .frame-16-6rk .auto-group-zjrk-QcY .auto-group-7coa-j92 .auto-group-gcsc-67z .auto-group-3sjw-RRA .online-WBi {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1725;
  text-transform: capitalize;
  color: #1972e2;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-message-fDz .frame-16-6rk .auto-group-zjrk-QcY .auto-group-7coa-j92 .auto-group-gcsc-67z .solar-menu-dots-bold-qUt {
  margin-top: 0.2rem;
  width: 0.5rem;
  height: 2.25rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-message-fDz .frame-16-6rk .auto-group-zjrk-QcY .auto-group-ygme-NDv {
  margin: 0rem 20.55rem 7.3rem 0rem;
  box-sizing: border-box;
  padding: 1.4rem 1.5rem 0.5rem 3.3rem;
  width: calc(100% - 20.55rem);
  display: flex;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-98.png');
  flex-shrink: 0;
}
.my-message-fDz .frame-16-6rk .auto-group-zjrk-QcY .auto-group-ygme-NDv .hi-how-are-you-GaC {
  margin: 0rem 6.4rem 0.9rem 0rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #808080;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-message-fDz .frame-16-6rk .auto-group-zjrk-QcY .auto-group-ygme-NDv .pm-BhA {
  margin-top: 1.5rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-message-fDz .frame-16-6rk .auto-group-zjrk-QcY .group-147-K2g {
  margin: 0rem 0.25rem 7.7rem 20.3rem;
  box-sizing: border-box;
  padding: 1.4rem 2.4rem 0.5rem 2.4rem;
  width: calc(100% - 20.55rem);
  display: flex;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-99-5Gc.png');
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.my-message-fDz .frame-16-6rk .auto-group-zjrk-QcY .group-147-K2g .i-am-fine-pk8 {
  margin: 0rem 11.7rem 0.9rem 0rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-message-fDz .frame-16-6rk .auto-group-zjrk-QcY .group-147-K2g .pm-8kp {
  margin-top: 1.5rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-message-fDz .frame-16-6rk .auto-group-zjrk-QcY .auto-group-1bz2-THJ {
  margin: 0rem 20.55rem 7.7rem 0rem;
  box-sizing: border-box;
  padding: 2.3rem 1.5rem 1.2rem 3.3rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-100.png');
  flex-shrink: 0;
}
.my-message-fDz .frame-16-6rk .auto-group-zjrk-QcY .auto-group-1bz2-THJ .hi-how-are-you-i-am-still-waiting-for-your-response-where-are-you-brother-N9N {
  margin: 0rem 4.2rem 0.3rem 0rem;
  max-width: 18.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #808080;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.my-message-fDz .frame-16-6rk .auto-group-zjrk-QcY .auto-group-1bz2-THJ .pm-Fix {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-message-fDz .frame-16-6rk .auto-group-zjrk-QcY .group-148-Noa {
  margin: 0rem 0.25rem 7.7rem 20.3rem;
  box-sizing: border-box;
  padding: 1.4rem 2.4rem 0.5rem 2.4rem;
  width: calc(100% - 20.55rem);
  display: flex;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-99.png');
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.my-message-fDz .frame-16-6rk .auto-group-zjrk-QcY .group-148-Noa .i-am-fine-gZN {
  margin: 0rem 11.7rem 0.9rem 0rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-message-fDz .frame-16-6rk .auto-group-zjrk-QcY .group-148-Noa .pm-CGp {
  margin-top: 1.5rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-message-fDz .frame-16-6rk .auto-group-zjrk-QcY .auto-group-aj9s-iW4 {
  margin-right: 20.55rem;
  box-sizing: border-box;
  padding: 1.4rem 1.5rem 0.7rem 3.3rem;
  width: calc(100% - 20.55rem);
  display: flex;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-101.png');
  flex-shrink: 0;
}
.my-message-fDz .frame-16-6rk .auto-group-zjrk-QcY .auto-group-aj9s-iW4 .ok-SBA {
  margin: 0rem 16.5rem 0.7rem 0rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #808080;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-message-fDz .frame-16-6rk .auto-group-zjrk-QcY .auto-group-aj9s-iW4 .pm-Mov {
  margin-top: 1.3rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-message-fDz .frame-16-6rk .line-55-Hha {
  margin-bottom: 1.4rem;
  width: 100%;
  height: 0.1rem;
  background-color: #a5a5a5;
  flex-shrink: 0;
}
.my-message-fDz .frame-16-6rk .auto-group-ptll-qUC {
  margin: 0rem 3.6rem 0rem 3.325rem;
  width: calc(100% - 6.925rem);
  height: 4.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.my-message-fDz .frame-16-6rk .auto-group-ptll-qUC .gg-attachment-kLG {
  margin: 0rem 3.125rem 0.3rem 0rem;
  width: 1.75rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-message-fDz .frame-16-6rk .auto-group-ptll-qUC .line-56-U1N {
  margin-right: 2.5rem;
  width: 0;
  height: 4.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-message-fDz .frame-16-6rk .auto-group-ptll-qUC .type-something-Cxx {
  margin-right: 19.7rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #afafaf;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-message-fDz .frame-16-6rk .auto-group-ptll-qUC .frame-17-jxt {
  margin: 0.4rem 0;
  width: 8.7rem;
  height: calc(100% - 0.8rem);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fbbc04;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
