
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.my-plans-zbJ {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.my-plans-zbJ .auto-group-qxvt-7R2 {
  box-sizing: border-box;
  padding-bottom: 12rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.my-plans-zbJ .auto-group-qxvt-7R2 .auto-group-rgwt-SCQ {
  margin: 0rem 12.2rem 4.3rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.my-plans-zbJ .auto-group-qxvt-7R2 .auto-group-rgwt-SCQ .group-1-wur {
  margin: 0rem 8.647rem 0.44rem 0rem;
  width: 33.9531rem;
  height: 27.1605rem;
  position: relative;
  flex-shrink: 0;
}
.my-plans-zbJ .auto-group-qxvt-7R2 .auto-group-rgwt-SCQ .group-1-wur .untitled-1-2-GSL {
  width: 27.1605rem;
  height: 27.1605rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.my-plans-zbJ .auto-group-qxvt-7R2 .auto-group-rgwt-SCQ .group-1-wur .cryptofibank-PWx {
  width: 14.2rem;
  height: 2.8rem;
  position: absolute;
  left: 19.0531rem;
  top: 10.4642rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Sansita One, 'Source Sans Pro';
  white-space: nowrap;
}
.my-plans-zbJ .auto-group-qxvt-7R2 .auto-group-rgwt-SCQ .home-47J {
  margin: 0rem 2rem 3rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  text-transform: uppercase;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-plans-zbJ .auto-group-qxvt-7R2 .auto-group-rgwt-SCQ .auto-group-pqlq-kkp {
  margin: 11.1rem 2rem 0rem 0rem;
  width: 42.9rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.my-plans-zbJ .auto-group-qxvt-7R2 .auto-group-rgwt-SCQ .auto-group-pqlq-kkp .auto-group-ww8y-UB2 {
  margin-bottom: 7.7rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.my-plans-zbJ .auto-group-qxvt-7R2 .auto-group-rgwt-SCQ .auto-group-pqlq-kkp .auto-group-ww8y-UB2 .about-us-oyz {
  margin-right: 2.2rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  text-transform: uppercase;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-plans-zbJ .auto-group-qxvt-7R2 .auto-group-rgwt-SCQ .auto-group-pqlq-kkp .auto-group-ww8y-UB2 .plans-jMr {
  margin-right: 2.1rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-plans-zbJ .auto-group-qxvt-7R2 .auto-group-rgwt-SCQ .auto-group-pqlq-kkp .auto-group-ww8y-UB2 .game-Gsa {
  margin-right: 2rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-plans-zbJ .auto-group-qxvt-7R2 .auto-group-rgwt-SCQ .auto-group-pqlq-kkp .auto-group-ww8y-UB2 .lottery-p8Q {
  margin-right: 2rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-plans-zbJ .auto-group-qxvt-7R2 .auto-group-rgwt-SCQ .auto-group-pqlq-kkp .auto-group-ww8y-UB2 .faqs-wTv {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-plans-zbJ .auto-group-qxvt-7R2 .auto-group-rgwt-SCQ .auto-group-pqlq-kkp .auto-group-ypy2-Uye {
  margin-right: 0.8rem;
  width: 39.6rem;
  height: 6.4rem;
  position: relative;
  flex-shrink: 0;
}
.my-plans-zbJ .auto-group-qxvt-7R2 .auto-group-rgwt-SCQ .auto-group-pqlq-kkp .auto-group-ypy2-Uye .my-purchased-plans-1ig {
  width: 39.6rem;
  height: 6.4rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-plans-zbJ .auto-group-qxvt-7R2 .auto-group-rgwt-SCQ .auto-group-pqlq-kkp .auto-group-ypy2-Uye .line-25-7Fv {
  width: 38.5rem;
  height: 0.2rem;
  position: absolute;
  left: 0.5rem;
  top: 5.5rem;
  background-color: #fbbc04;
}
.my-plans-zbJ .auto-group-qxvt-7R2 .auto-group-rgwt-SCQ .contact-us-pw2 {
  margin: 0rem 5rem 3rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-plans-zbJ .auto-group-qxvt-7R2 .auto-group-rgwt-SCQ .group-xGY {
  margin: 0rem 0.8rem 3.4rem 0rem;
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-plans-zbJ .auto-group-qxvt-7R2 .auto-group-rgwt-SCQ .eng-HJp {
  margin: 0rem 7.5rem 3.4rem 0rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-plans-zbJ .auto-group-qxvt-7R2 .auto-group-rgwt-SCQ .ellipse-11-cbz {
  margin-bottom: 3.2rem;
  width: 6rem;
  height: 6rem;
  border: solid 0.2rem #ffffff;
  box-sizing: border-box;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  background-size: 100% 150%;
  background-position: 0 -1.5rem;
  background-image: url('../assets/ellipse-11-bg-KnY.png');
  border-radius: 3rem;
  flex-shrink: 0;
}
.my-plans-zbJ .auto-group-qxvt-7R2 .auto-group-rgwt-SCQ .ellipse-11-cbz .ellipse-11-cbz-bg {
  width: 6rem;
  height: 6rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:be205d20703d00cb3a2ca82cd0a3d02320b81482');
}
.my-plans-zbJ .auto-group-qxvt-7R2 .group-134-RJY {
  margin: 0rem 47.7rem 8.2rem 47.8rem;
  width: calc(100% - 95.5rem);
  height: 20.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.my-plans-zbJ .auto-group-qxvt-7R2 .group-134-RJY .group-132-9EY {
  margin-right: 4.7rem;
  box-sizing: border-box;
  padding-bottom: 3.3rem;
  width: 21.9rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.my-plans-zbJ .auto-group-qxvt-7R2 .group-134-RJY .group-132-9EY .auto-group-1jtn-gEU {
  margin-bottom: 2.6rem;
  width: 100%;
  height: 5.8rem;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.7689999667;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.25);
  background-color: #fbbc04;
  border-radius: 0.5rem 0.5rem 0 0;
  flex-shrink: 0;
}
.my-plans-zbJ .auto-group-qxvt-7R2 .group-134-RJY .group-132-9EY .item-04-KYL {
  margin-right: 0.5rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-plans-zbJ .auto-group-qxvt-7R2 .group-134-RJY .group-133-DNp {
  box-sizing: border-box;
  padding-bottom: 3.3rem;
  width: 21.9rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.my-plans-zbJ .auto-group-qxvt-7R2 .group-134-RJY .group-133-DNp .auto-group-heqe-iqN {
  margin-bottom: 2.6rem;
  width: 100%;
  height: 5.8rem;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.7689999667;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.25);
  background-color: #fbbc04;
  border-radius: 0.5rem 0.5rem 0 0;
  flex-shrink: 0;
}
.my-plans-zbJ .auto-group-qxvt-7R2 .group-134-RJY .group-133-DNp .item-3000-PAp {
  margin-right: 0.1rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-plans-zbJ .auto-group-qxvt-7R2 .auto-group-fvru-GEc {
  margin: 0rem 22.3rem 0.4rem 15.2rem;
  width: calc(100% - 37.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.my-plans-zbJ .auto-group-qxvt-7R2 .auto-group-fvru-GEc .plan-number-yPv {
  margin-right: 6rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-plans-zbJ .auto-group-qxvt-7R2 .auto-group-fvru-GEc .start-date-time-HvQ {
  margin-right: 15.5rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-plans-zbJ .auto-group-qxvt-7R2 .auto-group-fvru-GEc .investment-QEL {
  margin-right: 8.4rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-plans-zbJ .auto-group-qxvt-7R2 .auto-group-fvru-GEc .earn-L7z {
  margin-right: 8.8rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-plans-zbJ .auto-group-qxvt-7R2 .auto-group-fvru-GEc .end-date-time-4Zn {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-plans-zbJ .auto-group-qxvt-7R2 .auto-group-67ra-PMA {
  margin: 0rem 12.4rem 0rem 12rem;
  width: calc(100% - 24.4rem);
  height: 33.3rem;
  border-right: solid 0.1rem #a5a5a5;
  box-sizing: border-box;
  flex-shrink: 0;
}
.my-plans-zbJ .auto-group-qxvt-7R2 .auto-group-67ra-PMA .auto-group-g9wg-toi {
  width: 119.5rem;
  height: 100%;
  position: relative;
  border-left: solid 0.1rem #a5a5a5;
  box-sizing: border-box;
}
.my-plans-zbJ .auto-group-qxvt-7R2 .auto-group-67ra-PMA .auto-group-g9wg-toi .line-42-pBa {
  width: 119.5rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
  background-color: #a5a5a5;
}
.my-plans-zbJ .auto-group-qxvt-7R2 .auto-group-67ra-PMA .auto-group-g9wg-toi .line-43-LQp {
  width: 119.5rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 8.4rem;
  background-color: #a5a5a5;
}
.my-plans-zbJ .auto-group-qxvt-7R2 .auto-group-67ra-PMA .auto-group-g9wg-toi .line-44-U1E {
  width: 119.5rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 16.7rem;
  background-color: #a5a5a5;
}
.my-plans-zbJ .auto-group-qxvt-7R2 .auto-group-67ra-PMA .auto-group-g9wg-toi .line-45-CC8 {
  width: 119.5rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 25rem;
  background-color: #a5a5a5;
}
.my-plans-zbJ .auto-group-qxvt-7R2 .auto-group-67ra-PMA .auto-group-g9wg-toi .item-01-iRN {
  width: 2.5rem;
  height: 3.9rem;
  position: absolute;
  left: 3.8rem;
  top: 2.6rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-plans-zbJ .auto-group-qxvt-7R2 .auto-group-67ra-PMA .auto-group-g9wg-toi .pm-Q3J {
  width: 21.1rem;
  height: 3.9rem;
  position: absolute;
  left: 23.2rem;
  top: 2.6rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-plans-zbJ .auto-group-qxvt-7R2 .auto-group-67ra-PMA .auto-group-g9wg-toi .pm-VaY {
  width: 21.1rem;
  height: 3.9rem;
  position: absolute;
  left: 91.9rem;
  top: 2.6rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-plans-zbJ .auto-group-qxvt-7R2 .auto-group-67ra-PMA .auto-group-g9wg-toi .item-200-zXJ {
  width: 5rem;
  height: 3.9rem;
  position: absolute;
  left: 57.7rem;
  top: 2.6rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-plans-zbJ .auto-group-qxvt-7R2 .auto-group-67ra-PMA .auto-group-g9wg-toi .item-206-6KS {
  width: 5rem;
  height: 3.9rem;
  position: absolute;
  left: 78.2rem;
  top: 2.6rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-plans-zbJ .auto-group-qxvt-7R2 .auto-group-67ra-PMA .auto-group-g9wg-toi .item-206-zQp {
  width: 5rem;
  height: 3.9rem;
  position: absolute;
  left: 78.2rem;
  top: 10.7rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-plans-zbJ .auto-group-qxvt-7R2 .auto-group-67ra-PMA .auto-group-g9wg-toi .item-206-VcU {
  width: 5rem;
  height: 3.9rem;
  position: absolute;
  left: 78.2rem;
  top: 18.8rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-plans-zbJ .auto-group-qxvt-7R2 .auto-group-67ra-PMA .auto-group-g9wg-toi .item-206-o7N {
  width: 5rem;
  height: 3.9rem;
  position: absolute;
  left: 78.2rem;
  top: 26.9rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-plans-zbJ .auto-group-qxvt-7R2 .auto-group-67ra-PMA .auto-group-g9wg-toi .item-200-hyS {
  width: 5rem;
  height: 3.9rem;
  position: absolute;
  left: 57.7rem;
  top: 10.7rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-plans-zbJ .auto-group-qxvt-7R2 .auto-group-67ra-PMA .auto-group-g9wg-toi .item-900-DB6 {
  width: 5rem;
  height: 3.9rem;
  position: absolute;
  left: 57.7rem;
  top: 18.8rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-plans-zbJ .auto-group-qxvt-7R2 .auto-group-67ra-PMA .auto-group-g9wg-toi .item-1000-upc {
  width: 6.2rem;
  height: 3.9rem;
  position: absolute;
  left: 57.7rem;
  top: 26.9rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-plans-zbJ .auto-group-qxvt-7R2 .auto-group-67ra-PMA .auto-group-g9wg-toi .pm-2PS {
  width: 21.1rem;
  height: 3.9rem;
  position: absolute;
  left: 23.2rem;
  top: 10.7rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-plans-zbJ .auto-group-qxvt-7R2 .auto-group-67ra-PMA .auto-group-g9wg-toi .pm-ui8 {
  width: 21.1rem;
  height: 3.9rem;
  position: absolute;
  left: 91.9rem;
  top: 10.7rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-plans-zbJ .auto-group-qxvt-7R2 .auto-group-67ra-PMA .auto-group-g9wg-toi .pm-bax {
  width: 21.1rem;
  height: 3.9rem;
  position: absolute;
  left: 23.2rem;
  top: 19.2rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-plans-zbJ .auto-group-qxvt-7R2 .auto-group-67ra-PMA .auto-group-g9wg-toi .pm-gsJ {
  width: 21.1rem;
  height: 3.9rem;
  position: absolute;
  left: 91.9rem;
  top: 19.2rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-plans-zbJ .auto-group-qxvt-7R2 .auto-group-67ra-PMA .auto-group-g9wg-toi .pm-yrQ {
  width: 21.1rem;
  height: 3.9rem;
  position: absolute;
  left: 23.2rem;
  top: 27.5rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-plans-zbJ .auto-group-qxvt-7R2 .auto-group-67ra-PMA .auto-group-g9wg-toi .pm-Vpk {
  width: 21.1rem;
  height: 3.9rem;
  position: absolute;
  left: 91.9rem;
  top: 27.5rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-plans-zbJ .auto-group-qxvt-7R2 .auto-group-67ra-PMA .auto-group-g9wg-toi .item-03-2Jt {
  width: 2.5rem;
  height: 3.9rem;
  position: absolute;
  left: 3.8rem;
  top: 10.7rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-plans-zbJ .auto-group-qxvt-7R2 .auto-group-67ra-PMA .auto-group-g9wg-toi .item-05-M6G {
  width: 2.5rem;
  height: 3.9rem;
  position: absolute;
  left: 3.8rem;
  top: 18.9rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-plans-zbJ .auto-group-qxvt-7R2 .auto-group-67ra-PMA .auto-group-g9wg-toi .item-06-sKW {
  width: 2.5rem;
  height: 3.9rem;
  position: absolute;
  left: 3.8rem;
  top: 27.1rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-plans-zbJ .auto-group-qxvt-7R2 .line-46-wqA {
  margin: 0rem 12.5rem 0rem 12rem;
  width: calc(100% - 24.5rem);
  height: 0.1rem;
  background-color: #a5a5a5;
  flex-shrink: 0;
}
.my-plans-zbJ .auto-group-qbjn-sTv {
  width: 100%;
  height: 63.2rem;
  position: relative;
  flex-shrink: 0;
}
.my-plans-zbJ .auto-group-qbjn-sTv .rectangle-32-cAc {
  width: 144rem;
  height: 51.7rem;
  position: absolute;
  left: 0;
  top: 11.5rem;
  background-color: rgba(236, 189, 39, 0.3000000119);
}
.my-plans-zbJ .auto-group-qbjn-sTv .group-20-LMW {
  width: 9.7rem;
  height: 23.5rem;
  position: absolute;
  left: 74.1rem;
  top: 31.3rem;
}
.my-plans-zbJ .auto-group-qbjn-sTv .group-20-LMW .company-feg {
  margin-bottom: 2.8rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-plans-zbJ .auto-group-qbjn-sTv .group-20-LMW .about-us-1Ck {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-plans-zbJ .auto-group-qbjn-sTv .group-20-LMW .contact-us-x7z {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-plans-zbJ .auto-group-qbjn-sTv .group-20-LMW .career-V7v {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-plans-zbJ .auto-group-qbjn-sTv .group-20-LMW .lottery-djv {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-plans-zbJ .auto-group-qbjn-sTv .group-37-BmS {
  width: 9.7rem;
  height: 14.7rem;
  position: absolute;
  left: 92.9rem;
  top: 31.3rem;
}
.my-plans-zbJ .auto-group-qbjn-sTv .group-37-BmS .support-KMr {
  margin-bottom: 2.8rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-plans-zbJ .auto-group-qbjn-sTv .group-37-BmS .faqs-sPN {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-plans-zbJ .auto-group-qbjn-sTv .group-37-BmS .contact-us-DTE {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-plans-zbJ .auto-group-qbjn-sTv .group-19-mUk {
  width: 15rem;
  height: 23.5rem;
  position: absolute;
  left: 51.4rem;
  top: 31.3rem;
}
.my-plans-zbJ .auto-group-qbjn-sTv .group-19-mUk .quick-links-tpG {
  margin-bottom: 2.8rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-plans-zbJ .auto-group-qbjn-sTv .group-19-mUk .terms-of-service-RZJ {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-plans-zbJ .auto-group-qbjn-sTv .group-19-mUk .privacy-policy-NDe {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-plans-zbJ .auto-group-qbjn-sTv .group-19-mUk .plans-ujN {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-plans-zbJ .auto-group-qbjn-sTv .group-19-mUk .games-TF6 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-plans-zbJ .auto-group-qbjn-sTv .group-38-QRE {
  width: 19.8rem;
  height: 9.1rem;
  position: absolute;
  left: 111.7rem;
  top: 31.3rem;
}
.my-plans-zbJ .auto-group-qbjn-sTv .group-38-QRE .connect-with-us--9Np {
  margin: 0rem 0rem 0.5rem 0.4rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-plans-zbJ .auto-group-qbjn-sTv .group-38-QRE .group-22-fMA {
  box-sizing: border-box;
  padding: 0.392rem 0.35rem 0.4rem 0.392rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.my-plans-zbJ .auto-group-qbjn-sTv .group-38-QRE .group-22-fMA .ic-baseline-facebook-CM6 {
  margin: 0rem 1.292rem 0.001rem 0rem;
  width: 3.9167rem;
  height: 3.9069rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-plans-zbJ .auto-group-qbjn-sTv .group-38-QRE .group-22-fMA .formkit-twitter-6xG {
  margin: 0.008rem 1.258rem 0rem 0rem;
  width: 3.9rem;
  height: 3.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-plans-zbJ .auto-group-qbjn-sTv .group-38-QRE .group-22-fMA .ri-instagram-fill-Kq2 {
  margin: 0.008rem 1.608rem 0rem 0rem;
  width: 3.5835rem;
  height: 3.5834rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-plans-zbJ .auto-group-qbjn-sTv .group-38-QRE .group-22-fMA .ri-whatsapp-fill-SPr {
  margin-top: 0.0083rem;
  width: 3.5rem;
  height: 3.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-plans-zbJ .auto-group-qbjn-sTv .group-36-jtk {
  width: 30.2rem;
  height: 22rem;
  position: absolute;
  left: 6rem;
  top: 23.1rem;
}
.my-plans-zbJ .auto-group-qbjn-sTv .group-36-jtk .untitled-1-2-3uS {
  width: 22rem;
  height: 22rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.my-plans-zbJ .auto-group-qbjn-sTv .group-36-jtk .cryptofibank-aeU {
  width: 14.2rem;
  height: 2.8rem;
  position: absolute;
  left: 16rem;
  top: 8.8rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Sansita One, 'Source Sans Pro';
  white-space: nowrap;
}
.my-plans-zbJ .auto-group-qbjn-sTv .cryptofibank-a-trusted-name-in-the-world-of-financial-opportunity-provides-a-secure-platform-for-investing-in-forex-cryptocurrencies-slot-games-and-lotteries-HHz {
  width: 27.5rem;
  height: 14.2rem;
  position: absolute;
  left: 12rem;
  top: 40.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.my-plans-zbJ .auto-group-qbjn-sTv .rectangle-34-KVa {
  width: 144rem;
  height: 3.7rem;
  position: absolute;
  left: 0;
  top: 59.5rem;
  background-color: #ecbd27;
}
.my-plans-zbJ .auto-group-qbjn-sTv .group-39-fJY {
  width: 26.7rem;
  height: 2.9rem;
  position: absolute;
  left: 58.2rem;
  top: 59.9rem;
}
.my-plans-zbJ .auto-group-qbjn-sTv .group-39-fJY .copyright-2023-all-rights-reserved-17W {
  width: 26.7rem;
  height: 2.9rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.7690000534;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-plans-zbJ .auto-group-qbjn-sTv .group-39-fJY .ic-outline-copyright-uig {
  width: 1.6667rem;
  height: 1.6667rem;
  position: absolute;
  left: 7.3667rem;
  top: 0.5667rem;
  object-fit: contain;
  vertical-align: top;
}
.my-plans-zbJ .auto-group-qbjn-sTv .group-42-deg {
  box-sizing: border-box;
  padding: 1.3rem 31.2rem 3.2rem 31.2rem;
  width: 119.5rem;
  height: 23rem;
  position: absolute;
  left: 12rem;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1rem;
}
.my-plans-zbJ .auto-group-qbjn-sTv .group-42-deg .auto-group-kkpp-8rL {
  margin: 0rem 10.6rem 1.8rem 9.4rem;
  width: calc(100% - 20rem);
  height: 8.2rem;
  position: relative;
  flex-shrink: 0;
}
.my-plans-zbJ .auto-group-qbjn-sTv .group-42-deg .auto-group-kkpp-8rL .subscribe-to-news-rnL {
  width: 31.6rem;
  height: 5.7rem;
  position: absolute;
  left: 2.9rem;
  top: 0;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.7690000534;
  color: #ecbd27;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-plans-zbJ .auto-group-qbjn-sTv .group-42-deg .auto-group-kkpp-8rL .get-the-latest-insights-subscribe-to-our-newsletter-MUC {
  width: 37.1rem;
  height: 2.9rem;
  position: absolute;
  left: 0;
  top: 5.3rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-plans-zbJ .auto-group-qbjn-sTv .group-42-deg .group-40-T1S {
  box-sizing: border-box;
  padding-left: 2.9rem;
  width: 100%;
  height: 8.5rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #afafaf;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.my-plans-zbJ .auto-group-qbjn-sTv .group-42-deg .group-40-T1S .enter-your-email-address-BTE {
  margin-right: 17.6rem;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.7690001095;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-plans-zbJ .auto-group-qbjn-sTv .group-42-deg .group-40-T1S .auto-group-ktul-WVW {
  width: 17.3rem;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.7690000534;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ecbd27;
  border-radius: 0 0.8rem 0.8rem 0;
  flex-shrink: 0;
}
