
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.my-profile-ByS {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.my-profile-ByS .auto-group-gvms-jEG {
  width: 100%;
  height: 132.6rem;
  position: relative;
  flex-shrink: 0;
}
.my-profile-ByS .auto-group-gvms-jEG .auto-group-bx4c-fNp {
  width: 132.5rem;
  height: 27.6rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
}
.my-profile-ByS .auto-group-gvms-jEG .auto-group-bx4c-fNp .group-1-aEt {
  margin: 0rem 8.647rem 0.44rem 0rem;
  width: 33.9531rem;
  height: 27.1605rem;
  position: relative;
  flex-shrink: 0;
}
.my-profile-ByS .auto-group-gvms-jEG .auto-group-bx4c-fNp .group-1-aEt .untitled-1-2-Vck {
  width: 27.1605rem;
  height: 27.1605rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.my-profile-ByS .auto-group-gvms-jEG .auto-group-bx4c-fNp .group-1-aEt .cryptofibank-RFW {
  width: 14.2rem;
  height: 2.8rem;
  position: absolute;
  left: 19.0531rem;
  top: 10.4642rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Sansita One, 'Source Sans Pro';
  white-space: nowrap;
}
.my-profile-ByS .auto-group-gvms-jEG .auto-group-bx4c-fNp .home-J4Q {
  margin: 0rem 2rem 3rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  text-transform: uppercase;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-profile-ByS .auto-group-gvms-jEG .auto-group-bx4c-fNp .about-us-1Uc {
  margin: 0rem 2.2rem 3rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  text-transform: uppercase;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-profile-ByS .auto-group-gvms-jEG .auto-group-bx4c-fNp .auto-group-esqn-XC4 {
  margin: 11.1rem 2rem 0rem 0rem;
  width: 24.5rem;
  flex-shrink: 0;
}
.my-profile-ByS .auto-group-gvms-jEG .auto-group-bx4c-fNp .auto-group-esqn-XC4 .auto-group-7x3s-Fdr {
  margin-bottom: 7.7rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.my-profile-ByS .auto-group-gvms-jEG .auto-group-bx4c-fNp .auto-group-esqn-XC4 .auto-group-7x3s-Fdr .plans-Pzx {
  margin-right: 2.1rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-profile-ByS .auto-group-gvms-jEG .auto-group-bx4c-fNp .auto-group-esqn-XC4 .auto-group-7x3s-Fdr .game-jJ8 {
  margin-right: 2rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-profile-ByS .auto-group-gvms-jEG .auto-group-bx4c-fNp .auto-group-esqn-XC4 .auto-group-7x3s-Fdr .lottery-sQL {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-profile-ByS .auto-group-gvms-jEG .auto-group-bx4c-fNp .auto-group-esqn-XC4 .auto-group-ahlc-cMv {
  margin-left: 0.4rem;
  width: 20.4rem;
  height: 6.4rem;
  position: relative;
}
.my-profile-ByS .auto-group-gvms-jEG .auto-group-bx4c-fNp .auto-group-esqn-XC4 .auto-group-ahlc-cMv .my-profile-xAt {
  width: 20.4rem;
  height: 6.4rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-profile-ByS .auto-group-gvms-jEG .auto-group-bx4c-fNp .auto-group-esqn-XC4 .auto-group-ahlc-cMv .line-25-U9E {
  width: 19.5rem;
  height: 0.2rem;
  position: absolute;
  left: 0.4rem;
  top: 5.2rem;
  background-color: #fbbc04;
}
.my-profile-ByS .auto-group-gvms-jEG .auto-group-bx4c-fNp .faqs-nQp {
  margin: 0rem 2rem 3rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-profile-ByS .auto-group-gvms-jEG .auto-group-bx4c-fNp .contact-us-i3a {
  margin: 0rem 5rem 3rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-profile-ByS .auto-group-gvms-jEG .auto-group-bx4c-fNp .group-2px {
  margin: 0rem 0.8rem 3.4rem 0rem;
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-profile-ByS .auto-group-gvms-jEG .auto-group-bx4c-fNp .eng-ZK6 {
  margin: 0rem 7.5rem 3.4rem 0rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-profile-ByS .auto-group-gvms-jEG .auto-group-bx4c-fNp .ellipse-11-tcG {
  margin-bottom: 3.2rem;
  width: 6rem;
  height: 6rem;
  border: solid 0.2rem #ffffff;
  box-sizing: border-box;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  background-size: 100% 150%;
  background-position: 0 -1.5rem;
  background-image: url('../assets/ellipse-11-bg-Deg.png');
  border-radius: 3rem;
  flex-shrink: 0;
}
.my-profile-ByS .auto-group-gvms-jEG .auto-group-bx4c-fNp .ellipse-11-tcG .ellipse-11-tcG-bg {
  width: 6rem;
  height: 6rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:be205d20703d00cb3a2ca82cd0a3d02320b81482');
}
.my-profile-ByS .auto-group-gvms-jEG .line-36-vYx {
  width: 120rem;
  height: 0.1rem;
  position: absolute;
  left: 12rem;
  top: 63.8rem;
  background-color: #a5a5a5;
}
.my-profile-ByS .auto-group-gvms-jEG .line-37-TYt {
  width: 120rem;
  height: 0.1rem;
  position: absolute;
  left: 12rem;
  top: 73.8rem;
  background-color: #a5a5a5;
}
.my-profile-ByS .auto-group-gvms-jEG .line-38-bf6 {
  width: 120rem;
  height: 0.1rem;
  position: absolute;
  left: 12rem;
  top: 83.8rem;
  background-color: #a5a5a5;
}
.my-profile-ByS .auto-group-gvms-jEG .line-39-YKS {
  width: 120rem;
  height: 0.1rem;
  position: absolute;
  left: 12rem;
  top: 93.8rem;
  background-color: #a5a5a5;
}
.my-profile-ByS .auto-group-gvms-jEG .line-40-664 {
  width: 120rem;
  height: 0.1rem;
  position: absolute;
  left: 12rem;
  top: 103.8rem;
  background-color: #a5a5a5;
}
.my-profile-ByS .auto-group-gvms-jEG .line-41-q3e {
  width: 120rem;
  height: 0.1rem;
  position: absolute;
  left: 12rem;
  top: 111.7rem;
  background-color: #a5a5a5;
}
.my-profile-ByS .auto-group-gvms-jEG .auto-group-ujyy-mhz {
  width: 119.5rem;
  height: 4.3rem;
  position: absolute;
  left: 12rem;
  top: 58.2rem;
  display: flex;
  align-items: center;
}
.my-profile-ByS .auto-group-gvms-jEG .auto-group-ujyy-mhz .username-hbe {
  margin-right: 101.0167rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-profile-ByS .auto-group-gvms-jEG .auto-group-ujyy-mhz .iconamoon-edit-2tp {
  margin: 0rem 1.513rem 0.218rem 0rem;
  width: 1.7708rem;
  height: 1.6845rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-profile-ByS .auto-group-gvms-jEG .auto-group-ujyy-mhz .edit-kpp {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-profile-ByS .auto-group-gvms-jEG .auto-group-hakr-VGc {
  width: 119.5rem;
  height: 4.3rem;
  position: absolute;
  left: 12rem;
  top: 68.2rem;
  display: flex;
  align-items: center;
}
.my-profile-ByS .auto-group-gvms-jEG .auto-group-hakr-VGc .name-cc8 {
  margin-right: 105.6167rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-profile-ByS .auto-group-gvms-jEG .auto-group-hakr-VGc .iconamoon-edit-ZGU {
  margin: 0rem 1.513rem 0.218rem 0rem;
  width: 1.7708rem;
  height: 1.6845rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-profile-ByS .auto-group-gvms-jEG .auto-group-hakr-VGc .edit-HCU {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-profile-ByS .auto-group-gvms-jEG .auto-group-1qwn-E7i {
  width: 119.5rem;
  height: 4.3rem;
  position: absolute;
  left: 12rem;
  top: 78.2rem;
  display: flex;
  align-items: center;
}
.my-profile-ByS .auto-group-gvms-jEG .auto-group-1qwn-E7i .email-address-My2 {
  margin-right: 96.5167rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-profile-ByS .auto-group-gvms-jEG .auto-group-1qwn-E7i .iconamoon-edit-hGC {
  margin: 0rem 1.513rem 0.218rem 0rem;
  width: 1.7708rem;
  height: 1.6845rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-profile-ByS .auto-group-gvms-jEG .auto-group-1qwn-E7i .edit-E1E {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-profile-ByS .auto-group-gvms-jEG .auto-group-iwe8-mWx {
  width: 119.5rem;
  height: 4.3rem;
  position: absolute;
  left: 12rem;
  top: 88.2rem;
  display: flex;
  align-items: center;
}
.my-profile-ByS .auto-group-gvms-jEG .auto-group-iwe8-mWx .tether-address-VC4 {
  margin-right: 95.6167rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-profile-ByS .auto-group-gvms-jEG .auto-group-iwe8-mWx .iconamoon-edit-T2Q {
  margin: 0rem 1.513rem 0.218rem 0rem;
  width: 1.7708rem;
  height: 1.6845rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-profile-ByS .auto-group-gvms-jEG .auto-group-iwe8-mWx .edit-mon {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-profile-ByS .auto-group-gvms-jEG .auto-group-5cfr-WmN {
  width: 119.5rem;
  height: 4.3rem;
  position: absolute;
  left: 12rem;
  top: 98.2rem;
  display: flex;
  align-items: center;
}
.my-profile-ByS .auto-group-gvms-jEG .auto-group-5cfr-WmN .password-Sf2 {
  margin-right: 101.3167rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-profile-ByS .auto-group-gvms-jEG .auto-group-5cfr-WmN .iconamoon-edit-BMi {
  margin: 0rem 1.513rem 0.218rem 0rem;
  width: 1.7708rem;
  height: 1.6845rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-profile-ByS .auto-group-gvms-jEG .auto-group-5cfr-WmN .edit-Jx8 {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-profile-ByS .auto-group-gvms-jEG .auto-group-ms4q-Tq2 {
  width: 119.5rem;
  height: 4.3rem;
  position: absolute;
  left: 12rem;
  top: 106.1rem;
  display: flex;
  align-items: center;
}
.my-profile-ByS .auto-group-gvms-jEG .auto-group-ms4q-Tq2 .reference-number-bgL {
  margin-right: 91.9167rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-profile-ByS .auto-group-gvms-jEG .auto-group-ms4q-Tq2 .iconamoon-edit-Ldv {
  margin: 0rem 1.513rem 0.218rem 0rem;
  width: 1.7708rem;
  height: 1.6845rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-profile-ByS .auto-group-gvms-jEG .auto-group-ms4q-Tq2 .edit-4Zv {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-profile-ByS .auto-group-gvms-jEG .auto-group-c3dj-1VA {
  width: 45.4rem;
  height: 20.1rem;
  position: absolute;
  left: 12.9rem;
  top: 31.8rem;
  display: flex;
  align-items: center;
}
.my-profile-ByS .auto-group-gvms-jEG .auto-group-c3dj-1VA .auto-group-jh7e-iPa {
  margin-right: 5.1rem;
  width: 20rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.my-profile-ByS .auto-group-gvms-jEG .auto-group-c3dj-1VA .auto-group-jh7e-iPa .ellipse-11-rVn {
  width: 20rem;
  height: 20rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.8rem #ffffff;
  box-sizing: border-box;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  background-size: 100% 150%;
  background-position: 0 -5rem;
  background-image: url('../assets/ellipse-11-bg-FvY.png');
  border-radius: 10rem;
}
.my-profile-ByS .auto-group-gvms-jEG .auto-group-c3dj-1VA .auto-group-jh7e-iPa .ellipse-11-rVn .ellipse-11-rVn-bg {
  width: 20rem;
  height: 20rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:be205d20703d00cb3a2ca82cd0a3d02320b81482');
}
.my-profile-ByS .auto-group-gvms-jEG .auto-group-c3dj-1VA .auto-group-jh7e-iPa .ellipse-12-HLC {
  width: 20rem;
  height: 20rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
  background-color: rgba(0, 0, 0, 0.4900000095);
  border-radius: 10rem;
}
.my-profile-ByS .auto-group-gvms-jEG .auto-group-c3dj-1VA .auto-group-jh7e-iPa .ion-camera-p5E {
  width: 4.3824rem;
  height: 3.4469rem;
  position: absolute;
  left: 7.8142rem;
  top: 6.7819rem;
  object-fit: contain;
  vertical-align: top;
}
.my-profile-ByS .auto-group-gvms-jEG .auto-group-c3dj-1VA .auto-group-jh7e-iPa .change-image-XkL {
  width: 10.3rem;
  height: 2.9rem;
  position: absolute;
  left: 4.8rem;
  top: 10.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-profile-ByS .auto-group-gvms-jEG .auto-group-c3dj-1VA .auto-group-qdx6-qFE {
  margin: 5.2rem 0rem 4.7rem 0rem;
  height: calc(100% - 9.9rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.my-profile-ByS .auto-group-gvms-jEG .auto-group-c3dj-1VA .auto-group-qdx6-qFE .sara-taylor-xak {
  margin: 0rem 0rem 0.2rem 0.1rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-profile-ByS .auto-group-gvms-jEG .auto-group-c3dj-1VA .auto-group-qdx6-qFE .reference-number-gme {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.7690000534;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-profile-ByS .auto-group-gvms-jEG .frame-6-2Ki {
  width: 20.7rem;
  height: 6.8rem;
  position: absolute;
  left: 61.7rem;
  top: 118.9rem;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fbbc04;
  border-radius: 0.5rem;
}
.my-profile-ByS .auto-group-n34c-hwe {
  width: 100%;
  height: 63.2rem;
  position: relative;
  flex-shrink: 0;
}
.my-profile-ByS .auto-group-n34c-hwe .rectangle-32-daQ {
  width: 144rem;
  height: 51.7rem;
  position: absolute;
  left: 0;
  top: 11.5rem;
  background-color: rgba(236, 189, 39, 0.3000000119);
}
.my-profile-ByS .auto-group-n34c-hwe .group-20-A4Y {
  width: 9.7rem;
  height: 23.5rem;
  position: absolute;
  left: 74.1rem;
  top: 31.3rem;
}
.my-profile-ByS .auto-group-n34c-hwe .group-20-A4Y .company-Ub2 {
  margin-bottom: 2.8rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-profile-ByS .auto-group-n34c-hwe .group-20-A4Y .about-us-cx8 {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-profile-ByS .auto-group-n34c-hwe .group-20-A4Y .contact-us-mKE {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-profile-ByS .auto-group-n34c-hwe .group-20-A4Y .career-Ja4 {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-profile-ByS .auto-group-n34c-hwe .group-20-A4Y .lottery-SwA {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-profile-ByS .auto-group-n34c-hwe .group-37-CQY {
  width: 9.7rem;
  height: 14.7rem;
  position: absolute;
  left: 92.9rem;
  top: 31.3rem;
}
.my-profile-ByS .auto-group-n34c-hwe .group-37-CQY .support-w7E {
  margin-bottom: 2.8rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-profile-ByS .auto-group-n34c-hwe .group-37-CQY .faqs-5jE {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-profile-ByS .auto-group-n34c-hwe .group-37-CQY .contact-us-dVr {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-profile-ByS .auto-group-n34c-hwe .group-19-ypc {
  width: 15rem;
  height: 23.5rem;
  position: absolute;
  left: 51.4rem;
  top: 31.3rem;
}
.my-profile-ByS .auto-group-n34c-hwe .group-19-ypc .quick-links-Kda {
  margin-bottom: 2.8rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-profile-ByS .auto-group-n34c-hwe .group-19-ypc .terms-of-service-56x {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-profile-ByS .auto-group-n34c-hwe .group-19-ypc .privacy-policy-DDA {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-profile-ByS .auto-group-n34c-hwe .group-19-ypc .plans-kTz {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-profile-ByS .auto-group-n34c-hwe .group-19-ypc .games-u5z {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-profile-ByS .auto-group-n34c-hwe .group-38-3xt {
  width: 19.8rem;
  height: 9.1rem;
  position: absolute;
  left: 111.7rem;
  top: 31.3rem;
}
.my-profile-ByS .auto-group-n34c-hwe .group-38-3xt .connect-with-us--C56 {
  margin: 0rem 0rem 0.5rem 0.4rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-profile-ByS .auto-group-n34c-hwe .group-38-3xt .group-22-i3S {
  box-sizing: border-box;
  padding: 0.392rem 0.35rem 0.4rem 0.392rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.my-profile-ByS .auto-group-n34c-hwe .group-38-3xt .group-22-i3S .ic-baseline-facebook-q84 {
  margin: 0rem 1.292rem 0.001rem 0rem;
  width: 3.9167rem;
  height: 3.9069rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-profile-ByS .auto-group-n34c-hwe .group-38-3xt .group-22-i3S .formkit-twitter-kF2 {
  margin: 0.008rem 1.258rem 0rem 0rem;
  width: 3.9rem;
  height: 3.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-profile-ByS .auto-group-n34c-hwe .group-38-3xt .group-22-i3S .ri-instagram-fill-s4k {
  margin: 0.008rem 1.608rem 0rem 0rem;
  width: 3.5835rem;
  height: 3.5834rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-profile-ByS .auto-group-n34c-hwe .group-38-3xt .group-22-i3S .ri-whatsapp-fill-NGQ {
  margin-top: 0.0083rem;
  width: 3.5rem;
  height: 3.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-profile-ByS .auto-group-n34c-hwe .group-36-HuA {
  width: 30.2rem;
  height: 22rem;
  position: absolute;
  left: 6rem;
  top: 23.1rem;
}
.my-profile-ByS .auto-group-n34c-hwe .group-36-HuA .untitled-1-2-RVa {
  width: 22rem;
  height: 22rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.my-profile-ByS .auto-group-n34c-hwe .group-36-HuA .cryptofibank-knk {
  width: 14.2rem;
  height: 2.8rem;
  position: absolute;
  left: 16rem;
  top: 8.8rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Sansita One, 'Source Sans Pro';
  white-space: nowrap;
}
.my-profile-ByS .auto-group-n34c-hwe .cryptofibank-a-trusted-name-in-the-world-of-financial-opportunity-provides-a-secure-platform-for-investing-in-forex-cryptocurrencies-slot-games-and-lotteries-SvU {
  width: 27.5rem;
  height: 14.2rem;
  position: absolute;
  left: 12rem;
  top: 40.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.my-profile-ByS .auto-group-n34c-hwe .rectangle-34-4wr {
  width: 144rem;
  height: 3.7rem;
  position: absolute;
  left: 0;
  top: 59.5rem;
  background-color: #ecbd27;
}
.my-profile-ByS .auto-group-n34c-hwe .group-39-oeY {
  width: 26.7rem;
  height: 2.9rem;
  position: absolute;
  left: 58.2rem;
  top: 59.9rem;
}
.my-profile-ByS .auto-group-n34c-hwe .group-39-oeY .copyright-2023-all-rights-reserved-k3z {
  width: 26.7rem;
  height: 2.9rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.7690000534;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-profile-ByS .auto-group-n34c-hwe .group-39-oeY .ic-outline-copyright-3Yt {
  width: 1.6667rem;
  height: 1.6667rem;
  position: absolute;
  left: 7.3667rem;
  top: 0.5667rem;
  object-fit: contain;
  vertical-align: top;
}
.my-profile-ByS .auto-group-n34c-hwe .group-42-xvk {
  box-sizing: border-box;
  padding: 1.3rem 31.2rem 3.2rem 31.2rem;
  width: 119.5rem;
  height: 23rem;
  position: absolute;
  left: 12rem;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1rem;
}
.my-profile-ByS .auto-group-n34c-hwe .group-42-xvk .auto-group-wwbw-GgY {
  margin: 0rem 10.6rem 1.8rem 9.4rem;
  width: calc(100% - 20rem);
  height: 8.2rem;
  position: relative;
  flex-shrink: 0;
}
.my-profile-ByS .auto-group-n34c-hwe .group-42-xvk .auto-group-wwbw-GgY .subscribe-to-news-oAg {
  width: 31.6rem;
  height: 5.7rem;
  position: absolute;
  left: 2.9rem;
  top: 0;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.7690000534;
  color: #ecbd27;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-profile-ByS .auto-group-n34c-hwe .group-42-xvk .auto-group-wwbw-GgY .get-the-latest-insights-subscribe-to-our-newsletter-6vU {
  width: 37.1rem;
  height: 2.9rem;
  position: absolute;
  left: 0;
  top: 5.3rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-profile-ByS .auto-group-n34c-hwe .group-42-xvk .group-40-Bwv {
  box-sizing: border-box;
  padding-left: 2.9rem;
  width: 100%;
  height: 8.5rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #afafaf;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.my-profile-ByS .auto-group-n34c-hwe .group-42-xvk .group-40-Bwv .enter-your-email-address-vec {
  margin-right: 17.6rem;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.7690001095;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-profile-ByS .auto-group-n34c-hwe .group-42-xvk .group-40-Bwv .auto-group-pqxn-TPe {
  width: 17.3rem;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.7690000534;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ecbd27;
  border-radius: 0 0.8rem 0.8rem 0;
  flex-shrink: 0;
}
