
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.my-tickets-3Ag {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.my-tickets-3Ag .auto-group-mie4-kat {
  box-sizing: border-box;
  padding-bottom: 12rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.my-tickets-3Ag .auto-group-mie4-kat .auto-group-5egp-5dA {
  margin: 0rem 12.2rem 4.3rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.my-tickets-3Ag .auto-group-mie4-kat .auto-group-5egp-5dA .group-1-PNx {
  margin: 0rem 8.647rem 0.44rem 0rem;
  width: 33.9531rem;
  height: 27.1605rem;
  position: relative;
  flex-shrink: 0;
}
.my-tickets-3Ag .auto-group-mie4-kat .auto-group-5egp-5dA .group-1-PNx .untitled-1-2-JF2 {
  width: 27.1605rem;
  height: 27.1605rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.my-tickets-3Ag .auto-group-mie4-kat .auto-group-5egp-5dA .group-1-PNx .cryptofibank-E8g {
  width: 14.2rem;
  height: 2.8rem;
  position: absolute;
  left: 19.0531rem;
  top: 10.4642rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Sansita One, 'Source Sans Pro';
  white-space: nowrap;
}
.my-tickets-3Ag .auto-group-mie4-kat .auto-group-5egp-5dA .home-7CU {
  margin: 0rem 2rem 3rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  text-transform: uppercase;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-tickets-3Ag .auto-group-mie4-kat .auto-group-5egp-5dA .about-us-QSU {
  margin: 0rem 2.2rem 3rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  text-transform: uppercase;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-tickets-3Ag .auto-group-mie4-kat .auto-group-5egp-5dA .auto-group-tp28-iCG {
  margin: 11.1rem 2rem 0rem 0rem;
  width: 24.5rem;
  flex-shrink: 0;
}
.my-tickets-3Ag .auto-group-mie4-kat .auto-group-5egp-5dA .auto-group-tp28-iCG .auto-group-e6sl-Stx {
  margin-bottom: 7.7rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.my-tickets-3Ag .auto-group-mie4-kat .auto-group-5egp-5dA .auto-group-tp28-iCG .auto-group-e6sl-Stx .plans-z9n {
  margin-right: 2.1rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-tickets-3Ag .auto-group-mie4-kat .auto-group-5egp-5dA .auto-group-tp28-iCG .auto-group-e6sl-Stx .game-7VJ {
  margin-right: 2rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-tickets-3Ag .auto-group-mie4-kat .auto-group-5egp-5dA .auto-group-tp28-iCG .auto-group-e6sl-Stx .lottery-TJG {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-tickets-3Ag .auto-group-mie4-kat .auto-group-5egp-5dA .auto-group-tp28-iCG .auto-group-de2k-Bk4 {
  margin-left: 0.4rem;
  width: 20.7rem;
  height: 6.4rem;
  position: relative;
}
.my-tickets-3Ag .auto-group-mie4-kat .auto-group-5egp-5dA .auto-group-tp28-iCG .auto-group-de2k-Bk4 .my-tickets-uvx {
  width: 20.7rem;
  height: 6.4rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-tickets-3Ag .auto-group-mie4-kat .auto-group-5egp-5dA .auto-group-tp28-iCG .auto-group-de2k-Bk4 .line-25-ECY {
  width: 19.5rem;
  height: 0.2rem;
  position: absolute;
  left: 0.4rem;
  top: 5.2rem;
  background-color: #fbbc04;
}
.my-tickets-3Ag .auto-group-mie4-kat .auto-group-5egp-5dA .faqs-x8Y {
  margin: 0rem 2rem 3rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-tickets-3Ag .auto-group-mie4-kat .auto-group-5egp-5dA .contact-us-4SU {
  margin: 0rem 5rem 3rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-tickets-3Ag .auto-group-mie4-kat .auto-group-5egp-5dA .group-ypL {
  margin: 0rem 0.8rem 3.4rem 0rem;
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-tickets-3Ag .auto-group-mie4-kat .auto-group-5egp-5dA .eng-uhz {
  margin: 0rem 7.5rem 3.4rem 0rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-tickets-3Ag .auto-group-mie4-kat .auto-group-5egp-5dA .ellipse-11-SC8 {
  margin-bottom: 3.2rem;
  width: 6rem;
  height: 6rem;
  border: solid 0.2rem #ffffff;
  box-sizing: border-box;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  background-size: 100% 150%;
  background-position: 0 -1.5rem;
  background-image: url('../assets/ellipse-11-bg.png');
  border-radius: 3rem;
  flex-shrink: 0;
}
.my-tickets-3Ag .auto-group-mie4-kat .auto-group-5egp-5dA .ellipse-11-SC8 .ellipse-11-SC8-bg {
  width: 6rem;
  height: 6rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:be205d20703d00cb3a2ca82cd0a3d02320b81482');
}
.my-tickets-3Ag .auto-group-mie4-kat .group-134-e3J {
  margin: 0rem 47.7rem 8.2rem 47.8rem;
  width: calc(100% - 95.5rem);
  height: 20.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.my-tickets-3Ag .auto-group-mie4-kat .group-134-e3J .group-132-wYC {
  margin-right: 4.7rem;
  box-sizing: border-box;
  padding-bottom: 3.3rem;
  width: 21.9rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.my-tickets-3Ag .auto-group-mie4-kat .group-134-e3J .group-132-wYC .auto-group-viwt-rfA {
  margin-bottom: 2.6rem;
  width: 100%;
  height: 5.8rem;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.7689999667;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.25);
  background-color: #fbbc04;
  border-radius: 0.5rem 0.5rem 0 0;
  flex-shrink: 0;
}
.my-tickets-3Ag .auto-group-mie4-kat .group-134-e3J .group-132-wYC .item-100-uNY {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-tickets-3Ag .auto-group-mie4-kat .group-134-e3J .group-133-oip {
  box-sizing: border-box;
  padding-bottom: 3.3rem;
  width: 21.9rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.my-tickets-3Ag .auto-group-mie4-kat .group-134-e3J .group-133-oip .auto-group-2ppp-j6g {
  margin-bottom: 2.6rem;
  width: 100%;
  height: 5.8rem;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.7689999667;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.25);
  background-color: #fbbc04;
  border-radius: 0.5rem 0.5rem 0 0;
  flex-shrink: 0;
}
.my-tickets-3Ag .auto-group-mie4-kat .group-134-e3J .group-133-oip .item-150-zYQ {
  margin-right: 0.2rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-tickets-3Ag .auto-group-mie4-kat .auto-group-8c7z-HnQ {
  margin: 0rem 18.2rem 0.4rem 15.2rem;
  width: calc(100% - 33.4rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.my-tickets-3Ag .auto-group-mie4-kat .auto-group-8c7z-HnQ .ticket-number-1Cc {
  margin-right: 15.5rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-tickets-3Ag .auto-group-mie4-kat .auto-group-8c7z-HnQ .purchased-date-time-jPW {
  margin-right: 15.2rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-tickets-3Ag .auto-group-mie4-kat .auto-group-8c7z-HnQ .amount-paid-4Rn {
  margin-right: 15.8rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-tickets-3Ag .auto-group-mie4-kat .auto-group-8c7z-HnQ .quantity-zqE {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-tickets-3Ag .auto-group-mie4-kat .auto-group-gmkw-jXv {
  margin: 0rem 12.4rem 0rem 12rem;
  width: calc(100% - 24.4rem);
  height: 33.3rem;
  border-right: solid 0.1rem #a5a5a5;
  box-sizing: border-box;
  flex-shrink: 0;
}
.my-tickets-3Ag .auto-group-mie4-kat .auto-group-gmkw-jXv .auto-group-c2pr-eun {
  width: 119.5rem;
  height: 100%;
  position: relative;
  border-left: solid 0.1rem #a5a5a5;
  box-sizing: border-box;
}
.my-tickets-3Ag .auto-group-mie4-kat .auto-group-gmkw-jXv .auto-group-c2pr-eun .line-42-Nqn {
  width: 119.5rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
  background-color: #a5a5a5;
}
.my-tickets-3Ag .auto-group-mie4-kat .auto-group-gmkw-jXv .auto-group-c2pr-eun .line-43-7YU {
  width: 119.5rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 8.4rem;
  background-color: #a5a5a5;
}
.my-tickets-3Ag .auto-group-mie4-kat .auto-group-gmkw-jXv .auto-group-c2pr-eun .line-44-Sqe {
  width: 119.5rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 16.7rem;
  background-color: #a5a5a5;
}
.my-tickets-3Ag .auto-group-mie4-kat .auto-group-gmkw-jXv .auto-group-c2pr-eun .line-45-z6U {
  width: 119.5rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 25rem;
  background-color: #a5a5a5;
}
.my-tickets-3Ag .auto-group-mie4-kat .auto-group-gmkw-jXv .auto-group-c2pr-eun .item-123456789-8Cg {
  width: 14.2rem;
  height: 5rem;
  position: absolute;
  left: 3.8rem;
  top: 1.9rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-tickets-3Ag .auto-group-mie4-kat .auto-group-gmkw-jXv .auto-group-c2pr-eun .pm-1XN {
  width: 26.8rem;
  height: 5rem;
  position: absolute;
  left: 34.3rem;
  top: 1.9rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-tickets-3Ag .auto-group-mie4-kat .auto-group-gmkw-jXv .auto-group-c2pr-eun .item-1-use {
  width: 3.2rem;
  height: 5rem;
  position: absolute;
  left: 80.8rem;
  top: 1.9rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-tickets-3Ag .auto-group-mie4-kat .auto-group-gmkw-jXv .auto-group-c2pr-eun .item-01-R5J {
  width: 3.2rem;
  height: 5rem;
  position: absolute;
  left: 107.7rem;
  top: 1.9rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-tickets-3Ag .auto-group-mie4-kat .auto-group-gmkw-jXv .auto-group-c2pr-eun .item-01-LCG {
  width: 3.2rem;
  height: 5rem;
  position: absolute;
  left: 107.7rem;
  top: 10rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-tickets-3Ag .auto-group-mie4-kat .auto-group-gmkw-jXv .auto-group-c2pr-eun .item-01-eye {
  width: 3.2rem;
  height: 5rem;
  position: absolute;
  left: 107.7rem;
  top: 18.1rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-tickets-3Ag .auto-group-mie4-kat .auto-group-gmkw-jXv .auto-group-c2pr-eun .item-01-Ah6 {
  width: 3.2rem;
  height: 5rem;
  position: absolute;
  left: 107.7rem;
  top: 26.2rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-tickets-3Ag .auto-group-mie4-kat .auto-group-gmkw-jXv .auto-group-c2pr-eun .item-1-USt {
  width: 3.2rem;
  height: 5rem;
  position: absolute;
  left: 80.8rem;
  top: 10rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-tickets-3Ag .auto-group-mie4-kat .auto-group-gmkw-jXv .auto-group-c2pr-eun .item-1-aF2 {
  width: 3.2rem;
  height: 5rem;
  position: absolute;
  left: 80.8rem;
  top: 18.1rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-tickets-3Ag .auto-group-mie4-kat .auto-group-gmkw-jXv .auto-group-c2pr-eun .item-1-VMz {
  width: 3.2rem;
  height: 5rem;
  position: absolute;
  left: 80.8rem;
  top: 26.2rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-tickets-3Ag .auto-group-mie4-kat .auto-group-gmkw-jXv .auto-group-c2pr-eun .pm-cBi {
  width: 26.8rem;
  height: 5rem;
  position: absolute;
  left: 34.3rem;
  top: 10rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-tickets-3Ag .auto-group-mie4-kat .auto-group-gmkw-jXv .auto-group-c2pr-eun .pm-viC {
  width: 26.8rem;
  height: 5rem;
  position: absolute;
  left: 34.3rem;
  top: 18.5rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-tickets-3Ag .auto-group-mie4-kat .auto-group-gmkw-jXv .auto-group-c2pr-eun .pm-eeC {
  width: 26.8rem;
  height: 5rem;
  position: absolute;
  left: 34.3rem;
  top: 26.8rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-tickets-3Ag .auto-group-mie4-kat .auto-group-gmkw-jXv .auto-group-c2pr-eun .item-123456789-MHi {
  width: 14.2rem;
  height: 5rem;
  position: absolute;
  left: 3.8rem;
  top: 10rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-tickets-3Ag .auto-group-mie4-kat .auto-group-gmkw-jXv .auto-group-c2pr-eun .item-123456789-TLk {
  width: 14.2rem;
  height: 5rem;
  position: absolute;
  left: 3.8rem;
  top: 18.2rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-tickets-3Ag .auto-group-mie4-kat .auto-group-gmkw-jXv .auto-group-c2pr-eun .item-123456789-xHW {
  width: 14.2rem;
  height: 5rem;
  position: absolute;
  left: 3.8rem;
  top: 26.4rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-tickets-3Ag .auto-group-mie4-kat .line-46-RB6 {
  margin: 0rem 12.5rem 0rem 12rem;
  width: calc(100% - 24.5rem);
  height: 0.1rem;
  background-color: #a5a5a5;
  flex-shrink: 0;
}
.my-tickets-3Ag .auto-group-wk9z-8rC {
  width: 100%;
  height: 63.2rem;
  position: relative;
  flex-shrink: 0;
}
.my-tickets-3Ag .auto-group-wk9z-8rC .rectangle-32-sHz {
  width: 144rem;
  height: 51.7rem;
  position: absolute;
  left: 0;
  top: 11.5rem;
  background-color: rgba(236, 189, 39, 0.3000000119);
}
.my-tickets-3Ag .auto-group-wk9z-8rC .group-20-zdW {
  width: 9.7rem;
  height: 23.5rem;
  position: absolute;
  left: 74.1rem;
  top: 31.3rem;
}
.my-tickets-3Ag .auto-group-wk9z-8rC .group-20-zdW .company-Wrk {
  margin-bottom: 2.8rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-tickets-3Ag .auto-group-wk9z-8rC .group-20-zdW .about-us-rQp {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-tickets-3Ag .auto-group-wk9z-8rC .group-20-zdW .contact-us-BT6 {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-tickets-3Ag .auto-group-wk9z-8rC .group-20-zdW .career-X1A {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-tickets-3Ag .auto-group-wk9z-8rC .group-20-zdW .lottery-4Wt {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-tickets-3Ag .auto-group-wk9z-8rC .group-37-Cd6 {
  width: 9.7rem;
  height: 14.7rem;
  position: absolute;
  left: 92.9rem;
  top: 31.3rem;
}
.my-tickets-3Ag .auto-group-wk9z-8rC .group-37-Cd6 .support-XvG {
  margin-bottom: 2.8rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-tickets-3Ag .auto-group-wk9z-8rC .group-37-Cd6 .faqs-UKi {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-tickets-3Ag .auto-group-wk9z-8rC .group-37-Cd6 .contact-us-REx {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-tickets-3Ag .auto-group-wk9z-8rC .group-19-YaU {
  width: 15rem;
  height: 23.5rem;
  position: absolute;
  left: 51.4rem;
  top: 31.3rem;
}
.my-tickets-3Ag .auto-group-wk9z-8rC .group-19-YaU .quick-links-ff6 {
  margin-bottom: 2.8rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-tickets-3Ag .auto-group-wk9z-8rC .group-19-YaU .terms-of-service-oWQ {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-tickets-3Ag .auto-group-wk9z-8rC .group-19-YaU .privacy-policy-w6p {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-tickets-3Ag .auto-group-wk9z-8rC .group-19-YaU .plans-sFN {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-tickets-3Ag .auto-group-wk9z-8rC .group-19-YaU .games-16g {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-tickets-3Ag .auto-group-wk9z-8rC .group-38-MAY {
  width: 19.8rem;
  height: 9.1rem;
  position: absolute;
  left: 111.7rem;
  top: 31.3rem;
}
.my-tickets-3Ag .auto-group-wk9z-8rC .group-38-MAY .connect-with-us--sPn {
  margin: 0rem 0rem 0.5rem 0.4rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-tickets-3Ag .auto-group-wk9z-8rC .group-38-MAY .group-22-Pd2 {
  box-sizing: border-box;
  padding: 0.392rem 0.35rem 0.4rem 0.392rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.my-tickets-3Ag .auto-group-wk9z-8rC .group-38-MAY .group-22-Pd2 .ic-baseline-facebook-vN4 {
  margin: 0rem 1.292rem 0.001rem 0rem;
  width: 3.9167rem;
  height: 3.9069rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-tickets-3Ag .auto-group-wk9z-8rC .group-38-MAY .group-22-Pd2 .formkit-twitter-dnG {
  margin: 0.008rem 1.258rem 0rem 0rem;
  width: 3.9rem;
  height: 3.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-tickets-3Ag .auto-group-wk9z-8rC .group-38-MAY .group-22-Pd2 .ri-instagram-fill-YeL {
  margin: 0.008rem 1.608rem 0rem 0rem;
  width: 3.5835rem;
  height: 3.5834rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-tickets-3Ag .auto-group-wk9z-8rC .group-38-MAY .group-22-Pd2 .ri-whatsapp-fill-fDA {
  margin-top: 0.0083rem;
  width: 3.5rem;
  height: 3.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-tickets-3Ag .auto-group-wk9z-8rC .group-36-BxC {
  width: 30.2rem;
  height: 22rem;
  position: absolute;
  left: 6rem;
  top: 23.1rem;
}
.my-tickets-3Ag .auto-group-wk9z-8rC .group-36-BxC .untitled-1-2-XFN {
  width: 22rem;
  height: 22rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.my-tickets-3Ag .auto-group-wk9z-8rC .group-36-BxC .cryptofibank-GCx {
  width: 14.2rem;
  height: 2.8rem;
  position: absolute;
  left: 16rem;
  top: 8.8rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Sansita One, 'Source Sans Pro';
  white-space: nowrap;
}
.my-tickets-3Ag .auto-group-wk9z-8rC .cryptofibank-a-trusted-name-in-the-world-of-financial-opportunity-provides-a-secure-platform-for-investing-in-forex-cryptocurrencies-slot-games-and-lotteries-xrU {
  width: 27.5rem;
  height: 14.2rem;
  position: absolute;
  left: 12rem;
  top: 40.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.my-tickets-3Ag .auto-group-wk9z-8rC .rectangle-34-zoA {
  width: 144rem;
  height: 3.7rem;
  position: absolute;
  left: 0;
  top: 59.5rem;
  background-color: #ecbd27;
}
.my-tickets-3Ag .auto-group-wk9z-8rC .group-39-8eU {
  width: 26.7rem;
  height: 2.9rem;
  position: absolute;
  left: 58.2rem;
  top: 59.9rem;
}
.my-tickets-3Ag .auto-group-wk9z-8rC .group-39-8eU .copyright-2023-all-rights-reserved-sc4 {
  width: 26.7rem;
  height: 2.9rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.7690000534;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-tickets-3Ag .auto-group-wk9z-8rC .group-39-8eU .ic-outline-copyright-b2G {
  width: 1.6667rem;
  height: 1.6667rem;
  position: absolute;
  left: 7.3667rem;
  top: 0.5667rem;
  object-fit: contain;
  vertical-align: top;
}
.my-tickets-3Ag .auto-group-wk9z-8rC .group-42-WQ8 {
  box-sizing: border-box;
  padding: 1.3rem 31.2rem 3.2rem 31.2rem;
  width: 119.5rem;
  height: 23rem;
  position: absolute;
  left: 12rem;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1rem;
}
.my-tickets-3Ag .auto-group-wk9z-8rC .group-42-WQ8 .auto-group-qtkp-ncY {
  margin: 0rem 10.6rem 1.8rem 9.4rem;
  width: calc(100% - 20rem);
  height: 8.2rem;
  position: relative;
  flex-shrink: 0;
}
.my-tickets-3Ag .auto-group-wk9z-8rC .group-42-WQ8 .auto-group-qtkp-ncY .subscribe-to-news-6t8 {
  width: 31.6rem;
  height: 5.7rem;
  position: absolute;
  left: 2.9rem;
  top: 0;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.7690000534;
  color: #ecbd27;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-tickets-3Ag .auto-group-wk9z-8rC .group-42-WQ8 .auto-group-qtkp-ncY .get-the-latest-insights-subscribe-to-our-newsletter-1VJ {
  width: 37.1rem;
  height: 2.9rem;
  position: absolute;
  left: 0;
  top: 5.3rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-tickets-3Ag .auto-group-wk9z-8rC .group-42-WQ8 .group-40-HSp {
  box-sizing: border-box;
  padding-left: 2.9rem;
  width: 100%;
  height: 8.5rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #afafaf;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.my-tickets-3Ag .auto-group-wk9z-8rC .group-42-WQ8 .group-40-HSp .enter-your-email-address-Rov {
  margin-right: 17.6rem;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.7690001095;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-tickets-3Ag .auto-group-wk9z-8rC .group-42-WQ8 .group-40-HSp .auto-group-jpxu-Z9S {
  width: 17.3rem;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.7690000534;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ecbd27;
  border-radius: 0 0.8rem 0.8rem 0;
  flex-shrink: 0;
}
