
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.my-wallet-LAt {
  width: 100%;
  height: 181.9rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.my-wallet-LAt .line-50-BBW {
  width: 0.1rem;
  height: 95.7rem;
  position: absolute;
  left: 41.9rem;
  top: 24.3rem;
  background-color: #a5a5a5;
}
.my-wallet-LAt .rectangle-32-6ZN {
  width: 144rem;
  height: 51.7rem;
  position: absolute;
  left: 0;
  top: 130.2rem;
  background-color: rgba(236, 189, 39, 0.3000000119);
}
.my-wallet-LAt .group-20-d3W {
  width: 9.7rem;
  height: 23.5rem;
  position: absolute;
  left: 74.1rem;
  top: 150rem;
}
.my-wallet-LAt .group-20-d3W .company-91r {
  margin-bottom: 2.8rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-wallet-LAt .group-20-d3W .about-us-TYL {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-wallet-LAt .group-20-d3W .contact-us-144 {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-wallet-LAt .group-20-d3W .career-YJt {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-wallet-LAt .group-20-d3W .lottery-fuJ {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-wallet-LAt .group-37-cpY {
  width: 9.7rem;
  height: 14.7rem;
  position: absolute;
  left: 92.9rem;
  top: 150rem;
}
.my-wallet-LAt .group-37-cpY .support-YTJ {
  margin-bottom: 2.8rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-wallet-LAt .group-37-cpY .faqs-HQt {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-wallet-LAt .group-37-cpY .contact-us-dUk {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-wallet-LAt .group-19-y2p {
  width: 15rem;
  height: 23.5rem;
  position: absolute;
  left: 51.4rem;
  top: 150rem;
}
.my-wallet-LAt .group-19-y2p .quick-links-hDi {
  margin-bottom: 2.8rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-wallet-LAt .group-19-y2p .terms-of-service-pJL {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-wallet-LAt .group-19-y2p .privacy-policy-MZA {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-wallet-LAt .group-19-y2p .plans-h7E {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-wallet-LAt .group-19-y2p .games-qjE {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-wallet-LAt .group-38-bTW {
  width: 19.8rem;
  height: 9.1rem;
  position: absolute;
  left: 111.7rem;
  top: 150rem;
}
.my-wallet-LAt .group-38-bTW .connect-with-us--wXN {
  margin: 0rem 0rem 0.5rem 0.4rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-wallet-LAt .group-38-bTW .group-22-fTN {
  box-sizing: border-box;
  padding: 0.392rem 0.35rem 0.4rem 0.392rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.my-wallet-LAt .group-38-bTW .group-22-fTN .ic-baseline-facebook-nXz {
  margin: 0rem 1.292rem 0.001rem 0rem;
  width: 3.9167rem;
  height: 3.9069rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-wallet-LAt .group-38-bTW .group-22-fTN .formkit-twitter-gtG {
  margin: 0.008rem 1.258rem 0rem 0rem;
  width: 3.9rem;
  height: 3.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-wallet-LAt .group-38-bTW .group-22-fTN .ri-instagram-fill-D7W {
  margin: 0.008rem 1.608rem 0rem 0rem;
  width: 3.5835rem;
  height: 3.5834rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-wallet-LAt .group-38-bTW .group-22-fTN .ri-whatsapp-fill-Lhv {
  margin-top: 0.0083rem;
  width: 3.5rem;
  height: 3.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-wallet-LAt .group-36-4dv {
  width: 30.2rem;
  height: 22rem;
  position: absolute;
  left: 6rem;
  top: 141.8rem;
}
.my-wallet-LAt .group-36-4dv .untitled-1-2-o5i {
  width: 22rem;
  height: 22rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.my-wallet-LAt .group-36-4dv .cryptofibank-8Nt {
  width: 14.2rem;
  height: 2.8rem;
  position: absolute;
  left: 16rem;
  top: 8.8rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Sansita One, 'Source Sans Pro';
  white-space: nowrap;
}
.my-wallet-LAt .cryptofibank-a-trusted-name-in-the-world-of-financial-opportunity-provides-a-secure-platform-for-investing-in-forex-cryptocurrencies-slot-games-and-lotteries-2jA {
  width: 27.5rem;
  height: 14.2rem;
  position: absolute;
  left: 12rem;
  top: 159.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.my-wallet-LAt .rectangle-34-5Be {
  width: 144rem;
  height: 3.7rem;
  position: absolute;
  left: 0;
  top: 178.2rem;
  background-color: #ecbd27;
}
.my-wallet-LAt .group-39-p9E {
  width: 26.7rem;
  height: 2.9rem;
  position: absolute;
  left: 58.2rem;
  top: 178.6rem;
}
.my-wallet-LAt .group-39-p9E .copyright-2023-all-rights-reserved-9xC {
  width: 26.7rem;
  height: 2.9rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.7690000534;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-wallet-LAt .group-39-p9E .ic-outline-copyright-rrc {
  width: 1.6667rem;
  height: 1.6667rem;
  position: absolute;
  left: 7.3667rem;
  top: 0.5667rem;
  object-fit: contain;
  vertical-align: top;
}
.my-wallet-LAt .group-42-PrY {
  box-sizing: border-box;
  padding: 1.3rem 31.2rem 3.2rem 31.2rem;
  width: 119.5rem;
  height: 23rem;
  position: absolute;
  left: 12rem;
  top: 118.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1rem;
}
.my-wallet-LAt .group-42-PrY .auto-group-qmma-tYQ {
  margin: 0rem 10.6rem 1.8rem 9.4rem;
  width: calc(100% - 20rem);
  height: 8.2rem;
  position: relative;
  flex-shrink: 0;
}
.my-wallet-LAt .group-42-PrY .auto-group-qmma-tYQ .subscribe-to-news-cjJ {
  width: 31.6rem;
  height: 5.7rem;
  position: absolute;
  left: 2.9rem;
  top: 0;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.7690000534;
  color: #ecbd27;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-wallet-LAt .group-42-PrY .auto-group-qmma-tYQ .get-the-latest-insights-subscribe-to-our-newsletter-vEC {
  width: 37.1rem;
  height: 2.9rem;
  position: absolute;
  left: 0;
  top: 5.3rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-wallet-LAt .group-42-PrY .group-40-CxQ {
  box-sizing: border-box;
  padding-left: 2.9rem;
  width: 100%;
  height: 8.5rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #afafaf;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.my-wallet-LAt .group-42-PrY .group-40-CxQ .enter-your-email-address-YmN {
  margin-right: 17.6rem;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.7690001095;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-wallet-LAt .group-42-PrY .group-40-CxQ .auto-group-gfgl-4ji {
  width: 17.3rem;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.7690000534;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ecbd27;
  border-radius: 0 0.8rem 0.8rem 0;
  flex-shrink: 0;
}
.my-wallet-LAt .about-us-rvU {
  width: 9.5rem;
  height: 2.4rem;
  position: absolute;
  left: 49.6rem;
  top: 10.7rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  text-transform: uppercase;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-wallet-LAt .home-a5n {
  width: 5.7rem;
  height: 2.4rem;
  position: absolute;
  left: 41.9rem;
  top: 10.7rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  text-transform: uppercase;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-wallet-LAt .tether-usdt-erc-20-5YL {
  width: 20.2rem;
  height: 2.6rem;
  position: absolute;
  left: 12.2rem;
  top: 66.5rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-wallet-LAt .add-payment-method-C7A {
  width: 21.3rem;
  height: 2.6rem;
  position: absolute;
  left: 12.2rem;
  top: 83rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-wallet-LAt .all-transaction-history-WNk {
  width: 26.6rem;
  height: 3.1rem;
  position: absolute;
  left: 45.6rem;
  top: 47.9rem;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-wallet-LAt .withdraw-amount-ose {
  width: 16rem;
  height: 2.4rem;
  position: absolute;
  left: 12rem;
  top: 39.9rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-wallet-LAt .bonus-account-vBa {
  width: 13.7rem;
  height: 2.4rem;
  position: absolute;
  left: 12rem;
  top: 50rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-wallet-LAt .plans-SQp {
  width: 6.4rem;
  height: 2.4rem;
  position: absolute;
  left: 61.3rem;
  top: 10.7rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-wallet-LAt .game-kwJ {
  width: 5.6rem;
  height: 2.4rem;
  position: absolute;
  left: 69.8rem;
  top: 10.7rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-wallet-LAt .lottery-HAY {
  width: 8.4rem;
  height: 2.4rem;
  position: absolute;
  left: 77.4rem;
  top: 10.7rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-wallet-LAt .faqs-bwv {
  width: 4.7rem;
  height: 2.4rem;
  position: absolute;
  left: 87.8rem;
  top: 10.7rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-wallet-LAt .contact-us-JrL {
  width: 12rem;
  height: 2.4rem;
  position: absolute;
  left: 94.5rem;
  top: 10.7rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-wallet-LAt .group-1-pZn {
  width: 33.9531rem;
  height: 27.1605rem;
  position: absolute;
  left: 0;
  top: 0;
}
.my-wallet-LAt .group-1-pZn .untitled-1-2-mE8 {
  width: 27.1605rem;
  height: 27.1605rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.my-wallet-LAt .group-1-pZn .cryptofibank-JE4 {
  width: 14.2rem;
  height: 2.8rem;
  position: absolute;
  left: 19.0531rem;
  top: 10.4642rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Sansita One, 'Source Sans Pro';
  white-space: nowrap;
}
.my-wallet-LAt .group-QH6 {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 111.5rem;
  top: 10.2rem;
  object-fit: contain;
  vertical-align: top;
}
.my-wallet-LAt .eng-Y8Q {
  width: 3rem;
  height: 1.8rem;
  position: absolute;
  left: 115.3rem;
  top: 10.8rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-wallet-LAt .group-135-3ax {
  width: 20rem;
  height: 6.4rem;
  position: absolute;
  left: 12rem;
  top: 26.8rem;
}
.my-wallet-LAt .group-135-3ax .my-wallet-b6g {
  width: 20rem;
  height: 6.4rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-wallet-LAt .group-135-3ax .line-25-hvQ {
  width: 19.1rem;
  height: 0.2rem;
  position: absolute;
  left: 0.4rem;
  top: 5.2rem;
  background-color: #fbbc04;
}
.my-wallet-LAt .ellipse-11-91i {
  width: 6rem;
  height: 6rem;
  position: absolute;
  left: 125.8rem;
  top: 8.8rem;
  border: solid 0.2rem #ffffff;
  box-sizing: border-box;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  background-size: 100% 150%;
  background-position: 0 -1.5rem;
  background-image: url('../assets/ellipse-11-bg-QnU.png');
  border-radius: 3rem;
}
.my-wallet-LAt .ellipse-11-91i .ellipse-11-91i-bg {
  width: 6rem;
  height: 6rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:be205d20703d00cb3a2ca82cd0a3d02320b81482');
}
.my-wallet-LAt .line-49-NQG {
  width: 144rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 24.3rem;
  background-color: #a5a5a5;
}
.my-wallet-LAt .card-approve-icon-1-uf6 {
  width: 5rem;
  height: 3.8664rem;
  position: absolute;
  left: 20.1rem;
  top: 60.1rem;
  object-fit: contain;
  vertical-align: top;
}
.my-wallet-LAt .rectangle-87-3FW {
  width: 86.2rem;
  height: 15.8rem;
  position: absolute;
  left: 45.6rem;
  top: 28.3rem;
  background-color: #fff2ce;
  border-radius: 1rem;
}
.my-wallet-LAt .item-212356-y9A {
  width: 16.4rem;
  height: 4.3rem;
  position: absolute;
  left: 48.5rem;
  top: 31.3rem;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #ffa408;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-wallet-LAt .current-balance-sEY {
  width: 15.8rem;
  height: 2.6rem;
  position: absolute;
  left: 48.5rem;
  top: 36.7rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #ffa408;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-wallet-LAt .frame-7-n6c {
  box-sizing: border-box;
  padding: 1.35rem 3rem 1.25rem 3.625rem;
  width: 32.8rem;
  height: 5rem;
  position: absolute;
  left: 96rem;
  top: 33.7rem;
  display: flex;
  align-items: center;
  background-color: #ffa408;
  border-radius: 0.5rem;
}
.my-wallet-LAt .frame-7-n6c .ic-round-plus-gBz {
  margin: 0rem 1.625rem 0.1rem 0rem;
  width: 1.75rem;
  height: 1.75rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-wallet-LAt .frame-7-n6c .deposit-amount-to-wallet-Ps6 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-wallet-LAt .rectangle-88-iPa {
  width: 86.4rem;
  height: 53.4rem;
  position: absolute;
  left: 45.6rem;
  top: 53.8rem;
  box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1rem;
}
.my-wallet-LAt .rectangle-89-RYt {
  width: 86.4rem;
  height: 6.3rem;
  position: absolute;
  left: 45.6rem;
  top: 53.8rem;
  background-color: #fbbc04;
  border-radius: 1rem 1rem 0 0;
}
.my-wallet-LAt .line-51-7wW {
  width: 80.5rem;
  height: 0.1rem;
  position: absolute;
  left: 48.3rem;
  top: 70.6rem;
  background-color: #a5a5a5;
}
.my-wallet-LAt .line-52-RhJ {
  width: 80.5rem;
  height: 0.1rem;
  position: absolute;
  left: 48.3rem;
  top: 81.6rem;
  background-color: #a5a5a5;
}
.my-wallet-LAt .line-53-9NQ {
  width: 80.5rem;
  height: 0.1rem;
  position: absolute;
  left: 48.3rem;
  top: 92.6rem;
  background-color: #a5a5a5;
}
.my-wallet-LAt .method-name-gdE {
  width: 11.5rem;
  height: 2.2rem;
  position: absolute;
  left: 50.3rem;
  top: 55.8rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-wallet-LAt .withdrawal-Cba {
  width: 9.1rem;
  height: 2.2rem;
  position: absolute;
  left: 84.1rem;
  top: 55.8rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-wallet-LAt .deposit-KAQ {
  width: 6.2rem;
  height: 2.2rem;
  position: absolute;
  left: 103.4rem;
  top: 55.8rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-wallet-LAt .status-q8k {
  width: 5.2rem;
  height: 2.2rem;
  position: absolute;
  left: 119.5rem;
  top: 55.8rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-wallet-LAt .none-wha {
  width: 3.8rem;
  height: 1.9rem;
  position: absolute;
  left: 87rem;
  top: 64.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-wallet-LAt .none-SuE {
  width: 3.8rem;
  height: 1.9rem;
  position: absolute;
  left: 87rem;
  top: 74.9rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-wallet-LAt .item-250-ZDA {
  width: 3.6rem;
  height: 1.9rem;
  position: absolute;
  left: 87rem;
  top: 85.9rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-wallet-LAt .none-f1J {
  width: 3.8rem;
  height: 1.9rem;
  position: absolute;
  left: 87rem;
  top: 96.9rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-wallet-LAt .item-350-Mui {
  width: 3.6rem;
  height: 1.9rem;
  position: absolute;
  left: 104.7rem;
  top: 64.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-wallet-LAt .item-350-GFz {
  width: 3.6rem;
  height: 1.9rem;
  position: absolute;
  left: 104.7rem;
  top: 74.9rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-wallet-LAt .none-mTe {
  width: 3.8rem;
  height: 1.9rem;
  position: absolute;
  left: 104.7rem;
  top: 85.9rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-wallet-LAt .item-350-U7A {
  width: 3.6rem;
  height: 1.9rem;
  position: absolute;
  left: 104.7rem;
  top: 96.9rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-wallet-LAt .successful-NCY {
  width: 7.9rem;
  height: 1.9rem;
  position: absolute;
  left: 118.1rem;
  top: 64.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-wallet-LAt .successful-5ck {
  width: 7.9rem;
  height: 1.9rem;
  position: absolute;
  left: 118.1rem;
  top: 74.9rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-wallet-LAt .successful-ChN {
  width: 7.9rem;
  height: 1.9rem;
  position: absolute;
  left: 118rem;
  top: 85.9rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-wallet-LAt .unsuccessful-vNU {
  width: 9.7rem;
  height: 1.9rem;
  position: absolute;
  left: 117.2rem;
  top: 96.9rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-wallet-LAt .group-136-qkL {
  width: 28.5rem;
  height: 7.5rem;
  position: absolute;
  left: 50rem;
  top: 61.6rem;
  display: flex;
  align-items: center;
}
.my-wallet-LAt .group-136-qkL .auto-group-k3t6-aT2 {
  margin-right: 1.8rem;
  width: 7.5rem;
  height: 7.5rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-wallet-LAt .group-136-qkL .auto-group-nobn-7xk {
  margin: 0.2rem 0rem 0.4rem 0rem;
  height: calc(100% - 0.6rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.my-wallet-LAt .group-136-qkL .auto-group-nobn-7xk .add-money-to-wallet-eBz {
  margin-bottom: 0.4rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-wallet-LAt .group-136-qkL .auto-group-nobn-7xk .transaction-id-225879314-mGc {
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-wallet-LAt .group-136-qkL .auto-group-nobn-7xk .may-2023-05-30pm-geU {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-wallet-LAt .group-137-QaU {
  width: 28.5rem;
  height: 7.5rem;
  position: absolute;
  left: 50rem;
  top: 72.1rem;
  display: flex;
  align-items: center;
}
.my-wallet-LAt .group-137-QaU .auto-group-tsel-LU8 {
  margin-right: 1.8rem;
  width: 7.5rem;
  height: 7.5rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-wallet-LAt .group-137-QaU .auto-group-icdw-5Ri {
  margin: 0.2rem 0rem 0.4rem 0rem;
  height: calc(100% - 0.6rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.my-wallet-LAt .group-137-QaU .auto-group-icdw-5Ri .add-money-to-wallet-osW {
  margin-bottom: 0.4rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-wallet-LAt .group-137-QaU .auto-group-icdw-5Ri .transaction-id-225879314-YKJ {
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-wallet-LAt .group-137-QaU .auto-group-icdw-5Ri .may-2023-05-30pm-Tx4 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-wallet-LAt .ellipse-13-zwz {
  width: 7.5rem;
  height: 7.5rem;
  position: absolute;
  left: 50rem;
  top: 83.1rem;
  border: solid 0.1rem #a5a5a5;
  box-sizing: border-box;
  border-radius: 3.75rem;
}
.my-wallet-LAt .visa-master-card-hLc {
  width: 13.9rem;
  height: 2.2rem;
  position: absolute;
  left: 59.3rem;
  top: 83.3rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-wallet-LAt .transaction-id-225879314-zac {
  width: 19.2rem;
  height: 1.9rem;
  position: absolute;
  left: 59.3rem;
  top: 85.9rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-wallet-LAt .may-2023-05-30pm-VGU {
  width: 15.9rem;
  height: 1.9rem;
  position: absolute;
  left: 59.3rem;
  top: 88.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.my-wallet-LAt .group-139-CRn {
  width: 28.5rem;
  height: 7.5rem;
  position: absolute;
  left: 50rem;
  top: 94.1rem;
  display: flex;
  align-items: center;
}
.my-wallet-LAt .group-139-CRn .auto-group-zfbn-XU4 {
  margin-right: 1.8rem;
  width: 7.5rem;
  height: 7.5rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.my-wallet-LAt .group-139-CRn .auto-group-hcsi-TMi {
  margin: 0.2rem 0rem 0.4rem 0rem;
  height: calc(100% - 0.6rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.my-wallet-LAt .group-139-CRn .auto-group-hcsi-TMi .add-money-to-wallet-n96 {
  margin-bottom: 0.4rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-wallet-LAt .group-139-CRn .auto-group-hcsi-TMi .transaction-id-225879314-ujW {
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-wallet-LAt .group-139-CRn .auto-group-hcsi-TMi .may-2023-05-30pm-qt4 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-wallet-LAt .card-approve-icon-2-yUU {
  width: 3.5rem;
  height: 2.7065rem;
  position: absolute;
  left: 52rem;
  top: 85.5rem;
  object-fit: contain;
  vertical-align: top;
}
.my-wallet-LAt .ellipse-14-hQU {
  width: 5rem;
  height: 5rem;
  position: absolute;
  left: 19.9rem;
  top: 75.8rem;
  background-color: #fbbc04;
  border-radius: 2.5rem;
}
.my-wallet-LAt .ic-round-plus-2Sk {
  width: 1.4rem;
  height: 1.4rem;
  position: absolute;
  left: 21.7rem;
  top: 77.6998rem;
  object-fit: contain;
  vertical-align: top;
}
