
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 88.4rem;
}.payment-page-7eG {
  box-sizing: border-box;
  padding: 6.5rem 11.7rem 4.7rem 12rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.payment-page-7eG .select-payment-method-2FS {
  margin: 0rem 30.3rem 1rem 0rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.payment-page-7eG .auto-group-5unu-83a {
  margin: 0rem 0.3rem 2.2rem 0rem;
  box-sizing: border-box;
  padding: 2.3rem 2.5rem 2.2rem 2.5rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #a5a5a5;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.payment-page-7eG .auto-group-5unu-83a .tether-usdt-icon-1-EMW {
  margin: 0rem 1.7rem 0.09rem 0rem;
  width: 2.9999rem;
  height: 2.6097rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.payment-page-7eG .auto-group-5unu-83a .tether-usdt-erc-20-kKr {
  margin-right: 30.7002rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.payment-page-7eG .auto-group-5unu-83a .bxs-up-arrow-H4t {
  margin-bottom: 0.2027rem;
  width: 1.9999rem;
  height: 1.4973rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.payment-page-7eG .auto-group-2bcc-aZn {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.payment-page-7eG .auto-group-2bcc-aZn .select-currency-L3A {
  margin-right: 22.1rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.payment-page-7eG .auto-group-2bcc-aZn .enter-amount-s36 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.payment-page-7eG .auto-group-n8c8-Q32 {
  margin: 0rem 0.3rem 4.5rem 0rem;
  width: calc(100% - 0.3rem);
  height: 7.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.payment-page-7eG .auto-group-n8c8-Q32 .auto-group-u51a-Kfn {
  margin-right: 1.9rem;
  box-sizing: border-box;
  padding: 2.4rem 2.3rem 2.1rem 2.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #a5a5a5;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.payment-page-7eG .auto-group-n8c8-Q32 .auto-group-u51a-Kfn .usdt-FZS {
  margin-right: 9.9002rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.payment-page-7eG .auto-group-n8c8-Q32 .auto-group-u51a-Kfn .bxs-up-arrow-npG {
  margin-bottom: 0.0027rem;
  width: 1.9999rem;
  height: 1.4973rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.payment-page-7eG .auto-group-n8c8-Q32 .rectangle-92-gue {
  width: 39.8rem;
  height: 7.4rem;
  border: solid 0.1rem #a5a5a5;
  box-sizing: border-box;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.payment-page-7eG .auto-group-maj2-ozG {
  margin-right: 0.3rem;
  width: 64.4rem;
  height: 7.4rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.7690000534;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #a5a5a5;
  box-sizing: border-box;
  background-color: #000000;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
