
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.plans-qMJ {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.plans-qMJ .auto-group-zwoj-A8g {
  width: 144.2rem;
  height: 58.3rem;
  position: relative;
  flex-shrink: 0;
}
.plans-qMJ .auto-group-zwoj-A8g .mask-group-GxQ {
  width: 144rem;
  height: 35.7rem;
  position: absolute;
  left: 0;
  top: 21.6rem;
  object-fit: contain;
  vertical-align: top;
}
.plans-qMJ .auto-group-zwoj-A8g .rectangle-45-QYp {
  width: 144rem;
  height: 35.7rem;
  position: absolute;
  left: 0;
  top: 21.6rem;
  background-color: rgba(0, 0, 0, 0.400000006);
}
.plans-qMJ .auto-group-zwoj-A8g .group-65-j5J {
  width: 50.5rem;
  height: 18.6rem;
  position: absolute;
  left: 46.75rem;
  top: 29.9rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.plans-qMJ .auto-group-zwoj-A8g .group-65-j5J .plans-r9v {
  margin: 0rem 0.1rem 0.2rem 0rem;
  font-size: 3.4rem;
  font-weight: 800;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.plans-qMJ .auto-group-zwoj-A8g .group-65-j5J .line-7-jjW {
  margin: 0rem 20.35rem 2.9rem 20.05rem;
  width: calc(100% - 40.4rem);
  height: 0.2rem;
  background-color: #fbbc04;
  flex-shrink: 0;
}
.plans-qMJ .auto-group-zwoj-A8g .group-65-j5J .cryptofibank-offers-six-investment-options-TQc {
  max-width: 50.5rem;
  text-align: center;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.171875;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.plans-qMJ .auto-group-zwoj-A8g .group-65-j5J .cryptofibank-offers-six-investment-options-TQc .cryptofibank-offers-six-investment-options-TQc-sub-0 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #fbbc04;
  font-family: Roboto, 'Source Sans Pro';
}
.plans-qMJ .auto-group-zwoj-A8g .group-65-j5J .cryptofibank-offers-six-investment-options-TQc .cryptofibank-offers-six-investment-options-TQc-sub-1 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.plans-qMJ .auto-group-zwoj-A8g .group-65-j5J .cryptofibank-offers-six-investment-options-TQc .cryptofibank-offers-six-investment-options-TQc-sub-2 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
}
.plans-qMJ .auto-group-zwoj-A8g .group-120-an4 {
  width: 136.8rem;
  height: 27.1605rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
}
.plans-qMJ .auto-group-zwoj-A8g .group-120-an4 .group-1-iNU {
  margin-right: 8.6469rem;
  width: 33.9531rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.plans-qMJ .auto-group-zwoj-A8g .group-120-an4 .group-1-iNU .untitled-1-2-fYc {
  width: 27.1604rem;
  height: 27.1605rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.plans-qMJ .auto-group-zwoj-A8g .group-120-an4 .group-1-iNU .cryptofibank-16g {
  width: 14.2rem;
  height: 2.8rem;
  position: absolute;
  left: 19.5531rem;
  top: 9.8642rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Sansita One, 'Source Sans Pro';
  white-space: nowrap;
}
.plans-qMJ .auto-group-zwoj-A8g .group-120-an4 .home-hEQ {
  margin: 0rem 2rem 2.56rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  text-transform: uppercase;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.plans-qMJ .auto-group-zwoj-A8g .group-120-an4 .about-us-oYL {
  margin-bottom: 2.5605rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  text-transform: uppercase;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.plans-qMJ .auto-group-zwoj-A8g .group-120-an4 .auto-group-ramn-w8k {
  box-sizing: border-box;
  padding: 10rem 0rem 13.06rem 2.2rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.plans-qMJ .auto-group-zwoj-A8g .group-120-an4 .auto-group-ramn-w8k .auto-group-3sxn-3xU {
  margin: 1.1rem 2.1rem 0.6rem 0rem;
  width: 6.4rem;
  height: calc(100% - 1.7rem);
  position: relative;
  flex-shrink: 0;
}
.plans-qMJ .auto-group-zwoj-A8g .group-120-an4 .auto-group-ramn-w8k .auto-group-3sxn-3xU .plans-mNg {
  width: 6.4rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.plans-qMJ .auto-group-zwoj-A8g .group-120-an4 .auto-group-ramn-w8k .auto-group-3sxn-3xU .line-5-H68 {
  width: 5.9rem;
  height: 0;
  position: absolute;
  left: 0.3rem;
  top: 2.2rem;
  object-fit: contain;
  vertical-align: top;
}
.plans-qMJ .auto-group-zwoj-A8g .group-120-an4 .auto-group-ramn-w8k .game-1Xv {
  margin: 0.5rem 2rem 0rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.plans-qMJ .auto-group-zwoj-A8g .group-120-an4 .auto-group-ramn-w8k .lottery-ihE {
  margin: 0.5rem 2rem 0rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.plans-qMJ .auto-group-zwoj-A8g .group-120-an4 .auto-group-ramn-w8k .faqs-3jW {
  margin: 0.5rem 2rem 0rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.plans-qMJ .auto-group-zwoj-A8g .group-120-an4 .auto-group-ramn-w8k .contact-us-Bqi {
  margin: 0.5rem 5rem 0rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.plans-qMJ .auto-group-zwoj-A8g .group-120-an4 .auto-group-ramn-w8k .group-7jN {
  margin: 0.1rem 0.8rem 0rem 0rem;
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.plans-qMJ .auto-group-zwoj-A8g .group-120-an4 .auto-group-ramn-w8k .eng-ejJ {
  margin: 0.1rem 5.8rem 0rem 0rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.plans-qMJ .auto-group-zwoj-A8g .group-120-an4 .auto-group-ramn-w8k .frame-1-BUL {
  width: 12rem;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ecbd27;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.plans-qMJ .auto-group-pygg-UCY {
  box-sizing: border-box;
  padding: 9.6rem 12.2rem 9.8rem 12.3rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-zjwc-zAt {
  margin: 0rem 0.1rem 7.1rem 0rem;
  height: 57.9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-zjwc-zAt .group-67-WQ8 {
  margin-right: 3.1rem;
  width: 37.7rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-zjwc-zAt .group-67-WQ8 .rectangle-14-dzY {
  width: 37.7rem;
  height: 55.5rem;
  position: absolute;
  left: 0;
  top: 2.4rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1rem;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-zjwc-zAt .group-67-WQ8 .rectangle-17-8wJ {
  width: 24.7rem;
  height: 17rem;
  position: absolute;
  left: 6.5rem;
  top: 0;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.25);
  background-color: #fbbc04;
  border-radius: 1rem;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-zjwc-zAt .group-67-WQ8 .group-11-eue {
  width: 7rem;
  height: 7rem;
  position: absolute;
  left: 15.3rem;
  top: 3.1rem;
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 3.5rem;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-zjwc-zAt .group-67-WQ8 .numbered-plan-option-toz {
  width: 20.4rem;
  height: 2.4rem;
  position: absolute;
  left: 8.4rem;
  top: 11.8rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-zjwc-zAt .group-67-WQ8 .investment-CZn {
  width: 24.5rem;
  height: 2.6rem;
  position: absolute;
  left: 6.5rem;
  top: 20.1rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-zjwc-zAt .group-67-WQ8 .investment-CZn .investment-CZn-sub-0 {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-zjwc-zAt .group-67-WQ8 .investment-CZn .investment-CZn-sub-1 {
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-zjwc-zAt .group-67-WQ8 .line-8-A9E {
  width: 32.3rem;
  height: 0.1rem;
  position: absolute;
  left: 2.7rem;
  top: 26.5rem;
  background-color: #a5a5a5;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-zjwc-zAt .group-67-WQ8 .line-9-tqv {
  width: 32.3rem;
  height: 0.1rem;
  position: absolute;
  left: 2.7rem;
  top: 34.1rem;
  background-color: #a5a5a5;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-zjwc-zAt .group-67-WQ8 .line-10-doW {
  width: 32.3rem;
  height: 0.1rem;
  position: absolute;
  left: 2.7rem;
  top: 41.7rem;
  background-color: #a5a5a5;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-zjwc-zAt .group-67-WQ8 .line-11-aik {
  width: 32.3rem;
  height: 0.1rem;
  position: absolute;
  left: 2.7rem;
  top: 49.3rem;
  background-color: #a5a5a5;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-zjwc-zAt .group-67-WQ8 .investment-period-7-days-KwE {
  width: 19.5rem;
  height: 2.6rem;
  position: absolute;
  left: 2.7rem;
  top: 28.8rem;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.5226866905;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-zjwc-zAt .group-67-WQ8 .gain-ratio-3-dh2 {
  width: 10.5rem;
  height: 2.6rem;
  position: absolute;
  left: 2.7rem;
  top: 36.2rem;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.5226866905;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-zjwc-zAt .group-67-WQ8 .earnings-investment-amount-gain--jzx {
  width: 23.9rem;
  height: 5.2rem;
  position: absolute;
  left: 2.7rem;
  top: 43.6rem;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.5226866905;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-zjwc-zAt .group-67-WQ8 .group-12-dqS {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 32.5rem;
  top: 28.9rem;
  object-fit: contain;
  vertical-align: top;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-zjwc-zAt .group-67-WQ8 .group-13-NHE {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 32.5rem;
  top: 36.1rem;
  object-fit: contain;
  vertical-align: top;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-zjwc-zAt .group-67-WQ8 .group-14-7Vi {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 32.5rem;
  top: 43.7rem;
  object-fit: contain;
  vertical-align: top;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-zjwc-zAt .group-67-WQ8 .frame-4-FM2 {
  width: 13.2rem;
  height: 4.7rem;
  position: absolute;
  left: 12.2rem;
  top: 51.1rem;
  font-size: 1.8rem;
  font-weight: 800;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  border-radius: 5rem;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-zjwc-zAt .group-68-j1J {
  margin-right: 3.2rem;
  width: 37.7rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-zjwc-zAt .group-68-j1J .rectangle-14-FkL {
  width: 37.7rem;
  height: 55.5rem;
  position: absolute;
  left: 0;
  top: 2.4rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  background-color: #fbbc04;
  border-radius: 1rem;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-zjwc-zAt .group-68-j1J .rectangle-17-AMW {
  width: 24.7rem;
  height: 17rem;
  position: absolute;
  left: 6.5rem;
  top: 0;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.25);
  background-color: #fbbc04;
  border-radius: 1rem;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-zjwc-zAt .group-68-j1J .group-11-Hh2 {
  width: 7rem;
  height: 7rem;
  position: absolute;
  left: 15.3rem;
  top: 3.1rem;
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 3.5rem;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-zjwc-zAt .group-68-j1J .numbered-plan-option-mcC {
  width: 20.4rem;
  height: 2.4rem;
  position: absolute;
  left: 8.4rem;
  top: 11.8rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-zjwc-zAt .group-68-j1J .investment-HaY {
  width: 27rem;
  height: 2.6rem;
  position: absolute;
  left: 5.3rem;
  top: 20.1rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.171875;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-zjwc-zAt .group-68-j1J .investment-HaY .investment-HaY-sub-0 {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-zjwc-zAt .group-68-j1J .investment-HaY .investment-HaY-sub-1 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-zjwc-zAt .group-68-j1J .line-8-w2p {
  width: 32.3rem;
  height: 0.1rem;
  position: absolute;
  left: 2.7rem;
  top: 26.5rem;
  background-color: #ffffff;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-zjwc-zAt .group-68-j1J .line-9-Gat {
  width: 32.3rem;
  height: 0.1rem;
  position: absolute;
  left: 2.7rem;
  top: 34.1rem;
  background-color: #ffffff;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-zjwc-zAt .group-68-j1J .line-10-CDe {
  width: 32.3rem;
  height: 0.1rem;
  position: absolute;
  left: 2.7rem;
  top: 41.7rem;
  background-color: #ffffff;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-zjwc-zAt .group-68-j1J .line-11-XWp {
  width: 32.3rem;
  height: 0.1rem;
  position: absolute;
  left: 2.7rem;
  top: 49.3rem;
  background-color: #ffffff;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-zjwc-zAt .group-68-j1J .investment-period-7-days-fN8 {
  width: 19.5rem;
  height: 2.6rem;
  position: absolute;
  left: 2.7rem;
  top: 28.8rem;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.5226866905;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-zjwc-zAt .group-68-j1J .gain-ratio-14-AZn {
  width: 11.5rem;
  height: 2.6rem;
  position: absolute;
  left: 2.7rem;
  top: 36.2rem;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.5226866905;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-zjwc-zAt .group-68-j1J .earnings-investment-amount-gain--V6G {
  width: 23.9rem;
  height: 5.2rem;
  position: absolute;
  left: 2.7rem;
  top: 43.6rem;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.5226866905;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-zjwc-zAt .group-68-j1J .group-12-CWU {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 32.5rem;
  top: 28.9rem;
  object-fit: contain;
  vertical-align: top;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-zjwc-zAt .group-68-j1J .group-13-wix {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 32.5rem;
  top: 36.1rem;
  object-fit: contain;
  vertical-align: top;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-zjwc-zAt .group-68-j1J .group-14-HXv {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 32.5rem;
  top: 43.7rem;
  object-fit: contain;
  vertical-align: top;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-zjwc-zAt .group-68-j1J .frame-4-Re8 {
  width: 13.2rem;
  height: 4.7rem;
  position: absolute;
  left: 12.2rem;
  top: 51.1rem;
  font-size: 1.8rem;
  font-weight: 800;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 5rem;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-zjwc-zAt .group-69-HwE {
  width: 37.7rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-zjwc-zAt .group-69-HwE .rectangle-14-2tp {
  width: 37.7rem;
  height: 55.5rem;
  position: absolute;
  left: 0;
  top: 2.4rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1rem;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-zjwc-zAt .group-69-HwE .rectangle-17-kpp {
  width: 24.7rem;
  height: 17rem;
  position: absolute;
  left: 6.5rem;
  top: 0;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.25);
  background-color: #fbbc04;
  border-radius: 1rem;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-zjwc-zAt .group-69-HwE .group-11-5MJ {
  width: 7rem;
  height: 7rem;
  position: absolute;
  left: 15.3rem;
  top: 3.1rem;
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 3.5rem;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-zjwc-zAt .group-69-HwE .numbered-plan-option-9MA {
  width: 20.4rem;
  height: 2.4rem;
  position: absolute;
  left: 8.4rem;
  top: 11.8rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-zjwc-zAt .group-69-HwE .investment-TMr {
  width: 29.6rem;
  height: 2.6rem;
  position: absolute;
  left: 4rem;
  top: 20.1rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-zjwc-zAt .group-69-HwE .investment-TMr .investment-TMr-sub-0 {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-zjwc-zAt .group-69-HwE .investment-TMr .investment-TMr-sub-1 {
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-zjwc-zAt .group-69-HwE .line-8-Emv {
  width: 32.3rem;
  height: 0.1rem;
  position: absolute;
  left: 2.7rem;
  top: 26.5rem;
  background-color: #a5a5a5;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-zjwc-zAt .group-69-HwE .line-9-mmr {
  width: 32.3rem;
  height: 0.1rem;
  position: absolute;
  left: 2.7rem;
  top: 34.1rem;
  background-color: #a5a5a5;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-zjwc-zAt .group-69-HwE .line-10-WzL {
  width: 32.3rem;
  height: 0.1rem;
  position: absolute;
  left: 2.7rem;
  top: 41.7rem;
  background-color: #a5a5a5;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-zjwc-zAt .group-69-HwE .line-11-fMS {
  width: 32.3rem;
  height: 0.1rem;
  position: absolute;
  left: 2.7rem;
  top: 49.3rem;
  background-color: #a5a5a5;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-zjwc-zAt .group-69-HwE .investment-period-7-days-CcG {
  width: 19.5rem;
  height: 2.6rem;
  position: absolute;
  left: 2.7rem;
  top: 28.8rem;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.5226866905;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-zjwc-zAt .group-69-HwE .gain-ratio-25-6xY {
  width: 11.5rem;
  height: 2.6rem;
  position: absolute;
  left: 2.7rem;
  top: 36.2rem;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.5226866905;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-zjwc-zAt .group-69-HwE .earnings-investment-amount-gain--25W {
  width: 23.9rem;
  height: 5.2rem;
  position: absolute;
  left: 2.7rem;
  top: 43.6rem;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.5226866905;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-zjwc-zAt .group-69-HwE .group-12-8PS {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 32.5rem;
  top: 28.9rem;
  object-fit: contain;
  vertical-align: top;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-zjwc-zAt .group-69-HwE .group-13-TwW {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 32.5rem;
  top: 36.1rem;
  object-fit: contain;
  vertical-align: top;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-zjwc-zAt .group-69-HwE .group-14-c3i {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 32.5rem;
  top: 43.7rem;
  object-fit: contain;
  vertical-align: top;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-zjwc-zAt .group-69-HwE .frame-4-Yi4 {
  width: 13.2rem;
  height: 4.7rem;
  position: absolute;
  left: 12.2rem;
  top: 51.1rem;
  font-size: 1.8rem;
  font-weight: 800;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  border-radius: 5rem;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-2qzu-392 {
  margin-left: 0.1rem;
  height: 57.9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-2qzu-392 .group-67-yYU {
  margin-right: 3.1rem;
  width: 37.7rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-2qzu-392 .group-67-yYU .rectangle-14-uS8 {
  width: 37.7rem;
  height: 55.5rem;
  position: absolute;
  left: 0;
  top: 2.4rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1rem;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-2qzu-392 .group-67-yYU .rectangle-17-RQU {
  width: 24.7rem;
  height: 17rem;
  position: absolute;
  left: 6.5rem;
  top: 0;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.25);
  background-color: #fbbc04;
  border-radius: 1rem;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-2qzu-392 .group-67-yYU .group-11-XyJ {
  width: 7rem;
  height: 7rem;
  position: absolute;
  left: 15.3rem;
  top: 3.1rem;
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 3.5rem;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-2qzu-392 .group-67-yYU .numbered-plan-option-oR2 {
  width: 20.4rem;
  height: 2.4rem;
  position: absolute;
  left: 8.4rem;
  top: 11.8rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-2qzu-392 .group-67-yYU .investment-iH6 {
  width: 23.8rem;
  height: 2.6rem;
  position: absolute;
  left: 6.9rem;
  top: 20.1rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-2qzu-392 .group-67-yYU .investment-iH6 .investment-iH6-sub-0 {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-2qzu-392 .group-67-yYU .investment-iH6 .investment-iH6-sub-1 {
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-2qzu-392 .group-67-yYU .line-8-74L {
  width: 32.3rem;
  height: 0.1rem;
  position: absolute;
  left: 2.7rem;
  top: 26.5rem;
  background-color: #a5a5a5;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-2qzu-392 .group-67-yYU .line-9-epx {
  width: 32.3rem;
  height: 0.1rem;
  position: absolute;
  left: 2.7rem;
  top: 34.1rem;
  background-color: #a5a5a5;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-2qzu-392 .group-67-yYU .line-10-CLg {
  width: 32.3rem;
  height: 0.1rem;
  position: absolute;
  left: 2.7rem;
  top: 41.7rem;
  background-color: #a5a5a5;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-2qzu-392 .group-67-yYU .line-11-912 {
  width: 32.3rem;
  height: 0.1rem;
  position: absolute;
  left: 2.7rem;
  top: 49.3rem;
  background-color: #a5a5a5;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-2qzu-392 .group-67-yYU .investment-period-30-days-sxc {
  width: 20.4rem;
  height: 2.6rem;
  position: absolute;
  left: 2.7rem;
  top: 28.8rem;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.5226866905;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-2qzu-392 .group-67-yYU .gain-ratio-70-bNp {
  width: 11.5rem;
  height: 2.6rem;
  position: absolute;
  left: 2.7rem;
  top: 36.2rem;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.5226866905;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-2qzu-392 .group-67-yYU .earnings-investment-amount-gain--Wkg {
  width: 23.9rem;
  height: 5.2rem;
  position: absolute;
  left: 2.7rem;
  top: 43.6rem;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.5226866905;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-2qzu-392 .group-67-yYU .group-12-2U8 {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 32.5rem;
  top: 28.9rem;
  object-fit: contain;
  vertical-align: top;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-2qzu-392 .group-67-yYU .group-13-mgc {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 32.5rem;
  top: 36.1rem;
  object-fit: contain;
  vertical-align: top;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-2qzu-392 .group-67-yYU .group-14-WPJ {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 32.5rem;
  top: 43.7rem;
  object-fit: contain;
  vertical-align: top;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-2qzu-392 .group-67-yYU .frame-4-eVW {
  width: 13.2rem;
  height: 4.7rem;
  position: absolute;
  left: 12.2rem;
  top: 51.1rem;
  font-size: 1.8rem;
  font-weight: 800;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  border-radius: 5rem;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-2qzu-392 .group-68-X3W {
  margin-right: 3.2rem;
  width: 37.7rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-2qzu-392 .group-68-X3W .rectangle-14-SwA {
  width: 37.7rem;
  height: 55.5rem;
  position: absolute;
  left: 0;
  top: 2.4rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1rem;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-2qzu-392 .group-68-X3W .rectangle-17-miY {
  width: 24.7rem;
  height: 17rem;
  position: absolute;
  left: 6.5rem;
  top: 0;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.25);
  background-color: #fbbc04;
  border-radius: 1rem;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-2qzu-392 .group-68-X3W .group-11-hcC {
  width: 7rem;
  height: 7rem;
  position: absolute;
  left: 15.3rem;
  top: 3.1rem;
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 3.5rem;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-2qzu-392 .group-68-X3W .numbered-plan-option-ZuJ {
  width: 20.4rem;
  height: 2.4rem;
  position: absolute;
  left: 8.4rem;
  top: 11.8rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-2qzu-392 .group-68-X3W .investment-HKW {
  width: 29.6rem;
  height: 2.6rem;
  position: absolute;
  left: 4.1rem;
  top: 20.1rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-2qzu-392 .group-68-X3W .investment-HKW .investment-HKW-sub-0 {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-2qzu-392 .group-68-X3W .investment-HKW .investment-HKW-sub-1 {
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-2qzu-392 .group-68-X3W .line-8-4ja {
  width: 32.3rem;
  height: 0.1rem;
  position: absolute;
  left: 2.7rem;
  top: 26.5rem;
  background-color: #a5a5a5;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-2qzu-392 .group-68-X3W .line-9-D6g {
  width: 32.3rem;
  height: 0.1rem;
  position: absolute;
  left: 2.7rem;
  top: 34.1rem;
  background-color: #a5a5a5;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-2qzu-392 .group-68-X3W .line-10-vmn {
  width: 32.3rem;
  height: 0.1rem;
  position: absolute;
  left: 2.7rem;
  top: 41.7rem;
  background-color: #a5a5a5;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-2qzu-392 .group-68-X3W .line-11-4d6 {
  width: 32.3rem;
  height: 0.1rem;
  position: absolute;
  left: 2.7rem;
  top: 49.3rem;
  background-color: #a5a5a5;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-2qzu-392 .group-68-X3W .investment-period-30-days-bN8 {
  width: 20.4rem;
  height: 2.6rem;
  position: absolute;
  left: 2.7rem;
  top: 28.8rem;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.5226866905;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-2qzu-392 .group-68-X3W .gain-ratio-100-u7v {
  width: 12.4rem;
  height: 2.6rem;
  position: absolute;
  left: 2.7rem;
  top: 36.2rem;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.5226866905;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-2qzu-392 .group-68-X3W .earnings-investment-amount-gain--D8c {
  width: 23.9rem;
  height: 5.2rem;
  position: absolute;
  left: 2.7rem;
  top: 43.6rem;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.5226866905;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-2qzu-392 .group-68-X3W .group-12-hpU {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 32.5rem;
  top: 28.9rem;
  object-fit: contain;
  vertical-align: top;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-2qzu-392 .group-68-X3W .group-13-3NY {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 32.5rem;
  top: 36.1rem;
  object-fit: contain;
  vertical-align: top;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-2qzu-392 .group-68-X3W .group-14-Nvc {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 32.5rem;
  top: 43.7rem;
  object-fit: contain;
  vertical-align: top;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-2qzu-392 .group-68-X3W .frame-4-vBS {
  width: 13.2rem;
  height: 4.7rem;
  position: absolute;
  left: 12.2rem;
  top: 51.1rem;
  font-size: 1.8rem;
  font-weight: 800;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  border-radius: 5rem;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-2qzu-392 .group-69-oW8 {
  width: 37.7rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-2qzu-392 .group-69-oW8 .rectangle-14-8YQ {
  width: 37.7rem;
  height: 55.5rem;
  position: absolute;
  left: 0;
  top: 2.4rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1rem;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-2qzu-392 .group-69-oW8 .rectangle-17-39a {
  width: 24.7rem;
  height: 17rem;
  position: absolute;
  left: 6.5rem;
  top: 0;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.25);
  background-color: #fbbc04;
  border-radius: 1rem;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-2qzu-392 .group-69-oW8 .group-11-mLU {
  width: 7rem;
  height: 7rem;
  position: absolute;
  left: 15.3rem;
  top: 3.1rem;
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 3.5rem;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-2qzu-392 .group-69-oW8 .numbered-plan-option-qLL {
  width: 20.4rem;
  height: 2.4rem;
  position: absolute;
  left: 8.4rem;
  top: 11.8rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-2qzu-392 .group-69-oW8 .unlimited-investment-w8U {
  width: 30.9rem;
  height: 2.6rem;
  position: absolute;
  left: 3.3rem;
  top: 20.1rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-2qzu-392 .group-69-oW8 .unlimited-investment-w8U .unlimited-investment-w8U-sub-0 {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-2qzu-392 .group-69-oW8 .unlimited-investment-w8U .unlimited-investment-w8U-sub-1 {
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-2qzu-392 .group-69-oW8 .line-8-Wqn {
  width: 32.3rem;
  height: 0.1rem;
  position: absolute;
  left: 2.7rem;
  top: 26.5rem;
  background-color: #a5a5a5;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-2qzu-392 .group-69-oW8 .line-9-3qi {
  width: 32.3rem;
  height: 0.1rem;
  position: absolute;
  left: 2.7rem;
  top: 34.1rem;
  background-color: #a5a5a5;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-2qzu-392 .group-69-oW8 .line-10-bMS {
  width: 32.3rem;
  height: 0.1rem;
  position: absolute;
  left: 2.7rem;
  top: 41.7rem;
  background-color: #a5a5a5;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-2qzu-392 .group-69-oW8 .line-11-8MN {
  width: 32.3rem;
  height: 0.1rem;
  position: absolute;
  left: 2.7rem;
  top: 49.3rem;
  background-color: #a5a5a5;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-2qzu-392 .group-69-oW8 .investment-period-30-days-GiU {
  width: 20.4rem;
  height: 2.6rem;
  position: absolute;
  left: 2.7rem;
  top: 28.8rem;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.5226866905;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-2qzu-392 .group-69-oW8 .gain-ratio-150-nRv {
  width: 12.4rem;
  height: 2.6rem;
  position: absolute;
  left: 2.7rem;
  top: 36.2rem;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.5226866905;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-2qzu-392 .group-69-oW8 .earnings-investment-amount-gain--uWY {
  width: 23.9rem;
  height: 5.2rem;
  position: absolute;
  left: 2.7rem;
  top: 43.6rem;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.5226866905;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-2qzu-392 .group-69-oW8 .group-12-CVe {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 32.5rem;
  top: 28.9rem;
  object-fit: contain;
  vertical-align: top;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-2qzu-392 .group-69-oW8 .group-13-jEg {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 32.5rem;
  top: 36.1rem;
  object-fit: contain;
  vertical-align: top;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-2qzu-392 .group-69-oW8 .group-14-UTA {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 32.5rem;
  top: 43.7rem;
  object-fit: contain;
  vertical-align: top;
}
.plans-qMJ .auto-group-pygg-UCY .auto-group-2qzu-392 .group-69-oW8 .frame-4-Ctx {
  width: 13.2rem;
  height: 4.7rem;
  position: absolute;
  left: 12.2rem;
  top: 51.1rem;
  font-size: 1.8rem;
  font-weight: 800;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  border-radius: 5rem;
}
.plans-qMJ .auto-group-dnxa-t16 {
  width: 100%;
  height: 63.2rem;
  position: relative;
  flex-shrink: 0;
}
.plans-qMJ .auto-group-dnxa-t16 .rectangle-32-pQY {
  width: 144rem;
  height: 51.7rem;
  position: absolute;
  left: 0;
  top: 11.5rem;
  background-color: rgba(236, 189, 39, 0.3000000119);
}
.plans-qMJ .auto-group-dnxa-t16 .group-20-9Sp {
  width: 9.7rem;
  height: 23.5rem;
  position: absolute;
  left: 74.1rem;
  top: 31.3rem;
}
.plans-qMJ .auto-group-dnxa-t16 .group-20-9Sp .company-GXS {
  margin-bottom: 2.8rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.plans-qMJ .auto-group-dnxa-t16 .group-20-9Sp .about-us-QNk {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.plans-qMJ .auto-group-dnxa-t16 .group-20-9Sp .contact-us-kBi {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.plans-qMJ .auto-group-dnxa-t16 .group-20-9Sp .career-HBe {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.plans-qMJ .auto-group-dnxa-t16 .group-20-9Sp .lottery-pxG {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.plans-qMJ .auto-group-dnxa-t16 .group-37-Zex {
  width: 9.7rem;
  height: 14.7rem;
  position: absolute;
  left: 92.9rem;
  top: 31.3rem;
}
.plans-qMJ .auto-group-dnxa-t16 .group-37-Zex .support-hWG {
  margin-bottom: 2.8rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.plans-qMJ .auto-group-dnxa-t16 .group-37-Zex .faqs-STr {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.plans-qMJ .auto-group-dnxa-t16 .group-37-Zex .contact-us-BgL {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.plans-qMJ .auto-group-dnxa-t16 .group-19-jSx {
  width: 15rem;
  height: 23.5rem;
  position: absolute;
  left: 51.4rem;
  top: 31.3rem;
}
.plans-qMJ .auto-group-dnxa-t16 .group-19-jSx .quick-links-GBz {
  margin-bottom: 2.8rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.plans-qMJ .auto-group-dnxa-t16 .group-19-jSx .terms-of-service-19a {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.plans-qMJ .auto-group-dnxa-t16 .group-19-jSx .privacy-policy-jrG {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.plans-qMJ .auto-group-dnxa-t16 .group-19-jSx .plans-UYx {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.plans-qMJ .auto-group-dnxa-t16 .group-19-jSx .games-DmS {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.plans-qMJ .auto-group-dnxa-t16 .group-38-NPS {
  width: 19.8rem;
  height: 9.1rem;
  position: absolute;
  left: 111.7rem;
  top: 31.3rem;
}
.plans-qMJ .auto-group-dnxa-t16 .group-38-NPS .connect-with-us--Jnt {
  margin: 0rem 0rem 0.5rem 0.4rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7689999667;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.plans-qMJ .auto-group-dnxa-t16 .group-38-NPS .group-22-q28 {
  box-sizing: border-box;
  padding: 0.392rem 0.35rem 0.4rem 0.392rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.plans-qMJ .auto-group-dnxa-t16 .group-38-NPS .group-22-q28 .ic-baseline-facebook-kun {
  margin: 0rem 1.292rem 0.001rem 0rem;
  width: 3.9167rem;
  height: 3.9069rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.plans-qMJ .auto-group-dnxa-t16 .group-38-NPS .group-22-q28 .formkit-twitter-sDi {
  margin: 0.008rem 1.258rem 0rem 0rem;
  width: 3.9rem;
  height: 3.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.plans-qMJ .auto-group-dnxa-t16 .group-38-NPS .group-22-q28 .ri-instagram-fill-zZE {
  margin: 0.008rem 1.608rem 0rem 0rem;
  width: 3.5835rem;
  height: 3.5835rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.plans-qMJ .auto-group-dnxa-t16 .group-38-NPS .group-22-q28 .ri-whatsapp-fill-vSt {
  margin-top: 0.0083rem;
  width: 3.5rem;
  height: 3.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.plans-qMJ .auto-group-dnxa-t16 .cryptofibank-a-trusted-name-in-the-world-of-financial-opportunity-provides-a-secure-platform-for-investing-in-forex-cryptocurrencies-slot-games-and-lotteries-Thi {
  width: 27.5rem;
  height: 14.2rem;
  position: absolute;
  left: 12rem;
  top: 40.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.plans-qMJ .auto-group-dnxa-t16 .rectangle-34-HRr {
  width: 144rem;
  height: 3.7rem;
  position: absolute;
  left: 0;
  top: 59.5rem;
  background-color: #ecbd27;
}
.plans-qMJ .auto-group-dnxa-t16 .group-39-2eL {
  width: 26.7rem;
  height: 2.9rem;
  position: absolute;
  left: 58.2rem;
  top: 59.9rem;
}
.plans-qMJ .auto-group-dnxa-t16 .group-39-2eL .copyright-2023-all-rights-reserved-ZeG {
  width: 26.7rem;
  height: 2.9rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.7690000534;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.plans-qMJ .auto-group-dnxa-t16 .group-39-2eL .ic-outline-copyright-UFS {
  width: 1.6667rem;
  height: 1.6667rem;
  position: absolute;
  left: 7.3667rem;
  top: 0.5667rem;
  object-fit: contain;
  vertical-align: top;
}
.plans-qMJ .auto-group-dnxa-t16 .group-42-oHi {
  box-sizing: border-box;
  padding: 1.3rem 31.2rem 3.2rem 31.2rem;
  width: 119.5rem;
  height: 23rem;
  position: absolute;
  left: 12rem;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1rem;
}
.plans-qMJ .auto-group-dnxa-t16 .group-42-oHi .auto-group-zxta-h8C {
  margin: 0rem 10.6rem 1.8rem 9.4rem;
  width: calc(100% - 20rem);
  height: 8.2rem;
  position: relative;
  flex-shrink: 0;
}
.plans-qMJ .auto-group-dnxa-t16 .group-42-oHi .auto-group-zxta-h8C .subscribe-to-news-cW4 {
  width: 31.6rem;
  height: 5.7rem;
  position: absolute;
  left: 2.9rem;
  top: 0;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.7690000534;
  color: #ecbd27;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.plans-qMJ .auto-group-dnxa-t16 .group-42-oHi .auto-group-zxta-h8C .get-the-latest-insights-subscribe-to-our-newsletter-KfN {
  width: 37.1rem;
  height: 2.9rem;
  position: absolute;
  left: 0;
  top: 5.3rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.plans-qMJ .auto-group-dnxa-t16 .group-42-oHi .group-40-dAG {
  box-sizing: border-box;
  padding-left: 2.9rem;
  width: 100%;
  height: 8.5rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #afafaf;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.plans-qMJ .auto-group-dnxa-t16 .group-42-oHi .group-40-dAG .enter-your-email-address-Zpc {
  margin-right: 17.6rem;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.7690001095;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.plans-qMJ .auto-group-dnxa-t16 .group-42-oHi .group-40-dAG .auto-group-gsty-6pY {
  width: 17.3rem;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.7690000534;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ecbd27;
  border-radius: 0 0.8rem 0.8rem 0;
  flex-shrink: 0;
}
.plans-qMJ .auto-group-dnxa-t16 .group-65-8mE {
  width: 30.2rem;
  height: 22rem;
  position: absolute;
  left: 5.7rem;
  top: 22.9rem;
}
.plans-qMJ .auto-group-dnxa-t16 .group-65-8mE .untitled-1-2-4un {
  width: 22rem;
  height: 22rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.plans-qMJ .auto-group-dnxa-t16 .group-65-8mE .cryptofibank-1a8 {
  width: 14.2rem;
  height: 2.8rem;
  position: absolute;
  left: 16rem;
  top: 8.8rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Sansita One, 'Source Sans Pro';
  white-space: nowrap;
}
