
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 100rem;
}.sign-up-page-uqz {
  box-sizing: border-box;
  padding-right: 3.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 3rem;
}
.sign-up-page-uqz .auto-group-gjdj-e2t {
  margin-right: 5.3rem;
  width: 50rem;
  height: 80rem;
  position: relative;
  background-size: 239.971% 100%;
  background-position: -16.9048rem -0rem;
  background-image: url('../../public/Assets/rectangle-8-bg-gmE.png');
  border-radius: 3rem 0 0 3rem;
  background-color: rgba(0, 0, 0, 0.349999994);
  flex-shrink: 0;
}
.sign-up-page-uqz .auto-group-gjdj-e2t .the-cryptofibank-sign-up-page-welcomes-you-to-join-our-best-platform-NUg {
  width: 37.7rem;
  height: 6.1rem;
  position: absolute;
  left: 6.3rem;
  top: 40.4rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5168750763;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
}
.sign-up-page-uqz .auto-group-gjdj-e2t .group-6-SN4 {
  width: 38.3rem;
  height: 25.9rem;
  position: absolute;
  left: 1.2rem;
  top: 19rem;
}
.sign-up-page-uqz .auto-group-gjdj-e2t .group-6-SN4 .untitled-1-2-NWc {
  width: 25.3404rem;
  height: 25.9rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.sign-up-page-uqz .auto-group-gjdj-e2t .group-6-SN4 .cryptofibank-Wcp {
  width: 19.4rem;
  height: 3.8rem;
  position: absolute;
  left: 18.9rem;
  top: 10.2rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Sansita One, 'Source Sans Pro';
  white-space: nowrap;
}
.sign-up-page-uqz .auto-group-gjdj-e2t .auto-group-gjdj-e2t-bg {
  width: 50rem;
  height: 80rem;
  position: relative;
  /* background-image: url('REPLACE_IMAGE:0c943cd48414699cb6a390e4cbf57b91138f97ac'); */
}
.sign-up-page-uqz .auto-group-mphr-53e {
  margin-bottom: 1.8rem;
  width: 41.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sign-up-page-uqz .auto-group-mphr-53e .auto-group-xeju-bGt {
  margin: 0rem 0rem 0.5rem 8.1rem;
  width: calc(100% - 8.1rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.sign-up-page-uqz .auto-group-mphr-53e .auto-group-xeju-bGt .member-form-KCt {
  margin: 1.6rem 8.6rem 0rem 0rem;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.5168750551;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sign-up-page-uqz .auto-group-mphr-53e .auto-group-xeju-bGt .icon-park-close-pvL {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sign-up-page-uqz .auto-group-mphr-53e .to-stay-in-touch-with-us-please-sign-up-to-access-cryptofibank-y2Y {
  margin: 0rem 1.4rem 1.3rem 0rem;
  max-width: 34.9rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5168750763;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.sign-up-page-uqz .auto-group-mphr-53e .group-21-qKe {
  margin: 0rem 1.3rem 1.2rem 0rem;
  box-sizing: border-box;
  padding: 1.4rem 25.5rem 1.1rem 2.45rem;
  width: calc(100% - 1.3rem);
  display: flex;
  align-items: center;
  border: solid 0.15rem #afafaf;
  border-radius: 1rem;
  flex-shrink: 0;
}
.sign-up-page-uqz .auto-group-mphr-53e .group-21-qKe .fluent-person-20-filled-95S {
  margin: 0rem 1.85rem 0.2rem 0rem;
  width: 2.1rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sign-up-page-uqz .auto-group-mphr-53e .group-21-qKe .username-3Ri {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5168750551;
  color: #afafaf;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sign-up-page-uqz .auto-group-mphr-53e .group-22-9Uk {
  margin: 0rem 1.3rem 1.2rem 0rem;
  box-sizing: border-box;
  padding: 1.4rem 25.15rem 1.1rem 2.25rem;
  width: calc(100% - 1.3rem);
  display: flex;
  align-items: center;
  border: solid 0.15rem #afafaf;
  border-radius: 1rem;
  flex-shrink: 0;
}
.sign-up-page-uqz .auto-group-mphr-53e .group-22-9Uk .icon-park-solid-edit-name-rtx {
  margin: 0rem 1.488rem 0.325rem 0rem;
  width: 2.3125rem;
  height: 2.375rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sign-up-page-uqz .auto-group-mphr-53e .group-22-9Uk .your-name-yig {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5168750551;
  color: #afafaf;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sign-up-page-uqz .auto-group-mphr-53e .group-23-HzG {
  margin: 0rem 1.3rem 1.2rem 0rem;
  box-sizing: border-box;
  padding: 0.918rem 22.7rem 1.3rem 2.234rem;
  width: calc(100% - 1.3rem);
  display: flex;
  align-items: center;
  border: solid 0.15rem #afafaf;
  border-radius: 1rem;
  flex-shrink: 0;
}
.sign-up-page-uqz .auto-group-mphr-53e .group-23-HzG .wpf-name-QZ6 {
  margin: 0rem 1.334rem 0.113rem 0rem;
  width: 2.5315rem;
  height: 2.9687rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sign-up-page-uqz .auto-group-mphr-53e .group-23-HzG .your-surname-8jz {
  margin-top: 0.282rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5168750551;
  color: #afafaf;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sign-up-page-uqz .auto-group-mphr-53e .group-24-psi {
  margin: 0rem 1.3rem 1.2rem 0rem;
  box-sizing: border-box;
  padding: 1.2rem 29.5rem 1.1rem 2rem;
  width: calc(100% - 1.3rem);
  display: flex;
  align-items: center;
  border: solid 0.15rem #afafaf;
  border-radius: 1rem;
  flex-shrink: 0;
}
.sign-up-page-uqz .auto-group-mphr-53e .group-24-psi .clarity-email-solid-wSY {
  margin-right: 1.2rem;
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sign-up-page-uqz .auto-group-mphr-53e .group-24-psi .email-sLC {
  margin-top: 0.2rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5168750551;
  color: #afafaf;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sign-up-page-uqz .auto-group-mphr-53e .group-25-Nnk {
  margin: 0rem 1.3rem 1.2rem 0rem;
  box-sizing: border-box;
  padding: 1.125rem 26.1rem 1.3rem 2.5rem;
  width: calc(100% - 1.3rem);
  display: flex;
  align-items: center;
  border: solid 0.15rem #afafaf;
  border-radius: 1rem;
  flex-shrink: 0;
}
.sign-up-page-uqz .auto-group-mphr-53e .group-25-Nnk .mdi-password-V6g {
  margin: 0rem 1.6rem 0.25rem 0rem;
  width: 2rem;
  height: 2.625rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sign-up-page-uqz .auto-group-mphr-53e .group-25-Nnk .password-1qi {
  margin-top: 0.075rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5168750551;
  color: #afafaf;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sign-up-page-uqz .auto-group-mphr-53e .group-26-ugC {
  margin: 0rem 1.3rem 1.2rem 0rem;
  box-sizing: border-box;
  padding: 1.35rem 3.1rem 1.1rem 2rem;
  width: calc(100% - 1.3rem);
  display: flex;
  align-items: center;
  border: solid 0.15rem #afafaf;
  border-radius: 1rem;
  flex-shrink: 0;
}
.sign-up-page-uqz .auto-group-mphr-53e .group-26-ugC .entypo-address-1jE {
  margin: 0rem 0.8rem 0.15rem 0rem;
  width: 3rem;
  height: 2.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sign-up-page-uqz .auto-group-mphr-53e .group-26-ugC .just-enter-the-tether-erc-20-address-M2Q {
  margin-top: 0.05rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5168750551;
  color: #afafaf;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sign-up-page-uqz .auto-group-mphr-53e .auto-group-tmdz-dVi {
  margin: 0rem 1.3rem 1.5rem 0rem;
  box-sizing: border-box;
  padding: 1.388rem 14.4rem 1.1rem 2.563rem;
  width: calc(100% - 1.3rem);
  display: flex;
  align-items: center;
  border: solid 0.15rem #afafaf;
  border-radius: 1rem;
  flex-shrink: 0;
}
.sign-up-page-uqz .auto-group-mphr-53e .auto-group-tmdz-dVi .fluent-book-number-16-filled-kKS {
  margin: 0rem 1.563rem 0.188rem 0rem;
  width: 1.875rem;
  height: 2.625rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sign-up-page-uqz .auto-group-mphr-53e .auto-group-tmdz-dVi .enter-reference-number-56p {
  margin-top: 0.0125rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5168750551;
  color: #afafaf;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sign-up-page-uqz .auto-group-mphr-53e .auto-group-u65n-wui {
  margin: 0rem 1.5rem 1.5rem 6.9rem;
  width: calc(100% - 8.4rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.sign-up-page-uqz .auto-group-mphr-53e .auto-group-u65n-wui .rectangle-18-g6c {
  margin: 0.5rem 1rem 0rem 0rem;
  width: 1.3rem;
  height: 1.3rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  border-radius: 0.1rem;
  flex-shrink: 0;
}
.sign-up-page-uqz .auto-group-mphr-53e .auto-group-u65n-wui .i-have-read-and-approved-the-membership-and-confidentiality-aBz {
  max-width: 30.8rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5168750763;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.sign-up-page-uqz .auto-group-mphr-53e .group-9-gVv {
  margin-right: 1.3rem;
  width: 40.2rem;
  height: 5.3rem;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 800;
  line-height: 1.5168750069;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9a648;
  border-radius: 2.65rem;
  flex-shrink: 0;
}

.auto-group-mphr-53e {
  /* Center the inner elements horizontally and vertically */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}


@media only screen and (max-width: 768px) {
  body {
    font-size: 14px; /* Adjust font size for smaller screens */
  }

  .sign-up-page-uqz {
    padding-right: 1.6rem;
  }

  .sign-up-page-uqz .auto-group-gjdj-e2t {
    width: 100%; /* Make the left section full width on small screens */
  }

  /* Adjust other styles as needed for small screens */
}

.sign-up-page-uqz {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auto-group-mphr-53e {
  text-align: center;
}

.group-6-SN4 {
  margin-top: 1rem;
}

.group-9-gVv {
  margin-top: 1.5rem;
}

/* Media Query for Small Screens */
@media only screen and (max-width: 768px) {
  .auto-group-gjdj-e2t {
    order: 2; /* Change order to swap positions in the flex container */
  }

  .auto-group-gjdj-e2t,
  .auto-group-mphr-53e {
    width: 100%; /* Make both sections full width on small screens */
  }

  .group-6-SN4 {
    text-align: center; /* Center the text on small screens */
  }

  .group-9-gVv {
    width: 80%; /* Make the SIGN UP button take 80% of the width on small screens */
  }
}


.sign-up-page-uqz {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auto-group-gjdj-e2t,
.auto-group-mphr-53e {
  width: 100%;
}

.group-6-SN4 {
  text-align: center;
}

.group-9-gVv {
  margin-top: 1.5rem;
  width: 80%; /* Adjust the width as needed */
}

/* Media Query for Small Screens */
@media only screen and (max-width: 768px) {
  .group-9-gVv {
    width: 100%;
  }
}

body {
  margin: 0; /* Reset default margin */
  overflow-x: hidden; /* Prevent horizontal overflow */
}

.sign-up-page-uqz {
  overflow: hidden; /* Hide overflow content */
}

.auto-group-mphr-53e {
  padding: 2rem; /* Add padding to the container */
  box-sizing: border-box; /* Include padding in the total width */
}


/* Default styles for larger screens */
.sign-up-page-uqz {
  display: flex;
  flex-direction: row;
}

.auto-group-mphr-53e {
  padding: 2rem;
  box-sizing: border-box;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .sign-up-page-uqz {
    flex-direction: column;
  }

  .auto-group-mphr-53e {
    padding: 1rem;
  }
}
