
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 63.2rem;
}.user-profile-QRe {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 1rem;
}
.user-profile-QRe .auto-group-zvrw-wAg {
  margin-bottom: 1.9rem;
  width: 100%;
  height: 31.9rem;
  position: relative;
  flex-shrink: 0;
}
.user-profile-QRe .auto-group-zvrw-wAg .rectangle-84-5Xn {
  width: 63.2rem;
  height: 21.9rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fbbc04;
  border-radius: 1rem 1rem 0 0;
}
.user-profile-QRe .auto-group-zvrw-wAg .ellipse-9-c1v {
  width: 20rem;
  height: 20rem;
  position: absolute;
  left: 21.6rem;
  top: 11.9rem;
  border: solid 0.8rem #ffffff;
  box-sizing: border-box;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  background-size: 100% 150%;
  background-position: 0 -5rem;
  background-image: url('../assets/ellipse-9-bg.png');
  border-radius: 10rem;
}
.user-profile-QRe .auto-group-zvrw-wAg .ellipse-9-c1v .ellipse-9-c1v-bg {
  width: 20rem;
  height: 20rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:be205d20703d00cb3a2ca82cd0a3d02320b81482');
}
.user-profile-QRe .sara-taylor-EJC {
  margin: 0rem 0.4rem 0.2rem 0rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.7690000534;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-profile-QRe .reference-number-YJt {
  margin-right: 0.5rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.7690000534;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-profile-QRe .auto-group-mcp8-5Zi {
  box-sizing: border-box;
  padding: 2.3rem 5.2rem 2.9rem 4.9rem;
  width: 100%;
  row-gap: 4.1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.user-profile-QRe .auto-group-mcp8-5Zi .group-126-PKW {
  box-sizing: border-box;
  padding: 0 0.4167rem;
  width: 100%;
  height: 5.6rem;
  border-bottom: solid 0.1rem #a5a5a5;
  flex-shrink: 0;
}
.user-profile-QRe .auto-group-mcp8-5Zi .group-126-PKW .auto-group-cyhj-vqE {
  width: 13.6833rem;
  height: 3.9rem;
  display: flex;
  align-items: center;
}
.user-profile-QRe .auto-group-mcp8-5Zi .group-126-PKW .auto-group-cyhj-vqE .iconamoon-profile-5CL {
  margin: 0rem 1.817rem 0rem 0rem;
  width: 1.6667rem;
  height: 1.6667rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.user-profile-QRe .auto-group-mcp8-5Zi .group-126-PKW .auto-group-cyhj-vqE .my-profile-yHi {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7689999667;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-profile-QRe .auto-group-mcp8-5Zi .group-127-sdz {
  box-sizing: border-box;
  padding: 0 0.4167rem;
  width: 100%;
  height: 5.6rem;
  border-bottom: solid 0.1rem #a5a5a5;
  flex-shrink: 0;
}
.user-profile-QRe .auto-group-mcp8-5Zi .group-127-sdz .auto-group-b5sp-cLg {
  width: 13.2833rem;
  height: 3.9rem;
  display: flex;
  align-items: center;
}
.user-profile-QRe .auto-group-mcp8-5Zi .group-127-sdz .auto-group-b5sp-cLg .tabler-wallet-wdr {
  margin: 0rem 1.817rem 0rem 0rem;
  width: 1.6667rem;
  height: 1.6667rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.user-profile-QRe .auto-group-mcp8-5Zi .group-127-sdz .auto-group-b5sp-cLg .my-wallet-sGc {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7689999667;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-profile-QRe .auto-group-mcp8-5Zi .group-128-CJt {
  width: 100%;
  height: 5.8rem;
  border-bottom: solid 0.1rem #a5a5a5;
  box-sizing: border-box;
  flex-shrink: 0;
}
.user-profile-QRe .auto-group-mcp8-5Zi .group-128-CJt .auto-group-jujr-YNk {
  width: 14.8rem;
  height: 3.9rem;
  display: flex;
  align-items: center;
}
.user-profile-QRe .auto-group-mcp8-5Zi .group-128-CJt .auto-group-jujr-YNk .foundation-ticket-fTN {
  margin: 0rem 1.4rem 0rem 0rem;
  width: 2.5rem;
  height: 2.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.user-profile-QRe .auto-group-mcp8-5Zi .group-128-CJt .auto-group-jujr-YNk .my-tickets-kji {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7689999667;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-profile-QRe .auto-group-mcp8-5Zi .group-129-sZS {
  box-sizing: border-box;
  padding: 0 0.1563rem;
  width: 100%;
  height: 5.8rem;
  border-bottom: solid 0.1rem #a5a5a5;
  flex-shrink: 0;
}
.user-profile-QRe .auto-group-mcp8-5Zi .group-129-sZS .auto-group-byww-DdJ {
  width: 12.9438rem;
  height: 3.9rem;
  display: flex;
  align-items: center;
}
.user-profile-QRe .auto-group-mcp8-5Zi .group-129-sZS .auto-group-byww-DdJ .pajamas-planning-Zx4 {
  margin: 0rem 1.556rem 0.2rem 0rem;
  width: 2.1875rem;
  height: 2.1875rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.user-profile-QRe .auto-group-mcp8-5Zi .group-129-sZS .auto-group-byww-DdJ .my-plans-hHa {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7689999667;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-profile-QRe .auto-group-mcp8-5Zi .group-130-dBE {
  box-sizing: border-box;
  padding: 0 0.2083rem;
  width: 100%;
  height: 6.6rem;
  border-bottom: solid 0.1rem #a5a5a5;
  flex-shrink: 0;
}
.user-profile-QRe .auto-group-mcp8-5Zi .group-130-dBE .auto-group-sutg-Z4t {
  width: 13.8917rem;
  height: 3.9rem;
  display: flex;
  align-items: center;
}
.user-profile-QRe .auto-group-mcp8-5Zi .group-130-dBE .auto-group-sutg-Z4t .ic-outline-message-hgt {
  margin: 0rem 1.608rem 0rem 0rem;
  width: 2.0833rem;
  height: 2.0833rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.user-profile-QRe .auto-group-mcp8-5Zi .group-130-dBE .auto-group-sutg-Z4t .messages-pWc {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7689999667;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-profile-QRe .auto-group-mcp8-5Zi .group-131-Lzk {
  box-sizing: border-box;
  padding: 0 0.3385rem;
  width: 100%;
  height: 6.1rem;
  border-bottom: solid 0.1rem #a5a5a5;
  flex-shrink: 0;
}
.user-profile-QRe .auto-group-mcp8-5Zi .group-131-Lzk .auto-group-snpa-JAt {
  width: 10.5615rem;
  height: 3.9rem;
  display: flex;
  align-items: center;
}
.user-profile-QRe .auto-group-mcp8-5Zi .group-131-Lzk .auto-group-snpa-JAt .basil-logout-outline-3uA {
  margin: 0rem 1.843rem 0.2rem 0rem;
  width: 1.7188rem;
  height: 1.6146rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.user-profile-QRe .auto-group-mcp8-5Zi .group-131-Lzk .auto-group-snpa-JAt .logout-y28 {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.7689999667;
  color: #a5a5a5;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
