
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.about-us-bYL {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .auto-group-xhmj-uJ8 {
    width: 100%;
    height: 150.9rem;
    position: relative;
    flex-shrink: 0;

    .auto-group-wy1v-ErC {
      width: 119.8337rem;
      height: 61.3943rem;
      position: absolute;
      left: 12.2rem;
      top: 29.3rem;
      display: flex;
      align-items: center;

      .auto-group-iqpp-kJk {
        width: 51.1rem;
        height: calc(100% - 4.1943rem);
        flex-shrink: 0;
        margin: 1.2rem 5.6rem 2.994rem 0rem;

        .about-us-euv {
          align-items: baseline;
          width: 100%;
          text-align: center;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          margin-bottom: 2.2rem;
          font-size: 6.4rem;
          font-weight: 700;
          line-height: 1.1725;
          color: #000000;

          .about-us-euv-sub-0 {
            font-size: 6.4rem;
            font-weight: 700;
            line-height: 1.1725;
            color: #ecbd27;
            font-family: Roboto, 'Source Sans Pro';
          }
          .about-us-euv-sub-1 {
          }
        }
        .cryptofibank-is-a-group-of-friends-established-by-three-people-lucas-british-yoshiko-japanese-and-kuzey-turkish-in-order-to-earn-passive-income-for-themselves-and-their-close-circles-we-provide-our-earnings-through-forex-exchange-and-cryptocurrencies-definitely-not-a-pyramid-scheme-as-in-every-trade-there-is-a-loss-in-our-trade-but-we-do-not-reflect-this-loss-to-you-we-have-created-percentage-earnings-plans-according-to-certain-investment-amounts-since-we-are-not-subject-to-the-tax-system-of-any-country-we-give-percentages-at-rates-that-even-banks-do-notwe-offer-a-24-7-withdrawal-guarantee-there-are-absolutely-no-withdrawal-limits-or-deductions-only-withdrawals-are-processed-after-24-hours-the-reason-is-that-withdrawals-from-the-global-stock-market-do-not-occur-immediately-our-mission-is-to-win-while-you-win-cryptofibank-does-not-support-any-institution-or-organization-and-does-not-give-you-investment-advice-7BE {
          max-width: 51.1rem;
          font-size: 1.7rem;
          font-weight: 500;
          line-height: 1.6127346046;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          margin-bottom: 2.1rem;
        }
        .frame-3-q9A {
          width: 19rem;
          font-size: 1.8rem;
          color: #ffffff;
          justify-content: center;
          background-color: #ecbd27;
          height: 4.1rem;
          font-weight: 800;
          line-height: 1.1725;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          align-items: center;
          border-radius: 0.5rem;
        }
      }
      .auto-group-kjcc-iTr {
        width: 63.1337rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-38-TAY {
          background-color: #fbbc04;
          border-radius: 1rem;
          width: 58.2291rem;
          height: 58.3147rem;
          position: absolute;
          left: 4.9046rem;
          top: 3.0797rem;
        }
        .mask-group-ZjN {
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          border-radius: 1rem;
          width: 60.5434rem;
          height: 60.5002rem;
          position: absolute;
        }
      }
    }
    .auto-group-m2bj-6DW {
      left: 55.8rem;
      top: 99.9rem;
      width: 32.4rem;
      height: 5.2rem;
      position: absolute;

      .services-we-offer-otc {
        position: absolute;
        left: 0;
        line-height: 1.5168749865;
        color: #000000;
        white-space: nowrap;
        width: 32.4rem;
        height: 5.2rem;
        font-weight: 700;
        font-family: Roboto, 'Source Sans Pro';
        top: 0;
        font-size: 3.4rem;
      }
      .line-24-iVn {
        width: 31.5rem;
        height: 0.2rem;
        position: absolute;
        left: 0.4rem;
        top: 4.9rem;
        background-color: #fbbc04;
      }
    }
    .explore-the-wealth-of-services-at-cryptofibank-d6x {
      position: absolute;
      left: 50.7rem;
      top: 106.4rem;
      font-weight: 500;
      line-height: 1.5168750763;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      align-items: baseline;
      width: 41.9rem;
      height: 3.1rem;
      font-size: 2rem;
      display: flex;

      .explore-the-wealth-of-services-at-cryptofibank-d6x-sub-0 {
      }
      .explore-the-wealth-of-services-at-cryptofibank-d6x-sub-1 {
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.5168750763;
        color: #fbbc04;
        font-family: Roboto, 'Source Sans Pro';
      }
    }
    .auto-group-eyjk-JMW {
      left: 12rem;
      top: 117.6rem;
      display: flex;
      column-gap: 9.6rem;
      align-items: center;
      width: 120rem;
      height: 22.8rem;
      position: absolute;

      .group-44-c7J {
        width: 22.8rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .ellipse-6-Z2Y {
          width: 21rem;
          height: 21rem;
          position: absolute;
          left: 0.9rem;
          top: 0.9rem;
          background-color: #ecbd27;
          border-radius: 10.5rem;
        }
        .ellipse-7-GSk {
          border: dashed 0.3rem #fbbc04;
          box-sizing: border-box;
          border-radius: 11.4rem;
          width: 22.8rem;
          height: 22.8rem;
          position: absolute;
          left: 0;
          top: 0;
        }
        .forex-trading-muJ {
          width: 14.9rem;
          height: 3.7rem;
          left: 4rem;
          top: 9.7rem;
          color: #ffffff;
          white-space: nowrap;
          position: absolute;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.5168749491;
          font-family: Roboto, 'Source Sans Pro';
        }
      }
      .group-45-Gr4 {
        width: 22.8rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .ellipse-6-EH6 {
          width: 21rem;
          height: 21rem;
          position: absolute;
          left: 0.9rem;
          top: 0.9rem;
          background-color: #ecbd27;
          border-radius: 10.5rem;
        }
        .ellipse-7-Y2t {
          position: absolute;
          left: 0;
          top: 0;
          border: dashed 0.3rem #fbbc04;
          box-sizing: border-box;
          border-radius: 11.4rem;
          width: 22.8rem;
          height: 22.8rem;
        }
        .cryptocurrencies-da8 {
          position: absolute;
          font-size: 2.4rem;
          line-height: 1.5168749491;
          color: #ffffff;
          white-space: nowrap;
          width: 18.6rem;
          height: 3.7rem;
          left: 2rem;
          top: 9.7rem;
          font-weight: 700;
          font-family: Roboto, 'Source Sans Pro';
        }
      }
      .group-46-W88 {
        width: 22.8rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .ellipse-6-FbW {
          width: 21rem;
          height: 21rem;
          position: absolute;
          left: 0.9rem;
          top: 0.9rem;
          background-color: #ecbd27;
          border-radius: 10.5rem;
        }
        .ellipse-7-Nw2 {
          height: 22.8rem;
          position: absolute;
          left: 0;
          top: 0;
          border: dashed 0.3rem #fbbc04;
          box-sizing: border-box;
          border-radius: 11.4rem;
          width: 22.8rem;
        }
        .slot-games-Vkk {
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          width: 12.5rem;
          height: 3.7rem;
          position: absolute;
          left: 5.1rem;
          font-weight: 700;
          top: 9.7rem;
          font-size: 2.4rem;
          line-height: 1.5168749491;
          white-space: nowrap;
        }
      }
      .group-47-oFe {
        width: 22.8rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .ellipse-6-juz {
          width: 21rem;
          height: 21rem;
          position: absolute;
          left: 0.9rem;
          top: 0.9rem;
          background-color: #ecbd27;
          border-radius: 10.5rem;
        }
        .ellipse-7-4hN {
          width: 22.8rem;
          height: 22.8rem;
          position: absolute;
          left: 0;
          top: 0;
          border: dashed 0.3rem #fbbc04;
          box-sizing: border-box;
          border-radius: 11.4rem;
        }
        .lotteries-nNU {
          left: 6.4rem;
          top: 9.7rem;
          font-weight: 700;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          width: 9.7rem;
          height: 3.7rem;
          position: absolute;
          font-size: 2.4rem;
          line-height: 1.5168749491;
          white-space: nowrap;
        }
      }
    }
    .group-123-V1z {
      width: 136.8rem;
      height: 27.1605rem;
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      align-items: center;

      .group-1-pa4 {
        margin-right: 8.6469rem;
        width: 33.9531rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .untitled-1-2-ZnY {
          height: 27.1605rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 27.1605rem;
        }
        .cryptofibank-6Xa {
          position: absolute;
          left: 18.8531rem;
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #000000;
          font-family: Sansita One, 'Source Sans Pro';
          width: 14.2rem;
          height: 2.8rem;
          top: 9.8642rem;
          white-space: nowrap;
        }
      }
      .home-Njz {
        flex-shrink: 0;
        margin-bottom: 2.5605rem;
        white-space: nowrap;
        line-height: 1.1725;
        text-transform: uppercase;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 500;
      }
      .auto-group-dzke-JNk {
        padding: 10rem 0rem 13.06rem 2rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;

        .auto-group-3gly-p6C {
          position: relative;
          flex-shrink: 0;
          margin: 1.1rem 2rem 0.6rem 0rem;
          width: 9.7rem;
          height: calc(100% - 1.7rem);

          .about-us-wAp {
            width: 9.7rem;
            height: 2.4rem;
            position: absolute;
            font-size: 2rem;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            left: 0;
            top: 0;
            font-weight: 800;
            line-height: 1.1725;
            text-transform: uppercase;
          }
          .line-5-eqv {
            object-fit: contain;
            vertical-align: top;
            width: 9.2rem;
            height: 0;
            position: absolute;
            left: 0.2rem;
            top: 2.2rem;
          }
        }
        .plans-BL4 {
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.5rem 2.1rem 0rem 0rem;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.1725;
          color: #000000;
        }
        .game-h3W {
          font-weight: 500;
          line-height: 1.1725;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.5rem 2rem 0rem 0rem;
          font-size: 2rem;
        }
        .lottery-pP2 {
          line-height: 1.1725;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.5rem 2rem 0rem 0rem;
          font-size: 2rem;
          font-weight: 500;
        }
        .faqs-9gC {
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.5rem 2rem 0rem 0rem;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.1725;
        }
        .contact-us-UyN {
          flex-shrink: 0;
          margin: 0.5rem 5rem 0rem 0rem;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.1725;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
        .group-cJt {
          flex-shrink: 0;
          margin: 0.1rem 0.8rem 0rem 0rem;
          width: 3rem;
          height: 3rem;
          object-fit: contain;
          vertical-align: top;
        }
        .eng-LVn {
          font-size: 1.5rem;
          font-weight: 600;
          line-height: 1.1725;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.1rem 5.8rem 0rem 0rem;
        }
        .frame-1-ryv {
          border-radius: 0.5rem;
          font-weight: 600;
          display: flex;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 1.8rem;
          color: #ffffff;
          justify-content: center;
          background-color: #ecbd27;
          width: 12rem;
          line-height: 1.1725;
          flex-shrink: 0;
          height: 100%;
          align-items: center;
        }
      }
    }
  }
  .auto-group-gj8l-9i8 {
    width: 100%;
    height: 63.2rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-32-HZS {
      width: 144rem;
      height: 51.7rem;
      position: absolute;
      left: 0;
      top: 11.5rem;
      background-color: rgba(236, 189, 39, 0.3000000119);
    }
    .group-20-21E {
      width: 9.7rem;
      height: 23.5rem;
      position: absolute;
      left: 74.1rem;
      top: 31.3rem;

      .company-9be {
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 2.8rem;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.7689999667;
      }
      .about-us-Fua {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.8rem;
      }
      .contact-us-BoE {
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.8rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
      }
      .career-j44 {
        margin-bottom: 0.8rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
      .lottery-fiQ {
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 2rem;
        font-weight: 400;
      }
    }
    .group-37-oZi {
      position: absolute;
      left: 92.9rem;
      top: 31.3rem;
      width: 9.7rem;
      height: 14.7rem;

      .support-jiG {
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 2.8rem;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.7689999667;
      }
      .faqs-frp {
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.8rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
      }
      .contact-us-1vg {
        white-space: nowrap;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
      }
    }
    .group-19-xqv {
      left: 51.4rem;
      top: 31.3rem;
      width: 15rem;
      height: 23.5rem;
      position: absolute;

      .quick-links-gmv {
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.7689999667;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 2.8rem;
      }
      .terms-of-service-Qxp {
        white-space: nowrap;
        margin-bottom: 0.8rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
      }
      .privacy-policy-xDe {
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.8rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
      }
      .plans-tNC {
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.8rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
      }
      .games-S8p {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .group-38-yuS {
      width: 19.8rem;
      height: 9.1rem;
      position: absolute;
      left: 111.7rem;
      top: 31.3rem;

      .connect-with-us--JRv {
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 0.5rem 0.4rem;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.7689999667;
        color: #000000;
      }
      .group-22-cxQ {
        width: 100%;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: 0.392rem 0.35rem 0.4rem 0.392rem;

        .ic-baseline-facebook-M9J {
          height: 3.9069rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.292rem 0.001rem 0rem;
          width: 3.9167rem;
        }
        .formkit-twitter-4ZW {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.008rem 1.258rem 0rem 0rem;
          width: 3.9rem;
          height: 3.9rem;
          object-fit: contain;
        }
        .ri-instagram-fill-b3e {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.008rem 1.608rem 0rem 0rem;
          width: 3.5835rem;
          height: 3.5835rem;
        }
        .ri-whatsapp-fill-WRW {
          margin-top: 0.0083rem;
          width: 3.5rem;
          height: 3.5rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .group-36-eGp {
      width: 30.2rem;
      height: 22rem;
      position: absolute;
      left: 6rem;
      top: 23.1rem;

      .untitled-1-2-BXe {
        top: 0;
        object-fit: cover;
        vertical-align: top;
        width: 22rem;
        height: 22rem;
        position: absolute;
        left: 0;
      }
      .cryptofibank-Kdr {
        width: 14.2rem;
        height: 2.8rem;
        position: absolute;
        left: 16rem;
        color: #000000;
        white-space: nowrap;
        top: 8.8rem;
        font-size: 2.2rem;
        font-weight: 400;
        line-height: 1.2575;
        font-family: Sansita One, 'Source Sans Pro';
      }
    }
    .cryptofibank-a-trusted-name-in-the-world-of-financial-opportunity-provides-a-secure-platform-for-investing-in-forex-cryptocurrencies-slot-games-and-lotteries-EF2 {
      position: absolute;
      top: 40.4rem;
      font-weight: 400;
      line-height: 1.7690000534;
      font-family: Roboto, 'Source Sans Pro';
      width: 27.5rem;
      height: 14.2rem;
      left: 12rem;
      font-size: 1.6rem;
      color: #000000;
    }
    .rectangle-34-GhW {
      position: absolute;
      left: 0;
      top: 59.5rem;
      background-color: #ecbd27;
      width: 144rem;
      height: 3.7rem;
    }
    .group-39-bzg {
      height: 2.9rem;
      position: absolute;
      left: 58.2rem;
      top: 59.9rem;
      width: 26.7rem;

      .copyright-2023-all-rights-reserved-jqz {
        color: #ffffff;
        white-space: nowrap;
        height: 2.9rem;
        top: 0;
        left: 0;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1.7690000534;
        font-family: Roboto, 'Source Sans Pro';
        width: 26.7rem;
        position: absolute;
      }
      .ic-outline-copyright-exx {
        vertical-align: top;
        width: 1.6667rem;
        height: 1.6667rem;
        position: absolute;
        left: 7.3667rem;
        top: 0.5667rem;
        object-fit: contain;
      }
    }
    .group-42-P9r {
      box-sizing: border-box;
      padding: 1.3rem 31.2rem 3.2rem 31.2rem;
      position: absolute;
      display: flex;
      box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      border-radius: 1rem;
      width: 119.5rem;
      height: 23rem;
      left: 12rem;
      top: 0;
      align-items: center;
      flex-direction: column;

      .auto-group-zhxu-HW8 {
        width: calc(100% - 20rem);
        height: 8.2rem;
        position: relative;
        flex-shrink: 0;
        margin: 0rem 10.6rem 1.8rem 9.4rem;

        .subscribe-to-news-Qak {
          font-family: Roboto, 'Source Sans Pro';
          width: 31.6rem;
          position: absolute;
          left: 2.9rem;
          top: 0;
          font-weight: 700;
          line-height: 1.7690000534;
          height: 5.7rem;
          font-size: 3.2rem;
          color: #ecbd27;
          white-space: nowrap;
        }
        .get-the-latest-insights-subscribe-to-our-newsletter-KSp {
          height: 2.9rem;
          position: absolute;
          left: 0;
          top: 5.3rem;
          font-size: 1.6rem;
          font-weight: 500;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          width: 37.1rem;
          line-height: 1.7690000534;
          white-space: nowrap;
        }
      }
      .group-40-26L {
        width: 100%;
        align-items: center;
        border-radius: 0.8rem;
        flex-shrink: 0;
        border: solid 0.1rem #afafaf;
        box-sizing: border-box;
        padding-left: 2.9rem;
        height: 8.5rem;
        display: flex;

        .enter-your-email-address-MeQ {
          font-weight: 500;
          line-height: 1.7690001095;
          color: #a5a5a5;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 17.6rem;
          font-size: 1.7rem;
        }
        .auto-group-upvi-t8Y {
          color: #ffffff;
          white-space: nowrap;
          border-radius: 0 0.8rem 0.8rem 0;
          flex-shrink: 0;
          height: 100%;
          font-size: 1.8rem;
          display: flex;
          align-items: center;
          background-color: #ecbd27;
          width: 17.3rem;
          font-weight: 700;
          font-family: Roboto, 'Source Sans Pro';
          line-height: 1.7690000534;
          justify-content: center;
        }
      }
    }
  }
}
