
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.contact-us-Hpk {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;

  .auto-group-tozz-pJt {
    padding-bottom: 14.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;

    .group-122-Z1a {
      margin-bottom: 2.9395rem;
      height: 27.1605rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .group-1-gbz {
        margin-right: 8.6469rem;
        width: 33.9531rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .untitled-1-2-qDz {
          vertical-align: top;
          width: 27.1605rem;
          height: 27.1605rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
        }
        .cryptofibank-My2 {
          height: 2.8rem;
          position: absolute;
          top: 9.8642rem;
          font-weight: 400;
          line-height: 1.2575;
          font-family: Sansita One, 'Source Sans Pro';
          white-space: nowrap;
          width: 14.2rem;
          left: 18.6531rem;
          font-size: 2.2rem;
          color: #000000;
        }
      }
      .home-dfe {
        flex-shrink: 0;
        font-weight: 500;
        line-height: 1.1725;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        margin: 0rem 2rem 2.56rem 0rem;
        font-size: 2rem;
        text-transform: uppercase;
        white-space: nowrap;
      }
      .about-us-vek {
        margin: 0rem 2.2rem 2.56rem 0rem;
        font-size: 2rem;
        line-height: 1.1725;
        text-transform: uppercase;
        color: #000000;
        font-weight: 500;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .plans-dp4 {
        font-weight: 500;
        line-height: 1.1725;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 2.1rem 2.56rem 0rem;
        font-size: 2rem;
      }
      .game-AJC {
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.1725;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 2rem 2.56rem 0rem;
      }
      .lottery-VbN {
        margin: 0rem 2rem 2.56rem 0rem;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.1725;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .faqs-pNk {
        flex-shrink: 0;
        margin-bottom: 2.5605rem;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.1725;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
      .auto-group-ddn8-xjr {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 10rem 0rem 13.06rem 2rem;
        height: 100%;
        display: flex;
        align-items: center;

        .auto-group-cvhe-srp {
          width: 12.1rem;
          height: calc(100% - 1.7rem);
          position: relative;
          flex-shrink: 0;
          margin: 1.1rem 4.9rem 0.6rem 0rem;

          .contact-us-Q64 {
            position: absolute;
            font-size: 2rem;
            font-weight: 800;
            line-height: 1.1725;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            height: 2.4rem;
            left: 0;
            top: 0;
            color: #000000;
            width: 12.1rem;
          }
          .line-5-isS {
            object-fit: contain;
            vertical-align: top;
            width: 11.5rem;
            height: 0;
            position: absolute;
            left: 0.3rem;
            top: 2.2rem;
          }
        }
        .group-rik {
          margin: 0.1rem 0.8rem 0rem 0rem;
          width: 3rem;
          height: 3rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .eng-aue {
          line-height: 1.1725;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.1rem 5.8rem 0rem 0rem;
          font-size: 1.5rem;
          font-weight: 600;
        }
        .frame-1-hjN {
          width: 12rem;
          font-weight: 600;
          justify-content: center;
          flex-shrink: 0;
          color: #ffffff;
          font-size: 1.8rem;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          background-color: #ecbd27;
          border-radius: 0.5rem;
          height: 100%;
          line-height: 1.1725;
          display: flex;
          align-items: center;
        }
      }
    }
    .auto-group-swkw-PMJ {
      margin-right: 12rem;
      width: calc(100% - 12rem);
      height: 74.4rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .auto-group-izhn-KEx {
        margin-right: 9.8rem;
        width: 72.8rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-79-Trx {
          left: 0;
          top: 0;
          background-color: #fbbc04;
          width: 66rem;
          height: 74.4rem;
          position: absolute;
        }
        .mask-group-bTN {
          object-fit: contain;
          vertical-align: top;
          width: 60.8rem;
          height: 67rem;
          position: absolute;
          left: 12rem;
          top: 3.7rem;
        }
      }
      .auto-group-pvhe-KeG {
        width: 49.4rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .contact-us-U1N {
          line-height: 1.1725;
          white-space: nowrap;
          display: flex;
          align-items: baseline;
          flex-shrink: 0;
          text-align: right;
          font-size: 6.4rem;
          font-weight: 700;
          margin: 0rem 0rem 1.3rem 10rem;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';

          .contact-us-U1N-sub-0 {
            color: #fbbc04;
            font-family: Roboto, 'Source Sans Pro';
            font-size: 6.4rem;
            font-weight: 700;
            line-height: 1.1725;
          }
          .contact-us-U1N-sub-1 {
          }
        }
        .cryptofibank-your-trusted-financial-partner-reach-out-to-us-today-xak {
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 1.6118748983;
          color: #000000;
          margin-bottom: 3.6rem;
          max-width: 49.4rem;
          text-align: right;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;

          .cryptofibank-your-trusted-financial-partner-reach-out-to-us-today-xak-sub-0 {
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 1.6118748983;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
          }
          .cryptofibank-your-trusted-financial-partner-reach-out-to-us-today-xak-sub-1 {
          }
        }
        .group-116-Tvp {
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          box-sizing: border-box;
          width: 46.1rem;
          text-align: center;
          font-size: 1.7rem;
          line-height: 1.5168749865;
          border: solid 0.2rem #a5a5a5;
          padding: 2rem 3.9rem 1.9rem 3.9rem;
          font-weight: 500;
          white-space: nowrap;
          background-color: #ffffff;
          border-radius: 0.5rem;
          margin: 0rem 0rem 2rem 2.3rem;
          color: #afafaf;
        }
        .group-117-Ub2 {
          box-sizing: border-box;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          white-space: nowrap;
          border: solid 0.2rem #a5a5a5;
          border-radius: 0.5rem;
          text-align: center;
          font-weight: 500;
          line-height: 1.5168749865;
          padding: 2rem 3.9rem 1.9rem 3.9rem;
          width: 46.1rem;
          color: #afafaf;
          margin: 0rem 0rem 3.6rem 2.3rem;
          font-size: 1.7rem;
        }
        .auto-group-ffdi-K5r {
          height: 24.5rem;
          font-weight: 500;
          color: #afafaf;
          justify-content: center;
          box-sizing: border-box;
          flex-shrink: 0;
          margin: 0rem 0rem 3.8rem 2.3rem;
          text-align: center;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          align-items: center;
          width: 46.1rem;
          font-size: 1.7rem;
          line-height: 1.5168749865;
          border: solid 0.2rem #a5a5a5;
          border-radius: 0.5rem;
        }
        .frame-4-NK2 {
          white-space: nowrap;
          margin: 0rem 14rem 0rem 16.4rem;
          line-height: 1.1725;
          color: #ffffff;
          justify-content: center;
          flex-shrink: 0;
          width: calc(100% - 30.4rem);
          height: 6.1rem;
          font-size: 1.8rem;
          font-family: Roboto, 'Source Sans Pro';
          display: flex;
          font-weight: 800;
          align-items: center;
          background-color: #ecbd27;
          border-radius: 0.5rem;
        }
      }
    }
  }
  .auto-group-sz4p-S3z {
    flex-shrink: 0;
    width: 100%;
    height: 63.2rem;
    position: relative;

    .rectangle-32-mrx {
      position: absolute;
      left: 0;
      top: 11.5rem;
      background-color: rgba(236, 189, 39, 0.3000000119);
      width: 144rem;
      height: 51.7rem;
    }
    .group-20-i1W {
      height: 23.5rem;
      position: absolute;
      left: 74.1rem;
      top: 31.3rem;
      width: 9.7rem;

      .company-duA {
        margin-bottom: 2.8rem;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.7689999667;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
      .about-us-yCL {
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.8rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
      }
      .contact-us-7ZS {
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.8rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
      }
      .career-eZN {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.8rem;
      }
      .lottery-C56 {
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 2rem;
      }
    }
    .group-37-8zL {
      width: 9.7rem;
      height: 14.7rem;
      position: absolute;
      left: 92.9rem;
      top: 31.3rem;

      .support-Gqe {
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 2.8rem;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.7689999667;
        color: #000000;
      }
      .faqs-248 {
        white-space: nowrap;
        margin-bottom: 0.8rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
      }
      .contact-us-9eY {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .group-19-tME {
      width: 15rem;
      height: 23.5rem;
      position: absolute;
      left: 51.4rem;
      top: 31.3rem;

      .quick-links-oyz {
        font-weight: 600;
        line-height: 1.7689999667;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 2.8rem;
        font-size: 2.2rem;
      }
      .terms-of-service-wqJ {
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.8rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
      }
      .privacy-policy-5gc {
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.8rem;
        font-size: 2rem;
      }
      .plans-peC {
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.8rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
      }
      .games-a7a {
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 2rem;
        font-weight: 400;
      }
    }
    .group-38-XYc {
      position: absolute;
      left: 111.7rem;
      top: 31.3rem;
      width: 19.8rem;
      height: 9.1rem;

      .connect-with-us--ThA {
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 0.5rem 0.4rem;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.7689999667;
        color: #000000;
      }
      .group-22-njS {
        box-sizing: border-box;
        padding: 0.392rem 0.35rem 0.4rem 0.392rem;
        width: 100%;
        display: flex;
        align-items: center;

        .ic-baseline-facebook-82c {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.292rem 0.001rem 0rem;
          width: 3.9167rem;
          height: 3.9069rem;
        }
        .formkit-twitter-R1i {
          margin: 0.008rem 1.258rem 0rem 0rem;
          width: 3.9rem;
          height: 3.9rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .ri-instagram-fill-jYC {
          margin: 0.008rem 1.608rem 0rem 0rem;
          width: 3.5835rem;
          height: 3.5835rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .ri-whatsapp-fill-ShW {
          width: 3.5rem;
          height: 3.5rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 0.0083rem;
        }
      }
    }
    .group-36-BQC {
      position: absolute;
      left: 6rem;
      top: 23.1rem;
      width: 30.2rem;
      height: 22rem;

      .untitled-1-2-ub6 {
        height: 22rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        width: 22rem;
      }
      .cryptofibank-eYg {
        top: 8.8rem;
        line-height: 1.2575;
        height: 2.8rem;
        position: absolute;
        left: 16rem;
        font-size: 2.2rem;
        font-weight: 400;
        color: #000000;
        font-family: Sansita One, 'Source Sans Pro';
        white-space: nowrap;
        width: 14.2rem;
      }
    }
    .cryptofibank-a-trusted-name-in-the-world-of-financial-opportunity-provides-a-secure-platform-for-investing-in-forex-cryptocurrencies-slot-games-and-lotteries-LgQ {
      height: 14.2rem;
      left: 12rem;
      font-size: 1.6rem;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      width: 27.5rem;
      position: absolute;
      top: 40.4rem;
      font-weight: 400;
      line-height: 1.7690000534;
    }
    .rectangle-34-nYQ {
      width: 144rem;
      height: 3.7rem;
      position: absolute;
      left: 0;
      top: 59.5rem;
      background-color: #ecbd27;
    }
    .group-39-KoE {
      width: 26.7rem;
      height: 2.9rem;
      position: absolute;
      left: 58.2rem;
      top: 59.9rem;

      .copyright-2023-all-rights-reserved-GCg {
        position: absolute;
        top: 0;
        font-size: 1.6rem;
        font-weight: 600;
        font-family: Roboto, 'Source Sans Pro';
        width: 26.7rem;
        height: 2.9rem;
        color: #ffffff;
        white-space: nowrap;
        left: 0;
        line-height: 1.7690000534;
      }
      .ic-outline-copyright-mv8 {
        vertical-align: top;
        width: 1.6667rem;
        height: 1.6667rem;
        position: absolute;
        left: 7.3667rem;
        top: 0.5667rem;
        object-fit: contain;
      }
    }
    .group-42-hYt {
      width: 119.5rem;
      position: absolute;
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      align-items: center;
      box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.25);
      border-radius: 1rem;
      box-sizing: border-box;
      padding: 1.3rem 31.2rem 3.2rem 31.2rem;
      height: 23rem;
      left: 12rem;
      top: 0;

      .auto-group-knug-ymJ {
        height: 8.2rem;
        position: relative;
        flex-shrink: 0;
        margin: 0rem 10.6rem 1.8rem 9.4rem;
        width: calc(100% - 20rem);

        .subscribe-to-news-hxC {
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.7690000534;
          white-space: nowrap;
          top: 0;
          height: 5.7rem;
          position: absolute;
          left: 2.9rem;
          color: #ecbd27;
          font-family: Roboto, 'Source Sans Pro';
          width: 31.6rem;
        }
        .get-the-latest-insights-subscribe-to-our-newsletter-pG8 {
          color: #000000;
          height: 2.9rem;
          top: 5.3rem;
          font-weight: 500;
          line-height: 1.7690000534;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          width: 37.1rem;
          position: absolute;
          left: 0;
          font-size: 1.6rem;
        }
      }
      .group-40-7m2 {
        box-sizing: border-box;
        padding-left: 2.9rem;
        height: 8.5rem;
        display: flex;
        align-items: center;
        width: 100%;
        border: solid 0.1rem #afafaf;
        border-radius: 0.8rem;
        flex-shrink: 0;

        .enter-your-email-address-Tpt {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 17.6rem;
          font-size: 1.7rem;
          font-weight: 500;
          line-height: 1.7690001095;
          color: #a5a5a5;
          font-family: Roboto, 'Source Sans Pro';
        }
        .auto-group-qswe-CGg {
          line-height: 1.7690000534;
          justify-content: center;
          height: 100%;
          font-weight: 700;
          background-color: #ecbd27;
          flex-shrink: 0;
          width: 17.3rem;
          display: flex;
          font-family: Roboto, 'Source Sans Pro';
          align-items: center;
          border-radius: 0 0.8rem 0.8rem 0;
          font-size: 1.8rem;
          color: #ffffff;
          white-space: nowrap;
        }
      }
    }
  }
}
