
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 88.4rem;
}.deposit-page-bXe {
  height: 118rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;

  .select-payment-method-W8p {
    white-space: nowrap;
    position: absolute;
    left: 12rem;
    top: 6.5rem;
    font-weight: 600;
    line-height: 1.7690000534;
    color: #000000;
    font-family: Roboto, 'Source Sans Pro';
    width: 34.4rem;
    height: 5.7rem;
    font-size: 3.2rem;
  }
  .auto-group-gmtt-Mv8 {
    position: absolute;
    left: 12rem;
    top: 22.8rem;
    display: flex;
    align-items: center;
    width: 64.7rem;
    height: 5.7rem;

    .select-currency-4pY {
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 22.1rem;
      font-size: 3.2rem;
      font-weight: 600;
      line-height: 1.7690000534;
    }
    .enter-amount-BeG {
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 3.2rem;
      font-weight: 600;
      line-height: 1.7690000534;
      color: #000000;
    }
  }
  .auto-group-lkze-728 {
    position: absolute;
    left: 12rem;
    top: 95.5rem;
    width: 64.4rem;
    height: 7.4rem;

    .copy-address-dmA {
      width: 20.1rem;
      height: 5.7rem;
      position: absolute;
      top: 0.7rem;
      font-size: 3.2rem;
      font-family: Roboto, 'Source Sans Pro';
      left: 22.3rem;
      font-weight: 600;
      line-height: 1.7690000534;
      color: #000000;
      white-space: nowrap;
    }
    .rectangle-94-vkG {
      width: 64.4rem;
      height: 7.4rem;
      position: absolute;
      left: 0;
      top: 0;
      border: solid 0.1rem #a5a5a5;
      box-sizing: border-box;
      border-radius: 0.5rem;
    }
  }
  .auto-group-rhut-2YQ {
    width: 64.4rem;
    height: 7.4rem;
    position: absolute;
    left: 12rem;
    top: 104.3rem;

    .sent-LZ6 {
      position: absolute;
      font-size: 3.2rem;
      line-height: 1.7690000534;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      width: 6.6rem;
      height: 5.7rem;
      left: 28.9rem;
      top: 0.7rem;
      font-weight: 600;
    }
    .rectangle-95-RqS {
      border: solid 0.1rem #a5a5a5;
      border-radius: 0.5rem;
      width: 64.4rem;
      position: absolute;
      left: 0;
      top: 0;
      box-sizing: border-box;
      background-color: #000000;
      height: 7.4rem;
    }
    .sent-Uoi {
      width: 6.6rem;
      height: 5.7rem;
      position: absolute;
      font-weight: 600;
      line-height: 1.7690000534;
      color: #ffffff;
      font-family: Roboto, 'Source Sans Pro';
      left: 28.4rem;
      top: 0.8rem;
      font-size: 3.2rem;
      white-space: nowrap;
    }
  }
  .auto-group-auc8-aLx {
    height: 51.9rem;
    position: absolute;
    left: 12rem;
    top: 41.4rem;
    width: 64.4rem;

    .important-note-sax {
      font-family: Roboto, 'Source Sans Pro';
      width: 22rem;
      position: absolute;
      left: 3.6rem;
      font-size: 3.2rem;
      line-height: 1.7690000534;
      color: #ff0000;
      height: 5.7rem;
      top: 1.9rem;
      font-weight: 600;
      white-space: nowrap;
    }
    .rectangle-93-mwE {
      border-radius: 0.5rem;
      width: 64.4rem;
      height: 51.9rem;
      position: absolute;
      left: 0;
      top: 0;
      border: solid 0.1rem #a5a5a5;
      box-sizing: border-box;
    }
    .minimum-deposit-100-usdt-tFA {
      white-space: nowrap;
      width: 30.1rem;
      top: 10.9rem;
      font-size: 2.4rem;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      height: 2.9rem;
      position: absolute;
      left: 3.6rem;
      font-weight: 500;
      line-height: 1.1725;
    }
    .this-address-is-for-erc-20-usdt-only-VVr {
      font-size: 2.4rem;
      color: #000000;
      white-space: nowrap;
      width: 40.6rem;
      height: 2.9rem;
      position: absolute;
      top: 24.2rem;
      left: 3.6rem;
      font-weight: 500;
      line-height: 1.1725;
      font-family: Roboto, 'Source Sans Pro';
    }
    .deposit-address--vbA {
      font-weight: 500;
      line-height: 1.1725;
      width: 18.4rem;
      height: 2.9rem;
      position: absolute;
      left: 3.6rem;
      top: 40.9rem;
      font-size: 2.4rem;
      white-space: nowrap;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
    }
    .if-the-deposit-is-below-the-minimum-required-your-deposit-will-not-be-credited-to-your-account-oQ4 {
      line-height: 1.1725;
      font-family: Roboto, 'Source Sans Pro';
      height: 5.2rem;
      left: 3.6rem;
      top: 15.7rem;
      font-size: 2.2rem;
      width: 49.3rem;
      position: absolute;
      font-weight: 400;
      color: #000000;
    }
    .only-send-erc-20-usdt-to-this-address-sending-any-other-currency-to-this-address-may-result-in-forfeiting-the-deposit-3pC {
      top: 29rem;
      color: #000000;
      height: 7.8rem;
      left: 3.6rem;
      font-size: 2.2rem;
      font-weight: 400;
      line-height: 1.1725;
      font-family: Roboto, 'Source Sans Pro';
      width: 55.8rem;
      position: absolute;
    }
    .x50f660a403973f48fc0043ed9f246ad7c34331af-WBz {
      white-space: nowrap;
      height: 2.6rem;
      position: absolute;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      font-weight: 400;
      line-height: 1.1725;
      width: 52.1rem;
      left: 3.6rem;
      top: 45.7rem;
      font-size: 2.2rem;
    }
  }
  .auto-group-t5ag-mNp {
    box-sizing: border-box;
    position: absolute;
    border: solid 0.1rem #a5a5a5;
    border-radius: 0.5rem;
    padding: 2.3rem 2.5rem 2.2rem 2.5rem;
    width: 64.4rem;
    height: 7.4rem;
    left: 12rem;
    top: 13.2rem;
    display: flex;
    align-items: center;

    .tether-usdt-icon-1-q7n {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 1.7rem 0.09rem 0rem;
      width: 2.9999rem;
      height: 2.6097rem;
    }
    .tether-usdt-erc-20-ixG {
      margin-right: 30.7002rem;
      font-size: 2.4rem;
      font-weight: 500;
      line-height: 1.1725;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .bxs-up-arrow-3je {
      width: 1.9999rem;
      height: 1.4973rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 0.2027rem;
    }
  }
  .auto-group-duic-xLp {
    height: 7.4rem;
    position: absolute;
    left: 12rem;
    top: 29.5rem;
    display: flex;
    align-items: center;
    width: 64.4rem;

    .auto-group-6yvg-U4G {
      box-sizing: border-box;
      height: 100%;
      align-items: center;
      margin-right: 1.9rem;
      padding: 2.4rem 2.3rem 2.1rem 2.5rem;
      display: flex;
      border: solid 0.1rem #a5a5a5;
      border-radius: 0.5rem;
      flex-shrink: 0;

      .usdt-Mtk {
        line-height: 1.1725;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 9.9002rem;
        font-size: 2.4rem;
        font-weight: 500;
      }
      .bxs-up-arrow-HXW {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.0027rem;
        width: 1.9999rem;
        height: 1.4973rem;
      }
    }
    .rectangle-92-yv8 {
      width: 39.8rem;
      height: 7.4rem;
      border: solid 0.1rem #a5a5a5;
      box-sizing: border-box;
      border-radius: 0.5rem;
      flex-shrink: 0;
    }
  }
}
