
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.faqs-LY8 {
  padding-bottom: 0.3rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-sizing: border-box;

  .auto-group-pjmj-rFa {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding-bottom: 6.6rem;
    width: 100%;
    align-items: center;

    .group-121-Boe {
      flex-shrink: 0;
      margin: 0rem 8.2rem 0.14rem 0rem;
      height: 27.1605rem;
      display: flex;
      align-items: center;

      .group-1-Hrg {
        position: relative;
        flex-shrink: 0;
        margin-right: 8.6469rem;
        width: 33.9531rem;
        height: 100%;

        .untitled-1-2-35A {
          width: 27.1605rem;
          height: 27.1605rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
          vertical-align: top;
        }
        .cryptofibank-Afa {
          height: 2.8rem;
          left: 18.7531rem;
          top: 9.8642rem;
          font-weight: 400;
          line-height: 1.2575;
          width: 14.2rem;
          position: absolute;
          font-size: 2.2rem;
          color: #000000;
          font-family: Sansita One, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .home-Sd6 {
        color: #000000;
        white-space: nowrap;
        font-weight: 500;
        font-size: 2rem;
        line-height: 1.1725;
        text-transform: uppercase;
        font-family: Roboto, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0rem 2rem 2.56rem 0rem;
      }
      .about-us-YAL {
        font-weight: 500;
        text-transform: uppercase;
        flex-shrink: 0;
        margin: 0rem 2.2rem 2.56rem 0rem;
        line-height: 1.1725;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 2rem;
      }
      .plans-3ct {
        flex-shrink: 0;
        margin: 0rem 2.1rem 2.56rem 0rem;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.1725;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
      .game-Zr8 {
        flex-shrink: 0;
        margin: 0rem 2rem 2.56rem 0rem;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.1725;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
      .lottery-Vjn {
        line-height: 1.1725;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 2.5605rem;
        font-size: 2rem;
        font-weight: 500;
      }
      .auto-group-66kg-RdS {
        box-sizing: border-box;
        padding: 10rem 0rem 13.06rem 2rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-xq6k-Yi4 {
          height: calc(100% - 1.7rem);
          position: relative;
          flex-shrink: 0;
          margin: 1.1rem 2rem 0.6rem 0rem;
          width: 4.7rem;

          .faqs-Tq2 {
            white-space: nowrap;
            left: 0;
            height: 2.4rem;
            position: absolute;
            top: 0;
            font-size: 2rem;
            font-weight: 800;
            line-height: 1.1725;
            color: #000000;
            width: 4.7rem;
            font-family: Roboto, 'Source Sans Pro';
          }
          .line-5-a8x {
            position: absolute;
            left: 0.2rem;
            top: 2.2rem;
            object-fit: contain;
            vertical-align: top;
            width: 4.3rem;
            height: 0;
          }
        }
        .contact-us-W2c {
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.5rem 5rem 0rem 0rem;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.1725;
          color: #000000;
        }
        .group-2Fr {
          margin: 0.1rem 0.8rem 0rem 0rem;
          width: 3rem;
          height: 3rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .eng-kSk {
          line-height: 1.1725;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.1rem 5.8rem 0rem 0rem;
          font-size: 1.5rem;
          font-weight: 600;
        }
        .frame-1-gbJ {
          font-size: 1.8rem;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          justify-content: center;
          border-radius: 0.5rem;
          font-weight: 600;
          color: #ffffff;
          display: flex;
          align-items: center;
          width: 12rem;
          height: 100%;
          line-height: 1.1725;
          white-space: nowrap;
          background-color: #ecbd27;
        }
      }
    }
    .frequently-asked-questions-yaQ {
      text-align: center;
      font-size: 4.8rem;
      align-items: baseline;
      flex-shrink: 0;
      margin-left: 0.1rem;
      font-weight: 700;
      line-height: 1.171875;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;

      .frequently-asked-questions-yaQ-sub-0 {
        font-size: 4.8rem;
        font-weight: 700;
        line-height: 1.1725;
        color: #fbbc04;
        font-family: Roboto, 'Source Sans Pro';
      }
      .frequently-asked-questions-yaQ-sub-1 {
        line-height: 1.1725;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 4.8rem;
        font-weight: 700;
      }
    }
  }
  .auto-group-jf3n-oxk {
    position: relative;
    flex-shrink: 0;
    width: 176rem;
    height: 209.4rem;

    .rectangle-32-XNx {
      width: 144rem;
      height: 51.7rem;
      position: absolute;
      left: 0;
      top: 157.7rem;
      background-color: rgba(236, 189, 39, 0.3000000119);
    }
    .group-20-3cC {
      width: 9.7rem;
      height: 23.5rem;
      position: absolute;
      left: 74.1rem;
      top: 177.5rem;

      .company-Awi {
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 2.8rem;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.7689999667;
        color: #000000;
      }
      .about-us-K3v {
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.8rem;
        font-size: 2rem;
        font-weight: 400;
      }
      .contact-us-ebz {
        margin-bottom: 0.8rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
      .career-yuA {
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.8rem;
        font-size: 2rem;
        font-weight: 400;
      }
      .lottery-X9z {
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 2rem;
      }
    }
    .group-37-ri4 {
      width: 9.7rem;
      height: 14.7rem;
      position: absolute;
      left: 92.9rem;
      top: 177.5rem;

      .support-bQk {
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 2.8rem;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.7689999667;
      }
      .faqs-jWx {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.8rem;
      }
      .contact-us-st4 {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .group-19-2FA {
      width: 15rem;
      height: 23.5rem;
      position: absolute;
      left: 51.4rem;
      top: 177.5rem;

      .quick-links-MHS {
        line-height: 1.7689999667;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 2.8rem;
        font-size: 2.2rem;
        font-weight: 600;
      }
      .terms-of-service-5z8 {
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.8rem;
        font-size: 2rem;
        font-weight: 400;
      }
      .privacy-policy-DKe {
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.8rem;
        font-size: 2rem;
      }
      .plans-9DJ {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.8rem;
      }
      .games-suz {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .group-38-RRi {
      width: 19.8rem;
      height: 9.1rem;
      position: absolute;
      left: 111.7rem;
      top: 177.5rem;

      .connect-with-us--9Mi {
        white-space: nowrap;
        margin: 0rem 0rem 0.5rem 0.4rem;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.7689999667;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
      }
      .group-22-f5A {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: 0.392rem 0.35rem 0.4rem 0.392rem;
        width: 100%;

        .ic-baseline-facebook-BZJ {
          margin: 0rem 1.292rem 0.001rem 0rem;
          width: 3.9167rem;
          height: 3.9069rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .formkit-twitter-h1r {
          width: 3.9rem;
          height: 3.9rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.008rem 1.258rem 0rem 0rem;
        }
        .ri-instagram-fill-DF6 {
          margin: 0.008rem 1.608rem 0rem 0rem;
          width: 3.5835rem;
          height: 3.5835rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .ri-whatsapp-fill-v9W {
          height: 3.5rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 0.0083rem;
          width: 3.5rem;
        }
      }
    }
    .group-36-qXN {
      width: 30.2rem;
      height: 22rem;
      position: absolute;
      left: 6rem;
      top: 169.3rem;

      .untitled-1-2-ApY {
        top: 0;
        object-fit: cover;
        vertical-align: top;
        width: 22rem;
        height: 22rem;
        position: absolute;
        left: 0;
      }
      .cryptofibank-uGL {
        font-weight: 400;
        white-space: nowrap;
        height: 2.8rem;
        position: absolute;
        top: 8.8rem;
        font-size: 2.2rem;
        font-family: Sansita One, 'Source Sans Pro';
        width: 14.2rem;
        left: 16rem;
        line-height: 1.2575;
        color: #000000;
      }
    }
    .cryptofibank-a-trusted-name-in-the-world-of-financial-opportunity-provides-a-secure-platform-for-investing-in-forex-cryptocurrencies-slot-games-and-lotteries-PBW {
      position: absolute;
      top: 186.6rem;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      line-height: 1.7690000534;
      width: 27.5rem;
      height: 14.2rem;
      left: 12rem;
      font-size: 1.6rem;
      font-weight: 400;
    }
    .rectangle-34-DRS {
      position: absolute;
      left: 0;
      top: 205.7rem;
      background-color: #ecbd27;
      width: 144rem;
      height: 3.7rem;
    }
    .group-39-kAU {
      left: 58.2rem;
      top: 206.1rem;
      width: 26.7rem;
      height: 2.9rem;
      position: absolute;

      .copyright-2023-all-rights-reserved-5Te {
        height: 2.9rem;
        position: absolute;
        font-weight: 600;
        line-height: 1.7690000534;
        white-space: nowrap;
        width: 26.7rem;
        left: 0;
        top: 0;
        font-size: 1.6rem;
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
      }
      .ic-outline-copyright-8gp {
        position: absolute;
        left: 7.3667rem;
        top: 0.5667rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.6667rem;
        height: 1.6667rem;
      }
    }
    .group-42-oY4 {
      width: 119.5rem;
      position: absolute;
      left: 12rem;
      align-items: center;
      box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      border-radius: 1rem;
      box-sizing: border-box;
      padding: 1.3rem 31.2rem 3.2rem 31.2rem;
      height: 23rem;
      top: 146.2rem;
      display: flex;
      flex-direction: column;

      .auto-group-denc-gLx {
        flex-shrink: 0;
        margin: 0rem 10.6rem 1.8rem 9.4rem;
        width: calc(100% - 20rem);
        height: 8.2rem;
        position: relative;

        .subscribe-to-news-zMe {
          left: 2.9rem;
          font-size: 3.2rem;
          line-height: 1.7690000534;
          color: #ecbd27;
          width: 31.6rem;
          height: 5.7rem;
          position: absolute;
          white-space: nowrap;
          top: 0;
          font-weight: 700;
          font-family: Roboto, 'Source Sans Pro';
        }
        .get-the-latest-insights-subscribe-to-our-newsletter-5tt {
          top: 5.3rem;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          position: absolute;
          left: 0;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.7690000534;
          width: 37.1rem;
          height: 2.9rem;
        }
      }
      .group-40-Nsz {
        flex-shrink: 0;
        padding-left: 2.9rem;
        width: 100%;
        height: 8.5rem;
        display: flex;
        border: solid 0.1rem #afafaf;
        box-sizing: border-box;
        align-items: center;
        border-radius: 0.8rem;

        .enter-your-email-address-WjJ {
          color: #a5a5a5;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 17.6rem;
          font-size: 1.7rem;
          font-weight: 500;
          line-height: 1.7690001095;
        }
        .auto-group-1y2c-SN4 {
          height: 100%;
          font-family: Roboto, 'Source Sans Pro';
          justify-content: center;
          display: flex;
          align-items: center;
          background-color: #ecbd27;
          width: 17.3rem;
          font-weight: 700;
          color: #ffffff;
          font-size: 1.8rem;
          line-height: 1.7690000534;
          white-space: nowrap;
          border-radius: 0 0.8rem 0.8rem 0;
          flex-shrink: 0;
        }
      }
    }
    .group-52-rRn {
      width: 45.8rem;
      height: 11.8rem;
      position: absolute;
      left: 12rem;
      top: 2.9rem;

      .who-is-cryptofibank-b8U {
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.8rem;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.1725;
        color: #000000;
      }
      .cryptofibank-does-not-belong-to-anyone-it-is-a-structure-formed-as-a-result-of-three-friends-coming-together-iit {
        max-width: 45.8rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.1725;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
      }
    }
    .group-58-c3a {
      top: 2.9rem;
      width: 38.5rem;
      height: 11.8rem;
      position: absolute;
      left: 85rem;

      .are-there-any-transaction-fees-at-cryptofibank-8nc {
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        margin-bottom: 1.4rem;
        max-width: 35.8rem;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.1725;
      }
      .there-are-no-transaction-fees-or-any-fees-at-cryptofibank-SoJ {
        font-weight: 400;
        line-height: 1.1725;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        max-width: 38.5rem;
        font-size: 2rem;
      }
    }
    .group-59-AjJ {
      width: 46.8rem;
      height: 11.8rem;
      position: absolute;
      left: 85.2rem;
      top: 20.6rem;

      .is-there-a-withdrawal-limit-on-cryptofibank-6cx {
        white-space: nowrap;
        margin-bottom: 1.8rem;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.1725;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
      }
      .there-is-no-withdrawal-limit-at-cryptofibank-but-when-you-purchase-an-investment-plan-withdrawals-can-be-made-when-the-purchased-plan-expires-RfE {
        font-weight: 400;
        line-height: 1.1725;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        max-width: 46.6rem;
        font-size: 2rem;
      }
    }
    .group-60-Jyv {
      top: 38.3rem;
      width: 48rem;
      height: 14.2rem;
      position: absolute;
      left: 85.4rem;

      .does-the-withdrawal-take-place-immediately-at-cryptofibank-SaL {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.1725;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        margin-bottom: 1.4rem;
        max-width: 48rem;
      }
      .withdrawals-and-investments-at-cryptofibank-take-place-after-24-hours-depending-on-the-transaction-intensity-wmz {
        font-weight: 400;
        line-height: 1.1725;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        max-width: 44.6rem;
        font-size: 2rem;
      }
    }
    .group-61-EWC {
      width: 45rem;
      height: 18.8rem;
      position: absolute;
      left: 85.6rem;
      top: 56rem;

      .is-it-possible-to-invest-in-cryptofibank-everyday-aKA {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.1725;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        margin-bottom: 1.3rem;
        max-width: 41.2rem;
      }
      .since-cryptofibank-makes-its-transactions-over-the-stock-market-investments-made-on-saturday-and-sunday-are-loaded-into-the-account-on-monday-morning-the-reason-is-that-the-stock-market-is-closed-on-saturday-and-sunday-tak {
        max-width: 45rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.1725;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
      }
    }
    .group-62-k7A {
      width: 50.1rem;
      height: 18.8rem;
      position: absolute;
      left: 85.8rem;
      top: 78.8rem;

      .cryptofibank-profit-rates-are-not-low-V4k {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.1725;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.8rem;
      }
      .cryptofibank-does-not-deceive-you-by-declaring-profit-rates-that-it-cannot-give-it-determines-the-profit-rate-it-can-give-and-presents-it-to-you-cryptofibank-does-not-always-win-in-the-stock-market-we-also-have-losses-but-we-have-not-reflected-this-loss-to-any-of-our-customers-until-now-p72 {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.1725;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        max-width: 50.1rem;
      }
    }
    .group-63-ERe {
      width: 90rem;
      height: 89.4rem;
      position: absolute;
      left: 86rem;
      top: 101.9rem;

      .will-cryptofibank-go-bankrupt-or-shutdown-the-system-over-night-A4Q {
        max-width: 46.7rem;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.1725;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        margin-bottom: 1.4rem;
      }
      .cryptofibank-is-quite-good-in-its-field-in-the-stock-market-with-enough-capital-and-knowledge-it-wont-hurt-you-as-a-matter-of-fact-we-will-suffer-the-same-loss-as-you-lost-so-we-do-not-take-any-action-that-will-cause-harm-trust-us-cryptofibank-is-not-something-that-will-close-over-night-we-are-a-structure-that-does-not-believe-that-trust-can-be-bought-with-money-for-this-reason-we-are-trying-to-earn-and-win-with-all-our-strength-in-order-not-to-lose-your-trust-U56 {
        font-weight: 400;
        line-height: 1.1725;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        margin-bottom: 36.8rem;
        max-width: 47.1rem;
        font-size: 2rem;
      }
      .untitled-1-2-QN4 {
        height: 22rem;
        object-fit: cover;
        vertical-align: top;
        margin-left: 68rem;
        width: 22rem;
      }
    }
    .group-53-YDN {
      position: absolute;
      left: 12rem;
      top: 20.6rem;
      width: 42.9rem;
      height: 9.4rem;

      .what-country-is-cryptofibank-in-5UC {
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.8rem;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.1725;
      }
      .cryptofibank-does-not-anonymously-support-any-country-political-party-or-organization-cDE {
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        max-width: 42.9rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.1725;
      }
    }
    .group-54-WpQ {
      width: 46.9rem;
      height: 11.8rem;
      position: absolute;
      left: 12rem;
      top: 38.3rem;

      .is-cryptofibank-reliable-FGC {
        white-space: nowrap;
        margin-bottom: 1.8rem;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.1725;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
      }
      .you-will-give-cryptofibanks-reliable-rating-even-if-we-say-reliable-the-final-decision-is-yours-you-can-test-its-reliability-with-small-units-n1E {
        max-width: 46.9rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.1725;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
      }
    }
    .group-55-F9i {
      width: 46rem;
      height: 9.4rem;
      position: absolute;
      left: 12rem;
      top: 56rem;

      .is-cryptofibank-a-pyramidscheme-Bp4 {
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.8rem;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.1725;
        color: #000000;
      }
      .cryptofibank-is-definitely-not-a-pyramid-scheme-he-does-not-distribute-the-money-he-cannot-earn-iJC {
        max-width: 46rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.1725;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
      }
    }
    .group-56-23z {
      position: absolute;
      left: 12rem;
      top: 73.7rem;
      width: 44.6rem;
      height: 9.4rem;

      .how-does-cryptofibank-make-money-GDE {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.1725;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.8rem;
      }
      .cryptofibank-makes-money-by-trading-on-the-forex-exchange-and-crypto-exchange-bFW {
        max-width: 44.6rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.1725;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
      }
    }
    .group-57-JQp {
      width: 47.7rem;
      height: 9.6rem;
      position: absolute;
      left: 12rem;
      top: 91.4rem;

      .what-is-the-minimum-investmentamount-in-cryptofibank-37W {
        font-family: Roboto, 'Source Sans Pro';
        margin-bottom: 1.5rem;
        max-width: 46.3rem;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.1725;
        color: #000000;
      }
      .minimum-investment-amount-at-cryptofibank-is-200-Z5r {
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.1725;
      }
    }
    .group-64-ggG {
      height: 16.7rem;
      position: absolute;
      left: 12rem;
      top: 111.6rem;
      width: 46rem;

      .why-is-there-a-usdt-investment-option-on-cryptofibank-1yS {
        margin-bottom: 1.6rem;
        max-width: 45.8rem;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.1725;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
      }
      .since-cryptofibank-trades-on-the-stock-market-transactions-are-traded-in-dollars-and-accepts-usdt-payments-in-order-not-to-disturb-you-due-to-the-exchange-rate-difference-of-a-different-currency-Kz8 {
        max-width: 46rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.1725;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
      }
    }
    .line-25-PUC {
      width: 0.5rem;
      height: 135.3rem;
      position: absolute;
      left: 72rem;
      top: 0;
      background-color: #fbbc04;
    }
    .line-26-XaQ {
      height: 0;
      position: absolute;
      left: 12rem;
      top: 135.05rem;
      object-fit: contain;
      vertical-align: top;
      width: 60.4rem;
    }
    .line-28-GH6 {
      height: 0;
      position: absolute;
      left: 12.25rem;
      top: 0.25rem;
      object-fit: contain;
      vertical-align: top;
      width: 59.9rem;
    }
    .line-29-oXv {
      object-fit: contain;
      vertical-align: top;
      width: 59.9rem;
      height: 0;
      position: absolute;
      left: 71.85rem;
      top: 0.25rem;
    }
    .line-27-KFN {
      object-fit: contain;
      vertical-align: top;
      width: 61.4rem;
      height: 0;
      position: absolute;
      left: 71.6rem;
      top: 135.05rem;
    }
  }
}
