
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.game-qFe {
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;

  .auto-group-2wic-mQC {
    width: 144.7rem;
    height: 27.4rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-77-uWQ {
      height: 2.1rem;
      position: absolute;
      left: 0;
      top: 24.9rem;
      background-color: #fbbc04;
      width: 144rem;
    }
    .group-124-RzY {
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      align-items: center;
      width: 136.8rem;
      height: 27.1605rem;

      .group-1-9vY {
        position: relative;
        flex-shrink: 0;
        margin-right: 8.6469rem;
        width: 33.9531rem;
        height: 100%;

        .untitled-1-2-JYY {
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 27.1605rem;
          height: 27.1605rem;
        }
        .cryptofibank-qYU {
          font-size: 2.2rem;
          font-weight: 400;
          color: #000000;
          white-space: nowrap;
          top: 10.4642rem;
          line-height: 1.2575;
          font-family: Sansita One, 'Source Sans Pro';
          width: 14.2rem;
          height: 2.8rem;
          position: absolute;
          left: 19.0531rem;
        }
      }
      .home-XRJ {
        margin: 0rem 2rem 2.56rem 0rem;
        line-height: 1.1725;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2rem;
        font-weight: 500;
        text-transform: uppercase;
      }
      .about-us-27A {
        font-size: 2rem;
        font-weight: 500;
        text-transform: uppercase;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 2.2rem 2.56rem 0rem;
        line-height: 1.1725;
        flex-shrink: 0;
      }
      .plans-YLQ {
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 2.5605rem;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.1725;
        color: #000000;
      }
      .auto-group-icfa-t9N {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 10rem 0rem 13.06rem 2.1rem;
        height: 100%;

        .auto-group-t8ec-CA4 {
          margin: 1.1rem 2rem 0.6rem 0rem;
          width: 5.6rem;
          height: calc(100% - 1.7rem);
          position: relative;
          flex-shrink: 0;

          .game-iPJ {
            position: absolute;
            top: 0;
            font-size: 2rem;
            font-weight: 800;
            color: #000000;
            white-space: nowrap;
            width: 5.6rem;
            left: 0;
            line-height: 1.1725;
            font-family: Roboto, 'Source Sans Pro';
            height: 2.4rem;
          }
          .line-5-dFN {
            height: 0;
            position: absolute;
            left: 0.3rem;
            top: 2.2rem;
            object-fit: contain;
            vertical-align: top;
            width: 5.3rem;
          }
        }
        .lottery-YNL {
          margin: 0.5rem 2rem 0rem 0rem;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.1725;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .faqs-FnY {
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.1725;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.5rem 2rem 0rem 0rem;
        }
        .contact-us-BRJ {
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.5rem 5rem 0rem 0rem;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.1725;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
        }
        .group-tqW {
          margin: 0.1rem 0.8rem 0rem 0rem;
          width: 3rem;
          height: 3rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .eng-RKe {
          font-size: 1.5rem;
          font-weight: 600;
          line-height: 1.1725;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.1rem 5.8rem 0rem 0rem;
        }
        .frame-1-MDJ {
          line-height: 1.1725;
          white-space: nowrap;
          align-items: center;
          border-radius: 0.5rem;
          flex-shrink: 0;
          width: 12rem;
          height: 100%;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          justify-content: center;
          font-size: 1.8rem;
          font-weight: 600;
          display: flex;
          background-color: #ecbd27;
        }
      }
    }
  }
  .auto-group-daec-Rix {
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-size: 100% 100%;
    background-position: center;
    background-image: url('REPLACE_IMAGE:bb452b3d75366842cd0d358ce36ca4f1fea83800');
    padding: 21.7rem 26.55rem 21.6rem 26.55rem;
    width: 100%;
    background-repeat: no-repeat;
    flex-shrink: 0;

    .spin-and-win-with-cryptofibank-slot-games-wBW {
      margin-bottom: 2.4rem;
      text-align: center;
      font-weight: 700;
      line-height: 1.1725;
      color: #ffffff;
      font-family: Roboto, 'Source Sans Pro';
      flex-shrink: 0;
      max-width: 90.9rem;
      font-size: 6.4rem;

      .spin-and-win-with-cryptofibank-slot-games-wBW-sub-0 {
      }
      .spin-and-win-with-cryptofibank-slot-games-wBW-sub-1 {
        font-family: Roboto, 'Source Sans Pro';
        font-size: 6.4rem;
        font-weight: 700;
        line-height: 1.1725;
        color: #fbbc04;
      }
      .spin-and-win-with-cryptofibank-slot-games-wBW-sub-2 {
      }
    }
    .certainly-in-this-slot-game-each-player-has-to-spend-1-to-participate-the-biggest-prize-up-for-grabs-is-1000-the-game-exclusively-uses-numbers-from-0-to-9-the-catch-here-is-that-the-likelihood-of-winning-is-pretty-slim-only-1-in-1500-this-means-that-youll-only-win-when-1500-people-have-played-no-matter-how-many-people-have-tried-before-even-if-its-100-or-1300-players-youve-got-to-wait-until-a-full-1500-have-taken-their-chances-for-a-chance-at-the-prize-o7E {
      margin: 0rem 0rem 5.1rem 0.1rem;
      max-width: 76rem;
      text-align: center;
      font-size: 2.4rem;
      color: #ffffff;
      font-weight: 500;
      line-height: 1.6118748983;
      font-family: Roboto, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .frame-5-g4Y {
      margin: 0rem 36.15rem 0rem 36.25rem;
      font-size: 2rem;
      line-height: 1.1725;
      align-items: center;
      background-color: #fbbc04;
      color: #ffffff;
      display: flex;
      justify-content: center;
      width: calc(100% - 72.4rem);
      height: 6.3rem;
      white-space: nowrap;
      border-radius: 3rem;
      font-weight: 800;
      font-family: Roboto, 'Source Sans Pro';
      flex-shrink: 0;
    }
  }
  .rectangle-78-Vng {
    margin-bottom: 10.7rem;
    width: 100%;
    height: 2.1rem;
    background-color: #fbbc04;
    flex-shrink: 0;
  }
  .auto-group-f3dz-qLk {
    height: 63.2rem;
    position: relative;
    flex-shrink: 0;
    width: 100%;

    .rectangle-32-9sE {
      top: 11.5rem;
      background-color: rgba(236, 189, 39, 0.3000000119);
      width: 144rem;
      height: 51.7rem;
      position: absolute;
      left: 0;
    }
    .group-20-Uec {
      top: 31.3rem;
      width: 9.7rem;
      height: 23.5rem;
      position: absolute;
      left: 74.1rem;

      .company-Q2U {
        font-weight: 600;
        line-height: 1.7689999667;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 2.8rem;
        font-size: 2.2rem;
      }
      .about-us-jaY {
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.8rem;
        font-size: 2rem;
      }
      .contact-us-sRr {
        margin-bottom: 0.8rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
      .career-Qgg {
        white-space: nowrap;
        margin-bottom: 0.8rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
      }
      .lottery-AA4 {
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 2rem;
        font-weight: 400;
      }
    }
    .group-37-Vy2 {
      width: 9.7rem;
      height: 14.7rem;
      position: absolute;
      left: 92.9rem;
      top: 31.3rem;

      .support-EQp {
        margin-bottom: 2.8rem;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.7689999667;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
      .faqs-mfe {
        margin-bottom: 0.8rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
      .contact-us-7Di {
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
      }
    }
    .group-19-Smn {
      position: absolute;
      left: 51.4rem;
      top: 31.3rem;
      width: 15rem;
      height: 23.5rem;

      .quick-links-a7J {
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.7689999667;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 2.8rem;
      }
      .terms-of-service-Vzx {
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.8rem;
        font-size: 2rem;
      }
      .privacy-policy-3Fn {
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.8rem;
        font-size: 2rem;
      }
      .plans-Nor {
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.8rem;
        font-size: 2rem;
        font-weight: 400;
      }
      .games-Wv4 {
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 2rem;
      }
    }
    .group-38-Fck {
      top: 31.3rem;
      width: 19.8rem;
      height: 9.1rem;
      position: absolute;
      left: 111.7rem;

      .connect-with-us--PDA {
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 0.5rem 0.4rem;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.7689999667;
      }
      .group-22-hje {
        box-sizing: border-box;
        padding: 0.392rem 0.35rem 0.4rem 0.392rem;
        width: 100%;
        display: flex;
        align-items: center;

        .ic-baseline-facebook-EUg {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.292rem 0.001rem 0rem;
          width: 3.9167rem;
          height: 3.9069rem;
        }
        .formkit-twitter-x9n {
          margin: 0.008rem 1.258rem 0rem 0rem;
          width: 3.9rem;
          height: 3.9rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .ri-instagram-fill-4yW {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.008rem 1.608rem 0rem 0rem;
          width: 3.5835rem;
          height: 3.5834rem;
          object-fit: contain;
        }
        .ri-whatsapp-fill-CK2 {
          height: 3.5rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 0.0083rem;
          width: 3.5rem;
        }
      }
    }
    .group-36-8Cg {
      width: 30.2rem;
      height: 22rem;
      position: absolute;
      left: 6rem;
      top: 23.1rem;

      .untitled-1-2-fTW {
        height: 22rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        width: 22rem;
      }
      .cryptofibank-aKa {
        height: 2.8rem;
        position: absolute;
        left: 16rem;
        top: 8.8rem;
        font-weight: 400;
        color: #000000;
        font-family: Sansita One, 'Source Sans Pro';
        width: 14.2rem;
        font-size: 2.2rem;
        line-height: 1.2575;
        white-space: nowrap;
      }
    }
    .cryptofibank-a-trusted-name-in-the-world-of-financial-opportunity-provides-a-secure-platform-for-investing-in-forex-cryptocurrencies-slot-games-and-lotteries-Ufr {
      width: 27.5rem;
      height: 14.2rem;
      position: absolute;
      left: 12rem;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      top: 40.4rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.7690000534;
    }
    .rectangle-34-KRa {
      top: 59.5rem;
      background-color: #ecbd27;
      width: 144rem;
      height: 3.7rem;
      position: absolute;
      left: 0;
    }
    .group-39-rgQ {
      width: 26.7rem;
      height: 2.9rem;
      position: absolute;
      left: 58.2rem;
      top: 59.9rem;

      .copyright-2023-all-rights-reserved-asJ {
        line-height: 1.7690000534;
        font-family: Roboto, 'Source Sans Pro';
        width: 26.7rem;
        position: absolute;
        left: 0;
        top: 0;
        white-space: nowrap;
        height: 2.9rem;
        font-size: 1.6rem;
        font-weight: 600;
        color: #ffffff;
      }
      .ic-outline-copyright-6Kr {
        top: 0.5667rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.6667rem;
        height: 1.6667rem;
        position: absolute;
        left: 7.3667rem;
      }
    }
    .group-42-1hi {
      flex-direction: column;
      background-color: #ffffff;
      box-sizing: border-box;
      padding: 1.3rem 31.2rem 3.2rem 31.2rem;
      width: 119.5rem;
      height: 23rem;
      position: absolute;
      left: 12rem;
      border-radius: 1rem;
      top: 0;
      align-items: center;
      display: flex;
      box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.25);

      .auto-group-vtdr-7Vr {
        width: calc(100% - 20rem);
        height: 8.2rem;
        position: relative;
        flex-shrink: 0;
        margin: 0rem 10.6rem 1.8rem 9.4rem;

        .subscribe-to-news-qAx {
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.7690000534;
          width: 31.6rem;
          position: absolute;
          top: 0;
          color: #ecbd27;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          height: 5.7rem;
          left: 2.9rem;
        }
        .get-the-latest-insights-subscribe-to-our-newsletter-viC {
          width: 37.1rem;
          height: 2.9rem;
          left: 0;
          font-size: 1.6rem;
          font-weight: 500;
          white-space: nowrap;
          position: absolute;
          top: 5.3rem;
          line-height: 1.7690000534;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
        }
      }
      .group-40-R9A {
        padding-left: 2.9rem;
        width: 100%;
        display: flex;
        flex-shrink: 0;
        box-sizing: border-box;
        height: 8.5rem;
        align-items: center;
        border: solid 0.1rem #afafaf;
        border-radius: 0.8rem;

        .enter-your-email-address-x96 {
          margin-right: 17.6rem;
          font-size: 1.7rem;
          font-weight: 500;
          line-height: 1.7690001095;
          color: #a5a5a5;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .auto-group-gjbn-t2k {
          width: 17.3rem;
          font-size: 1.8rem;
          display: flex;
          background-color: #ecbd27;
          flex-shrink: 0;
          height: 100%;
          line-height: 1.7690000534;
          white-space: nowrap;
          border-radius: 0 0.8rem 0.8rem 0;
          font-weight: 700;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
