
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.landing-page-jSY {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .auto-group-2uds-qtt {
    height: 126.8rem;
    position: relative;
    flex-shrink: 0;
    width: 155.2rem;

    .gold-growing-arrow-with-gold-coin-money-stacks-gold-bar-business-finance-savings-investment-concept-background-3d-illustration-1-5aG {
      top: 0;
      object-fit: cover;
      vertical-align: top;
      width: 155.2rem;
      height: 109.8rem;
      position: absolute;
      left: 0;
    }
    .rectangle-1-f2g {
      height: 102.4rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.5);
      width: 144rem;
    }
    .explore-the-future-of-passive-income-with-cryptofibank-vUQ {
      top: 35.3rem;
      text-align: center;
      left: 29.95rem;
      font-size: 6.4rem;
      font-weight: 700;
      line-height: 1.1725;
      color: #ffffff;
      width: 84rem;
      height: 15.1rem;
      position: absolute;
      font-family: Roboto, 'Source Sans Pro';

      .explore-the-future-of-passive-income-with-cryptofibank-vUQ-sub-0 {
      }
      .explore-the-future-of-passive-income-with-cryptofibank-vUQ-sub-1 {
        font-size: 6.4rem;
        font-weight: 700;
        line-height: 1.1725;
        color: #ecbd27;
        font-family: Roboto, 'Source Sans Pro';
      }
    }
    .welcome-to-cryptofibank-where-we-offer-you-the-key-to-unlock-a-future-of-passive-income-empower-your-financial-journey-and-redefine-your-wealth-generation-with-cryptofibank-as-we-accompany-you-on-this-exciting-path-to-financial-freedom-7z8 {
      font-size: 1.7rem;
      color: #ffffff;
      font-family: Roboto, 'Source Sans Pro';
      height: 7.8rem;
      top: 51.7rem;
      text-align: center;
      font-weight: 500;
      line-height: 1.5168749865;
      width: 69.7rem;
      position: absolute;
      left: 37.15rem;
    }
    .frame-2-pn4 {
      font-size: 1.8rem;
      font-weight: 800;
      color: #ffffff;
      align-items: center;
      background-color: #ecbd27;
      width: 13.3rem;
      height: 4.7rem;
      left: 55.3rem;
      border-radius: 0.5rem;
      white-space: nowrap;
      position: absolute;
      line-height: 1.1725;
      font-family: Roboto, 'Source Sans Pro';
      top: 62.3rem;
      display: flex;
      justify-content: center;
    }
    .fluent-video-clip-multiple-16-filled-Pya {
      object-fit: contain;
      vertical-align: top;
      width: 3.25rem;
      height: 3rem;
      position: absolute;
      left: 72.7rem;
      top: 63.3rem;
    }
    .group-2-6d6 {
      left: 76.95rem;
      top: 63.6rem;
      width: 10.5rem;
      height: 2.5rem;
      position: absolute;

      .watch-a-video-2Wk {
        height: 2.5rem;
        position: absolute;
        left: 0;
        font-size: 1.6rem;
        color: #ffffff;
        white-space: nowrap;
        width: 10.5rem;
        top: 0;
        text-align: center;
        font-weight: 500;
        line-height: 1.5168750286;
        font-family: Roboto, 'Source Sans Pro';
      }
      .line-1-vs2 {
        width: 9.6rem;
        height: 0.15rem;
        position: absolute;
        left: 0.55rem;
        top: 2.2rem;
        background-color: #ffffff;
      }
    }
    .group-5-SKa {
      left: 42.45rem;
      top: 81.1rem;
      display: flex;
      align-items: center;
      width: 59.55rem;
      height: 8.1rem;
      position: absolute;

      .k-total-users-MSY {
        margin-right: 14.95rem;
        line-height: 1.1725;
        color: #ffffff;
        align-items: baseline;
        flex-shrink: 0;
        text-align: center;
        font-size: 6.4rem;
        font-weight: 700;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;

        .k-total-users-MSY-sub-0 {
          font-weight: 400;
          line-height: 1.2575;
          color: #ffffff;
          font-family: Righteous, 'Source Sans Pro';
          font-size: 6.4rem;
        }
        .k-total-users-MSY-sub-1 {
        }
        .k-total-users-MSY-sub-2 {
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.1725;
        }
      }
      .k-active-users-ztp {
        text-align: center;
        white-space: nowrap;
        align-items: baseline;
        flex-shrink: 0;
        font-size: 6.4rem;
        font-weight: 700;
        line-height: 1.1725;
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
        display: flex;

        .k-active-users-ztp-sub-0 {
          line-height: 1.2575;
          color: #ffffff;
          font-family: Righteous, 'Source Sans Pro';
          font-size: 6.4rem;
          font-weight: 400;
        }
        .k-active-users-ztp-sub-1 {
        }
        .k-active-users-ztp-sub-2 {
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.1725;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
        }
      }
    }
    .group-120-wha {
      width: 136.8rem;
      height: 27.1605rem;
      position: absolute;
      left: 0.7rem;
      top: 0;
      display: flex;
      align-items: center;

      .group-1-UhW {
        width: 33.9531rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .untitled-1-2-Duz {
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 27.1604rem;
          height: 27.1605rem;
          position: absolute;
          left: 0;
        }
        .cryptofibank-kuv {
          width: 14.2rem;
          top: 10.4642rem;
          font-size: 2.2rem;
          font-weight: 400;
          font-family: Sansita One, 'Source Sans Pro';
          height: 2.8rem;
          position: absolute;
          left: 19.7531rem;
          line-height: 1.2575;
          color: #ffffff;
          white-space: nowrap;
        }
      }
      .auto-group-fuap-FLt {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 10rem 0rem 13.06rem 8.647rem;
        height: 100%;

        .auto-group-7epz-7tt {
          margin: 1.1rem 2rem 0.6rem 0rem;
          width: 5.7rem;
          height: calc(100% - 1.7rem);
          position: relative;
          flex-shrink: 0;

          .home-nEL {
            white-space: nowrap;
            width: 5.7rem;
            height: 2.4rem;
            top: 0;
            font-size: 2rem;
            color: #ffffff;
            font-family: Roboto, 'Source Sans Pro';
            position: absolute;
            left: 0;
            font-weight: 800;
            line-height: 1.1725;
            text-transform: uppercase;
          }
          .line-5-LYg {
            width: 5.2rem;
            height: 0;
            position: absolute;
            left: 0.3rem;
            top: 2.2rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .about-us-s2p {
          margin: 0.5rem 2.2rem 0rem 0rem;
          font-size: 2rem;
          font-weight: 500;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          line-height: 1.1725;
          text-transform: uppercase;
          white-space: nowrap;
        }
        .plans-NEU {
          flex-shrink: 0;
          margin: 0.5rem 2.1rem 0rem 0rem;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.1725;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
        .game-tTi {
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.1725;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.5rem 2rem 0rem 0rem;
        }
        .lottery-2K2 {
          font-weight: 500;
          line-height: 1.1725;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.5rem 2rem 0rem 0rem;
          font-size: 2rem;
        }
        .faqs-98k {
          font-weight: 500;
          line-height: 1.1725;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.5rem 2rem 0rem 0rem;
          font-size: 2rem;
        }
        .contact-us-sqS {
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.5rem 5rem 0rem 0rem;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.1725;
          color: #ffffff;
        }
        .group-oj6 {
          flex-shrink: 0;
          margin: 0.1rem 0.8rem 0rem 0rem;
          width: 3rem;
          height: 3rem;
          object-fit: contain;
          vertical-align: top;
        }
        .eng-Lj2 {
          font-weight: 600;
          line-height: 1.1725;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.1rem 5.8rem 0rem 0rem;
          font-size: 1.5rem;
        }
        .frame-1-G6t {
          font-family: Roboto, 'Source Sans Pro';
          height: 100%;
          font-size: 1.8rem;
          font-weight: 600;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-shrink: 0;
          width: 12rem;
          color: #ffffff;
          white-space: nowrap;
          background-color: #ecbd27;
          line-height: 1.1725;
          border-radius: 0.5rem;
        }
      }
    }
    .rectangle-20-YKJ {
      width: 144rem;
      height: 23rem;
      position: absolute;
      left: 0;
      top: 96.4rem;
      background-color: #ecbd27;
    }
    .our-trusted-partners-GWC {
      width: 32.2rem;
      height: 5.2rem;
      position: absolute;
      line-height: 1.5168749865;
      font-family: Roboto, 'Source Sans Pro';
      left: 11.7rem;
      top: 98.2rem;
      font-size: 3.4rem;
      font-weight: 700;
      color: #ffffff;
      white-space: nowrap;
    }
    .libertex-seeklogocom-1-MGk {
      height: 3.6923rem;
      position: absolute;
      left: 12rem;
      top: 110.3rem;
      object-fit: contain;
      vertical-align: top;
      width: 14.7461rem;
    }
    .binance-exchange-seeklogocom-1-fYL {
      position: absolute;
      left: 31rem;
      top: 111rem;
      overflow: hidden;
      display: flex;
      align-items: flex-start;
      width: 15.1886rem;
      height: 3.2416rem;

      .auto-group-y3u4-NBr {
        width: 4.0151rem;
        height: 3.0491rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.193rem 0.4rem 0rem 0rem;
      }
      .vector-UVn {
        margin: 0.484rem 0.4rem 0rem 0rem;
        width: 0.6791rem;
        height: 0.6791rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .vector-Cgg {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.027rem 0.4rem 0rem 0rem;
        width: 1.3521rem;
        height: 1.5935rem;
      }
      .vector-8qE {
        margin: 0.027rem 0.4rem 0rem 0rem;
        width: 0.3506rem;
        height: 1.5935rem;
        background-color: #ffffff;
        flex-shrink: 0;
      }
      .vector-4it {
        height: 1.5935rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.027rem 0.4rem 0rem 0rem;
        width: 1.4159rem;
      }
      .vector-ahE {
        margin: 0.022rem 0.4rem 0rem 0rem;
        width: 1.6892rem;
        height: 1.6049rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .vector-Wqn {
        height: 1.5935rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.027rem 0.4rem 0rem 0rem;
        width: 1.4159rem;
      }
      .vector-SjS {
        width: 1.4705rem;
        height: 1.6481rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .bybit-seeklogocom-1-Pua {
      top: 111.0299rem;
      object-fit: contain;
      vertical-align: top;
      width: 8rem;
      height: 2.6667rem;
      position: absolute;
      left: 50rem;
    }
    .coinbase-new-2021-seeklogocom-1-WjJ {
      overflow: hidden;
      top: 107rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 13.2696rem;
      height: 6.5795rem;
      position: absolute;
      left: 62.6rem;

      .group-cGY {
        flex-shrink: 0;
        margin-bottom: 0.7rem;
        width: 3.5091rem;
        height: 3.5091rem;
        object-fit: contain;
        vertical-align: top;
      }
      .vector-j6G {
        flex-shrink: 0;
        width: 13.2696rem;
        height: 2.3704rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .kucoin-seeklogocom-3-1-TY4 {
      width: 13.5rem;
      height: 9.093rem;
      position: absolute;
      left: 79.5rem;
      top: 108.1rem;
      object-fit: contain;
      vertical-align: top;
    }
    .mexc-global-seeklogocom-1-a6t {
      object-fit: contain;
      vertical-align: top;
      width: 19rem;
      height: 2.375rem;
      position: absolute;
      left: 97.6rem;
      top: 111.4rem;
    }
    .okx-seeklogocom-1-J2t {
      object-fit: contain;
      vertical-align: top;
      width: 10rem;
      height: 2.8067rem;
      position: absolute;
      left: 122rem;
      top: 111.5rem;
    }
    .line-12-dL4 {
      width: 0.2rem;
      height: 7.4rem;
      position: absolute;
      left: 29rem;
      top: 108.8rem;
      background-color: #ffffff;
    }
    .line-18-9pC {
      width: 0.2rem;
      height: 7.4rem;
      position: absolute;
      left: 48rem;
      top: 108.8rem;
      background-color: #ffffff;
    }
    .line-19-4wA {
      background-color: #ffffff;
      width: 0.2rem;
      height: 7.4rem;
      position: absolute;
      left: 60.5rem;
      top: 108.8rem;
    }
    .line-20-PiY {
      left: 78.5rem;
      top: 108.8rem;
      background-color: #ffffff;
      width: 0.2rem;
      height: 7.4rem;
      position: absolute;
    }
    .line-21-ikp {
      height: 7.4rem;
      position: absolute;
      left: 94.6rem;
      top: 108.8rem;
      background-color: #ffffff;
      width: 0.2rem;
    }
    .line-22-4Jt {
      top: 108.8rem;
      background-color: #ffffff;
      width: 0.2rem;
      height: 7.4rem;
      position: absolute;
      left: 119.2rem;
    }
  }
  .auto-group-h6qg-zTS {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 4.2rem 18.2rem 3.7rem 12.3rem;

    .auto-group-lemn-toi {
      margin: 0rem 39.6rem 3.7rem 45.4rem;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      font-size: 3.4rem;
      justify-content: center;
      flex-shrink: 0;
      width: calc(100% - 85rem);
      height: 5.2rem;
      line-height: 1.5168749865;
      font-family: Roboto, 'Source Sans Pro';
      border-bottom: solid 0.2rem #fbbc04;
      font-weight: 700;
      color: #000000;
      white-space: nowrap;
    }
    .unlock-the-advantages-of-cryptofibank-MBW {
      flex-shrink: 0;
      max-width: 47.8rem;
      text-align: center;
      font-size: 4.5rem;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      margin: 0rem 0rem 5.4rem 5.9rem;
      font-weight: 700;
      line-height: 1.1725;

      .unlock-the-advantages-of-cryptofibank-MBW-sub-0 {
      }
      .unlock-the-advantages-of-cryptofibank-MBW-sub-1 {
        font-size: 4.5rem;
        font-weight: 700;
        line-height: 1.1725;
        color: #fbbc04;
        font-family: Roboto, 'Source Sans Pro';
      }
    }
    .auto-group-kxza-R4t {
      margin: 0rem 0rem 5.3rem 5.1rem;
      height: 36.2rem;
      display: flex;
      column-gap: 7.7rem;
      align-items: center;
      flex-shrink: 0;

      .auto-group-gpwz-X7v {
        box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        border-radius: 1rem;
        width: 31rem;
        height: 100%;
        align-items: center;
        display: flex;
        box-sizing: border-box;
        padding: 1.4rem 3.85rem 2.8rem 3.85rem;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-qx2c-24g {
          border-radius: 5rem;
          flex-shrink: 0;
          margin: 0rem 6.65rem 0.9rem 6.65rem;
          box-sizing: border-box;
          padding: 2.3rem 2.5rem 2.205rem 2.5rem;
          width: calc(100% - 13.3rem);
          box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.25);
          background-color: #ecbd27;

          .shield-checkmark-black-icon-1-WVe {
            width: 4.9999rem;
            height: 5.495rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .trust-transparency-oDr {
          font-weight: 700;
          line-height: 1.5168750763;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0.4rem 1rem 0rem;
          font-size: 2rem;
        }
        .at-cryptofibank-we-prioritize-honesty-and-openness-in-all-our-dealings-we-stand-firm-in-our-commitment-to-providing-a-trustworthy-investment-platform-assuring-you-that-we-are-not-a-pyramid-scheme-WPA {
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 23.3rem;
          text-align: center;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5168750286;
          color: #000000;
        }
      }
      .auto-group-xsvg-WGg {
        background-color: #ffffff;
        flex-shrink: 0;
        box-sizing: border-box;
        align-items: center;
        display: flex;
        flex-direction: column;
        border-radius: 1rem;
        padding: 2.5rem 2.45rem 6.1rem 2.55rem;
        width: 31rem;
        height: 100%;
        box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.25);

        .auto-group-ncxy-1DS {
          width: calc(100% - 16rem);
          box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.25);
          background-color: #ecbd27;
          border-radius: 5rem;
          flex-shrink: 0;
          margin: 0rem 8.05rem 1.3rem 7.95rem;
          box-sizing: border-box;
          padding: 2.4rem 1.5rem 2.452rem 1.5rem;

          .skills-icon-1-6Et {
            width: 7rem;
            height: 5.148rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .expertise-in-forex-and-cryptocurrency-C32 {
          margin-bottom: 0.4rem;
          line-height: 1.5168750763;
          font-family: Roboto, 'Source Sans Pro';
          max-width: 20.5rem;
          text-align: center;
          font-size: 2rem;
          font-weight: 700;
          color: #000000;
          flex-shrink: 0;
        }
        .we-leverage-this-expertise-to-offer-you-strategic-investment-solutions-that-harness-the-potential-of-these-markets-delivering-you-solid-returns-6eC {
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 26rem;
          text-align: center;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5168750286;
        }
      }
      .auto-group-kkdn-KG4 {
        height: 100%;
        align-items: center;
        display: flex;
        box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        border-radius: 1rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.5rem 2.5rem 6.1rem 2.6rem;
        width: 31rem;
        flex-direction: column;

        .auto-group-5hj6-qEQ {
          flex-shrink: 0;
          margin: 0rem 8rem 1.4rem 7.9rem;
          box-sizing: border-box;
          padding: 2.4rem 1.801rem 2.511rem 1.7rem;
          width: calc(100% - 15.9rem);
          box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.25);
          background-color: #ecbd27;
          border-radius: 5rem;

          .hand-money-income-dollar-icon-1-KvG {
            width: 6.4993rem;
            height: 5.0891rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .competitive-returns-q7v {
          font-weight: 700;
          line-height: 1.5168750763;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0.1rem 0.9rem 0rem;
          font-size: 2rem;
        }
        .at-cryptofibank-we-aim-to-help-you-grow-your-wealth-at-rates-that-often-surpass-what-conventional-financial-institutions-can-offer-making-your-investment-truly-worthwhile-M6G {
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 25.9rem;
          text-align: center;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5168750286;
          color: #000000;
        }
      }
    }
    .auto-group-f2kj-8FS {
      margin: 0rem 0rem 8.3rem 5.1rem;
      height: 36.2rem;
      display: flex;
      column-gap: 7.7rem;
      align-items: center;
      flex-shrink: 0;

      .auto-group-5wkn-EJU {
        flex-direction: column;
        background-color: #ffffff;
        border-radius: 1rem;
        flex-shrink: 0;
        box-sizing: border-box;
        width: 31rem;
        height: 100%;
        box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.25);
        padding: 2.5rem 1.95rem 6.5rem 2.65rem;
        align-items: center;
        display: flex;

        .auto-group-1tov-wTn {
          box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.25);
          background-color: #ecbd27;
          border-radius: 5rem;
          flex-shrink: 0;
          margin: 0rem 8.55rem 1.4rem 7.85rem;
          box-sizing: border-box;
          padding: 2.5rem 2.5rem 2.444rem 2.3rem;
          width: calc(100% - 16.4rem);

          .pay-money-icon-1-312 {
            width: 5.2rem;
            height: 5.0563rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .withdrawal-guarantee-wcC {
          flex-shrink: 0;
          margin: 0rem 0.7rem 0.5rem 0rem;
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.5168750763;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
        .your-financial-freedom-is-our-priority-with-our-24-7-withdrawal-guarantee-you-have-the-flexibility-to-access-your-earnings-at-any-time-without-withdrawal-limits-or-deductions-FMz {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5168750286;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 26.4rem;
          text-align: center;
        }
      }
      .auto-group-zbv8-G2C {
        width: 31rem;
        height: 100%;
        align-items: center;
        display: flex;
        box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.25);
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.5rem 2.65rem 1.7rem 2.65rem;
        border-radius: 1rem;
        flex-direction: column;
        background-color: #ffffff;

        .auto-group-ewuc-yBW {
          box-sizing: border-box;
          padding: 2.4rem 2.1rem 2.395rem 2.9rem;
          width: calc(100% - 15.7rem);
          box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.25);
          background-color: #ecbd27;
          border-radius: 5rem;
          flex-shrink: 0;
          margin: 0rem 7.85rem 1.4rem 7.85rem;

          .map-marker-flag-icon-1-5VS {
            width: 5rem;
            height: 5.2047rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .independence-objectivity-PW8 {
          line-height: 1.5168750763;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0.6rem 0.5rem 0rem;
          font-size: 2rem;
          font-weight: 700;
        }
        .we-remain-completely-independent-and-do-not-align-with-any-institution-or-organization-we-prioritize-your-financial-success-and-tailor-our-strategies-to-your-unique-needs-empowering-you-to-make-informed-investment-decisions-i2c {
          max-width: 25.7rem;
          text-align: center;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5168750286;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
      .auto-group-ksse-74k {
        align-items: center;
        box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.5rem 1.35rem 4.1rem 1.45rem;
        width: 31rem;
        border-radius: 1rem;
        height: 100%;
        display: flex;
        flex-direction: column;

        .auto-group-ddap-cXJ {
          width: calc(100% - 18.2rem);
          box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.25);
          background-color: #ecbd27;
          border-radius: 5rem;
          flex-shrink: 0;
          margin: 0rem 9.15rem 1.4rem 9.05rem;
          box-sizing: border-box;
          padding: 2.4rem 2.9rem 2.486rem 3.1rem;

          .lock-icon-1-umJ {
            width: 4rem;
            height: 5.1142rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .loss-mitigation-dhJ {
          margin: 0rem 0.1rem 0.5rem 0rem;
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.5168750763;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .our-approach-shields-your-investments-from-losses-and-instead-offers-percentage-based-earnings-plans-your-peace-of-mind-is-our-priority-as-we-navigate-the-ups-and-downs-of-financial-markets-on-your-behalf-MNQ {
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 28.2rem;
          text-align: center;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5168750286;
          color: #000000;
        }
      }
    }
    .group-29-kfS {
      margin: 0rem 85.4rem 3.5rem 0rem;
      width: 28.1rem;
      height: 5.2rem;
      position: relative;
      flex-shrink: 0;

      .what-we-offer-UbS {
        width: 28.1rem;
        position: absolute;
        font-weight: 700;
        font-family: Roboto, 'Source Sans Pro';
        height: 5.2rem;
        left: 0;
        top: 0;
        font-size: 3.4rem;
        line-height: 1.5168749865;
        color: #000000;
        white-space: nowrap;
      }
      .line-23-Bkk {
        left: 0.5rem;
        top: 4.9rem;
        background-color: #fbbc04;
        width: 26.9rem;
        height: 0.2rem;
        position: absolute;
      }
    }
    .take-a-gamble-win-big-slot-games-and-lottery-adventures-NaL {
      font-size: 4.5rem;
      font-weight: 700;
      line-height: 1.1725;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      flex-shrink: 0;
      margin-right: 30.9rem;
      max-width: 82.6rem;

      .take-a-gamble-win-big-slot-games-and-lottery-adventures-NaL-sub-0 {
      }
      .take-a-gamble-win-big-slot-games-and-lottery-adventures-NaL-sub-1 {
        font-weight: 700;
        line-height: 1.1725;
        color: #ecbd27;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 4.5rem;
      }
      .take-a-gamble-win-big-slot-games-and-lottery-adventures-NaL-sub-2 {
      }
    }
  }
  .rectangle-81-rP2 {
    width: 100%;
    height: 1.5rem;
    background-color: #fbbc04;
    flex-shrink: 0;
  }
  .slot-game-with-text-1-zk8 {
    width: 144rem;
    height: 92rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
  }
  .rectangle-83-ig8 {
    flex-shrink: 0;
    width: 100%;
    height: 1.5rem;
    background-color: #fbbc04;
  }
  .lottery-image-with-text-1-frG {
    flex-shrink: 0;
    width: 144rem;
    height: 81rem;
    object-fit: cover;
    vertical-align: top;
  }
  .rectangle-82-19S {
    height: 1.5rem;
    background-color: #fbbc04;
    flex-shrink: 0;
    width: 100%;
  }
  .auto-group-eslu-ksi {
    box-sizing: border-box;
    padding: 5.3rem 3rem 8.281rem 3.2rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-jm5r-4tQ {
      width: calc(100% - 113.6rem);
      height: 5.2rem;
      position: relative;
      flex-shrink: 0;
      margin: 0rem 57.204rem 3.3rem 56.396rem;

      .testimonials-b7e {
        height: 5.2rem;
        color: #000000;
        white-space: nowrap;
        font-weight: 700;
        line-height: 1.5168749865;
        font-family: Roboto, 'Source Sans Pro';
        width: 24.2rem;
        position: absolute;
        left: 0;
        top: 0;
        font-size: 3.4rem;
      }
      .line-23-hwN {
        height: 0.2rem;
        position: absolute;
        left: 0.7037rem;
        top: 4.9rem;
        background-color: #fbbc04;
        width: 22.9rem;
      }
    }
    .cryptofibank-in-the-words-of-our-clients-Qqn {
      font-weight: 700;
      color: #000000;
      font-size: 4.5rem;
      line-height: 1.1725;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      align-items: baseline;
      margin: 0rem 0.1rem 3.1rem 0rem;
      text-align: center;
      flex-shrink: 0;

      .cryptofibank-in-the-words-of-our-clients-Qqn-sub-0 {
        font-family: Roboto, 'Source Sans Pro';
        font-size: 4.5rem;
        font-weight: 700;
        line-height: 1.1725;
        color: #fbbc04;
      }
      .cryptofibank-in-the-words-of-our-clients-Qqn-sub-1 {
      }
    }
    .quotation-mark-icon-1-wUL {
      flex-shrink: 0;
      margin: 0rem 105.2rem 3.382rem 0rem;
      width: 14.9999rem;
      height: 11.1183rem;
      object-fit: contain;
      vertical-align: top;
    }
    .auto-group-vmzx-TSg {
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 4.2rem;
      width: 100%;
      height: 42.1rem;
      display: flex;

      .auto-group-etic-yvp {
        height: calc(100% - 36.1rem);
        background-color: #ecbd27;
        border-radius: 3rem;
        flex-shrink: 0;
        margin: 20.9rem 2.8rem 15.2rem 0rem;
        box-sizing: border-box;
        padding: 1.8rem 2.464rem 1.706rem 2.1rem;

        .ep-arrow-left-bold-g4Y {
          width: 1.4356rem;
          height: 2.494rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .auto-group-vpbr-Y6k {
        flex-shrink: 0;
        margin-right: 3.5rem;
        width: 37.5rem;
        height: 100%;
        position: relative;

        .rectangle-26-3JQ {
          box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
          border-radius: 0 0 1.5rem 1.5rem;
          width: 37.5rem;
          height: 35rem;
          position: absolute;
          left: 0;
          top: 7.1rem;
        }
        .ellipse-4-Vw6 {
          height: 14.2rem;
          position: absolute;
          border: solid 0.5rem #ffa408;
          box-sizing: border-box;
          background-color: #d9d9d9;
          background-size: 100% 150%;
          width: 14.2rem;
          left: 11.7rem;
          top: 0;
          background-position: 0 -6.8128rem;
          background-image: url('REPLACE_IMAGE:3f5cc32c8a890f25eaa75145b88f0357b0d3fa47');
          border-radius: 7.1rem;

          .ellipse-4-Vw6-bg {
            width: 14.2rem;
            height: 14.2rem;
            position: relative;
            background-image: url('REPLACE_IMAGE:3f5cc32c8a890f25eaa75145b88f0357b0d3fa47');
          }
        }
        .amelia-taylor-UY8 {
          width: 12.3rem;
          height: 2.4rem;
          line-height: 1.1725;
          white-space: nowrap;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          position: absolute;
          left: 12.65rem;
          top: 16.1rem;
          text-align: center;
          font-size: 2rem;
          font-weight: 700;
        }
        .canada-ZpU {
          top: 18.5rem;
          font-weight: 500;
          line-height: 1.1725;
          color: #000000;
          white-space: nowrap;
          height: 1.9rem;
          position: absolute;
          left: 16.05rem;
          text-align: center;
          font-size: 1.6rem;
          font-family: Roboto, 'Source Sans Pro';
          width: 5.5rem;
        }
        .cryptofibanks-slot-games-are-not-just-fun-but-also-profitable-i-hit-a-jackpot-recently-and-the-payout-was-quick-and-hassle-free-their-variety-of-slots-keeps-me-entertained-for-hours-GTz {
          width: 30rem;
          left: 3.65rem;
          text-align: center;
          line-height: 1.6077319427;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          height: 13.7rem;
          position: absolute;
          top: 22.4rem;
          font-size: 1.7rem;
          font-weight: 500;
        }
      }
      .auto-group-ckyc-tkG {
        width: 37.5rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;
        margin-right: 3.5rem;

        .rectangle-26-DXe {
          border-radius: 0 0 1.5rem 1.5rem;
          width: 37.5rem;
          height: 35rem;
          position: absolute;
          left: 0;
          top: 7.1rem;
          box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
        }
        .ellipse-4-vgx {
          background-position: 0 -0.1268rem;
          background-image: url('REPLACE_IMAGE:b5dfb43e68662dcc0cb4365e98e8bbb57531a4da');
          position: absolute;
          left: 11.7rem;
          top: 0;
          border: solid 0.5rem #ffa408;
          background-color: #d9d9d9;
          background-size: 100% 150%;
          border-radius: 7.1rem;
          width: 14.2rem;
          height: 14.2rem;
          box-sizing: border-box;

          .ellipse-4-vgx-bg {
            width: 14.2rem;
            height: 14.2rem;
            position: relative;
            background-image: url('REPLACE_IMAGE:b5dfb43e68662dcc0cb4365e98e8bbb57531a4da');
          }
        }
        .james-smith-y9S {
          width: 11.9rem;
          height: 2.4rem;
          left: 12.85rem;
          top: 16.1rem;
          font-weight: 700;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          position: absolute;
          text-align: center;
          font-size: 2rem;
          line-height: 1.1725;
          white-space: nowrap;
        }
        .turkey-4wa {
          line-height: 1.1725;
          white-space: nowrap;
          width: 5.3rem;
          height: 1.9rem;
          position: absolute;
          left: 16.15rem;
          top: 18.5rem;
          text-align: center;
          font-size: 1.6rem;
          font-weight: 500;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
        }
        .the-support-from-cryptofibanks-team-is-top-notch-whenever-ive-had-questions-or-needed-assistance-theyve-been-quick-to-respond-and-help-it-adds-an-extra-layer-of-confidence-to-my-investment-experience-ncg {
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          width: 31.9rem;
          height: 13.7rem;
          position: absolute;
          top: 22.4rem;
          font-size: 1.7rem;
          line-height: 1.6077319427;
          left: 2.7rem;
          text-align: center;
          font-weight: 500;
        }
      }
      .auto-group-2dzj-1kL {
        width: 37.5rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;
        margin-right: 3.5rem;

        .rectangle-26-MZJ {
          background-color: #ffffff;
          border-radius: 0 0 1.5rem 1.5rem;
          width: 37.5rem;
          height: 35rem;
          position: absolute;
          left: 0;
          top: 7.1rem;
          box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.25);
        }
        .ellipse-4-UP2 {
          background-image: url('REPLACE_IMAGE:ed19f0f4b83ad4521af859a9e331b4287f491398');
          border-radius: 7.1rem;
          width: 14.2rem;
          box-sizing: border-box;
          left: 11.7rem;
          top: 0;
          border: solid 0.5rem #ffa408;
          background-color: #d9d9d9;
          background-size: 150% 100%;
          background-position: -2.9769rem 0;
          height: 14.2rem;
          position: absolute;

          .ellipse-4-UP2-bg {
            position: relative;
            background-image: url('REPLACE_IMAGE:ed19f0f4b83ad4521af859a9e331b4287f491398');
            width: 14.2rem;
            height: 14.2rem;
          }
        }
        .sarah-taylor-WqW {
          position: absolute;
          text-align: center;
          font-size: 2rem;
          line-height: 1.1725;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          width: 11.3rem;
          left: 13.15rem;
          top: 16.1rem;
          font-weight: 700;
          height: 2.4rem;
        }
        .uk-opc {
          top: 18.5rem;
          font-size: 1.6rem;
          width: 2.1rem;
          height: 1.9rem;
          position: absolute;
          left: 17.75rem;
          text-align: center;
          font-weight: 500;
          line-height: 1.1725;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
        .ive-been-a-part-of-cryptofibank-for-a-while-and-their-lottery-games-are-a-real-thrill-the-anticipation-and-excitement-of-each-draw-keep-me-coming-back-ive-won-a-few-times-and-its-always-a-great-feeling-igg {
          position: absolute;
          top: 22.4rem;
          font-weight: 500;
          line-height: 1.6077319427;
          color: #000000;
          width: 31.9rem;
          height: 16.4rem;
          left: 2.7rem;
          text-align: center;
          font-size: 1.7rem;
          font-family: Roboto, 'Source Sans Pro';
        }
      }
      .auto-group-jywa-91J {
        box-sizing: border-box;
        padding: 1.8rem 2.164rem 1.706rem 2.4rem;
        height: calc(100% - 36.1rem);
        background-color: #ecbd27;
        border-radius: 3rem;
        flex-shrink: 0;
        margin: 20.9rem 0rem 15.2rem 0rem;

        .ep-arrow-left-bold-pt8 {
          width: 1.4356rem;
          height: 2.494rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
    .auto-group-58pa-99i {
      align-items: center;
      flex-shrink: 0;
      margin-left: 53.3999rem;
      display: flex;

      .rectangle-27-g9e {
        width: 3rem;
        height: 1.2rem;
        background-color: #ecbd27;
        border-radius: 0.8rem;
        flex-shrink: 0;
        margin: 0rem 0.4rem 0.119rem 0rem;
      }
      .rectangle-28-Bs6 {
        flex-shrink: 0;
        margin: 0rem 0.4rem 0.119rem 0rem;
        width: 1.8rem;
        height: 1.2rem;
        background-color: #d9d9d9;
        border-radius: 0.6rem;
      }
      .rectangle-29-7Vr {
        background-color: #d9d9d9;
        border-radius: 0.6rem;
        flex-shrink: 0;
        margin: 0rem 0.4rem 0.119rem 0rem;
        width: 1.8rem;
        height: 1.2rem;
      }
      .rectangle-30-2si {
        border-radius: 0.8rem;
        flex-shrink: 0;
        margin: 0rem 0.4rem 0.119rem 0rem;
        width: 1.8rem;
        height: 1.2rem;
        background-color: #d9d9d9;
      }
      .rectangle-31-Muz {
        background-color: #d9d9d9;
        border-radius: 0.8rem;
        flex-shrink: 0;
        margin: 0rem 38.6rem 0.119rem 0rem;
        width: 1.8rem;
        height: 1.2rem;
      }
      .quotation-mark-right-icon-1-HYk {
        vertical-align: top;
        flex-shrink: 0;
        width: 14.9999rem;
        height: 11.1185rem;
        object-fit: contain;
      }
    }
  }
  .auto-group-493n-QNU {
    width: 100%;
    height: 63.2rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-32-83a {
      left: 0;
      top: 11.5rem;
      background-color: rgba(236, 189, 39, 0.3000000119);
      width: 144rem;
      height: 51.7rem;
      position: absolute;
    }
    .group-20-enc {
      top: 31.3rem;
      width: 9.7rem;
      height: 23.5rem;
      position: absolute;
      left: 74.1rem;

      .company-B1r {
        font-weight: 600;
        line-height: 1.7689999667;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 2.8rem;
        font-size: 2.2rem;
      }
      .about-us-7AQ {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.8rem;
      }
      .contact-us-qcC {
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.8rem;
        font-size: 2rem;
      }
      .career-yCc {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.8rem;
      }
      .lottery-KGU {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .group-37-f5S {
      width: 9.7rem;
      height: 14.7rem;
      position: absolute;
      left: 92.9rem;
      top: 31.3rem;

      .support-nQx {
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 2.8rem;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.7689999667;
      }
      .faqs-LBa {
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.8rem;
        font-size: 2rem;
      }
      .contact-us-gFS {
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 2rem;
        font-weight: 400;
      }
    }
    .group-19-DWG {
      width: 15rem;
      height: 23.5rem;
      position: absolute;
      left: 51.4rem;
      top: 31.3rem;

      .quick-links-jUc {
        font-weight: 600;
        line-height: 1.7689999667;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 2.8rem;
        font-size: 2.2rem;
      }
      .terms-of-service-UBJ {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.8rem;
      }
      .privacy-policy-PJG {
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.8rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
      }
      .plans-j7E {
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.8rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
      }
      .games-UKi {
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 2rem;
      }
    }
    .group-38-peU {
      left: 111.7rem;
      top: 31.3rem;
      width: 19.8rem;
      height: 9.1rem;
      position: absolute;

      .connect-with-us--xkg {
        margin: 0rem 0rem 0.5rem 0.4rem;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.7689999667;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
      .group-22-HY4 {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: 0.392rem 0.35rem 0.4rem 0.392rem;
        width: 100%;

        .ic-baseline-facebook-1ix {
          width: 3.9167rem;
          height: 3.9069rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.292rem 0.001rem 0rem;
        }
        .formkit-twitter-jQ4 {
          width: 3.9rem;
          height: 3.9rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.008rem 1.258rem 0rem 0rem;
        }
        .ri-instagram-fill-f2p {
          height: 3.5834rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.008rem 1.608rem 0rem 0rem;
          width: 3.5835rem;
        }
        .ri-whatsapp-fill-yZJ {
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 0.0083rem;
          width: 3.5rem;
          height: 3.5rem;
          object-fit: contain;
        }
      }
    }
    .group-36-VXe {
      width: 30.2rem;
      height: 22rem;
      position: absolute;
      left: 6rem;
      top: 23.1rem;

      .untitled-1-2-dNx {
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        width: 22rem;
        height: 22rem;
      }
      .cryptofibank-mVA {
        width: 14.2rem;
        height: 2.8rem;
        position: absolute;
        left: 16rem;
        color: #000000;
        white-space: nowrap;
        top: 8.8rem;
        font-size: 2.2rem;
        font-weight: 400;
        line-height: 1.2575;
        font-family: Sansita One, 'Source Sans Pro';
      }
    }
    .cryptofibank-a-trusted-name-in-the-world-of-financial-opportunity-provides-a-secure-platform-for-investing-in-forex-cryptocurrencies-slot-games-and-lotteries-4z4 {
      font-size: 1.6rem;
      font-weight: 400;
      font-family: Roboto, 'Source Sans Pro';
      height: 14.2rem;
      left: 12rem;
      top: 40.4rem;
      color: #000000;
      width: 27.5rem;
      position: absolute;
      line-height: 1.7690000534;
    }
    .rectangle-34-7xL {
      height: 3.7rem;
      position: absolute;
      left: 0;
      top: 59.5rem;
      background-color: #ecbd27;
      width: 144rem;
    }
    .group-39-4Mn {
      left: 58.2rem;
      top: 59.9rem;
      width: 26.7rem;
      height: 2.9rem;
      position: absolute;

      .copyright-2023-all-rights-reserved-o4U {
        top: 0;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1.7690000534;
        color: #ffffff;
        width: 26.7rem;
        height: 2.9rem;
        position: absolute;
        left: 0;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
      .ic-outline-copyright-Jmv {
        height: 1.6667rem;
        position: absolute;
        left: 7.3667rem;
        top: 0.5667rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.6667rem;
      }
    }
    .frame-42-qWx {
      padding: 1.3rem 31.2rem;
      height: 21.2rem;
      left: 12rem;
      flex-direction: column;
      box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      border-radius: 1rem;
      box-sizing: border-box;
      width: 119.5rem;
      position: absolute;
      top: 0;
      align-items: center;
      display: flex;

      .subscribe-to-news-Lic {
        font-size: 3.2rem;
        font-weight: 700;
        line-height: 1.7690000534;
        color: #ecbd27;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0.9rem 0.4rem 0rem;
      }
      .get-the-latest-insights-subscribe-to-our-newsletter-rgx {
        flex-shrink: 0;
        margin: 0rem 0.6rem 1.1rem 0rem;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
      .group-40-a7A {
        display: flex;
        align-items: center;
        border: solid 0.1rem #afafaf;
        padding-left: 2.9rem;
        height: 8.5rem;
        border-radius: 0.8rem;
        flex-shrink: 0;
        box-sizing: border-box;
        width: 100%;

        .enter-your-email-address-776 {
          flex-shrink: 0;
          margin-right: 17.6rem;
          font-size: 1.7rem;
          font-weight: 500;
          line-height: 1.7690001095;
          color: #a5a5a5;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
        .auto-group-uecx-RtU {
          font-size: 1.8rem;
          display: flex;
          background-color: #ecbd27;
          width: 17.3rem;
          white-space: nowrap;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          justify-content: center;
          flex-shrink: 0;
          font-weight: 700;
          line-height: 1.7690000534;
          align-items: center;
          border-radius: 0 0.8rem 0.8rem 0;
          height: 100%;
        }
      }
    }
  }
}
