
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 100rem;
}.login-page-GNc {
  box-sizing: border-box;
  padding-right: 4.1rem;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
  border-radius: 3rem;

  .auto-group-2ppl-aeC {
    background-size: 239.971% 100%;
    background-position: -16.9048rem -0rem;
    flex-shrink: 0;
    margin-right: 5.3rem;
    width: 50rem;
    height: 80rem;
    position: relative;
    background-image: url('REPLACE_IMAGE:0c943cd48414699cb6a390e4cbf57b91138f97ac');
    border-radius: 3rem 0 0 3rem;
    background-color: rgba(0, 0, 0, 0.349999994);

    .group-6-hyi {
      height: 25.9rem;
      position: absolute;
      left: 1.2rem;
      top: 19rem;
      width: 38.3rem;

      .untitled-1-2-qKE {
        height: 25.9rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        width: 25.3404rem;
      }
      .cryptofibank-mTn {
        color: #ffffff;
        font-family: Sansita One, 'Source Sans Pro';
        left: 18.9rem;
        top: 10.2rem;
        font-size: 3rem;
        font-weight: 400;
        white-space: nowrap;
        width: 19.4rem;
        height: 3.8rem;
        position: absolute;
        line-height: 1.2575;
      }
    }
    .the-cryptofibank-login-page-welcomes-you-to-a-secure-gateway-for-accessing-your-financial-assets-EcG {
      line-height: 1.5168750763;
      color: #ffffff;
      font-family: Roboto, 'Source Sans Pro';
      width: 35.9rem;
      height: 9.2rem;
      left: 8.1rem;
      text-align: center;
      font-weight: 500;
      position: absolute;
      top: 40.4rem;
      font-size: 2rem;
    }
    .auto-group-2ppl-aeC-bg {
      width: 50rem;
      height: 80rem;
      position: relative;
      background-image: url('REPLACE_IMAGE:0c943cd48414699cb6a390e4cbf57b91138f97ac');
    }
  }
  .auto-group-73p6-xwa {
    margin-top: 3.1rem;
    width: 40.6rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .icon-park-close-soe {
      height: 2rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0rem 3.5rem 38.6rem;
      width: 2rem;
    }
    .sign-in-nfi {
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0.8rem 1.2rem 0rem;
      font-size: 4rem;
      font-weight: 700;
      line-height: 1.5168750763;
    }
    .to-stay-in-touch-with-us-please-sign-in-to-your-cryptofibank-WLp {
      color: #000000;
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.5168750763;
      font-family: Roboto, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 0.5rem 5.3rem 0rem;
      max-width: 34.3rem;
      text-align: center;
    }
    .auto-group-7ent-BC4 {
      border: solid 0.15rem #afafaf;
      margin: 0rem 0.4rem 2.5rem 0rem;
      padding: 1.4rem 25.5rem 1.1rem 2.45rem;
      width: calc(100% - 0.4rem);
      display: flex;
      box-sizing: border-box;
      align-items: center;
      border-radius: 1rem;
      flex-shrink: 0;

      .fluent-person-20-filled-DeY {
        margin: 0rem 1.85rem 0.2rem 0rem;
        width: 2.1rem;
        height: 2.4rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .username-6TS {
        flex-shrink: 0;
        text-align: center;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.5168750551;
        color: #afafaf;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .auto-group-gmtw-YqE {
      align-items: center;
      box-sizing: border-box;
      padding: 1.325rem 25.65rem 1.1rem 2.5rem;
      display: flex;
      border-radius: 1rem;
      flex-shrink: 0;
      margin: 0rem 0.4rem 1.1rem 0rem;
      width: calc(100% - 0.4rem);
      border: solid 0.15rem #afafaf;

      .mdi-password-nzU {
        margin: 0rem 2.05rem 0.25rem 0rem;
        width: 2rem;
        height: 2.625rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .password-HRS {
        flex-shrink: 0;
        margin-top: 0.075rem;
        text-align: center;
        line-height: 1.5168750551;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 1.8rem;
        font-weight: 500;
        color: #afafaf;
      }
    }
    .group-8-tw2 {
      flex-shrink: 0;
      margin: 0rem 0.4rem 1.8rem 27.1rem;
      width: calc(100% - 27.5rem);
      display: flex;
      align-items: center;
      border-radius: 0.3rem;

      .rectangle-4-mzp {
        flex-shrink: 0;
        margin-right: 1.7rem;
        width: 2.2rem;
        height: 2.2rem;
        border: solid 0.2rem #d9a648;
        box-sizing: border-box;
        border-radius: 0.3rem;
      }
      .remember-me-dGL {
        margin-bottom: 0.1rem;
        text-align: center;
        font-size: 1.4rem;
        font-weight: 500;
        flex-shrink: 0;
        line-height: 1.1725;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .group-9-sRa {
      color: #ffffff;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      align-items: center;
      text-align: center;
      font-weight: 800;
      line-height: 1.5168750069;
      background-color: #d9a648;
      width: 40.2rem;
      font-size: 2.2rem;
      justify-content: center;
      margin: 0rem 0.4rem 2.3rem 0rem;
      height: 5.3rem;
      border-radius: 2.65rem;
      flex-shrink: 0;
    }
    .forgot-password-Zxc {
      white-space: nowrap;
      text-align: center;
      font-size: 1.8rem;
      line-height: 1.5168750551;
      font-family: Roboto, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 0.2rem 0.9rem 0rem;
      font-weight: 500;
      color: #ecbd27;
    }
    .didnt-have-an-account-create-an-account-eUG {
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      align-items: baseline;
      margin: 0rem 0.2rem 0.9rem 0rem;
      text-align: center;
      color: #ecbd27;
      display: flex;
      flex-shrink: 0;
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 1.5168750551;

      .didnt-have-an-account-create-an-account-eUG-sub-0 {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.5168750551;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
      }
      .didnt-have-an-account-create-an-account-eUG-sub-1 {
      }
    }
    .auto-group-qjcy-8AU {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 4.3rem 3.7rem 4rem;
      width: calc(100% - 8.3rem);
      display: flex;

      .line-3-PMJ {
        flex-shrink: 0;
        margin: 0.6rem 0.7rem 0rem 0rem;
        width: 10.6rem;
        height: 0.1rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
      }
      .or-continue-with-3Rr {
        font-family: Outfit, 'Source Sans Pro';
        margin-right: 0.5rem;
        text-align: center;
        color: rgba(0, 0, 0, 0.5);
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.26;
      }
      .line-4-W4Y {
        margin-top: 0.6rem;
        width: 10.6rem;
        height: 0.1rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        flex-shrink: 0;
      }
    }
    .frame-13-Aun {
      margin: 0rem 15.2rem 0rem 14.9rem;
      width: calc(100% - 30.1rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .group-6-4VN {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 2.5rem;
        width: 4rem;
        height: 4rem;
      }
      .group-5-MUU {
        width: 4rem;
        height: 4rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
}
