
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.lottery-page-g1e {
  width: 100%;
  height: 480.8rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .line-6-13v {
    position: absolute;
    left: 48.6rem;
    top: 84.7rem;
    object-fit: contain;
    vertical-align: top;
    width: 46.9rem;
    height: 0rem;
  }
  .auto-group-r34k-vgg {
    width: 144rem;
    top: 84.7rem;
    height: 332.3rem;
    position: absolute;
    left: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 4rem 11.9rem 12.1rem 12rem;

    .group-75-C8Q {
      flex-shrink: 0;
      margin: 0rem 5.8rem 8.4rem 5.8rem;
      width: calc(100% - 11.6rem);
      height: 20.1rem;
      display: flex;
      column-gap: 2rem;
      align-items: center;

      .group-70-hL4 {
        background-color: #ffffff;
        flex-shrink: 0;
        padding-bottom: 6.7rem;
        width: 20.1rem;
        height: 100%;
        display: flex;
        border-radius: 0.5rem;
        box-sizing: border-box;
        align-items: center;
        flex-direction: column;
        box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.25);

        .auto-group-nayn-qSG {
          width: 100%;
          font-size: 2rem;
          display: flex;
          justify-content: center;
          text-align: center;
          flex-shrink: 0;
          margin-bottom: 2.3rem;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          background-color: #fbbc04;
          height: 5rem;
          font-weight: 700;
          line-height: 1.1725;
          color: #ffffff;
          align-items: center;
          border-radius: 0.5rem 0.5rem 0 0;
        }
        .th-of-every-month-6NC {
          margin-left: 0.8rem;
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.6818750381;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          align-items: baseline;
          text-align: center;
          flex-shrink: 0;

          .th-of-every-month-6NC-sub-0 {
            font-size: 3.6rem;
            font-weight: 700;
            line-height: 1.6827720501;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
          }
          .th-of-every-month-6NC-sub-1 {
            font-size: 1.7rem;
            font-weight: 400;
            line-height: 1.6827720501;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
          }
        }
      }
      .group-71-tSU {
        border-radius: 0.5rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-bottom: 5.1rem;
        align-items: center;
        display: flex;
        box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        width: 20.1rem;
        height: 100%;
        flex-direction: column;

        .auto-group-mjet-pb2 {
          flex-shrink: 0;
          width: 100%;
          height: 5rem;
          font-size: 2rem;
          display: flex;
          background-color: #fbbc04;
          border-radius: 0.5rem 0.5rem 0 0;
          text-align: center;
          line-height: 1.1725;
          color: #ffffff;
          white-space: nowrap;
          margin-bottom: 3.9rem;
          align-items: center;
          font-weight: 700;
          font-family: Roboto, 'Source Sans Pro';
          justify-content: center;
        }
        .item-5500-uMa {
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 3.6rem;
          font-weight: 700;
          line-height: 1.6827720501;
        }
      }
      .group-72-PnY {
        box-sizing: border-box;
        padding-bottom: 5.1rem;
        height: 100%;
        display: flex;
        box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.25);
        border-radius: 0.5rem;
        width: 20.1rem;
        align-items: center;
        flex-direction: column;
        background-color: #ffffff;
        flex-shrink: 0;

        .auto-group-teyy-912 {
          width: 100%;
          height: 5rem;
          font-family: Roboto, 'Source Sans Pro';
          display: flex;
          align-items: center;
          margin-bottom: 3.9rem;
          font-weight: 700;
          justify-content: center;
          background-color: #fbbc04;
          white-space: nowrap;
          border-radius: 0.5rem 0.5rem 0 0;
          flex-shrink: 0;
          text-align: center;
          font-size: 2rem;
          line-height: 1.1725;
          color: #ffffff;
        }
        .item-5000-EHN {
          flex-shrink: 0;
          text-align: center;
          font-size: 3.6rem;
          font-weight: 700;
          line-height: 1.6827720501;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .group-73-Kpc {
        flex-direction: column;
        box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        border-radius: 0.5rem;
        flex-shrink: 0;
        box-sizing: border-box;
        width: 20.1rem;
        display: flex;
        padding-bottom: 5.1rem;
        height: 100%;
        align-items: center;

        .auto-group-wabj-536 {
          align-items: center;
          justify-content: center;
          background-color: #fbbc04;
          margin-bottom: 3.9rem;
          font-size: 2rem;
          color: #ffffff;
          width: 100%;
          font-weight: 700;
          flex-shrink: 0;
          border-radius: 0.5rem 0.5rem 0 0;
          height: 5rem;
          line-height: 1.1725;
          white-space: nowrap;
          text-align: center;
          font-family: Roboto, 'Source Sans Pro';
          display: flex;
        }
        .item-1-kQ8 {
          line-height: 1.6827720501;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 3.6rem;
          font-weight: 700;
        }
      }
      .group-74-rTA {
        box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        border-radius: 0.5rem;
        flex-shrink: 0;
        padding-bottom: 5.1rem;
        width: 20.1rem;
        align-items: center;
        display: flex;
        box-sizing: border-box;
        height: 100%;
        flex-direction: column;

        .auto-group-egqy-b9r {
          line-height: 1.1725;
          flex-shrink: 0;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          display: flex;
          border-radius: 0.5rem 0.5rem 0 0;
          margin-bottom: 3.9rem;
          width: 100%;
          text-align: center;
          justify-content: center;
          white-space: nowrap;
          align-items: center;
          background-color: #fbbc04;
          height: 5rem;
          font-size: 2rem;
          font-weight: 700;
        }
        .item-250-fQc {
          font-size: 3.6rem;
          font-weight: 700;
          line-height: 1.6827720501;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
        }
      }
    }
    .frame-14-ZF6 {
      height: 103.8rem;
      overflow: hidden;
      box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
      background-color: #ecbd27;
      flex-shrink: 0;
      width: 119.5rem;
      position: relative;
      border-radius: 1rem 1rem 0 0;
      margin-right: 0.6rem;

      .rectangle-51-dEx {
        background-color: #000000;
        border-radius: 1rem 1rem 0 0;
        width: 119.5rem;
        height: 17.5rem;
        position: absolute;
        left: 0;
        top: 0;
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
      }
      .group-77-LfA {
        position: absolute;
        left: 10.1rem;
        top: -2.6rem;
        display: flex;
        align-items: center;
        width: 99.4rem;
        height: 21.1297rem;

        .two-old-movie-tickets-isolated-removebg-preview-1-fBe {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin: 1.58rem 3.9rem 0rem 0rem;
          width: 20rem;
          height: 13.3099rem;
        }
        .two-old-movie-tickets-isolated-removebg-preview-2-XzY {
          height: 20.279rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 4.085rem 0.851rem 0rem;
          width: 23.6799rem;
        }
        .two-old-movie-tickets-isolated-removebg-preview-3-Etx {
          height: 20.0963rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin: 1.033rem 4.115rem 0rem 0rem;
          width: 23.6206rem;
        }
        .two-old-movie-tickets-isolated-removebg-preview-4-woN {
          width: 20rem;
          height: 13.3099rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 0.2333rem;
        }
      }
      .rectangle-52-4NC {
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 1rem 1rem 0 0;
        width: 119.5rem;
        height: 17.5rem;
        position: absolute;
        left: 0;
        top: 0;
      }
      .group-78-Aw2 {
        width: 61.7rem;
        height: 8.9rem;
        position: absolute;
        left: 28.9rem;
        top: 4.1rem;

        .select-buy-your-ticket-hg4 {
          width: 46.7rem;
          position: absolute;
          top: 0;
          font-weight: 700;
          line-height: 1.7690000534;
          color: #ffffff;
          white-space: nowrap;
          align-items: baseline;
          height: 6.4rem;
          left: 7.3rem;
          font-size: 3.6rem;
          font-family: Roboto, 'Source Sans Pro';
          display: flex;

          .select-buy-your-ticket-hg4-sub-0 {
          }
          .select-buy-your-ticket-hg4-sub-1 {
            font-family: Roboto, 'Source Sans Pro';
            font-size: 3.6rem;
            font-weight: 700;
            line-height: 1.7690000534;
            color: #fbbc04;
          }
        }
        .buy-with-the-price-of-just-one-dollar-and-win-a-grand-prize-of-five-thousand-dollars-2br {
          height: 3.1rem;
          position: absolute;
          font-size: 1.7rem;
          font-weight: 500;
          line-height: 1.7690001095;
          white-space: nowrap;
          width: 61.7rem;
          top: 5.8rem;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          left: 0;
        }
      }
      .rectangle-53-JZN {
        top: 22.8rem;
        background-color: #ffffff;
        border-radius: 1rem;
        width: 35rem;
        height: 83.1rem;
        position: absolute;
        left: 4.3rem;
      }
      .rectangle-58-dLk {
        width: 35rem;
        height: 83.1rem;
        position: absolute;
        left: 41.1rem;
        top: 22.8rem;
        background-color: #ffffff;
        border-radius: 1rem;
      }
      .rectangle-59-xtp {
        top: 22.8rem;
        background-color: #ffffff;
        border-radius: 1rem;
        width: 35rem;
        height: 83.1rem;
        position: absolute;
        left: 77.9rem;
      }
      .rectangle-56-uJG {
        top: 17.5rem;
        background-color: #ececec;
        width: 3.3rem;
        height: 86.3rem;
        position: absolute;
        left: 116.2rem;
      }
      .rectangle-57-2tg {
        left: 116.6rem;
        top: 20rem;
        background-color: #afafaf;
        width: 2.5rem;
        height: 65.7rem;
        position: absolute;
      }
      .ic-round-play-arrow-a9W {
        vertical-align: top;
        width: 1.2361rem;
        height: 1.0145rem;
        position: absolute;
        left: 117.2818rem;
        top: 101.8rem;
        object-fit: contain;
      }
      .ic-round-play-arrow-hV2 {
        left: 117.282rem;
        top: 18.0855rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.2361rem;
        height: 1.0145rem;
        position: absolute;
      }
      .rectangle-60-q5S {
        width: 35rem;
        height: 7.2rem;
        position: absolute;
        left: 4.3rem;
        top: 22.8rem;
        background-color: #000000;
        border-radius: 1rem 1rem 0 0;
      }
      .rectangle-61-MZa {
        border-radius: 1rem 1rem 0 0;
        width: 35rem;
        height: 7.2rem;
        position: absolute;
        left: 41.1rem;
        top: 22.8rem;
        background-color: #000000;
      }
      .rectangle-62-HTE {
        border-radius: 1rem 1rem 0 0;
        width: 35rem;
        height: 7.2rem;
        position: absolute;
        left: 77.9rem;
        top: 22.8rem;
        background-color: #000000;
      }
      .select-all-R3e {
        font-weight: 700;
        font-family: Roboto, 'Source Sans Pro';
        top: 24.8rem;
        font-size: 2rem;
        line-height: 1.7690000534;
        color: #ffffff;
        width: 8.6rem;
        height: 3.6rem;
        position: absolute;
        left: 7.5rem;
        white-space: nowrap;
      }
      .select-all-KPv {
        left: 44.4rem;
        top: 24.8rem;
        font-size: 2rem;
        line-height: 1.7690000534;
        white-space: nowrap;
        font-family: Roboto, 'Source Sans Pro';
        width: 8.6rem;
        height: 3.6rem;
        position: absolute;
        font-weight: 700;
        color: #ffffff;
      }
      .select-all-dvQ {
        height: 3.6rem;
        left: 81.3rem;
        top: 24.8rem;
        font-size: 2rem;
        line-height: 1.7690000534;
        color: #ffffff;
        width: 8.6rem;
        position: absolute;
        font-weight: 700;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
      .rectangle-63-Z3N {
        left: 32.3rem;
        top: 24.9rem;
        border: solid 0.2rem #ffffff;
        box-sizing: border-box;
        border-radius: 0.3rem;
        width: 3rem;
        height: 3rem;
        position: absolute;
      }
      .rectangle-64-GiU {
        left: 69.2rem;
        top: 24.9rem;
        border: solid 0.2rem #ffffff;
        box-sizing: border-box;
        border-radius: 0.3rem;
        width: 3rem;
        height: 3rem;
        position: absolute;
      }
      .rectangle-65-zeU {
        width: 3rem;
        height: 3rem;
        position: absolute;
        left: 106.1rem;
        top: 24.9rem;
        border: solid 0.2rem #ffffff;
        box-sizing: border-box;
        border-radius: 0.3rem;
      }
      .group-79-vY8 {
        width: 30.9rem;
        height: 6.1rem;
        position: absolute;
        left: 6.2rem;
        top: 32.3rem;

        .item-025874136-THA {
          left: 1.3rem;
          top: 0.4rem;
          font-size: 3.2rem;
          line-height: 1.7690000534;
          color: #000000;
          white-space: nowrap;
          width: 16.4rem;
          position: absolute;
          font-weight: 500;
          font-family: Roboto, 'Source Sans Pro';
          height: 5.7rem;
        }
        .rectangle-65-m2x {
          left: 26.1rem;
          top: 1.5rem;
          border: solid 0.2rem #afafaf;
          box-sizing: border-box;
          border-radius: 0.3rem;
          width: 3rem;
          height: 3rem;
          position: absolute;
        }
        .rectangle-64-VUk {
          top: 0;
          border: solid 0.1rem #a5a5a5;
          box-sizing: border-box;
          border-radius: 0.7rem;
          width: 30.9rem;
          height: 6rem;
          position: absolute;
          left: 0;
        }
        .rectangle-66-RtC {
          left: 0;
          top: 0;
          border: solid 0.1rem #a5a5a5;
          box-sizing: border-box;
          border-radius: 0.7rem;
          width: 30.9rem;
          height: 6rem;
          position: absolute;
        }
      }
      .group-80-N2k {
        width: 30.9rem;
        height: 6.1rem;
        position: absolute;
        left: 6.2rem;
        top: 39.5rem;

        .item-815894137-gp8 {
          height: 5.7rem;
          position: absolute;
          font-size: 3.2rem;
          font-weight: 500;
          font-family: Roboto, 'Source Sans Pro';
          width: 16.4rem;
          left: 1.3rem;
          top: 0.4rem;
          line-height: 1.7690000534;
          color: #000000;
          white-space: nowrap;
        }
        .rectangle-65-yoE {
          height: 3rem;
          position: absolute;
          left: 26.1rem;
          top: 1.5rem;
          border: solid 0.2rem #afafaf;
          box-sizing: border-box;
          border-radius: 0.3rem;
          width: 3rem;
        }
        .rectangle-64-W2U {
          border: solid 0.1rem #a5a5a5;
          box-sizing: border-box;
          border-radius: 0.7rem;
          width: 30.9rem;
          height: 6rem;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
      .group-88-dct {
        height: 6.1rem;
        position: absolute;
        left: 43.1rem;
        top: 32.3rem;
        width: 30.9rem;

        .item-815894137-ZmS {
          position: absolute;
          top: 0.4rem;
          font-weight: 500;
          line-height: 1.7690000534;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          width: 16.4rem;
          height: 5.7rem;
          left: 1.3rem;
          font-size: 3.2rem;
          color: #000000;
        }
        .rectangle-65-4y6 {
          position: absolute;
          left: 26.1rem;
          top: 1.5rem;
          border: solid 0.2rem #afafaf;
          box-sizing: border-box;
          border-radius: 0.3rem;
          width: 3rem;
          height: 3rem;
        }
        .rectangle-64-nPJ {
          box-sizing: border-box;
          border-radius: 0.7rem;
          width: 30.9rem;
          height: 6rem;
          position: absolute;
          left: 0;
          top: 0;
          border: solid 0.1rem #a5a5a5;
        }
      }
      .group-97-J6k {
        width: 30.9rem;
        height: 6.1rem;
        position: absolute;
        left: 80.1rem;
        top: 32.3rem;

        .item-815894137-EFJ {
          font-weight: 500;
          color: #000000;
          white-space: nowrap;
          width: 16.4rem;
          height: 5.7rem;
          position: absolute;
          left: 1.3rem;
          top: 0.4rem;
          font-size: 3.2rem;
          line-height: 1.7690000534;
          font-family: Roboto, 'Source Sans Pro';
        }
        .rectangle-65-L3S {
          box-sizing: border-box;
          border-radius: 0.3rem;
          width: 3rem;
          height: 3rem;
          position: absolute;
          left: 26.1rem;
          top: 1.5rem;
          border: solid 0.2rem #afafaf;
        }
        .rectangle-64-f5i {
          box-sizing: border-box;
          border-radius: 0.7rem;
          width: 30.9rem;
          height: 6rem;
          position: absolute;
          left: 0;
          top: 0;
          border: solid 0.1rem #a5a5a5;
        }
      }
      .group-98-CLY {
        width: 30.9rem;
        height: 6.1rem;
        position: absolute;
        left: 80.1rem;
        top: 39.5rem;

        .item-815894137-Kvx {
          width: 16.4rem;
          font-size: 3.2rem;
          font-weight: 500;
          line-height: 1.7690000534;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          height: 5.7rem;
          position: absolute;
          left: 1.3rem;
          top: 0.4rem;
        }
        .rectangle-65-qeQ {
          box-sizing: border-box;
          border-radius: 0.3rem;
          width: 3rem;
          height: 3rem;
          position: absolute;
          left: 26.1rem;
          top: 1.5rem;
          border: solid 0.2rem #afafaf;
        }
        .rectangle-64-Agg {
          box-sizing: border-box;
          border-radius: 0.7rem;
          width: 30.9rem;
          height: 6rem;
          position: absolute;
          left: 0;
          top: 0;
          border: solid 0.1rem #a5a5a5;
        }
      }
      .group-99-tcg {
        width: 30.9rem;
        height: 6.1rem;
        position: absolute;
        left: 80.1rem;
        top: 46.7rem;

        .item-815894137-pFS {
          font-size: 3.2rem;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          width: 16.4rem;
          position: absolute;
          left: 1.3rem;
          top: 0.4rem;
          height: 5.7rem;
          font-weight: 500;
          line-height: 1.7690000534;
        }
        .rectangle-65-JRW {
          top: 1.5rem;
          border: solid 0.2rem #afafaf;
          box-sizing: border-box;
          border-radius: 0.3rem;
          width: 3rem;
          height: 3rem;
          position: absolute;
          left: 26.1rem;
        }
        .rectangle-64-DHa {
          left: 0;
          top: 0;
          border: solid 0.1rem #a5a5a5;
          box-sizing: border-box;
          border-radius: 0.7rem;
          width: 30.9rem;
          height: 6rem;
          position: absolute;
        }
      }
      .group-100-8fS {
        width: 30.9rem;
        height: 6.1rem;
        position: absolute;
        left: 80.1rem;
        top: 53.9rem;

        .item-815894137-ffN {
          height: 5.7rem;
          top: 0.4rem;
          font-weight: 500;
          line-height: 1.7690000534;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          width: 16.4rem;
          position: absolute;
          left: 1.3rem;
          font-size: 3.2rem;
          color: #000000;
        }
        .rectangle-65-aGY {
          left: 26.1rem;
          top: 1.5rem;
          border: solid 0.2rem #afafaf;
          box-sizing: border-box;
          border-radius: 0.3rem;
          width: 3rem;
          height: 3rem;
          position: absolute;
        }
        .rectangle-64-JTS {
          width: 30.9rem;
          height: 6rem;
          position: absolute;
          left: 0;
          top: 0;
          border: solid 0.1rem #a5a5a5;
          box-sizing: border-box;
          border-radius: 0.7rem;
        }
      }
      .group-101-qCU {
        left: 80.1rem;
        top: 61.1rem;
        width: 30.9rem;
        height: 6.1rem;
        position: absolute;

        .item-815894137-MwW {
          position: absolute;
          top: 0.4rem;
          white-space: nowrap;
          height: 5.7rem;
          left: 1.3rem;
          font-size: 3.2rem;
          font-weight: 500;
          line-height: 1.7690000534;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          width: 16.4rem;
        }
        .rectangle-65-UFS {
          width: 3rem;
          height: 3rem;
          position: absolute;
          left: 26.1rem;
          top: 1.5rem;
          border: solid 0.2rem #afafaf;
          box-sizing: border-box;
          border-radius: 0.3rem;
        }
        .rectangle-64-bqr {
          top: 0;
          border: solid 0.1rem #a5a5a5;
          box-sizing: border-box;
          border-radius: 0.7rem;
          width: 30.9rem;
          height: 6rem;
          position: absolute;
          left: 0;
        }
      }
      .group-102-8qn {
        position: absolute;
        left: 80.1rem;
        top: 68.3rem;
        width: 30.9rem;
        height: 6.1rem;

        .item-815894137-sYU {
          height: 5.7rem;
          position: absolute;
          left: 1.3rem;
          font-weight: 500;
          line-height: 1.7690000534;
          color: #000000;
          width: 16.4rem;
          top: 0.4rem;
          font-size: 3.2rem;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
        .rectangle-65-ahn {
          border-radius: 0.3rem;
          width: 3rem;
          height: 3rem;
          position: absolute;
          left: 26.1rem;
          top: 1.5rem;
          border: solid 0.2rem #afafaf;
          box-sizing: border-box;
        }
        .rectangle-64-uVA {
          top: 0;
          border: solid 0.1rem #a5a5a5;
          box-sizing: border-box;
          border-radius: 0.7rem;
          width: 30.9rem;
          height: 6rem;
          position: absolute;
          left: 0;
        }
      }
      .group-103-qtc {
        width: 30.9rem;
        height: 6.1rem;
        position: absolute;
        left: 80.1rem;
        top: 75.5rem;

        .item-815894137-yzp {
          left: 1.3rem;
          font-weight: 500;
          line-height: 1.7690000534;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          width: 16.4rem;
          position: absolute;
          top: 0.4rem;
          font-size: 3.2rem;
          height: 5.7rem;
        }
        .rectangle-65-tbz {
          box-sizing: border-box;
          border-radius: 0.3rem;
          width: 3rem;
          height: 3rem;
          position: absolute;
          left: 26.1rem;
          top: 1.5rem;
          border: solid 0.2rem #afafaf;
        }
        .rectangle-64-1gc {
          position: absolute;
          left: 0;
          top: 0;
          border: solid 0.1rem #a5a5a5;
          box-sizing: border-box;
          border-radius: 0.7rem;
          width: 30.9rem;
          height: 6rem;
        }
      }
      .group-104-jcc {
        width: 30.9rem;
        height: 6.1rem;
        position: absolute;
        left: 80.1rem;
        top: 82.7rem;

        .item-815894137-GsS {
          position: absolute;
          font-weight: 500;
          line-height: 1.7690000534;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          width: 16.4rem;
          left: 1.3rem;
          top: 0.4rem;
          font-size: 3.2rem;
          white-space: nowrap;
          height: 5.7rem;
        }
        .rectangle-65-adE {
          box-sizing: border-box;
          border-radius: 0.3rem;
          width: 3rem;
          height: 3rem;
          position: absolute;
          left: 26.1rem;
          top: 1.5rem;
          border: solid 0.2rem #afafaf;
        }
        .rectangle-64-K52 {
          position: absolute;
          left: 0;
          top: 0;
          border: solid 0.1rem #a5a5a5;
          box-sizing: border-box;
          border-radius: 0.7rem;
          width: 30.9rem;
          height: 6rem;
        }
      }
      .group-105-rak {
        width: 30.9rem;
        height: 6.1rem;
        position: absolute;
        left: 80.1rem;
        top: 89.9rem;

        .item-815894137-oF6 {
          top: 0.4rem;
          font-weight: 500;
          width: 16.4rem;
          position: absolute;
          left: 1.3rem;
          font-size: 3.2rem;
          line-height: 1.7690000534;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          height: 5.7rem;
        }
        .rectangle-65-WvC {
          border: solid 0.2rem #afafaf;
          box-sizing: border-box;
          border-radius: 0.3rem;
          width: 3rem;
          height: 3rem;
          position: absolute;
          left: 26.1rem;
          top: 1.5rem;
        }
        .rectangle-64-T4k {
          height: 6rem;
          position: absolute;
          left: 0;
          top: 0;
          border: solid 0.1rem #a5a5a5;
          box-sizing: border-box;
          border-radius: 0.7rem;
          width: 30.9rem;
        }
      }
      .group-108-zKa {
        width: 30.9rem;
        height: 6.1rem;
        position: absolute;
        left: 80.1rem;
        top: 97.1rem;

        .item-815894137-jHA {
          height: 5.7rem;
          left: 1.3rem;
          font-size: 3.2rem;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          width: 16.4rem;
          position: absolute;
          top: 0.4rem;
          font-weight: 500;
          line-height: 1.7690000534;
        }
        .rectangle-65-qqz {
          height: 3rem;
          position: absolute;
          left: 26.1rem;
          top: 1.5rem;
          border: solid 0.2rem #afafaf;
          box-sizing: border-box;
          border-radius: 0.3rem;
          width: 3rem;
        }
        .rectangle-64-AtG {
          height: 6rem;
          position: absolute;
          left: 0;
          top: 0;
          border: solid 0.1rem #a5a5a5;
          box-sizing: border-box;
          border-radius: 0.7rem;
          width: 30.9rem;
        }
      }
      .group-89-htC {
        width: 30.9rem;
        height: 6.1rem;
        position: absolute;
        left: 43.1rem;
        top: 39.5rem;

        .item-815894137-EdE {
          font-weight: 500;
          line-height: 1.7690000534;
          white-space: nowrap;
          width: 16.4rem;
          position: absolute;
          left: 1.3rem;
          top: 0.4rem;
          font-size: 3.2rem;
          height: 5.7rem;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
        }
        .rectangle-65-LRN {
          width: 3rem;
          height: 3rem;
          position: absolute;
          left: 26.1rem;
          top: 1.5rem;
          border: solid 0.2rem #afafaf;
          box-sizing: border-box;
          border-radius: 0.3rem;
        }
        .rectangle-64-4cG {
          border-radius: 0.7rem;
          width: 30.9rem;
          height: 6rem;
          position: absolute;
          left: 0;
          top: 0;
          border: solid 0.1rem #a5a5a5;
          box-sizing: border-box;
        }
      }
      .group-90-11i {
        position: absolute;
        left: 43.1rem;
        top: 46.7rem;
        width: 30.9rem;
        height: 6.1rem;

        .item-815894137-Wz4 {
          height: 5.7rem;
          left: 1.3rem;
          top: 0.4rem;
          font-size: 3.2rem;
          font-weight: 500;
          line-height: 1.7690000534;
          color: #000000;
          width: 16.4rem;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          position: absolute;
        }
        .rectangle-65-S72 {
          height: 3rem;
          position: absolute;
          left: 26.1rem;
          top: 1.5rem;
          border: solid 0.2rem #afafaf;
          box-sizing: border-box;
          border-radius: 0.3rem;
          width: 3rem;
        }
        .rectangle-64-91S {
          top: 0;
          border: solid 0.1rem #a5a5a5;
          box-sizing: border-box;
          border-radius: 0.7rem;
          width: 30.9rem;
          height: 6rem;
          position: absolute;
          left: 0;
        }
      }
      .group-91-2qv {
        top: 53.9rem;
        width: 30.9rem;
        height: 6.1rem;
        position: absolute;
        left: 43.1rem;

        .item-815894137-Ka8 {
          width: 16.4rem;
          position: absolute;
          line-height: 1.7690000534;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          height: 5.7rem;
          left: 1.3rem;
          top: 0.4rem;
          font-size: 3.2rem;
          font-weight: 500;
          color: #000000;
        }
        .rectangle-65-ZjN {
          box-sizing: border-box;
          border-radius: 0.3rem;
          width: 3rem;
          height: 3rem;
          position: absolute;
          left: 26.1rem;
          top: 1.5rem;
          border: solid 0.2rem #afafaf;
        }
        .rectangle-64-Gtg {
          top: 0;
          border: solid 0.1rem #a5a5a5;
          box-sizing: border-box;
          border-radius: 0.7rem;
          width: 30.9rem;
          height: 6rem;
          position: absolute;
          left: 0;
        }
      }
      .group-92-odi {
        width: 30.9rem;
        height: 6.1rem;
        position: absolute;
        left: 43.1rem;
        top: 61.1rem;

        .item-815894137-Krx {
          height: 5.7rem;
          position: absolute;
          left: 1.3rem;
          font-family: Roboto, 'Source Sans Pro';
          width: 16.4rem;
          top: 0.4rem;
          font-size: 3.2rem;
          font-weight: 500;
          line-height: 1.7690000534;
          color: #000000;
          white-space: nowrap;
        }
        .rectangle-65-RQC {
          border: solid 0.2rem #afafaf;
          box-sizing: border-box;
          border-radius: 0.3rem;
          width: 3rem;
          height: 3rem;
          position: absolute;
          left: 26.1rem;
          top: 1.5rem;
        }
        .rectangle-64-w7e {
          top: 0;
          border: solid 0.1rem #a5a5a5;
          box-sizing: border-box;
          border-radius: 0.7rem;
          width: 30.9rem;
          height: 6rem;
          position: absolute;
          left: 0;
        }
      }
      .group-93-T5z {
        position: absolute;
        left: 43.1rem;
        top: 68.3rem;
        width: 30.9rem;
        height: 6.1rem;

        .item-815894137-NCx {
          left: 1.3rem;
          top: 0.4rem;
          font-weight: 500;
          position: absolute;
          height: 5.7rem;
          font-size: 3.2rem;
          line-height: 1.7690000534;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          width: 16.4rem;
        }
        .rectangle-65-4Lg {
          height: 3rem;
          position: absolute;
          left: 26.1rem;
          top: 1.5rem;
          border: solid 0.2rem #afafaf;
          box-sizing: border-box;
          border-radius: 0.3rem;
          width: 3rem;
        }
        .rectangle-64-aZv {
          left: 0;
          top: 0;
          border: solid 0.1rem #a5a5a5;
          box-sizing: border-box;
          border-radius: 0.7rem;
          width: 30.9rem;
          height: 6rem;
          position: absolute;
        }
      }
      .group-94-KGc {
        width: 30.9rem;
        height: 6.1rem;
        position: absolute;
        left: 43.1rem;
        top: 75.5rem;

        .item-815894137-4EC {
          width: 16.4rem;
          top: 0.4rem;
          color: #000000;
          white-space: nowrap;
          font-weight: 500;
          line-height: 1.7690000534;
          font-family: Roboto, 'Source Sans Pro';
          height: 5.7rem;
          position: absolute;
          left: 1.3rem;
          font-size: 3.2rem;
        }
        .rectangle-65-NEt {
          border-radius: 0.3rem;
          width: 3rem;
          height: 3rem;
          position: absolute;
          left: 26.1rem;
          top: 1.5rem;
          border: solid 0.2rem #afafaf;
          box-sizing: border-box;
        }
        .rectangle-64-VKW {
          position: absolute;
          left: 0;
          top: 0;
          border: solid 0.1rem #a5a5a5;
          box-sizing: border-box;
          border-radius: 0.7rem;
          width: 30.9rem;
          height: 6rem;
        }
      }
      .group-95-dAp {
        width: 30.9rem;
        height: 6.1rem;
        position: absolute;
        left: 43.1rem;
        top: 82.7rem;

        .item-815894137-ZaG {
          white-space: nowrap;
          width: 16.4rem;
          position: absolute;
          font-weight: 500;
          line-height: 1.7690000534;
          font-family: Roboto, 'Source Sans Pro';
          height: 5.7rem;
          left: 1.3rem;
          top: 0.4rem;
          font-size: 3.2rem;
          color: #000000;
        }
        .rectangle-65-s5A {
          left: 26.1rem;
          top: 1.5rem;
          border: solid 0.2rem #afafaf;
          box-sizing: border-box;
          border-radius: 0.3rem;
          width: 3rem;
          height: 3rem;
          position: absolute;
        }
        .rectangle-64-CNL {
          position: absolute;
          left: 0;
          top: 0;
          border: solid 0.1rem #a5a5a5;
          box-sizing: border-box;
          border-radius: 0.7rem;
          width: 30.9rem;
          height: 6rem;
        }
      }
      .group-96-8mn {
        width: 30.9rem;
        height: 6.1rem;
        position: absolute;
        left: 43.1rem;
        top: 89.9rem;

        .item-815894137-G7J {
          color: #000000;
          height: 5.7rem;
          position: absolute;
          left: 1.3rem;
          font-weight: 500;
          line-height: 1.7690000534;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          width: 16.4rem;
          top: 0.4rem;
          font-size: 3.2rem;
        }
        .rectangle-65-Ng8 {
          left: 26.1rem;
          top: 1.5rem;
          border: solid 0.2rem #afafaf;
          box-sizing: border-box;
          border-radius: 0.3rem;
          width: 3rem;
          height: 3rem;
          position: absolute;
        }
        .rectangle-64-Jpg {
          left: 0;
          top: 0;
          border: solid 0.1rem #a5a5a5;
          box-sizing: border-box;
          border-radius: 0.7rem;
          width: 30.9rem;
          height: 6rem;
          position: absolute;
        }
      }
      .group-107-qZi {
        position: absolute;
        left: 43.1rem;
        top: 97.1rem;
        width: 30.9rem;
        height: 6.1rem;

        .item-815894137-myA {
          left: 1.3rem;
          top: 0.4rem;
          font-size: 3.2rem;
          font-weight: 500;
          line-height: 1.7690000534;
          color: #000000;
          width: 16.4rem;
          position: absolute;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          height: 5.7rem;
        }
        .rectangle-65-gKS {
          top: 1.5rem;
          border: solid 0.2rem #afafaf;
          box-sizing: border-box;
          border-radius: 0.3rem;
          width: 3rem;
          height: 3rem;
          position: absolute;
          left: 26.1rem;
        }
        .rectangle-64-QWL {
          position: absolute;
          left: 0;
          top: 0;
          border: solid 0.1rem #a5a5a5;
          box-sizing: border-box;
          border-radius: 0.7rem;
          width: 30.9rem;
          height: 6rem;
        }
      }
      .group-81-YMe {
        width: 30.9rem;
        height: 6.1rem;
        position: absolute;
        left: 6.2rem;
        top: 46.7rem;

        .item-725974335-5cU {
          top: 0.4rem;
          line-height: 1.7690000534;
          font-family: Roboto, 'Source Sans Pro';
          width: 16.4rem;
          position: absolute;
          font-size: 3.2rem;
          font-weight: 500;
          color: #fbbc04;
          white-space: nowrap;
          height: 5.7rem;
          left: 1.3rem;
        }
        .rectangle-65-Pt4 {
          position: absolute;
          left: 26.1rem;
          top: 1.5rem;
          border: solid 0.2rem #fbbc04;
          box-sizing: border-box;
          border-radius: 0.3rem;
          width: 3rem;
          height: 3rem;
        }
        .rectangle-64-7ZA {
          position: absolute;
          left: 0;
          top: 0;
          border: solid 0.1rem #fbbc04;
          box-sizing: border-box;
          border-radius: 0.7rem;
          width: 30.9rem;
          height: 6rem;
        }
        .pajamas-check-Edn {
          width: 1.5628rem;
          height: 1.1868rem;
          position: absolute;
          left: 26.8683rem;
          top: 2.4876rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .group-82-A1e {
        height: 6.1rem;
        position: absolute;
        left: 6.2rem;
        top: 53.9rem;
        width: 30.9rem;

        .item-525684124-Uo2 {
          height: 5.7rem;
          left: 1.3rem;
          font-size: 3.2rem;
          color: #fbbc04;
          font-family: Roboto, 'Source Sans Pro';
          width: 16.4rem;
          position: absolute;
          top: 0.4rem;
          font-weight: 500;
          line-height: 1.7690000534;
          white-space: nowrap;
        }
        .rectangle-65-ar4 {
          position: absolute;
          left: 26.1rem;
          top: 1.5rem;
          border: solid 0.2rem #fbbc04;
          box-sizing: border-box;
          border-radius: 0.3rem;
          width: 3rem;
          height: 3rem;
        }
        .rectangle-64-iBa {
          box-sizing: border-box;
          border-radius: 0.7rem;
          width: 30.9rem;
          height: 6rem;
          position: absolute;
          left: 0;
          top: 0;
          border: solid 0.1rem #fbbc04;
        }
        .pajamas-check-FSQ {
          width: 1.5628rem;
          height: 1.1868rem;
          position: absolute;
          left: 26.8683rem;
          top: 2.3876rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .group-83-ytC {
        height: 6.1rem;
        position: absolute;
        left: 6.2rem;
        top: 61.1rem;
        width: 30.9rem;

        .item-745754126-vHe {
          top: 0.4rem;
          font-size: 3.2rem;
          line-height: 1.7690000534;
          color: #fbbc04;
          width: 16.4rem;
          height: 5.7rem;
          position: absolute;
          left: 1.3rem;
          font-weight: 500;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
        .rectangle-65-q9i {
          width: 3rem;
          height: 3rem;
          position: absolute;
          left: 26.1rem;
          top: 1.5rem;
          border: solid 0.2rem #fbbc04;
          box-sizing: border-box;
          border-radius: 0.3rem;
        }
        .rectangle-64-kXa {
          border-radius: 0.7rem;
          width: 30.9rem;
          height: 6rem;
          position: absolute;
          left: 0;
          top: 0;
          border: solid 0.1rem #fbbc04;
          box-sizing: border-box;
        }
        .pajamas-check-VEG {
          left: 26.8683rem;
          top: 2.3876rem;
          object-fit: contain;
          vertical-align: top;
          width: 1.5628rem;
          height: 1.1868rem;
          position: absolute;
        }
      }
      .group-84-2EC {
        width: 30.9rem;
        height: 6.1rem;
        position: absolute;
        left: 6.2rem;
        top: 68.3rem;

        .item-126844199-xde {
          line-height: 1.7690000534;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          height: 5.7rem;
          top: 0.4rem;
          left: 1.3rem;
          font-size: 3.2rem;
          font-weight: 500;
          width: 16.4rem;
          position: absolute;
        }
        .rectangle-65-5CU {
          border-radius: 0.3rem;
          width: 3rem;
          height: 3rem;
          position: absolute;
          left: 26.1rem;
          top: 1.5rem;
          border: solid 0.2rem #afafaf;
          box-sizing: border-box;
        }
        .rectangle-64-PDA {
          height: 6rem;
          position: absolute;
          left: 0;
          top: 0;
          border: solid 0.1rem #a5a5a5;
          box-sizing: border-box;
          border-radius: 0.7rem;
          width: 30.9rem;
        }
      }
      .group-85-KMi {
        width: 30.9rem;
        height: 6.1rem;
        position: absolute;
        left: 6.2rem;
        top: 75.5rem;

        .item-827879118-3oW {
          font-size: 3.2rem;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          width: 16.4rem;
          top: 0.4rem;
          left: 1.3rem;
          font-weight: 500;
          line-height: 1.7690000534;
          height: 5.7rem;
          position: absolute;
        }
        .rectangle-65-9rY {
          top: 1.5rem;
          border: solid 0.2rem #afafaf;
          box-sizing: border-box;
          border-radius: 0.3rem;
          width: 3rem;
          height: 3rem;
          position: absolute;
          left: 26.1rem;
        }
        .rectangle-64-Udv {
          box-sizing: border-box;
          border-radius: 0.7rem;
          width: 30.9rem;
          height: 6rem;
          position: absolute;
          left: 0;
          top: 0;
          border: solid 0.1rem #a5a5a5;
        }
      }
      .group-86-cVE {
        width: 30.9rem;
        height: 6.1rem;
        position: absolute;
        left: 6.2rem;
        top: 82.7rem;

        .item-844774433-Mhi {
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          position: absolute;
          left: 1.3rem;
          top: 0.4rem;
          font-size: 3.2rem;
          font-weight: 500;
          line-height: 1.7690000534;
          width: 16.4rem;
          height: 5.7rem;
          white-space: nowrap;
        }
        .rectangle-65-sRA {
          position: absolute;
          left: 26.1rem;
          top: 1.5rem;
          border: solid 0.2rem #afafaf;
          box-sizing: border-box;
          border-radius: 0.3rem;
          width: 3rem;
          height: 3rem;
        }
        .rectangle-64-PeQ {
          border-radius: 0.7rem;
          width: 30.9rem;
          height: 6rem;
          position: absolute;
          left: 0;
          top: 0;
          border: solid 0.1rem #a5a5a5;
          box-sizing: border-box;
        }
      }
      .group-87-8M6 {
        height: 6.1rem;
        position: absolute;
        left: 6.2rem;
        top: 89.9rem;
        width: 30.9rem;

        .item-313644235-TPN {
          height: 5.7rem;
          left: 1.3rem;
          font-size: 3.2rem;
          font-weight: 500;
          color: #000000;
          white-space: nowrap;
          width: 16.4rem;
          top: 0.4rem;
          line-height: 1.7690000534;
          font-family: Roboto, 'Source Sans Pro';
          position: absolute;
        }
        .rectangle-65-AHn {
          border: solid 0.2rem #afafaf;
          box-sizing: border-box;
          border-radius: 0.3rem;
          width: 3rem;
          height: 3rem;
          position: absolute;
          left: 26.1rem;
          top: 1.5rem;
        }
        .rectangle-64-tUg {
          position: absolute;
          left: 0;
          top: 0;
          border: solid 0.1rem #a5a5a5;
          box-sizing: border-box;
          border-radius: 0.7rem;
          width: 30.9rem;
          height: 6rem;
        }
      }
      .group-106-1pC {
        height: 6.1rem;
        position: absolute;
        left: 6.2rem;
        top: 97.1rem;
        width: 30.9rem;

        .item-313644235-9Qc {
          width: 16.4rem;
          left: 1.3rem;
          font-weight: 500;
          line-height: 1.7690000534;
          white-space: nowrap;
          height: 5.7rem;
          position: absolute;
          top: 0.4rem;
          font-size: 3.2rem;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
        }
        .rectangle-65-4Xa {
          width: 3rem;
          height: 3rem;
          position: absolute;
          left: 26.1rem;
          top: 1.5rem;
          border: solid 0.2rem #afafaf;
          box-sizing: border-box;
          border-radius: 0.3rem;
        }
        .rectangle-64-nyN {
          position: absolute;
          left: 0;
          top: 0;
          border: solid 0.1rem #a5a5a5;
          box-sizing: border-box;
          border-radius: 0.7rem;
          width: 30.9rem;
          height: 6rem;
        }
      }
    }
    .auto-group-mtwj-szp {
      width: 119.5rem;
      height: 14.4rem;
      border-radius: 0 0 1rem 1rem;
      flex-shrink: 0;
      margin: 0rem 0.6rem 6.5rem 0rem;
      box-sizing: border-box;
      padding: 2.6rem 29.7rem 1.9rem 29.8rem;
      box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
      background-color: #ecbd27;

      .group-111-yY4 {
        display: flex;
        align-items: center;
        border-radius: 0.5rem;
        width: 100%;
        height: 100%;

        .group-109-8A4 {
          margin-right: 10rem;
          width: 11.5rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .total-price-Gn4 {
            width: 11.5rem;
            position: absolute;
            top: 0;
            font-weight: 500;
            white-space: nowrap;
            height: 4.3rem;
            left: 0;
            font-size: 2.4rem;
            line-height: 1.7690000534;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
          }
          .item-3-zTA {
            font-size: 3.6rem;
            line-height: 1.7690000534;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            left: 0;
            top: 3.5rem;
            position: absolute;
            font-weight: 600;
            white-space: nowrap;
            width: 4.2rem;
            height: 6.4rem;
          }
        }
        .group-110-71z {
          position: relative;
          flex-shrink: 0;
          margin-right: 9.4rem;
          width: 14.9rem;
          height: 100%;

          .total-quantity-3wE {
            color: #000000;
            white-space: nowrap;
            height: 4.3rem;
            position: absolute;
            left: 0;
            font-weight: 500;
            line-height: 1.7690000534;
            width: 14.9rem;
            top: 0;
            font-size: 2.4rem;
            font-family: Roboto, 'Source Sans Pro';
          }
          .item-03-Zeg {
            color: #000000;
            white-space: nowrap;
            height: 6.4rem;
            position: absolute;
            left: 0;
            font-size: 3.6rem;
            font-family: Roboto, 'Source Sans Pro';
            width: 4.2rem;
            top: 3.5rem;
            font-weight: 600;
            line-height: 1.7690000534;
          }
        }
        .frame-5-gDW {
          font-family: Roboto, 'Source Sans Pro';
          height: calc(100% - 3.8rem);
          font-weight: 800;
          color: #ffffff;
          align-items: center;
          border-radius: 0.5rem;
          flex-shrink: 0;
          width: 14.2rem;
          font-size: 1.8rem;
          line-height: 1.1725;
          white-space: nowrap;
          display: flex;
          justify-content: center;
          background-color: #000000;
          margin: 1.5rem 0rem 2.3rem 0rem;
        }
      }
    }
    .auto-group-yulc-fr8 {
      height: 4.3rem;
      position: relative;
      flex-shrink: 0;
      margin: 0rem 46.5rem 5.5rem 46.5rem;
      width: calc(100% - 93rem);

      .line-7-PXE {
        vertical-align: top;
        width: 26.1rem;
        height: 0;
        position: absolute;
        left: 0.3rem;
        top: 4.2rem;
        object-fit: contain;
      }
      .ticket-inquiry-XtL {
        position: absolute;
        text-align: center;
        font-size: 3.6rem;
        font-weight: 700;
        line-height: 1.1725;
        text-transform: uppercase;
        width: 27.1rem;
        height: 4.3rem;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        left: 0;
        top: 0;
      }
    }
    .auto-group-qzag-3Lt {
      position: relative;
      flex-shrink: 0;
      margin-bottom: 6.4rem;
      width: 100%;
      height: 59.4rem;

      .rectangle-68-GzL {
        width: 120rem;
        height: 59.4rem;
        position: absolute;
        left: 0;
        top: 0;
        box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        border-radius: 1rem;
      }
      .rectangle-69-oDa {
        width: 60rem;
        height: 7.9rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #fbbc04;
        border-radius: 1rem 0 0 0;
      }
      .rectangle-70-YBA {
        top: 0;
        border: solid 0.1rem #a5a5a5;
        box-sizing: border-box;
        border-radius: 1rem 0 0 0;
        width: 60.1rem;
        height: 7.9rem;
        position: absolute;
        left: 60rem;
      }
      .inquire-by-ticket-number-U4p {
        line-height: 1.1725;
        color: #000000;
        white-space: nowrap;
        width: 27.5rem;
        position: absolute;
        top: 2.5rem;
        text-align: center;
        font-size: 2.4rem;
        font-weight: 600;
        font-family: Roboto, 'Source Sans Pro';
        height: 2.9rem;
        left: 16.25rem;
      }
      .inquire-by-serial-number-mJp {
        top: 2.5rem;
        color: #a5a5a5;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        width: 27rem;
        height: 2.9rem;
        left: 79.4rem;
        font-weight: 600;
        line-height: 1.1725;
        position: absolute;
        text-align: center;
        font-size: 2.4rem;
      }
      .select-the-date-dd-mm-yyyy-Uj2 {
        height: 2.2rem;
        left: 42.3rem;
        font-size: 1.8rem;
        font-weight: 500;
        color: #a5a5a5;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        width: 23.9rem;
        position: absolute;
        top: 20.1rem;
        line-height: 1.1725;
      }
      .enter-your-ticket-number-yfn {
        color: #a5a5a5;
        font-family: Roboto, 'Source Sans Pro';
        line-height: 1.1725;
        width: 20.7rem;
        height: 2.2rem;
        position: absolute;
        left: 42.3rem;
        top: 31.1rem;
        font-size: 1.8rem;
        font-weight: 500;
        white-space: nowrap;
      }
      .rectangle-71-5yi {
        border-radius: 0.7rem;
        width: 47.2rem;
        height: 8.3rem;
        position: absolute;
        left: 40.1rem;
        top: 17.1rem;
        border: solid 0.1rem #a5a5a5;
        box-sizing: border-box;
      }
      .rectangle-72-pAc {
        box-sizing: border-box;
        border-radius: 0.7rem;
        width: 47.2rem;
        height: 8.3rem;
        position: absolute;
        left: 40.1rem;
        top: 28.1rem;
        border: solid 0.1rem #a5a5a5;
      }
      .rectangle-73-Kt4 {
        width: 47.2rem;
        height: 8.3rem;
        position: absolute;
        left: 40.1rem;
        top: 39.1rem;
        background-color: #fbbc04;
        border-radius: 0.7rem;
      }
      .simple-line-icons-calender-Fmi {
        width: 4rem;
        height: 3.9991rem;
        position: absolute;
        left: 80.6rem;
        top: 19.3004rem;
        object-fit: contain;
        vertical-align: top;
      }
      .inquire-now-ySp {
        font-weight: 600;
        white-space: nowrap;
        width: 15.3rem;
        height: 2.9rem;
        position: absolute;
        left: 56.1rem;
        top: 42.1rem;
        font-size: 2.4rem;
        line-height: 1.1725;
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
      }
    }
    .auto-group-wvf2-5Vr {
      margin: 0rem 44.4rem 6.8rem 44.3rem;
      width: calc(100% - 88.7rem);
      height: 4.3rem;
      position: relative;
      flex-shrink: 0;

      .line-8-zMv {
        height: 0;
        position: absolute;
        left: 0.6rem;
        top: 4.1rem;
        object-fit: contain;
        vertical-align: top;
        width: 30.2rem;
      }
      .lottery-results-8U8 {
        font-size: 3.6rem;
        position: absolute;
        left: 0;
        top: 0;
        text-align: center;
        font-weight: 700;
        line-height: 1.1725;
        width: 31.4rem;
        height: 4.3rem;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        text-transform: uppercase;
        color: #000000;
      }
    }
    .auto-group-qbma-eBa {
      height: 76.3rem;
      display: flex;
      align-items: center;
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      flex-shrink: 0;
      margin-right: 0.1rem;
      width: calc(100% - 0.1rem);

      .auto-group-tnak-mmz {
        padding: 9rem 3.05rem 6.8rem 5.5rem;
        height: 100%;
        flex-direction: column;
        background-color: #000000;
        flex-shrink: 0;
        box-sizing: border-box;
        width: 60rem;
        align-items: center;
        display: flex;

        .competition-icon-1-1-tLp {
          margin: 0rem 2.65rem 5.056rem 0rem;
          width: 15rem;
          height: 14.8438rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .competition-of-lottery-CMW {
          color: #ffffff;
          margin: 0rem 2.65rem 10.9rem 0rem;
          font-weight: 700;
          line-height: 1.1725;
          text-transform: uppercase;
          flex-shrink: 0;
          max-width: 32.6rem;
          text-align: center;
          font-size: 4rem;
          font-family: Roboto, 'Source Sans Pro';
        }
        .group-114-gGg {
          margin: 0rem 6.1rem 6.7rem 3.4rem;
          width: calc(100% - 9.5rem);
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .alarm-icon-1-144 {
            width: 2.2rem;
            height: 2.3931rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0.1rem 1.35rem 0rem 0rem;
          }
          .remaining-time-for-next-draw-vRv {
            white-space: nowrap;
            line-height: 1.1725;
            text-transform: uppercase;
            color: #ffffff;
            font-family: Roboto, 'Source Sans Pro';
            flex-shrink: 0;
            text-align: center;
            font-size: 2.4rem;
            font-weight: 700;
          }
        }
        .auto-group-3ecx-2zk {
          align-items: flex-start;
          flex-shrink: 0;
          width: 100%;
          display: flex;

          .days-PKW {
            color: #ffffff;
            text-align: center;
            text-transform: uppercase;
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 1.6568751335;
            font-family: Roboto, 'Source Sans Pro';
            flex-shrink: 0;
            margin-right: 4.4rem;
            max-width: 6rem;

            .days-PKW-sub-0 {
              font-family: Roboto, 'Source Sans Pro';
              font-size: 4rem;
              font-weight: 700;
              line-height: 1.6577587406;
              text-transform: uppercase;
              color: #ffffff;
            }
            .days-PKW-sub-1 {
              font-family: Roboto, 'Source Sans Pro';
              font-size: 2.4rem;
              font-weight: 500;
              line-height: 1.6577587406;
              text-transform: uppercase;
              color: #ffffff;
            }
          }
          .hours-Gnc {
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 1.6568751335;
            text-transform: uppercase;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            text-align: center;
            flex-shrink: 0;
            color: #ffffff;
            align-items: baseline;
            margin-right: 0.05rem;

            .hours-Gnc-sub-0 {
              color: #ffffff;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 4rem;
              font-weight: 700;
              line-height: 1.6577587406;
              text-transform: uppercase;
            }
            .hours-Gnc-sub-1 {
              font-family: Roboto, 'Source Sans Pro';
              font-size: 2.4rem;
              font-weight: 500;
              line-height: 1.6577587406;
              text-transform: uppercase;
              color: #ffffff;
            }
          }
          .auto-group-2nja-Cpg {
            width: 28.6rem;
            height: 6.7rem;
            position: relative;
            flex-shrink: 0;

            .minutes-9V2 {
              width: 14.7rem;
              position: absolute;
              font-size: 2.4rem;
              text-transform: uppercase;
              left: 0;
              top: 0;
              color: #ffffff;
              align-items: baseline;
              height: 6.7rem;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
              text-align: center;
              font-weight: 700;
              line-height: 1.6568751335;

              .minutes-9V2-sub-0 {
                font-size: 4rem;
                font-weight: 700;
                line-height: 1.6577587406;
                text-transform: uppercase;
                color: #ffffff;
                font-family: Roboto, 'Source Sans Pro';
              }
              .minutes-9V2-sub-1 {
                font-size: 2.4rem;
                font-weight: 500;
                line-height: 1.6577587406;
                text-transform: uppercase;
                color: #ffffff;
                font-family: Roboto, 'Source Sans Pro';
              }
            }
            .seconds-SsS {
              font-family: Roboto, 'Source Sans Pro';
              align-items: baseline;
              color: #ffffff;
              top: 0;
              text-align: center;
              font-size: 2.4rem;
              line-height: 1.6568751335;
              text-transform: uppercase;
              white-space: nowrap;
              position: absolute;
              left: 13.3rem;
              font-weight: 700;
              width: 15.3rem;
              height: 6.7rem;
              display: flex;

              .seconds-SsS-sub-0 {
                font-size: 4rem;
                font-weight: 700;
                line-height: 1.6577587406;
                text-transform: uppercase;
                color: #ffffff;
                font-family: Roboto, 'Source Sans Pro';
              }
              .seconds-SsS-sub-1 {
                font-size: 2.4rem;
                font-weight: 500;
                line-height: 1.6577587406;
                text-transform: uppercase;
                color: #ffffff;
                font-family: Roboto, 'Source Sans Pro';
              }
            }
          }
        }
      }
      .auto-group-vrxe-uPe {
        flex-shrink: 0;
        margin: 7.1rem 0rem 11rem 0rem;
        width: 60rem;
        height: calc(100% - 18.1rem);
        align-items: center;
        display: flex;
        flex-direction: column;

        .auto-group-tgnk-bnG {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0rem 22.3rem 4.3rem 22.5rem;
          width: 100%;
          align-items: center;

          .winning-cup-icon-1-tWU {
            margin-bottom: 4.7832rem;
            width: 15rem;
            height: 16.7168rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .winner-NwS {
            text-transform: uppercase;
            flex-shrink: 0;
            text-align: center;
            font-size: 4rem;
            font-weight: 700;
            line-height: 1.1725;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .auto-group-ey64-ugU {
          margin-bottom: 5.2rem;
          width: 100%;
          height: 9.1rem;
          position: relative;
          flex-shrink: 0;

          .ticket-no-985632147-FEY {
            top: 3.1rem;
            display: flex;
            left: 17.35rem;
            position: absolute;
            line-height: 1.1725;
            font-family: Roboto, 'Source Sans Pro';
            width: 25.4rem;
            color: #000000;
            white-space: nowrap;
            align-items: baseline;
            font-weight: 600;
            text-align: center;
            font-size: 2.4rem;
            text-transform: uppercase;
            height: 2.9rem;

            .ticket-no-985632147-FEY-sub-0 {
            }
            .ticket-no-985632147-FEY-sub-1 {
              font-family: Roboto, 'Source Sans Pro';
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.1725;
              text-transform: uppercase;
              color: #000000;
            }
          }
          .rectangle-76-Coz {
            position: absolute;
            left: 0;
            top: 0;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
            width: 60rem;
            height: 9.1rem;
          }
        }
        .group-113-uyJ {
          width: calc(100% - 31.5rem);
          height: 13.4rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 15.7rem 0rem 15.8rem;

          .ellipse-8-1WY {
            background-position: center;
            background-image: url('REPLACE_IMAGE:dc5743b6c2afb652f845ae09c638144516c3047b');
            border-radius: 6.7rem;
            flex-shrink: 0;
            margin-right: 4.1rem;
            height: 13.4rem;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            width: 13.4rem;
            background-color: #d9d9d9;
          }
          .group-112-6nt {
            flex-direction: column;
            flex-shrink: 0;
            margin: 4.2rem 0rem 4.5rem 0rem;
            height: calc(100% - 8.7rem);
            display: flex;

            .emily-taylor-dwE {
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.1rem;
              font-size: 2rem;
              font-weight: 600;
              line-height: 1.1725;
              color: #000000;
            }
            .australia-kFA {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.1725;
              color: #000000;
              font-family: Roboto, 'Source Sans Pro';
            }
          }
        }
      }
    }
  }
  .group-76-dZr {
    left: 0;
    top: 417rem;
    width: 144rem;
    height: 63.7925rem;
    position: absolute;

    .rectangle-32-8Fi {
      left: 0;
      top: 11.6078rem;
      background-color: rgba(236, 189, 39, 0.3000000119);
      width: 144rem;
      height: 52.1847rem;
      position: absolute;
    }
    .group-20-dyA {
      width: 9.7rem;
      height: 23.6866rem;
      position: absolute;
      left: 74.1rem;
      top: 31.5934rem;

      .company-Lsa {
        font-weight: 600;
        line-height: 1.7689999667;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 2.8628rem;
        font-size: 2.2rem;
      }
      .about-us-sMi {
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.8413rem;
        font-size: 2rem;
      }
      .contact-us-oFN {
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.8412rem;
        font-size: 2rem;
        font-weight: 400;
      }
      .career-it8 {
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.8413rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
      }
      .lottery-rjS {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .group-37-QFA {
      left: 92.9rem;
      top: 31.5934rem;
      width: 9.7rem;
      height: 14.8042rem;
      position: absolute;

      .support-X4t {
        line-height: 1.7689999667;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 2.8628rem;
        font-size: 2.2rem;
        font-weight: 600;
      }
      .faqs-TUL {
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.8413rem;
        font-size: 2rem;
      }
      .contact-us-Psn {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .group-19-8qN {
      height: 23.6866rem;
      position: absolute;
      left: 51.4rem;
      top: 31.5934rem;
      width: 15rem;

      .quick-links-rWU {
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.7689999667;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 2.8628rem;
      }
      .terms-of-service-oAp {
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.8413rem;
        font-size: 2rem;
        font-weight: 400;
      }
      .privacy-policy-vmE {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.8412rem;
      }
      .plans-GaC {
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.8413rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
      }
      .games-11z {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .group-38-kVN {
      height: 9.1854rem;
      position: absolute;
      left: 111.7rem;
      top: 31.5934rem;
      width: 19.8rem;

      .connect-with-us--t5n {
        margin: 0rem 0rem 0.541rem 0.4rem;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.7689999667;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
      .group-22-QZv {
        align-items: center;
        box-sizing: border-box;
        padding: 0.395rem 0.35rem 0.404rem 0.392rem;
        width: 100%;
        display: flex;

        .ic-baseline-facebook-XuS {
          height: 3.9435rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.292rem 0.001rem 0rem;
          width: 3.9167rem;
        }
        .formkit-twitter-eUG {
          margin: 0.008rem 1.258rem 0rem 0rem;
          width: 3.9rem;
          height: 3.9366rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .ri-instagram-fill-xzk {
          margin: 0.009rem 1.608rem 0rem 0rem;
          width: 3.5835rem;
          height: 3.617rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .ri-whatsapp-fill-Hn8 {
          flex-shrink: 0;
          margin-top: 0.0085rem;
          width: 3.5rem;
          height: 3.5328rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
    .group-36-DQt {
      width: 30.2rem;
      height: 22.2063rem;
      position: absolute;
      left: 6rem;
      top: 23.3165rem;

      .untitled-1-2-9ZS {
        height: 22.2063rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        width: 22rem;
      }
      .cryptofibank-gJU {
        font-family: Sansita One, 'Source Sans Pro';
        width: 14.2rem;
        height: 2.8rem;
        left: 16rem;
        top: 8.8826rem;
        font-size: 2.2rem;
        font-weight: 400;
        line-height: 1.2575;
        white-space: nowrap;
        position: absolute;
        color: #000000;
      }
    }
    .cryptofibank-a-trusted-name-in-the-world-of-financial-opportunity-provides-a-secure-platform-for-investing-in-forex-cryptocurrencies-slot-games-and-lotteries-map {
      height: 14.2rem;
      left: 12rem;
      font-family: Roboto, 'Source Sans Pro';
      width: 27.5rem;
      position: absolute;
      top: 40.7788rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.7690000534;
      color: #000000;
    }
    .rectangle-34-Cw2 {
      position: absolute;
      left: 0;
      top: 60.0578rem;
      background-color: #ecbd27;
      width: 144rem;
      height: 3.7347rem;
    }
    .group-39-9LU {
      width: 26.7rem;
      height: 2.9rem;
      position: absolute;
      left: 58.2rem;
      top: 60.4616rem;

      .copyright-2023-all-rights-reserved-V9S {
        height: 2.9rem;
        position: absolute;
        left: 0;
        top: 0;
        line-height: 1.7690000534;
        color: #ffffff;
        width: 26.7rem;
        font-size: 1.6rem;
        font-weight: 600;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
      .ic-outline-copyright-CZe {
        position: absolute;
        left: 7.3667rem;
        top: 0.572rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.6667rem;
        height: 1.6823rem;
      }
    }
    .group-42-KuA {
      align-items: center;
      display: flex;
      background-color: #ffffff;
      border-radius: 1rem;
      box-sizing: border-box;
      padding: 1.312rem 31.2rem 3.23rem 31.2rem;
      width: 119.5rem;
      left: 12rem;
      box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.25);
      height: 23.2156rem;
      position: absolute;
      top: 0;
      flex-direction: column;

      .auto-group-mtuy-22t {
        margin: 0rem 10.6rem 1.844rem 9.4rem;
        width: calc(100% - 20rem);
        height: 8.2497rem;
        position: relative;
        flex-shrink: 0;

        .subscribe-to-news-LpG {
          font-size: 3.2rem;
          font-weight: 700;
          color: #ecbd27;
          white-space: nowrap;
          width: 31.6rem;
          position: absolute;
          left: 2.9rem;
          top: 0;
          line-height: 1.7690000534;
          font-family: Roboto, 'Source Sans Pro';
          height: 5.7rem;
        }
        .get-the-latest-insights-subscribe-to-our-newsletter-3ya {
          color: #000000;
          white-space: nowrap;
          height: 2.9rem;
          top: 5.3497rem;
          line-height: 1.7690000534;
          font-size: 1.6rem;
          font-weight: 500;
          font-family: Roboto, 'Source Sans Pro';
          width: 37.1rem;
          position: absolute;
          left: 0;
        }
      }
      .group-40-wp4 {
        padding-left: 2.9rem;
        width: 100%;
        height: 8.5797rem;
        display: flex;
        align-items: center;
        border: solid 0.1rem #afafaf;
        border-radius: 0.8rem;
        box-sizing: border-box;
        flex-shrink: 0;

        .enter-your-email-address-sxc {
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 17.6rem 0.029rem 0rem;
          font-size: 1.7rem;
          font-weight: 500;
          line-height: 1.7690001095;
          color: #a5a5a5;
        }
        .auto-group-onk2-bNp {
          color: #ffffff;
          flex-shrink: 0;
          width: 17.3rem;
          white-space: nowrap;
          display: flex;
          align-items: center;
          height: 100%;
          font-size: 1.8rem;
          font-family: Roboto, 'Source Sans Pro';
          background-color: #ecbd27;
          font-weight: 700;
          line-height: 1.7690000534;
          justify-content: center;
          border-radius: 0 0.8rem 0.8rem 0;
        }
      }
    }
  }
  .auto-group-kwqi-C7i {
    position: absolute;
    left: 0;
    top: 0;
    width: 145rem;
    height: 77rem;

    .rectangle-48-XQt {
      width: 144rem;
      height: 54.3rem;
      position: absolute;
      left: 0;
      top: 21.3rem;
      background-color: #fbbc04;
    }
    .mask-group-ekQ {
      top: 24rem;
      object-fit: contain;
      vertical-align: top;
      width: 144rem;
      height: 48.9rem;
      position: absolute;
      left: 0;
    }
    .rectangle-46-zJU {
      background-color: rgba(0, 0, 0, 0.400000006);
      width: 144rem;
      height: 48.9rem;
      position: absolute;
      left: 0;
      top: 24rem;
    }
    .take-a-chance-explore-cryptofibanks-lotteries-X3W {
      height: 14.1rem;
      text-align: center;
      font-size: 6rem;
      font-family: Roboto, 'Source Sans Pro';
      line-height: 1.171875;
      color: #ffffff;
      width: 104.3rem;
      position: absolute;
      left: 19.9rem;
      top: 28.7rem;
      font-weight: 700;

      .take-a-chance-explore-cryptofibanks-lotteries-X3W-sub-0 {
        font-family: Roboto, 'Source Sans Pro';
        font-size: 6rem;
        font-weight: 700;
        line-height: 1.1725;
        color: #ffffff;
      }
      .take-a-chance-explore-cryptofibanks-lotteries-X3W-sub-1 {
        font-size: 6rem;
        font-weight: 700;
        line-height: 1.1725;
        color: #fbbc04;
        font-family: Roboto, 'Source Sans Pro';
      }
      .take-a-chance-explore-cryptofibanks-lotteries-X3W-sub-2 {
        font-family: Roboto, 'Source Sans Pro';
        font-size: 6rem;
        font-weight: 700;
        line-height: 1.1725;
        color: #ffffff;
      }
    }
    .welcome-to-cryptofibanks-monthly-lottery-draw-where-your-dreams-of-winning-big-come-to-life-on-the-5th-of-every-month-with-5500-distinct-tickets-to-choose-from-each-priced-at-just-1-you-have-the-power-to-pick-your-lucky-number-and-test-your-luck-the-prize-pot-is-set-at-an-enticing-5000-and-our-website-administrator-will-determine-the-winner-whose-username-will-be-prominently-displayed-on-the-page-once-the-draw-takes-place-dont-miss-your-chance-to-become-the-next-lucky-winner-in-our-thrilling-lottery-event-5se {
      font-size: 2.4rem;
      font-weight: 500;
      line-height: 1.6118748983;
      color: #ffffff;
      font-family: Roboto, 'Source Sans Pro';
      left: 23.45rem;
      top: 44.7rem;
      position: absolute;
      text-align: center;
      width: 97.2rem;
      height: 23.3rem;

      .welcome-to-cryptofibanks-monthly-lottery-draw-where-your-dreams-of-winning-big-come-to-life-on-the-5th-of-every-month-with-5500-distinct-tickets-to-choose-from-each-priced-at-just-1-you-have-the-power-to-pick-your-lucky-number-and-test-your-luck-the-prize-pot-is-set-at-an-enticing-5000-and-our-website-administrator-will-determine-the-winner-whose-username-will-be-prominently-displayed-on-the-page-once-the-draw-takes-place-dont-miss-your-chance-to-become-the-next-lucky-winner-in-our-thrilling-lottery-event-5se-sub-0 {
      }
      .welcome-to-cryptofibanks-monthly-lottery-draw-where-your-dreams-of-winning-big-come-to-life-on-the-5th-of-every-month-with-5500-distinct-tickets-to-choose-from-each-priced-at-just-1-you-have-the-power-to-pick-your-lucky-number-and-test-your-luck-the-prize-pot-is-set-at-an-enticing-5000-and-our-website-administrator-will-determine-the-winner-whose-username-will-be-prominently-displayed-on-the-page-once-the-draw-takes-place-dont-miss-your-chance-to-become-the-next-lucky-winner-in-our-thrilling-lottery-event-5se-sub-1 {
        font-weight: 500;
        line-height: 1.6118748983;
        color: #fbbc04;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 2.4rem;
      }
      .welcome-to-cryptofibanks-monthly-lottery-draw-where-your-dreams-of-winning-big-come-to-life-on-the-5th-of-every-month-with-5500-distinct-tickets-to-choose-from-each-priced-at-just-1-you-have-the-power-to-pick-your-lucky-number-and-test-your-luck-the-prize-pot-is-set-at-an-enticing-5000-and-our-website-administrator-will-determine-the-winner-whose-username-will-be-prominently-displayed-on-the-page-once-the-draw-takes-place-dont-miss-your-chance-to-become-the-next-lucky-winner-in-our-thrilling-lottery-event-5se-sub-2 {
      }
    }
    .group-125-cHE {
      width: 136.8rem;
      height: 27.1605rem;
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      align-items: center;

      .group-1-KxL {
        position: relative;
        flex-shrink: 0;
        margin-right: 8.6469rem;
        width: 33.9531rem;
        height: 100%;

        .untitled-1-2-5Ri {
          width: 27.1604rem;
          height: 27.1605rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
          vertical-align: top;
        }
        .cryptofibank-cRe {
          font-weight: 400;
          color: #000000;
          left: 18.7531rem;
          font-size: 2.2rem;
          position: absolute;
          top: 9.4642rem;
          line-height: 1.2575;
          font-family: Sansita One, 'Source Sans Pro';
          white-space: nowrap;
          width: 14.2rem;
          height: 2.8rem;
        }
      }
      .home-WX2 {
        margin: 0rem 2rem 2.56rem 0rem;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.1725;
        text-transform: uppercase;
        color: #000000;
      }
      .about-us-pnc {
        font-size: 2rem;
        font-weight: 500;
        color: #000000;
        white-space: nowrap;
        margin: 0rem 2.2rem 2.56rem 0rem;
        line-height: 1.1725;
        text-transform: uppercase;
        font-family: Roboto, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .plans-kAU {
        line-height: 1.1725;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 2.1rem 2.56rem 0rem;
        font-size: 2rem;
        font-weight: 500;
      }
      .game-sVz {
        margin-bottom: 2.5605rem;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.1725;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .auto-group-za6c-QVv {
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 10rem 0rem 13.06rem 2rem;

        .auto-group-dtha-p3r {
          margin: 1.1rem 2rem 0.6rem 0rem;
          width: 8.4rem;
          height: calc(100% - 1.7rem);
          position: relative;
          flex-shrink: 0;

          .lottery-jgc {
            height: 2.4rem;
            position: absolute;
            font-size: 2rem;
            line-height: 1.1725;
            width: 8.4rem;
            left: 0;
            top: 0;
            font-weight: 800;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
          .line-5-fKN {
            height: 0;
            position: absolute;
            left: 0.3rem;
            top: 2.2rem;
            object-fit: contain;
            vertical-align: top;
            width: 7.8rem;
          }
        }
        .faqs-PmA {
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.5rem 2rem 0rem 0rem;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.1725;
        }
        .contact-us-8Cx {
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.1725;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.5rem 5rem 0rem 0rem;
        }
        .group-TFE {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.1rem 0.8rem 0rem 0rem;
          width: 3rem;
          height: 3rem;
          object-fit: contain;
        }
        .eng-yzG {
          margin: 0.1rem 5.8rem 0rem 0rem;
          font-size: 1.5rem;
          font-weight: 600;
          line-height: 1.1725;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .frame-1-iS4 {
          width: 12rem;
          display: flex;
          justify-content: center;
          background-color: #ecbd27;
          border-radius: 0.5rem;
          font-size: 1.8rem;
          color: #ffffff;
          white-space: nowrap;
          height: 100%;
          line-height: 1.1725;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          font-weight: 600;
          align-items: center;
        }
      }
    }
  }
  .monthly-lottery-details-oTW {
    height: 4.3rem;
    position: absolute;
    left: 48rem;
    color: #000000;
    font-family: Roboto, 'Source Sans Pro';
    width: 48rem;
    text-align: center;
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 1.1725;
    text-transform: uppercase;
    white-space: nowrap;
    top: 80.4rem;
  }
}
