
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.my-message-fDz {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  height: 181.9rem;

  .line-50-ZaG {
    width: 0.1rem;
    height: 95.7rem;
    position: absolute;
    left: 34.4rem;
    top: 24.3rem;
    background-color: #a5a5a5;
  }
  .rectangle-32-sax {
    height: 51.7rem;
    position: absolute;
    left: 0;
    top: 130.2rem;
    background-color: rgba(236, 189, 39, 0.3000000119);
    width: 144rem;
  }
  .group-20-C7S {
    height: 23.5rem;
    position: absolute;
    left: 74.1rem;
    top: 150rem;
    width: 9.7rem;

    .company-7EQ {
      line-height: 1.7689999667;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 2.8rem;
      font-size: 2.2rem;
      font-weight: 600;
    }
    .about-us-diY {
      margin-bottom: 0.8rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.7690000534;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
    }
    .contact-us-xkp {
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 0.8rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.7690000534;
    }
    .career-hCc {
      margin-bottom: 0.8rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.7690000534;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
    }
    .lottery-drx {
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.7690000534;
      color: #000000;
    }
  }
  .group-37-yfv {
    height: 14.7rem;
    position: absolute;
    left: 92.9rem;
    top: 150rem;
    width: 9.7rem;

    .support-WA4 {
      font-size: 2.2rem;
      font-weight: 600;
      line-height: 1.7689999667;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 2.8rem;
    }
    .faqs-FNY {
      margin-bottom: 0.8rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.7690000534;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
    }
    .contact-us-Pje {
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.7690000534;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .group-19-j2p {
    width: 15rem;
    height: 23.5rem;
    position: absolute;
    left: 51.4rem;
    top: 150rem;

    .quick-links-G2k {
      white-space: nowrap;
      margin-bottom: 2.8rem;
      font-size: 2.2rem;
      font-weight: 600;
      line-height: 1.7689999667;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
    }
    .terms-of-service-CSC {
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 0.8rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.7690000534;
    }
    .privacy-policy-wPn {
      margin-bottom: 0.8rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.7690000534;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
    }
    .plans-Uec {
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 0.8rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.7690000534;
    }
    .games-RZr {
      font-weight: 400;
      line-height: 1.7690000534;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 2rem;
    }
  }
  .group-38-mtc {
    height: 9.1rem;
    position: absolute;
    left: 111.7rem;
    top: 150rem;
    width: 19.8rem;

    .connect-with-us--WLQ {
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 0rem 0.5rem 0.4rem;
      font-size: 2.2rem;
      font-weight: 600;
      line-height: 1.7689999667;
      color: #000000;
    }
    .group-22-2Ze {
      box-sizing: border-box;
      padding: 0.392rem 0.35rem 0.4rem 0.392rem;
      width: 100%;
      display: flex;
      align-items: center;

      .ic-baseline-facebook-Z3n {
        margin: 0rem 1.292rem 0.001rem 0rem;
        width: 3.9167rem;
        height: 3.9069rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .formkit-twitter-GD6 {
        flex-shrink: 0;
        margin: 0.008rem 1.258rem 0rem 0rem;
        width: 3.9rem;
        height: 3.9rem;
        object-fit: contain;
        vertical-align: top;
      }
      .ri-instagram-fill-aja {
        flex-shrink: 0;
        margin: 0.008rem 1.608rem 0rem 0rem;
        width: 3.5835rem;
        height: 3.5834rem;
        object-fit: contain;
        vertical-align: top;
      }
      .ri-whatsapp-fill-umr {
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.0083rem;
        width: 3.5rem;
        height: 3.5rem;
        object-fit: contain;
      }
    }
  }
  .group-36-S16 {
    top: 141.8rem;
    width: 30.2rem;
    height: 22rem;
    position: absolute;
    left: 6rem;

    .untitled-1-2-Ahn {
      vertical-align: top;
      width: 22rem;
      height: 22rem;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: cover;
    }
    .cryptofibank-hhi {
      left: 16rem;
      font-size: 2.2rem;
      line-height: 1.2575;
      color: #000000;
      width: 14.2rem;
      height: 2.8rem;
      position: absolute;
      white-space: nowrap;
      top: 8.8rem;
      font-weight: 400;
      font-family: Sansita One, 'Source Sans Pro';
    }
  }
  .cryptofibank-a-trusted-name-in-the-world-of-financial-opportunity-provides-a-secure-platform-for-investing-in-forex-cryptocurrencies-slot-games-and-lotteries-CeU {
    height: 14.2rem;
    position: absolute;
    top: 159.1rem;
    font-weight: 400;
    line-height: 1.7690000534;
    width: 27.5rem;
    left: 12rem;
    font-size: 1.6rem;
    color: #000000;
    font-family: Roboto, 'Source Sans Pro';
  }
  .rectangle-34-2Nc {
    width: 144rem;
    height: 3.7rem;
    position: absolute;
    left: 0;
    top: 178.2rem;
    background-color: #ecbd27;
  }
  .group-39-y2x {
    width: 26.7rem;
    height: 2.9rem;
    position: absolute;
    left: 58.2rem;
    top: 178.6rem;

    .copyright-2023-all-rights-reserved-Jqv {
      height: 2.9rem;
      position: absolute;
      left: 0;
      font-size: 1.6rem;
      white-space: nowrap;
      font-family: Roboto, 'Source Sans Pro';
      width: 26.7rem;
      top: 0;
      font-weight: 600;
      line-height: 1.7690000534;
      color: #ffffff;
    }
    .ic-outline-copyright-d7W {
      width: 1.6667rem;
      height: 1.6667rem;
      position: absolute;
      left: 7.3667rem;
      top: 0.5667rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .group-42-MJQ {
    left: 12rem;
    top: 118.7rem;
    align-items: center;
    background-color: #ffffff;
    box-sizing: border-box;
    position: absolute;
    height: 23rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    padding: 1.3rem 31.2rem 3.2rem 31.2rem;
    width: 119.5rem;

    .auto-group-w9iq-rFA {
      margin: 0rem 10.6rem 1.8rem 9.4rem;
      width: calc(100% - 20rem);
      height: 8.2rem;
      position: relative;
      flex-shrink: 0;

      .subscribe-to-news-NUQ {
        font-weight: 700;
        white-space: nowrap;
        width: 31.6rem;
        height: 5.7rem;
        font-size: 3.2rem;
        line-height: 1.7690000534;
        color: #ecbd27;
        font-family: Roboto, 'Source Sans Pro';
        position: absolute;
        left: 2.9rem;
        top: 0;
      }
      .get-the-latest-insights-subscribe-to-our-newsletter-gV6 {
        font-family: Roboto, 'Source Sans Pro';
        height: 2.9rem;
        top: 5.3rem;
        font-size: 1.6rem;
        color: #000000;
        line-height: 1.7690000534;
        white-space: nowrap;
        width: 37.1rem;
        position: absolute;
        left: 0;
        font-weight: 500;
      }
    }
    .group-40-P8c {
      width: 100%;
      display: flex;
      border: solid 0.1rem #afafaf;
      border-radius: 0.8rem;
      box-sizing: border-box;
      padding-left: 2.9rem;
      height: 8.5rem;
      align-items: center;
      flex-shrink: 0;

      .enter-your-email-address-iwa {
        margin-right: 17.6rem;
        font-size: 1.7rem;
        font-weight: 500;
        line-height: 1.7690001095;
        color: #a5a5a5;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .auto-group-rr72-eqE {
        align-items: center;
        width: 17.3rem;
        font-weight: 700;
        font-family: Roboto, 'Source Sans Pro';
        display: flex;
        border-radius: 0 0.8rem 0.8rem 0;
        height: 100%;
        font-size: 1.8rem;
        line-height: 1.7690000534;
        background-color: #ecbd27;
        flex-shrink: 0;
        color: #ffffff;
        white-space: nowrap;
        justify-content: center;
      }
    }
  }
  .about-us-rwJ {
    color: #000000;
    height: 2.4rem;
    top: 10.7rem;
    font-size: 2rem;
    line-height: 1.1725;
    text-transform: uppercase;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    width: 9.5rem;
    position: absolute;
    left: 49.6rem;
    font-weight: 500;
  }
  .home-n4G {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1725;
    color: #000000;
    width: 5.7rem;
    height: 2.4rem;
    left: 41.9rem;
    top: 10.7rem;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
    text-transform: uppercase;
  }
  .plans-gfS {
    white-space: nowrap;
    width: 6.4rem;
    height: 2.4rem;
    position: absolute;
    left: 61.3rem;
    font-weight: 500;
    line-height: 1.1725;
    color: #000000;
    top: 10.7rem;
    font-size: 2rem;
    font-family: Roboto, 'Source Sans Pro';
  }
  .game-BMJ {
    height: 2.4rem;
    top: 10.7rem;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1725;
    color: #000000;
    width: 5.6rem;
    position: absolute;
    left: 69.8rem;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
  }
  .lottery-sE8 {
    width: 8.4rem;
    height: 2.4rem;
    position: absolute;
    top: 10.7rem;
    font-size: 2rem;
    color: #000000;
    font-family: Roboto, 'Source Sans Pro';
    left: 77.4rem;
    font-weight: 500;
    line-height: 1.1725;
    white-space: nowrap;
  }
  .faqs-Ayv {
    width: 4.7rem;
    left: 87.8rem;
    top: 10.7rem;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1725;
    height: 2.4rem;
    position: absolute;
    color: #000000;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
  }
  .contact-us-H2x {
    width: 12rem;
    left: 94.5rem;
    font-size: 2rem;
    color: #000000;
    height: 2.4rem;
    position: absolute;
    top: 10.7rem;
    font-weight: 500;
    line-height: 1.1725;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
  }
  .group-1-myi {
    position: absolute;
    left: 0;
    top: 0;
    width: 33.9531rem;
    height: 27.1605rem;

    .untitled-1-2-KEY {
      left: 0;
      top: 0;
      object-fit: cover;
      vertical-align: top;
      width: 27.1605rem;
      height: 27.1605rem;
      position: absolute;
    }
    .cryptofibank-eXi {
      white-space: nowrap;
      font-weight: 400;
      color: #000000;
      position: absolute;
      left: 19.0531rem;
      top: 10.4642rem;
      font-size: 2.2rem;
      line-height: 1.2575;
      font-family: Sansita One, 'Source Sans Pro';
      width: 14.2rem;
      height: 2.8rem;
    }
  }
  .group-SiU {
    left: 111.5rem;
    top: 10.2rem;
    object-fit: contain;
    vertical-align: top;
    width: 3rem;
    height: 3rem;
    position: absolute;
  }
  .eng-9sn {
    width: 3rem;
    height: 1.8rem;
    position: absolute;
    left: 115.3rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: #000000;
    font-family: Roboto, 'Source Sans Pro';
    top: 10.8rem;
    line-height: 1.1725;
    white-space: nowrap;
  }
  .group-135-Srt {
    width: 22.7rem;
    height: 6.4rem;
    position: absolute;
    left: 6.1rem;
    top: 26.8rem;

    .my-message-ZRi {
      white-space: nowrap;
      font-size: 3.6rem;
      line-height: 1.7690000534;
      position: absolute;
      left: 0;
      top: 0;
      font-weight: 700;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      width: 22.7rem;
      height: 6.4rem;
    }
    .line-25-4NU {
      width: 22rem;
      height: 0.2rem;
      position: absolute;
      left: 0.4rem;
      top: 5.2rem;
      background-color: #fbbc04;
    }
  }
  .ellipse-11-yEY {
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
    background-color: #d9d9d9;
    background-size: 100% 150%;
    width: 6rem;
    position: absolute;
    top: 8.8rem;
    box-sizing: border-box;
    background-position: 0 -1.5rem;
    background-image: url('REPLACE_IMAGE:be205d20703d00cb3a2ca82cd0a3d02320b81482');
    border-radius: 3rem;
    height: 6rem;
    left: 125.8rem;
    border: solid 0.2rem #ffffff;

    .ellipse-11-yEY-bg {
      width: 6rem;
      height: 6rem;
      position: relative;
      background-image: url('REPLACE_IMAGE:be205d20703d00cb3a2ca82cd0a3d02320b81482');
    }
  }
  .line-49-ytk {
    top: 24.3rem;
    background-color: #a5a5a5;
    width: 144rem;
    height: 0.1rem;
    position: absolute;
    left: 0;
  }
  .frame-15-uXW {
    display: flex;
    flex-direction: column;
    padding: 5.8rem 2.9rem 0rem 2.8rem;
    height: 87.1rem;
    overflow: hidden;
    left: 38.3rem;
    top: 27.8rem;
    align-items: center;
    box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    box-sizing: border-box;
    width: 41rem;
    position: absolute;

    .auto-group-3s5e-yXN {
      flex-shrink: 0;
      margin: 0rem 14.6rem 1.7rem 0.5rem;
      width: calc(100% - 15.1rem);
      display: flex;
      align-items: flex-end;

      .iconoir-search-Hnx {
        margin: 0rem 2.5rem 0.2rem 0rem;
        width: 3rem;
        height: 3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .search-by-name-omJ {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.1725;
        text-transform: capitalize;
        color: #a5a5a5;
        font-family: Roboto, 'Source Sans Pro';
      }
    }
    .line-54-vqv {
      margin-bottom: 5.2rem;
      width: 100%;
      height: 0.1rem;
      background-color: #a5a5a5;
      flex-shrink: 0;
    }
    .recent-chats-U6k {
      line-height: 1.1725;
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2rem;
      font-weight: 400;
      text-transform: capitalize;
      color: #a5a5a5;
      font-family: Roboto, 'Source Sans Pro';
      margin: 0rem 23.4rem 2.9rem 0rem;
    }
    .auto-group-s9kl-yZJ {
      margin-bottom: 2.6rem;
      padding: 1.6rem 0.9rem 1.7rem 1.3rem;
      height: 9.2rem;
      align-items: center;
      box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
      flex-shrink: 0;
      box-sizing: border-box;
      width: 100%;
      display: flex;
      background-color: #ffffff;
      border-radius: 0.3rem;

      .ellipse-15-seg {
        background-color: #d9d9d9;
        background-size: 100% 100%;
        background-position: center;
        background-image: url('REPLACE_IMAGE:fe0d13d1180ccc20e1dc757a1cd77e79764bcd55');
        flex-shrink: 0;
        margin-right: 1.8rem;
        width: 5.9rem;
        border-radius: 2.95rem;
        height: 5.9rem;
        background-repeat: no-repeat;
      }
      .auto-group-64mw-ZnQ {
        flex-direction: column;
        flex-shrink: 0;
        margin: 1rem 0.3rem 0.9rem 0rem;
        height: calc(100% - 1.9rem);
        display: flex;

        .taylor-5Vr {
          text-transform: capitalize;
          white-space: nowrap;
          line-height: 1.1725;
          font-size: 1.6rem;
          font-weight: 600;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 0.3rem;
        }
        .hi-how-are-you-i-am-still--oRr {
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 1.1725;
          color: #a5a5a5;
        }
      }
      .auto-group-hcic-XMr {
        flex-shrink: 0;
        margin: 1.2rem 0rem 0.9rem 0rem;
        width: 4.4rem;
        height: calc(100% - 2.1rem);
        align-items: center;
        display: flex;
        flex-direction: column;

        .pm-EXA {
          margin-bottom: 0.5rem;
          font-size: 1.1rem;
          font-weight: 400;
          line-height: 1.1725;
          color: #a5a5a5;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .group-140-yDr {
          line-height: 1.1725;
          color: #ffffff;
          white-space: nowrap;
          border-radius: 1rem;
          flex-shrink: 0;
          margin: 0 1.2rem;
          font-weight: 400;
          font-family: Roboto, 'Source Sans Pro';
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #fbbc04;
          width: calc(100% - 2.4rem);
          height: 2rem;
          font-size: 1.3rem;
        }
      }
    }
    .group-142-cGp {
      align-items: center;
      background-color: #ffffff;
      flex-shrink: 0;
      margin-bottom: 2.6rem;
      padding: 1.6rem 0.9rem 1.7rem 1.3rem;
      width: 100%;
      height: 9.2rem;
      display: flex;
      box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
      border-radius: 0.3rem;
      box-sizing: border-box;

      .ellipse-15-8FA {
        background-color: #d9d9d9;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:fe0d13d1180ccc20e1dc757a1cd77e79764bcd55');
        margin-right: 1.8rem;
        width: 5.9rem;
        height: 5.9rem;
        border-radius: 2.95rem;
        flex-shrink: 0;
      }
      .auto-group-mbua-cg8 {
        flex-shrink: 0;
        margin: 1rem 0.3rem 0.9rem 0rem;
        height: calc(100% - 1.9rem);
        display: flex;
        flex-direction: column;

        .taylor-M7v {
          text-transform: capitalize;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.1725;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.3rem;
        }
        .hi-how-are-you-i-am-still--UiL {
          font-weight: 400;
          line-height: 1.1725;
          color: #a5a5a5;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.5rem;
        }
      }
      .auto-group-pvak-DA8 {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 1.2rem 0rem 0.9rem 0rem;
        width: 4.4rem;
        height: calc(100% - 2.1rem);

        .pm-Xgc {
          font-weight: 400;
          line-height: 1.1725;
          color: #a5a5a5;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.5rem;
          font-size: 1.1rem;
        }
        .group-140-U64 {
          width: calc(100% - 2.4rem);
          flex-shrink: 0;
          margin: 0 1.2rem;
          font-weight: 400;
          font-family: Roboto, 'Source Sans Pro';
          border-radius: 1rem;
          height: 2rem;
          white-space: nowrap;
          display: flex;
          background-color: #fbbc04;
          justify-content: center;
          font-size: 1.3rem;
          line-height: 1.1725;
          color: #ffffff;
          align-items: center;
        }
      }
    }
    .group-143-tQg {
      box-sizing: border-box;
      padding: 1.6rem 0.9rem 1.7rem 1.3rem;
      width: 100%;
      height: 9.2rem;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 2.6rem;
      display: flex;
      box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      border-radius: 0.3rem;

      .ellipse-15-bK6 {
        margin-right: 1.8rem;
        background-repeat: no-repeat;
        background-image: url('REPLACE_IMAGE:fe0d13d1180ccc20e1dc757a1cd77e79764bcd55');
        border-radius: 2.95rem;
        background-position: center;
        flex-shrink: 0;
        width: 5.9rem;
        height: 5.9rem;
        background-color: #d9d9d9;
        background-size: 100% 100%;
      }
      .auto-group-d7us-Hxc {
        height: calc(100% - 1.9rem);
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 1rem 0.3rem 0.9rem 0rem;

        .taylor-pSk {
          flex-shrink: 0;
          margin-bottom: 0.3rem;
          font-weight: 600;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          font-size: 1.6rem;
          line-height: 1.1725;
          text-transform: capitalize;
          white-space: nowrap;
        }
        .hi-how-are-you-i-am-still--Lfz {
          font-weight: 400;
          line-height: 1.1725;
          color: #a5a5a5;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.5rem;
        }
      }
      .auto-group-drs2-Fnx {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 1.2rem 0rem 0.9rem 0rem;
        width: 4.4rem;
        height: calc(100% - 2.1rem);

        .pm-a4Y {
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.5rem;
          font-size: 1.1rem;
          font-weight: 400;
          line-height: 1.1725;
          color: #a5a5a5;
        }
        .group-140-7KN {
          height: 2rem;
          font-weight: 400;
          line-height: 1.1725;
          background-color: #fbbc04;
          border-radius: 1rem;
          width: calc(100% - 2.4rem);
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          justify-content: center;
          flex-shrink: 0;
          margin: 0 1.2rem;
          color: #ffffff;
          align-items: center;
          font-size: 1.3rem;
        }
      }
    }
    .group-144-m92 {
      height: 9.2rem;
      background-color: #ffffff;
      margin-bottom: 2.6rem;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
      border-radius: 0.3rem;
      flex-shrink: 0;
      padding: 1.6rem 0.9rem 1.7rem 1.3rem;
      width: 100%;

      .ellipse-15-tDe {
        background-color: #d9d9d9;
        background-repeat: no-repeat;
        border-radius: 2.95rem;
        background-image: url('REPLACE_IMAGE:fe0d13d1180ccc20e1dc757a1cd77e79764bcd55');
        flex-shrink: 0;
        margin-right: 1.8rem;
        width: 5.9rem;
        height: 5.9rem;
        background-size: 100% 100%;
        background-position: center;
      }
      .auto-group-gudw-bdr {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 1rem 0.3rem 0.9rem 0rem;
        height: calc(100% - 1.9rem);

        .taylor-87z {
          font-size: 1.6rem;
          text-transform: capitalize;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.3rem;
          font-weight: 600;
          line-height: 1.1725;
          color: #000000;
        }
        .hi-how-are-you-i-am-still--f7v {
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 1.1725;
          color: #a5a5a5;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .auto-group-7e6t-yuJ {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 1.2rem 0rem 0.9rem 0rem;
        width: 4.4rem;
        height: calc(100% - 2.1rem);

        .pm-u2G {
          color: #a5a5a5;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.5rem;
          font-size: 1.1rem;
          font-weight: 400;
          line-height: 1.1725;
        }
        .group-140-2sa {
          width: calc(100% - 2.4rem);
          height: 2rem;
          font-weight: 400;
          line-height: 1.1725;
          justify-content: center;
          margin: 0 1.2rem;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          display: flex;
          background-color: #fbbc04;
          font-size: 1.3rem;
          white-space: nowrap;
          align-items: center;
          border-radius: 1rem;
          flex-shrink: 0;
        }
      }
    }
    .group-145-VWG {
      width: 100%;
      height: 9.2rem;
      background-color: #ffffff;
      border-radius: 0.3rem;
      margin-bottom: 2.6rem;
      box-sizing: border-box;
      padding: 1.6rem 0.9rem 1.7rem 1.3rem;
      display: flex;
      align-items: center;
      box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
      flex-shrink: 0;

      .ellipse-15-p2k {
        flex-shrink: 0;
        width: 5.9rem;
        height: 5.9rem;
        background-color: #d9d9d9;
        background-position: center;
        background-image: url('REPLACE_IMAGE:fe0d13d1180ccc20e1dc757a1cd77e79764bcd55');
        border-radius: 2.95rem;
        margin-right: 1.8rem;
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
      .auto-group-uewj-XC4 {
        flex-direction: column;
        flex-shrink: 0;
        margin: 1rem 0.3rem 0.9rem 0rem;
        height: calc(100% - 1.9rem);
        display: flex;

        .taylor-Fdr {
          margin-bottom: 0.3rem;
          font-size: 1.6rem;
          color: #000000;
          white-space: nowrap;
          font-weight: 600;
          line-height: 1.1725;
          text-transform: capitalize;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .hi-how-are-you-i-am-still--PEG {
          color: #a5a5a5;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 1.1725;
        }
      }
      .auto-group-2cc8-Wpg {
        margin: 1.2rem 0rem 0.9rem 0rem;
        width: 4.4rem;
        height: calc(100% - 2.1rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .pm-3Jp {
          font-weight: 400;
          line-height: 1.1725;
          color: #a5a5a5;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.5rem;
          font-size: 1.1rem;
        }
        .group-140-PNg {
          font-weight: 400;
          display: flex;
          flex-shrink: 0;
          font-size: 1.3rem;
          white-space: nowrap;
          justify-content: center;
          border-radius: 1rem;
          margin: 0 1.2rem;
          height: 2rem;
          line-height: 1.1725;
          font-family: Roboto, 'Source Sans Pro';
          background-color: #fbbc04;
          width: calc(100% - 2.4rem);
          color: #ffffff;
          align-items: center;
        }
      }
    }
    .group-146-Q2t {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
      flex-shrink: 0;
      padding: 1.6rem 0.9rem 1.7rem 1.3rem;
      width: 100%;
      height: 9.2rem;
      background-color: #ffffff;
      border-radius: 0.3rem;

      .ellipse-15-vG8 {
        margin-right: 1.8rem;
        width: 5.9rem;
        height: 5.9rem;
        background-color: #d9d9d9;
        background-position: center;
        border-radius: 2.95rem;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-image: url('REPLACE_IMAGE:fe0d13d1180ccc20e1dc757a1cd77e79764bcd55');
        flex-shrink: 0;
      }
      .auto-group-uztg-qP6 {
        height: calc(100% - 1.9rem);
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 1rem 0.3rem 0.9rem 0rem;

        .taylor-wwv {
          margin-bottom: 0.3rem;
          font-weight: 600;
          line-height: 1.1725;
          flex-shrink: 0;
          font-size: 1.6rem;
          text-transform: capitalize;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
        .hi-how-are-you-i-am-still--US4 {
          line-height: 1.1725;
          color: #a5a5a5;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.5rem;
          font-weight: 400;
        }
      }
      .auto-group-x9ma-1B6 {
        flex-shrink: 0;
        margin: 1.2rem 0rem 0.9rem 0rem;
        width: 4.4rem;
        height: calc(100% - 2.1rem);
        align-items: center;
        display: flex;
        flex-direction: column;

        .pm-vor {
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.5rem;
          font-size: 1.1rem;
          font-weight: 400;
          line-height: 1.1725;
          color: #a5a5a5;
          font-family: Roboto, 'Source Sans Pro';
        }
        .group-140-UKa {
          border-radius: 1rem;
          margin: 0 1.2rem;
          width: calc(100% - 2.4rem);
          font-size: 1.3rem;
          display: flex;
          justify-content: center;
          white-space: nowrap;
          align-items: center;
          background-color: #fbbc04;
          flex-shrink: 0;
          height: 2rem;
          line-height: 1.1725;
          font-family: Roboto, 'Source Sans Pro';
          font-weight: 400;
          color: #ffffff;
        }
      }
    }
  }
  .frame-16-6rk {
    flex-direction: column;
    box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    height: 87.1rem;
    left: 81.6rem;
    display: flex;
    overflow: hidden;
    align-items: center;
    background-color: #ffffff;
    padding-bottom: 1.6rem;
    width: 54.1rem;
    position: absolute;
    top: 27.8rem;

    .auto-group-zjrk-QcY {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 3.2rem 3.35rem 4.4rem 2.7rem;
      width: 100%;
      align-items: center;

      .auto-group-7coa-j92 {
        flex-shrink: 0;
        margin: 0rem 0rem 3.2rem 0.4rem;
        width: calc(100% - 0.4rem);
        height: 8.5rem;
        display: flex;
        align-items: center;

        .auto-group-ukcc-rUY {
          background-image: url('REPLACE_IMAGE:fe0d13d1180ccc20e1dc757a1cd77e79764bcd55');
          flex-shrink: 0;
          width: 8.5rem;
          height: 100%;
          background-color: #d9d9d9;
          background-repeat: no-repeat;
          border-radius: 4.25rem;
          box-sizing: border-box;
          padding: 6.2rem 0.4rem 0.8rem 6.6rem;
          background-size: 100% 100%;
          background-position: center;

          .ellipse-17-Bmi {
            width: 100%;
            height: 1.5rem;
            background-color: #00ff44;
            border-radius: 0.75rem;
          }
        }
        .auto-group-gcsc-67z {
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.8rem 0rem 1.9rem 1.4rem;

          .auto-group-3sjw-RRA {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-right: 31.65rem;
            height: 100%;

            .taylor-AtY {
              font-weight: 600;
              text-transform: capitalize;
              flex-shrink: 0;
              color: #000000;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 0.5rem;
              font-size: 2rem;
              line-height: 1.1725;
            }
            .online-WBi {
              text-transform: capitalize;
              color: #1972e2;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.1725;
            }
          }
          .solar-menu-dots-bold-qUt {
            flex-shrink: 0;
            margin-top: 0.2rem;
            width: 0.5rem;
            height: 2.25rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
      }
      .auto-group-ygme-NDv {
        margin: 0rem 20.55rem 7.3rem 0rem;
        width: calc(100% - 20.55rem);
        display: flex;
        align-items: center;
        background-size: cover;
        background-repeat: no-repeat;
        box-sizing: border-box;
        padding: 1.4rem 1.5rem 0.5rem 3.3rem;
        background-position: center;
        background-image: url('REPLACE_IMAGE:165:897');
        flex-shrink: 0;

        .hi-how-are-you-GaC {
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 6.4rem 0.9rem 0rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.1725;
          color: #808080;
          font-family: Roboto, 'Source Sans Pro';
        }
        .pm-BhA {
          font-weight: 400;
          line-height: 1.1725;
          color: #a5a5a5;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 1.5rem;
          font-size: 1.1rem;
        }
      }
      .group-147-K2g {
        align-items: center;
        background-position: center;
        background-image: url('REPLACE_IMAGE:165:902');
        border-radius: 0.5rem;
        padding: 1.4rem 2.4rem 0.5rem 2.4rem;
        width: calc(100% - 20.55rem);
        display: flex;
        background-size: cover;
        background-repeat: no-repeat;
        flex-shrink: 0;
        margin: 0rem 0.25rem 7.7rem 20.3rem;
        box-sizing: border-box;

        .i-am-fine-pk8 {
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 11.7rem 0.9rem 0rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.1725;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
        }
        .pm-8kp {
          flex-shrink: 0;
          margin-top: 1.5rem;
          font-size: 1.1rem;
          font-weight: 400;
          line-height: 1.1725;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .auto-group-1bz2-THJ {
        margin: 0rem 20.55rem 7.7rem 0rem;
        align-items: flex-end;
        display: flex;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('REPLACE_IMAGE:165:906');
        box-sizing: border-box;
        padding: 2.3rem 1.5rem 1.2rem 3.3rem;
        flex-direction: column;
        background-position: center;
        flex-shrink: 0;

        .hi-how-are-you-i-am-still-waiting-for-your-response-where-are-you-brother-N9N {
          margin: 0rem 4.2rem 0.3rem 0rem;
          max-width: 18.5rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.1725;
          color: #808080;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .pm-Fix {
          font-size: 1.1rem;
          font-weight: 400;
          line-height: 1.1725;
          color: #a5a5a5;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .group-148-Noa {
        align-items: center;
        background-image: url('REPLACE_IMAGE:165:917');
        padding: 1.4rem 2.4rem 0.5rem 2.4rem;
        width: calc(100% - 20.55rem);
        display: flex;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0rem 0.25rem 7.7rem 20.3rem;
        box-sizing: border-box;
        border-radius: 0.5rem;
        flex-shrink: 0;

        .i-am-fine-gZN {
          line-height: 1.1725;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 11.7rem 0.9rem 0rem;
          font-size: 1.6rem;
          font-weight: 400;
        }
        .pm-CGp {
          line-height: 1.1725;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 1.5rem;
          font-size: 1.1rem;
          font-weight: 400;
        }
      }
      .auto-group-aj9s-iW4 {
        margin-right: 20.55rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.4rem 1.5rem 0.7rem 3.3rem;
        width: calc(100% - 20.55rem);
        display: flex;
        align-items: center;
        background-image: url('REPLACE_IMAGE:165:920');

        .ok-SBA {
          color: #808080;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 16.5rem 0.7rem 0rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.1725;
        }
        .pm-Mov {
          font-size: 1.1rem;
          font-weight: 400;
          line-height: 1.1725;
          color: #a5a5a5;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 1.3rem;
        }
      }
    }
    .line-55-Hha {
      margin-bottom: 1.4rem;
      width: 100%;
      height: 0.1rem;
      background-color: #a5a5a5;
      flex-shrink: 0;
    }
    .auto-group-ptll-qUC {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 3.6rem 0rem 3.325rem;
      width: calc(100% - 6.925rem);
      height: 4.7rem;

      .gg-attachment-kLG {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 3.125rem 0.3rem 0rem;
        width: 1.75rem;
        height: 3rem;
      }
      .line-56-U1N {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 2.5rem;
        width: 0;
        height: 4.7rem;
      }
      .type-something-Cxx {
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 19.7rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.1725;
        color: #afafaf;
        font-family: Roboto, 'Source Sans Pro';
      }
      .frame-17-jxt {
        margin: 0.4rem 0;
        width: 8.7rem;
        font-size: 1.6rem;
        font-weight: 600;
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
        align-items: center;
        white-space: nowrap;
        background-color: #fbbc04;
        height: calc(100% - 0.8rem);
        line-height: 1.1725;
        justify-content: center;
        border-radius: 0.3rem;
        display: flex;
        flex-shrink: 0;
      }
    }
  }
}
