
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.my-plans-zbJ {
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;

  .auto-group-qxvt-7R2 {
    box-sizing: border-box;
    padding-bottom: 12rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-rgwt-SCQ {
      flex-shrink: 0;
      margin: 0rem 12.2rem 4.3rem 0rem;
      display: flex;
      align-items: center;

      .group-1-wur {
        width: 33.9531rem;
        height: 27.1605rem;
        position: relative;
        flex-shrink: 0;
        margin: 0rem 8.647rem 0.44rem 0rem;

        .untitled-1-2-GSL {
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 27.1605rem;
          height: 27.1605rem;
        }
        .cryptofibank-PWx {
          width: 14.2rem;
          position: absolute;
          left: 19.0531rem;
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.2575;
          height: 2.8rem;
          top: 10.4642rem;
          color: #000000;
          font-family: Sansita One, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .home-47J {
        color: #000000;
        white-space: nowrap;
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.1725;
        font-family: Roboto, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0rem 2rem 3rem 0rem;
      }
      .auto-group-pqlq-kkp {
        width: 42.9rem;
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 11.1rem 2rem 0rem 0rem;

        .auto-group-ww8y-UB2 {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-bottom: 7.7rem;
          width: 100%;

          .about-us-oyz {
            font-weight: 500;
            text-transform: uppercase;
            flex-shrink: 0;
            margin-right: 2.2rem;
            font-size: 2rem;
            line-height: 1.1725;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
          .plans-jMr {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 2.1rem;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.1725;
            color: #000000;
          }
          .game-Gsa {
            line-height: 1.1725;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 2rem;
            font-size: 2rem;
            font-weight: 500;
          }
          .lottery-p8Q {
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.1725;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 2rem;
          }
          .faqs-wTv {
            line-height: 1.1725;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2rem;
            font-weight: 500;
          }
        }
        .auto-group-ypy2-Uye {
          position: relative;
          flex-shrink: 0;
          margin-right: 0.8rem;
          width: 39.6rem;
          height: 6.4rem;

          .my-purchased-plans-1ig {
            left: 0;
            top: 0;
            line-height: 1.7690000534;
            color: #000000;
            width: 39.6rem;
            height: 6.4rem;
            position: absolute;
            font-size: 3.6rem;
            font-weight: 700;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
          .line-25-7Fv {
            left: 0.5rem;
            top: 5.5rem;
            background-color: #fbbc04;
            width: 38.5rem;
            height: 0.2rem;
            position: absolute;
          }
        }
      }
      .contact-us-pw2 {
        flex-shrink: 0;
        margin: 0rem 5rem 3rem 0rem;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.1725;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
      .group-xGY {
        margin: 0rem 0.8rem 3.4rem 0rem;
        width: 3rem;
        height: 3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .eng-HJp {
        font-weight: 600;
        line-height: 1.1725;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 7.5rem 3.4rem 0rem;
        font-size: 1.5rem;
      }
      .ellipse-11-cbz {
        box-sizing: border-box;
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
        background-color: #d9d9d9;
        background-position: 0 -1.5rem;
        background-image: url('REPLACE_IMAGE:be205d20703d00cb3a2ca82cd0a3d02320b81482');
        border-radius: 3rem;
        margin-bottom: 3.2rem;
        border: solid 0.2rem #ffffff;
        background-size: 100% 150%;
        flex-shrink: 0;
        width: 6rem;
        height: 6rem;

        .ellipse-11-cbz-bg {
          width: 6rem;
          height: 6rem;
          position: relative;
          background-image: url('REPLACE_IMAGE:be205d20703d00cb3a2ca82cd0a3d02320b81482');
        }
      }
    }
    .group-134-RJY {
      height: 20.2rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 47.7rem 8.2rem 47.8rem;
      width: calc(100% - 95.5rem);

      .group-132-9EY {
        flex-direction: column;
        box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.25);
        border-radius: 0.5rem;
        margin-right: 4.7rem;
        width: 21.9rem;
        display: flex;
        align-items: center;
        background-color: #ffffff;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-bottom: 3.3rem;
        height: 100%;

        .auto-group-1jtn-gEU {
          height: 5.8rem;
          font-size: 2.2rem;
          line-height: 1.7689999667;
          font-family: Roboto, 'Source Sans Pro';
          display: flex;
          width: 100%;
          font-weight: 700;
          align-items: center;
          justify-content: center;
          box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.25);
          border-radius: 0.5rem 0.5rem 0 0;
          margin-bottom: 2.6rem;
          color: #ffffff;
          white-space: nowrap;
          background-color: #fbbc04;
          flex-shrink: 0;
        }
        .item-04-KYL {
          line-height: 1.7690000534;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.5rem;
          font-size: 4.8rem;
          font-weight: 700;
        }
      }
      .group-133-DNp {
        height: 100%;
        background-color: #ffffff;
        flex-shrink: 0;
        padding-bottom: 3.3rem;
        width: 21.9rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.25);
        border-radius: 0.5rem;
        box-sizing: border-box;

        .auto-group-heqe-iqN {
          align-items: center;
          box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.25);
          margin-bottom: 2.6rem;
          width: 100%;
          height: 5.8rem;
          font-weight: 700;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          background-color: #fbbc04;
          display: flex;
          justify-content: center;
          font-size: 2.2rem;
          line-height: 1.7689999667;
          white-space: nowrap;
          border-radius: 0.5rem 0.5rem 0 0;
          flex-shrink: 0;
        }
        .item-3000-PAp {
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.1rem;
          font-size: 4.8rem;
          font-weight: 700;
          line-height: 1.7690000534;
          color: #000000;
        }
      }
    }
    .auto-group-fvru-GEc {
      margin: 0rem 22.3rem 0.4rem 15.2rem;
      width: calc(100% - 37.5rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .plan-number-yPv {
        font-weight: 500;
        line-height: 1.7690000534;
        color: #a5a5a5;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 6rem;
        font-size: 2.4rem;
      }
      .start-date-time-HvQ {
        color: #a5a5a5;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 15.5rem;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.7690000534;
      }
      .investment-QEL {
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 8.4rem;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.7690000534;
        color: #a5a5a5;
        font-family: Roboto, 'Source Sans Pro';
      }
      .earn-L7z {
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 8.8rem;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.7690000534;
        color: #a5a5a5;
        font-family: Roboto, 'Source Sans Pro';
      }
      .end-date-time-4Zn {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.7690000534;
        color: #a5a5a5;
        font-family: Roboto, 'Source Sans Pro';
      }
    }
    .auto-group-67ra-PMA {
      border-right: solid 0.1rem #a5a5a5;
      box-sizing: border-box;
      flex-shrink: 0;
      margin: 0rem 12.4rem 0rem 12rem;
      width: calc(100% - 24.4rem);
      height: 33.3rem;

      .auto-group-g9wg-toi {
        box-sizing: border-box;
        width: 119.5rem;
        height: 100%;
        position: relative;
        border-left: solid 0.1rem #a5a5a5;

        .line-42-pBa {
          width: 119.5rem;
          height: 0.1rem;
          position: absolute;
          left: 0;
          top: 0.1rem;
          background-color: #a5a5a5;
        }
        .line-43-LQp {
          height: 0.1rem;
          position: absolute;
          left: 0;
          top: 8.4rem;
          background-color: #a5a5a5;
          width: 119.5rem;
        }
        .line-44-U1E {
          width: 119.5rem;
          height: 0.1rem;
          position: absolute;
          left: 0;
          top: 16.7rem;
          background-color: #a5a5a5;
        }
        .line-45-CC8 {
          width: 119.5rem;
          height: 0.1rem;
          position: absolute;
          left: 0;
          top: 25rem;
          background-color: #a5a5a5;
        }
        .item-01-iRN {
          width: 2.5rem;
          position: absolute;
          top: 2.6rem;
          font-size: 2.2rem;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          height: 3.9rem;
          left: 3.8rem;
          font-weight: 400;
          line-height: 1.7689999667;
        }
        .pm-Q3J {
          top: 2.6rem;
          font-size: 2.2rem;
          line-height: 1.7689999667;
          color: #000000;
          white-space: nowrap;
          position: absolute;
          left: 23.2rem;
          font-weight: 400;
          font-family: Roboto, 'Source Sans Pro';
          width: 21.1rem;
          height: 3.9rem;
        }
        .pm-VaY {
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          height: 3.9rem;
          left: 91.9rem;
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.7689999667;
          width: 21.1rem;
          position: absolute;
          top: 2.6rem;
          white-space: nowrap;
        }
        .item-200-zXJ {
          font-weight: 400;
          line-height: 1.7689999667;
          color: #000000;
          position: absolute;
          height: 3.9rem;
          left: 57.7rem;
          top: 2.6rem;
          font-size: 2.2rem;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          width: 5rem;
        }
        .item-206-6KS {
          font-weight: 400;
          line-height: 1.7689999667;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          width: 5rem;
          height: 3.9rem;
          left: 78.2rem;
          font-size: 2.2rem;
          position: absolute;
          top: 2.6rem;
          white-space: nowrap;
        }
        .item-206-zQp {
          height: 3.9rem;
          font-weight: 400;
          line-height: 1.7689999667;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          width: 5rem;
          left: 78.2rem;
          top: 10.7rem;
          font-size: 2.2rem;
          color: #000000;
          position: absolute;
        }
        .item-206-VcU {
          line-height: 1.7689999667;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          width: 5rem;
          position: absolute;
          left: 78.2rem;
          font-weight: 400;
          height: 3.9rem;
          top: 18.8rem;
          font-size: 2.2rem;
          color: #000000;
        }
        .item-206-o7N {
          top: 26.9rem;
          line-height: 1.7689999667;
          white-space: nowrap;
          width: 5rem;
          left: 78.2rem;
          font-size: 2.2rem;
          font-weight: 400;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          height: 3.9rem;
          position: absolute;
        }
        .item-200-hyS {
          white-space: nowrap;
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.7689999667;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          width: 5rem;
          height: 3.9rem;
          position: absolute;
          left: 57.7rem;
          top: 10.7rem;
        }
        .item-900-DB6 {
          height: 3.9rem;
          position: absolute;
          width: 5rem;
          left: 57.7rem;
          top: 18.8rem;
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.7689999667;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
        .item-1000-upc {
          width: 6.2rem;
          position: absolute;
          font-size: 2.2rem;
          line-height: 1.7689999667;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          height: 3.9rem;
          left: 57.7rem;
          top: 26.9rem;
          font-weight: 400;
          color: #000000;
        }
        .pm-2PS {
          white-space: nowrap;
          width: 21.1rem;
          height: 3.9rem;
          position: absolute;
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.7689999667;
          color: #000000;
          left: 23.2rem;
          top: 10.7rem;
          font-family: Roboto, 'Source Sans Pro';
        }
        .pm-ui8 {
          color: #000000;
          width: 21.1rem;
          position: absolute;
          left: 91.9rem;
          top: 10.7rem;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          height: 3.9rem;
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.7689999667;
        }
        .pm-bax {
          height: 3.9rem;
          position: absolute;
          font-size: 2.2rem;
          line-height: 1.7689999667;
          color: #000000;
          width: 21.1rem;
          left: 23.2rem;
          top: 19.2rem;
          font-weight: 400;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
        .pm-gsJ {
          height: 3.9rem;
          position: absolute;
          font-size: 2.2rem;
          font-weight: 400;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          width: 21.1rem;
          left: 91.9rem;
          top: 19.2rem;
          line-height: 1.7689999667;
          color: #000000;
        }
        .pm-yrQ {
          position: absolute;
          top: 27.5rem;
          line-height: 1.7689999667;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          width: 21.1rem;
          height: 3.9rem;
          left: 23.2rem;
          font-size: 2.2rem;
          font-weight: 400;
        }
        .pm-Vpk {
          height: 3.9rem;
          position: absolute;
          left: 91.9rem;
          top: 27.5rem;
          width: 21.1rem;
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.7689999667;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
        .item-03-2Jt {
          line-height: 1.7689999667;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          width: 2.5rem;
          height: 3.9rem;
          top: 10.7rem;
          font-size: 2.2rem;
          font-weight: 400;
          position: absolute;
          left: 3.8rem;
          color: #000000;
        }
        .item-05-M6G {
          width: 2.5rem;
          height: 3.9rem;
          top: 18.9rem;
          position: absolute;
          left: 3.8rem;
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.7689999667;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
        .item-06-sKW {
          height: 3.9rem;
          left: 3.8rem;
          font-weight: 400;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          width: 2.5rem;
          top: 27.1rem;
          font-size: 2.2rem;
          line-height: 1.7689999667;
          position: absolute;
        }
      }
    }
    .line-46-wqA {
      margin: 0rem 12.5rem 0rem 12rem;
      width: calc(100% - 24.5rem);
      height: 0.1rem;
      background-color: #a5a5a5;
      flex-shrink: 0;
    }
  }
  .auto-group-qbjn-sTv {
    width: 100%;
    height: 63.2rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-32-cAc {
      height: 51.7rem;
      position: absolute;
      left: 0;
      top: 11.5rem;
      background-color: rgba(236, 189, 39, 0.3000000119);
      width: 144rem;
    }
    .group-20-LMW {
      width: 9.7rem;
      height: 23.5rem;
      position: absolute;
      left: 74.1rem;
      top: 31.3rem;

      .company-feg {
        font-weight: 600;
        line-height: 1.7689999667;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 2.8rem;
        font-size: 2.2rem;
      }
      .about-us-1Ck {
        white-space: nowrap;
        margin-bottom: 0.8rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
      }
      .contact-us-x7z {
        white-space: nowrap;
        margin-bottom: 0.8rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
      }
      .career-V7v {
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.8rem;
        font-size: 2rem;
        font-weight: 400;
      }
      .lottery-djv {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .group-37-BmS {
      width: 9.7rem;
      height: 14.7rem;
      position: absolute;
      left: 92.9rem;
      top: 31.3rem;

      .support-KMr {
        margin-bottom: 2.8rem;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.7689999667;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
      .faqs-sPN {
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.8rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
      }
      .contact-us-DTE {
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 2rem;
      }
    }
    .group-19-mUk {
      position: absolute;
      left: 51.4rem;
      top: 31.3rem;
      width: 15rem;
      height: 23.5rem;

      .quick-links-tpG {
        white-space: nowrap;
        margin-bottom: 2.8rem;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.7689999667;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
      }
      .terms-of-service-RZJ {
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.8rem;
        font-size: 2rem;
        font-weight: 400;
      }
      .privacy-policy-NDe {
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.8rem;
        font-size: 2rem;
        font-weight: 400;
      }
      .plans-ujN {
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.8rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
      }
      .games-TF6 {
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 2rem;
      }
    }
    .group-38-QRE {
      width: 19.8rem;
      height: 9.1rem;
      position: absolute;
      left: 111.7rem;
      top: 31.3rem;

      .connect-with-us--9Np {
        margin: 0rem 0rem 0.5rem 0.4rem;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.7689999667;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
      .group-22-fMA {
        width: 100%;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: 0.392rem 0.35rem 0.4rem 0.392rem;

        .ic-baseline-facebook-CM6 {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.292rem 0.001rem 0rem;
          width: 3.9167rem;
          height: 3.9069rem;
        }
        .formkit-twitter-6xG {
          margin: 0.008rem 1.258rem 0rem 0rem;
          width: 3.9rem;
          height: 3.9rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .ri-instagram-fill-Kq2 {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.008rem 1.608rem 0rem 0rem;
          width: 3.5835rem;
          height: 3.5834rem;
        }
        .ri-whatsapp-fill-SPr {
          margin-top: 0.0083rem;
          width: 3.5rem;
          height: 3.5rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .group-36-jtk {
      width: 30.2rem;
      height: 22rem;
      position: absolute;
      left: 6rem;
      top: 23.1rem;

      .untitled-1-2-3uS {
        width: 22rem;
        height: 22rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
      }
      .cryptofibank-aeU {
        height: 2.8rem;
        font-weight: 400;
        color: #000000;
        font-family: Sansita One, 'Source Sans Pro';
        white-space: nowrap;
        width: 14.2rem;
        position: absolute;
        left: 16rem;
        top: 8.8rem;
        font-size: 2.2rem;
        line-height: 1.2575;
      }
    }
    .cryptofibank-a-trusted-name-in-the-world-of-financial-opportunity-provides-a-secure-platform-for-investing-in-forex-cryptocurrencies-slot-games-and-lotteries-HHz {
      font-size: 1.6rem;
      line-height: 1.7690000534;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      position: absolute;
      height: 14.2rem;
      left: 12rem;
      top: 40.4rem;
      font-weight: 400;
      width: 27.5rem;
    }
    .rectangle-34-KVa {
      top: 59.5rem;
      background-color: #ecbd27;
      width: 144rem;
      height: 3.7rem;
      position: absolute;
      left: 0;
    }
    .group-39-fJY {
      position: absolute;
      left: 58.2rem;
      top: 59.9rem;
      width: 26.7rem;
      height: 2.9rem;

      .copyright-2023-all-rights-reserved-17W {
        top: 0;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1.7690000534;
        width: 26.7rem;
        position: absolute;
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        height: 2.9rem;
        left: 0;
      }
      .ic-outline-copyright-uig {
        width: 1.6667rem;
        height: 1.6667rem;
        position: absolute;
        left: 7.3667rem;
        top: 0.5667rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .group-42-deg {
      height: 23rem;
      top: 0;
      align-items: center;
      display: flex;
      flex-direction: column;
      box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.25);
      border-radius: 1rem;
      box-sizing: border-box;
      width: 119.5rem;
      position: absolute;
      left: 12rem;
      background-color: #ffffff;
      padding: 1.3rem 31.2rem 3.2rem 31.2rem;

      .auto-group-kkpp-8rL {
        width: calc(100% - 20rem);
        height: 8.2rem;
        position: relative;
        flex-shrink: 0;
        margin: 0rem 10.6rem 1.8rem 9.4rem;

        .subscribe-to-news-rnL {
          width: 31.6rem;
          position: absolute;
          font-weight: 700;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          height: 5.7rem;
          left: 2.9rem;
          top: 0;
          font-size: 3.2rem;
          line-height: 1.7690000534;
          color: #ecbd27;
        }
        .get-the-latest-insights-subscribe-to-our-newsletter-MUC {
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          height: 2.9rem;
          left: 0;
          font-weight: 500;
          line-height: 1.7690000534;
          width: 37.1rem;
          position: absolute;
          top: 5.3rem;
          font-size: 1.6rem;
        }
      }
      .group-40-T1S {
        border: solid 0.1rem #afafaf;
        border-radius: 0.8rem;
        flex-shrink: 0;
        padding-left: 2.9rem;
        height: 8.5rem;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        width: 100%;

        .enter-your-email-address-BTE {
          line-height: 1.7690001095;
          color: #a5a5a5;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 17.6rem;
          font-size: 1.7rem;
          font-weight: 500;
        }
        .auto-group-ktul-WVW {
          line-height: 1.7690000534;
          font-family: Roboto, 'Source Sans Pro';
          border-radius: 0 0.8rem 0.8rem 0;
          flex-shrink: 0;
          height: 100%;
          font-size: 1.8rem;
          align-items: center;
          background-color: #ecbd27;
          font-weight: 700;
          color: #ffffff;
          display: flex;
          justify-content: center;
          width: 17.3rem;
          white-space: nowrap;
        }
      }
    }
  }
}
