
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.my-profile-ByS {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .auto-group-gvms-jEG {
    width: 100%;
    height: 132.6rem;
    position: relative;
    flex-shrink: 0;

    .auto-group-bx4c-fNp {
      left: 0;
      top: 0;
      display: flex;
      align-items: center;
      width: 132.5rem;
      height: 27.6rem;
      position: absolute;

      .group-1-aEt {
        flex-shrink: 0;
        margin: 0rem 8.647rem 0.44rem 0rem;
        width: 33.9531rem;
        height: 27.1605rem;
        position: relative;

        .untitled-1-2-Vck {
          width: 27.1605rem;
          height: 27.1605rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
          vertical-align: top;
        }
        .cryptofibank-RFW {
          line-height: 1.2575;
          color: #000000;
          font-family: Sansita One, 'Source Sans Pro';
          white-space: nowrap;
          position: absolute;
          top: 10.4642rem;
          font-weight: 400;
          font-size: 2.2rem;
          width: 14.2rem;
          height: 2.8rem;
          left: 19.0531rem;
        }
      }
      .home-J4Q {
        font-weight: 500;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 2rem 3rem 0rem;
        font-size: 2rem;
        flex-shrink: 0;
        line-height: 1.1725;
        text-transform: uppercase;
      }
      .about-us-1Uc {
        text-transform: uppercase;
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 2.2rem 3rem 0rem;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.1725;
        font-family: Roboto, 'Source Sans Pro';
      }
      .auto-group-esqn-XC4 {
        margin: 11.1rem 2rem 0rem 0rem;
        width: 24.5rem;
        flex-shrink: 0;

        .auto-group-7x3s-Fdr {
          margin-bottom: 7.7rem;
          width: 100%;
          display: flex;
          align-items: center;

          .plans-Pzx {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 2.1rem;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.1725;
            color: #000000;
          }
          .game-jJ8 {
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.1725;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 2rem;
          }
          .lottery-sQL {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.1725;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
          }
        }
        .auto-group-ahlc-cMv {
          margin-left: 0.4rem;
          width: 20.4rem;
          height: 6.4rem;
          position: relative;

          .my-profile-xAt {
            left: 0;
            font-weight: 700;
            line-height: 1.7690000534;
            font-family: Roboto, 'Source Sans Pro';
            height: 6.4rem;
            position: absolute;
            font-size: 3.6rem;
            color: #000000;
            white-space: nowrap;
            width: 20.4rem;
            top: 0;
          }
          .line-25-U9E {
            height: 0.2rem;
            position: absolute;
            left: 0.4rem;
            top: 5.2rem;
            background-color: #fbbc04;
            width: 19.5rem;
          }
        }
      }
      .faqs-nQp {
        font-weight: 500;
        line-height: 1.1725;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 2rem 3rem 0rem;
        font-size: 2rem;
      }
      .contact-us-i3a {
        margin: 0rem 5rem 3rem 0rem;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.1725;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .group-2px {
        margin: 0rem 0.8rem 3.4rem 0rem;
        width: 3rem;
        height: 3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .eng-ZK6 {
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 7.5rem 3.4rem 0rem;
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.1725;
      }
      .ellipse-11-tcG {
        width: 6rem;
        height: 6rem;
        border: solid 0.2rem #ffffff;
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
        background-color: #d9d9d9;
        background-position: 0 -1.5rem;
        background-image: url('REPLACE_IMAGE:be205d20703d00cb3a2ca82cd0a3d02320b81482');
        border-radius: 3rem;
        margin-bottom: 3.2rem;
        box-sizing: border-box;
        background-size: 100% 150%;
        flex-shrink: 0;

        .ellipse-11-tcG-bg {
          width: 6rem;
          height: 6rem;
          position: relative;
          background-image: url('REPLACE_IMAGE:be205d20703d00cb3a2ca82cd0a3d02320b81482');
        }
      }
    }
    .line-36-vYx {
      width: 120rem;
      height: 0.1rem;
      position: absolute;
      left: 12rem;
      top: 63.8rem;
      background-color: #a5a5a5;
    }
    .line-37-TYt {
      background-color: #a5a5a5;
      width: 120rem;
      height: 0.1rem;
      position: absolute;
      left: 12rem;
      top: 73.8rem;
    }
    .line-38-bf6 {
      top: 83.8rem;
      background-color: #a5a5a5;
      width: 120rem;
      height: 0.1rem;
      position: absolute;
      left: 12rem;
    }
    .line-39-YKS {
      width: 120rem;
      height: 0.1rem;
      position: absolute;
      left: 12rem;
      top: 93.8rem;
      background-color: #a5a5a5;
    }
    .line-40-664 {
      left: 12rem;
      top: 103.8rem;
      background-color: #a5a5a5;
      width: 120rem;
      height: 0.1rem;
      position: absolute;
    }
    .line-41-q3e {
      position: absolute;
      left: 12rem;
      top: 111.7rem;
      background-color: #a5a5a5;
      width: 120rem;
      height: 0.1rem;
    }
    .auto-group-ujyy-mhz {
      left: 12rem;
      top: 58.2rem;
      display: flex;
      align-items: center;
      width: 119.5rem;
      height: 4.3rem;
      position: absolute;

      .username-hbe {
        line-height: 1.7690000534;
        color: #a5a5a5;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 101.0167rem;
        font-size: 2.4rem;
        font-weight: 500;
      }
      .iconamoon-edit-2tp {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1.513rem 0.218rem 0rem;
        width: 1.7708rem;
        height: 1.6845rem;
      }
      .edit-kpp {
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.7690000534;
        color: #000000;
      }
    }
    .auto-group-hakr-VGc {
      width: 119.5rem;
      height: 4.3rem;
      position: absolute;
      left: 12rem;
      top: 68.2rem;
      display: flex;
      align-items: center;

      .name-cc8 {
        flex-shrink: 0;
        margin-right: 105.6167rem;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.7690000534;
        color: #a5a5a5;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
      .iconamoon-edit-ZGU {
        width: 1.7708rem;
        height: 1.6845rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1.513rem 0.218rem 0rem;
      }
      .edit-HCU {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
      }
    }
    .auto-group-1qwn-E7i {
      height: 4.3rem;
      position: absolute;
      left: 12rem;
      top: 78.2rem;
      display: flex;
      align-items: center;
      width: 119.5rem;

      .email-address-My2 {
        line-height: 1.7690000534;
        color: #a5a5a5;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 96.5167rem;
        font-size: 2.4rem;
        font-weight: 500;
      }
      .iconamoon-edit-hGC {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1.513rem 0.218rem 0rem;
        width: 1.7708rem;
        height: 1.6845rem;
        object-fit: contain;
      }
      .edit-E1E {
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.7690000534;
      }
    }
    .auto-group-iwe8-mWx {
      align-items: center;
      width: 119.5rem;
      height: 4.3rem;
      position: absolute;
      left: 12rem;
      top: 88.2rem;
      display: flex;

      .tether-address-VC4 {
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.7690000534;
        color: #a5a5a5;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 95.6167rem;
      }
      .iconamoon-edit-T2Q {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1.513rem 0.218rem 0rem;
        width: 1.7708rem;
        height: 1.6845rem;
        object-fit: contain;
      }
      .edit-mon {
        flex-shrink: 0;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .auto-group-5cfr-WmN {
      display: flex;
      align-items: center;
      width: 119.5rem;
      height: 4.3rem;
      position: absolute;
      left: 12rem;
      top: 98.2rem;

      .password-Sf2 {
        flex-shrink: 0;
        margin-right: 101.3167rem;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.7690000534;
        color: #a5a5a5;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
      .iconamoon-edit-BMi {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1.513rem 0.218rem 0rem;
        width: 1.7708rem;
        height: 1.6845rem;
        object-fit: contain;
      }
      .edit-Jx8 {
        flex-shrink: 0;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .auto-group-ms4q-Tq2 {
      display: flex;
      align-items: center;
      width: 119.5rem;
      height: 4.3rem;
      position: absolute;
      left: 12rem;
      top: 106.1rem;

      .reference-number-bgL {
        font-weight: 500;
        line-height: 1.7690000534;
        color: #a5a5a5;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 91.9167rem;
        font-size: 2.4rem;
      }
      .iconamoon-edit-Ldv {
        margin: 0rem 1.513rem 0.218rem 0rem;
        width: 1.7708rem;
        height: 1.6845rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .edit-4Zv {
        font-weight: 500;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.4rem;
      }
    }
    .auto-group-c3dj-1VA {
      display: flex;
      align-items: center;
      width: 45.4rem;
      height: 20.1rem;
      position: absolute;
      left: 12.9rem;
      top: 31.8rem;

      .auto-group-jh7e-iPa {
        position: relative;
        flex-shrink: 0;
        margin-right: 5.1rem;
        width: 20rem;
        height: 100%;

        .ellipse-11-rVn {
          border-radius: 10rem;
          position: absolute;
          top: 0;
          border: solid 0.8rem #ffffff;
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
          background-color: #d9d9d9;
          background-size: 100% 150%;
          background-position: 0 -5rem;
          background-image: url('REPLACE_IMAGE:be205d20703d00cb3a2ca82cd0a3d02320b81482');
          width: 20rem;
          height: 20rem;
          left: 0;
          box-sizing: border-box;

          .ellipse-11-rVn-bg {
            width: 20rem;
            height: 20rem;
            position: relative;
            background-image: url('REPLACE_IMAGE:be205d20703d00cb3a2ca82cd0a3d02320b81482');
          }
        }
        .ellipse-12-HLC {
          background-color: rgba(0, 0, 0, 0.4900000095);
          border-radius: 10rem;
          width: 20rem;
          height: 20rem;
          position: absolute;
          left: 0;
          top: 0.1rem;
        }
        .ion-camera-p5E {
          vertical-align: top;
          width: 4.3824rem;
          height: 3.4469rem;
          position: absolute;
          left: 7.8142rem;
          top: 6.7819rem;
          object-fit: contain;
        }
        .change-image-XkL {
          left: 4.8rem;
          font-weight: 400;
          white-space: nowrap;
          width: 10.3rem;
          height: 2.9rem;
          font-size: 1.6rem;
          line-height: 1.7690000534;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          position: absolute;
          top: 10.6rem;
        }
      }
      .auto-group-qdx6-qFE {
        margin: 5.2rem 0rem 4.7rem 0rem;
        height: calc(100% - 9.9rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .sara-taylor-xak {
          font-weight: 700;
          line-height: 1.7690000534;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0rem 0.2rem 0.1rem;
          font-size: 3.2rem;
        }
        .reference-number-gme {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.7690000534;
          color: #a5a5a5;
          font-family: Roboto, 'Source Sans Pro';
        }
      }
    }
    .frame-6-2Ki {
      width: 20.7rem;
      font-weight: 800;
      color: #ffffff;
      white-space: nowrap;
      left: 61.7rem;
      top: 118.9rem;
      justify-content: center;
      background-color: #fbbc04;
      font-size: 2.4rem;
      line-height: 1.1725;
      font-family: Roboto, 'Source Sans Pro';
      display: flex;
      align-items: center;
      height: 6.8rem;
      position: absolute;
      border-radius: 0.5rem;
    }
  }
  .auto-group-n34c-hwe {
    flex-shrink: 0;
    width: 100%;
    height: 63.2rem;
    position: relative;

    .rectangle-32-daQ {
      position: absolute;
      left: 0;
      top: 11.5rem;
      background-color: rgba(236, 189, 39, 0.3000000119);
      width: 144rem;
      height: 51.7rem;
    }
    .group-20-A4Y {
      height: 23.5rem;
      position: absolute;
      left: 74.1rem;
      top: 31.3rem;
      width: 9.7rem;

      .company-Ub2 {
        line-height: 1.7689999667;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 2.8rem;
        font-size: 2.2rem;
        font-weight: 600;
      }
      .about-us-cx8 {
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.8rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
      }
      .contact-us-mKE {
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.8rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
      }
      .career-Ja4 {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.8rem;
      }
      .lottery-SwA {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .group-37-CQY {
      width: 9.7rem;
      height: 14.7rem;
      position: absolute;
      left: 92.9rem;
      top: 31.3rem;

      .support-w7E {
        margin-bottom: 2.8rem;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.7689999667;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
      .faqs-5jE {
        margin-bottom: 0.8rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
      .contact-us-dVr {
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 2rem;
        font-weight: 400;
      }
    }
    .group-19-ypc {
      top: 31.3rem;
      width: 15rem;
      height: 23.5rem;
      position: absolute;
      left: 51.4rem;

      .quick-links-Kda {
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 2.8rem;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.7689999667;
        color: #000000;
      }
      .terms-of-service-56x {
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.8rem;
        font-size: 2rem;
        font-weight: 400;
      }
      .privacy-policy-DDA {
        margin-bottom: 0.8rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
      .plans-kTz {
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.8rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
      }
      .games-u5z {
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
      }
    }
    .group-38-3xt {
      left: 111.7rem;
      top: 31.3rem;
      width: 19.8rem;
      height: 9.1rem;
      position: absolute;

      .connect-with-us--C56 {
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 0.5rem 0.4rem;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.7689999667;
      }
      .group-22-i3S {
        align-items: center;
        box-sizing: border-box;
        padding: 0.392rem 0.35rem 0.4rem 0.392rem;
        width: 100%;
        display: flex;

        .ic-baseline-facebook-q84 {
          width: 3.9167rem;
          height: 3.9069rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.292rem 0.001rem 0rem;
        }
        .formkit-twitter-kF2 {
          margin: 0.008rem 1.258rem 0rem 0rem;
          width: 3.9rem;
          height: 3.9rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .ri-instagram-fill-s4k {
          height: 3.5834rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.008rem 1.608rem 0rem 0rem;
          width: 3.5835rem;
        }
        .ri-whatsapp-fill-NGQ {
          margin-top: 0.0083rem;
          width: 3.5rem;
          height: 3.5rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .group-36-HuA {
      height: 22rem;
      position: absolute;
      left: 6rem;
      top: 23.1rem;
      width: 30.2rem;

      .untitled-1-2-RVa {
        top: 0;
        object-fit: cover;
        vertical-align: top;
        width: 22rem;
        height: 22rem;
        position: absolute;
        left: 0;
      }
      .cryptofibank-knk {
        font-weight: 400;
        font-family: Sansita One, 'Source Sans Pro';
        white-space: nowrap;
        width: 14.2rem;
        position: absolute;
        left: 16rem;
        line-height: 1.2575;
        color: #000000;
        height: 2.8rem;
        top: 8.8rem;
        font-size: 2.2rem;
      }
    }
    .cryptofibank-a-trusted-name-in-the-world-of-financial-opportunity-provides-a-secure-platform-for-investing-in-forex-cryptocurrencies-slot-games-and-lotteries-SvU {
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      width: 27.5rem;
      position: absolute;
      left: 12rem;
      top: 40.4rem;
      font-size: 1.6rem;
      font-weight: 400;
      height: 14.2rem;
      line-height: 1.7690000534;
    }
    .rectangle-34-4wr {
      height: 3.7rem;
      position: absolute;
      left: 0;
      top: 59.5rem;
      background-color: #ecbd27;
      width: 144rem;
    }
    .group-39-oeY {
      width: 26.7rem;
      height: 2.9rem;
      position: absolute;
      left: 58.2rem;
      top: 59.9rem;

      .copyright-2023-all-rights-reserved-k3z {
        white-space: nowrap;
        width: 26.7rem;
        font-size: 1.6rem;
        line-height: 1.7690000534;
        top: 0;
        font-weight: 600;
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
        height: 2.9rem;
        position: absolute;
        left: 0;
      }
      .ic-outline-copyright-3Yt {
        vertical-align: top;
        width: 1.6667rem;
        height: 1.6667rem;
        position: absolute;
        left: 7.3667rem;
        top: 0.5667rem;
        object-fit: contain;
      }
    }
    .group-42-xvk {
      padding: 1.3rem 31.2rem 3.2rem 31.2rem;
      position: absolute;
      left: 12rem;
      box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      width: 119.5rem;
      height: 23rem;
      top: 0;
      align-items: center;
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      border-radius: 1rem;

      .auto-group-wwbw-GgY {
        height: 8.2rem;
        position: relative;
        flex-shrink: 0;
        margin: 0rem 10.6rem 1.8rem 9.4rem;
        width: calc(100% - 20rem);

        .subscribe-to-news-oAg {
          top: 0;
          font-size: 3.2rem;
          line-height: 1.7690000534;
          white-space: nowrap;
          width: 31.6rem;
          position: absolute;
          left: 2.9rem;
          font-family: Roboto, 'Source Sans Pro';
          height: 5.7rem;
          font-weight: 700;
          color: #ecbd27;
        }
        .get-the-latest-insights-subscribe-to-our-newsletter-6vU {
          left: 0;
          top: 5.3rem;
          font-size: 1.6rem;
          font-family: Roboto, 'Source Sans Pro';
          height: 2.9rem;
          position: absolute;
          line-height: 1.7690000534;
          color: #000000;
          white-space: nowrap;
          width: 37.1rem;
          font-weight: 500;
        }
      }
      .group-40-Bwv {
        align-items: center;
        border: solid 0.1rem #afafaf;
        border-radius: 0.8rem;
        box-sizing: border-box;
        padding-left: 2.9rem;
        height: 8.5rem;
        width: 100%;
        display: flex;
        flex-shrink: 0;

        .enter-your-email-address-vec {
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 17.6rem;
          font-size: 1.7rem;
          font-weight: 500;
          line-height: 1.7690001095;
          color: #a5a5a5;
        }
        .auto-group-pqxn-TPe {
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          display: flex;
          background-color: #ecbd27;
          font-size: 1.8rem;
          font-weight: 700;
          white-space: nowrap;
          border-radius: 0 0.8rem 0.8rem 0;
          width: 17.3rem;
          line-height: 1.7690000534;
          flex-shrink: 0;
          height: 100%;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
