
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.my-tickets-3Ag {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .auto-group-mie4-kat {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding-bottom: 12rem;

    .auto-group-5egp-5dA {
      margin: 0rem 12.2rem 4.3rem 0rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .group-1-PNx {
        margin: 0rem 8.647rem 0.44rem 0rem;
        width: 33.9531rem;
        height: 27.1605rem;
        position: relative;
        flex-shrink: 0;

        .untitled-1-2-JF2 {
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 27.1605rem;
          height: 27.1605rem;
        }
        .cryptofibank-E8g {
          width: 14.2rem;
          left: 19.0531rem;
          top: 10.4642rem;
          line-height: 1.2575;
          color: #000000;
          white-space: nowrap;
          height: 2.8rem;
          position: absolute;
          font-size: 2.2rem;
          font-weight: 400;
          font-family: Sansita One, 'Source Sans Pro';
        }
      }
      .home-7CU {
        font-size: 2rem;
        font-weight: 500;
        text-transform: uppercase;
        font-family: Roboto, 'Source Sans Pro';
        margin: 0rem 2rem 3rem 0rem;
        line-height: 1.1725;
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .about-us-QSU {
        font-weight: 500;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 2.2rem 3rem 0rem;
        font-size: 2rem;
        line-height: 1.1725;
        text-transform: uppercase;
        flex-shrink: 0;
      }
      .auto-group-tp28-iCG {
        margin: 11.1rem 2rem 0rem 0rem;
        width: 24.5rem;
        flex-shrink: 0;

        .auto-group-e6sl-Stx {
          display: flex;
          align-items: center;
          margin-bottom: 7.7rem;
          width: 100%;

          .plans-z9n {
            margin-right: 2.1rem;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.1725;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .game-7VJ {
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.1725;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 2rem;
          }
          .lottery-TJG {
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.1725;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .auto-group-de2k-Bk4 {
          height: 6.4rem;
          position: relative;
          margin-left: 0.4rem;
          width: 20.7rem;

          .my-tickets-uvx {
            color: #000000;
            width: 20.7rem;
            height: 6.4rem;
            font-weight: 700;
            line-height: 1.7690000534;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            position: absolute;
            left: 0;
            top: 0;
            font-size: 3.6rem;
          }
          .line-25-ECY {
            background-color: #fbbc04;
            width: 19.5rem;
            height: 0.2rem;
            position: absolute;
            left: 0.4rem;
            top: 5.2rem;
          }
        }
      }
      .faqs-x8Y {
        line-height: 1.1725;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 2rem 3rem 0rem;
        font-size: 2rem;
        font-weight: 500;
      }
      .contact-us-4SU {
        line-height: 1.1725;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 5rem 3rem 0rem;
        font-size: 2rem;
        font-weight: 500;
      }
      .group-ypL {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.8rem 3.4rem 0rem;
        width: 3rem;
        height: 3rem;
        object-fit: contain;
      }
      .eng-uhz {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 7.5rem 3.4rem 0rem;
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.1725;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
      }
      .ellipse-11-SC8 {
        width: 6rem;
        box-sizing: border-box;
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
        background-position: 0 -1.5rem;
        border-radius: 3rem;
        margin-bottom: 3.2rem;
        height: 6rem;
        border: solid 0.2rem #ffffff;
        background-color: #d9d9d9;
        background-size: 100% 150%;
        background-image: url('REPLACE_IMAGE:be205d20703d00cb3a2ca82cd0a3d02320b81482');
        flex-shrink: 0;

        .ellipse-11-SC8-bg {
          background-image: url('REPLACE_IMAGE:be205d20703d00cb3a2ca82cd0a3d02320b81482');
          width: 6rem;
          height: 6rem;
          position: relative;
        }
      }
    }
    .group-134-e3J {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 47.7rem 8.2rem 47.8rem;
      width: calc(100% - 95.5rem);
      height: 20.2rem;

      .group-132-wYC {
        box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        box-sizing: border-box;
        padding-bottom: 3.3rem;
        width: 21.9rem;
        height: 100%;
        align-items: center;
        margin-right: 4.7rem;
        display: flex;
        flex-direction: column;
        border-radius: 0.5rem;
        flex-shrink: 0;

        .auto-group-viwt-rfA {
          width: 100%;
          font-size: 2.2rem;
          font-weight: 700;
          line-height: 1.7689999667;
          color: #ffffff;
          display: flex;
          height: 5.8rem;
          align-items: center;
          box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.25);
          margin-bottom: 2.6rem;
          white-space: nowrap;
          background-color: #fbbc04;
          border-radius: 0.5rem 0.5rem 0 0;
          font-family: Roboto, 'Source Sans Pro';
          justify-content: center;
          flex-shrink: 0;
        }
        .item-100-uNY {
          flex-shrink: 0;
          font-size: 4.8rem;
          font-weight: 700;
          line-height: 1.7690000534;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .group-133-oip {
        background-color: #ffffff;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-bottom: 3.3rem;
        height: 100%;
        display: flex;
        box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.25);
        width: 21.9rem;
        align-items: center;
        flex-direction: column;
        border-radius: 0.5rem;

        .auto-group-2ppp-j6g {
          justify-content: center;
          line-height: 1.7689999667;
          display: flex;
          align-items: center;
          background-color: #fbbc04;
          border-radius: 0.5rem 0.5rem 0 0;
          flex-shrink: 0;
          width: 100%;
          font-weight: 700;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.25);
          margin-bottom: 2.6rem;
          font-size: 2.2rem;
          height: 5.8rem;
          white-space: nowrap;
        }
        .item-150-zYQ {
          flex-shrink: 0;
          margin-right: 0.2rem;
          font-size: 4.8rem;
          font-weight: 700;
          line-height: 1.7690000534;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .auto-group-8c7z-HnQ {
      margin: 0rem 18.2rem 0.4rem 15.2rem;
      width: calc(100% - 33.4rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .ticket-number-1Cc {
        color: #a5a5a5;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 15.5rem;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.7690000534;
      }
      .purchased-date-time-jPW {
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 15.2rem;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.7690000534;
        color: #a5a5a5;
      }
      .amount-paid-4Rn {
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 15.8rem;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.7690000534;
        color: #a5a5a5;
      }
      .quantity-zqE {
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.7690000534;
        color: #a5a5a5;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .auto-group-gmkw-jXv {
      border-right: solid 0.1rem #a5a5a5;
      box-sizing: border-box;
      flex-shrink: 0;
      margin: 0rem 12.4rem 0rem 12rem;
      width: calc(100% - 24.4rem);
      height: 33.3rem;

      .auto-group-c2pr-eun {
        border-left: solid 0.1rem #a5a5a5;
        box-sizing: border-box;
        width: 119.5rem;
        height: 100%;
        position: relative;

        .line-42-Nqn {
          left: 0;
          top: 0.1rem;
          background-color: #a5a5a5;
          width: 119.5rem;
          height: 0.1rem;
          position: absolute;
        }
        .line-43-7YU {
          position: absolute;
          left: 0;
          top: 8.4rem;
          background-color: #a5a5a5;
          width: 119.5rem;
          height: 0.1rem;
        }
        .line-44-Sqe {
          width: 119.5rem;
          height: 0.1rem;
          position: absolute;
          left: 0;
          top: 16.7rem;
          background-color: #a5a5a5;
        }
        .line-45-z6U {
          width: 119.5rem;
          height: 0.1rem;
          position: absolute;
          left: 0;
          top: 25rem;
          background-color: #a5a5a5;
        }
        .item-123456789-8Cg {
          color: #000000;
          position: absolute;
          top: 1.9rem;
          font-size: 2.8rem;
          font-weight: 400;
          line-height: 1.7690000534;
          width: 14.2rem;
          height: 5rem;
          left: 3.8rem;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
        .pm-1XN {
          width: 26.8rem;
          font-weight: 400;
          color: #000000;
          font-size: 2.8rem;
          line-height: 1.7690000534;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          height: 5rem;
          position: absolute;
          left: 34.3rem;
          top: 1.9rem;
        }
        .item-1-use {
          position: absolute;
          top: 1.9rem;
          font-size: 2.8rem;
          font-weight: 400;
          line-height: 1.7690000534;
          color: #000000;
          white-space: nowrap;
          width: 3.2rem;
          height: 5rem;
          left: 80.8rem;
          font-family: Roboto, 'Source Sans Pro';
        }
        .item-01-R5J {
          height: 5rem;
          font-weight: 400;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          width: 3.2rem;
          position: absolute;
          left: 107.7rem;
          top: 1.9rem;
          font-size: 2.8rem;
          line-height: 1.7690000534;
        }
        .item-01-LCG {
          font-family: Roboto, 'Source Sans Pro';
          width: 3.2rem;
          height: 5rem;
          top: 10rem;
          font-size: 2.8rem;
          color: #000000;
          position: absolute;
          left: 107.7rem;
          font-weight: 400;
          line-height: 1.7690000534;
          white-space: nowrap;
        }
        .item-01-eye {
          width: 3.2rem;
          position: absolute;
          left: 107.7rem;
          top: 18.1rem;
          font-family: Roboto, 'Source Sans Pro';
          height: 5rem;
          font-size: 2.8rem;
          font-weight: 400;
          line-height: 1.7690000534;
          color: #000000;
          white-space: nowrap;
        }
        .item-01-Ah6 {
          font-weight: 400;
          color: #000000;
          white-space: nowrap;
          left: 107.7rem;
          top: 26.2rem;
          font-size: 2.8rem;
          line-height: 1.7690000534;
          font-family: Roboto, 'Source Sans Pro';
          width: 3.2rem;
          height: 5rem;
          position: absolute;
        }
        .item-1-USt {
          font-size: 2.8rem;
          font-weight: 400;
          height: 5rem;
          left: 80.8rem;
          top: 10rem;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          width: 3.2rem;
          position: absolute;
          line-height: 1.7690000534;
        }
        .item-1-aF2 {
          top: 18.1rem;
          line-height: 1.7690000534;
          font-family: Roboto, 'Source Sans Pro';
          width: 3.2rem;
          height: 5rem;
          position: absolute;
          left: 80.8rem;
          font-size: 2.8rem;
          font-weight: 400;
          color: #000000;
          white-space: nowrap;
        }
        .item-1-VMz {
          font-family: Roboto, 'Source Sans Pro';
          height: 5rem;
          top: 26.2rem;
          font-weight: 400;
          line-height: 1.7690000534;
          color: #000000;
          width: 3.2rem;
          position: absolute;
          left: 80.8rem;
          font-size: 2.8rem;
          white-space: nowrap;
        }
        .pm-cBi {
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          left: 34.3rem;
          top: 10rem;
          position: absolute;
          font-size: 2.8rem;
          font-weight: 400;
          line-height: 1.7690000534;
          color: #000000;
          width: 26.8rem;
          height: 5rem;
        }
        .pm-viC {
          height: 5rem;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          font-weight: 400;
          line-height: 1.7690000534;
          width: 26.8rem;
          position: absolute;
          left: 34.3rem;
          top: 18.5rem;
          font-size: 2.8rem;
        }
        .pm-eeC {
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          width: 26.8rem;
          height: 5rem;
          left: 34.3rem;
          top: 26.8rem;
          line-height: 1.7690000534;
          position: absolute;
          font-size: 2.8rem;
          font-weight: 400;
          color: #000000;
        }
        .item-123456789-MHi {
          left: 3.8rem;
          font-size: 2.8rem;
          font-weight: 400;
          line-height: 1.7690000534;
          color: #000000;
          white-space: nowrap;
          width: 14.2rem;
          height: 5rem;
          position: absolute;
          top: 10rem;
          font-family: Roboto, 'Source Sans Pro';
        }
        .item-123456789-TLk {
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          position: absolute;
          left: 3.8rem;
          font-weight: 400;
          line-height: 1.7690000534;
          color: #000000;
          width: 14.2rem;
          height: 5rem;
          top: 18.2rem;
          font-size: 2.8rem;
        }
        .item-123456789-xHW {
          width: 14.2rem;
          position: absolute;
          top: 26.4rem;
          font-size: 2.8rem;
          height: 5rem;
          left: 3.8rem;
          font-weight: 400;
          line-height: 1.7690000534;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .line-46-RB6 {
      height: 0.1rem;
      background-color: #a5a5a5;
      flex-shrink: 0;
      margin: 0rem 12.5rem 0rem 12rem;
      width: calc(100% - 24.5rem);
    }
  }
  .auto-group-wk9z-8rC {
    width: 100%;
    height: 63.2rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-32-sHz {
      width: 144rem;
      height: 51.7rem;
      position: absolute;
      left: 0;
      top: 11.5rem;
      background-color: rgba(236, 189, 39, 0.3000000119);
    }
    .group-20-zdW {
      top: 31.3rem;
      width: 9.7rem;
      height: 23.5rem;
      position: absolute;
      left: 74.1rem;

      .company-Wrk {
        margin-bottom: 2.8rem;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.7689999667;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
      .about-us-rQp {
        margin-bottom: 0.8rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
      .contact-us-BT6 {
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.8rem;
        font-size: 2rem;
        font-weight: 400;
      }
      .career-X1A {
        margin-bottom: 0.8rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
      .lottery-4Wt {
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 2rem;
        font-weight: 400;
      }
    }
    .group-37-Cd6 {
      width: 9.7rem;
      height: 14.7rem;
      position: absolute;
      left: 92.9rem;
      top: 31.3rem;

      .support-XvG {
        font-weight: 600;
        line-height: 1.7689999667;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 2.8rem;
        font-size: 2.2rem;
      }
      .faqs-UKi {
        white-space: nowrap;
        margin-bottom: 0.8rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
      }
      .contact-us-REx {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .group-19-YaU {
      top: 31.3rem;
      width: 15rem;
      height: 23.5rem;
      position: absolute;
      left: 51.4rem;

      .quick-links-ff6 {
        line-height: 1.7689999667;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 2.8rem;
        font-size: 2.2rem;
        font-weight: 600;
      }
      .terms-of-service-oWQ {
        margin-bottom: 0.8rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
      .privacy-policy-w6p {
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.8rem;
        font-size: 2rem;
      }
      .plans-sFN {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.8rem;
      }
      .games-16g {
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
      }
    }
    .group-38-MAY {
      width: 19.8rem;
      height: 9.1rem;
      position: absolute;
      left: 111.7rem;
      top: 31.3rem;

      .connect-with-us--sPn {
        white-space: nowrap;
        margin: 0rem 0rem 0.5rem 0.4rem;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.7689999667;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
      }
      .group-22-Pd2 {
        width: 100%;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: 0.392rem 0.35rem 0.4rem 0.392rem;

        .ic-baseline-facebook-vN4 {
          width: 3.9167rem;
          height: 3.9069rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.292rem 0.001rem 0rem;
        }
        .formkit-twitter-dnG {
          margin: 0.008rem 1.258rem 0rem 0rem;
          width: 3.9rem;
          height: 3.9rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .ri-instagram-fill-YeL {
          flex-shrink: 0;
          margin: 0.008rem 1.608rem 0rem 0rem;
          width: 3.5835rem;
          height: 3.5834rem;
          object-fit: contain;
          vertical-align: top;
        }
        .ri-whatsapp-fill-fDA {
          flex-shrink: 0;
          margin-top: 0.0083rem;
          width: 3.5rem;
          height: 3.5rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
    .group-36-BxC {
      left: 6rem;
      top: 23.1rem;
      width: 30.2rem;
      height: 22rem;
      position: absolute;

      .untitled-1-2-XFN {
        height: 22rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        width: 22rem;
      }
      .cryptofibank-GCx {
        width: 14.2rem;
        height: 2.8rem;
        position: absolute;
        top: 8.8rem;
        font-weight: 400;
        white-space: nowrap;
        left: 16rem;
        font-size: 2.2rem;
        line-height: 1.2575;
        color: #000000;
        font-family: Sansita One, 'Source Sans Pro';
      }
    }
    .cryptofibank-a-trusted-name-in-the-world-of-financial-opportunity-provides-a-secure-platform-for-investing-in-forex-cryptocurrencies-slot-games-and-lotteries-xrU {
      position: absolute;
      left: 12rem;
      font-size: 1.6rem;
      font-weight: 400;
      font-family: Roboto, 'Source Sans Pro';
      width: 27.5rem;
      top: 40.4rem;
      line-height: 1.7690000534;
      color: #000000;
      height: 14.2rem;
    }
    .rectangle-34-zoA {
      top: 59.5rem;
      background-color: #ecbd27;
      width: 144rem;
      height: 3.7rem;
      position: absolute;
      left: 0;
    }
    .group-39-8eU {
      width: 26.7rem;
      height: 2.9rem;
      position: absolute;
      left: 58.2rem;
      top: 59.9rem;

      .copyright-2023-all-rights-reserved-sc4 {
        width: 26.7rem;
        left: 0;
        font-size: 1.6rem;
        color: #ffffff;
        white-space: nowrap;
        height: 2.9rem;
        position: absolute;
        top: 0;
        font-weight: 600;
        line-height: 1.7690000534;
        font-family: Roboto, 'Source Sans Pro';
      }
      .ic-outline-copyright-b2G {
        position: absolute;
        left: 7.3667rem;
        top: 0.5667rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.6667rem;
        height: 1.6667rem;
      }
    }
    .group-42-WQ8 {
      width: 119.5rem;
      position: absolute;
      left: 12rem;
      top: 0;
      display: flex;
      background-color: #ffffff;
      box-sizing: border-box;
      padding: 1.3rem 31.2rem 3.2rem 31.2rem;
      flex-direction: column;
      box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.25);
      border-radius: 1rem;
      height: 23rem;
      align-items: center;

      .auto-group-qtkp-ncY {
        margin: 0rem 10.6rem 1.8rem 9.4rem;
        width: calc(100% - 20rem);
        height: 8.2rem;
        position: relative;
        flex-shrink: 0;

        .subscribe-to-news-6t8 {
          width: 31.6rem;
          height: 5.7rem;
          position: absolute;
          top: 0;
          font-size: 3.2rem;
          font-weight: 700;
          color: #ecbd27;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          left: 2.9rem;
          line-height: 1.7690000534;
        }
        .get-the-latest-insights-subscribe-to-our-newsletter-1VJ {
          height: 2.9rem;
          position: absolute;
          line-height: 1.7690000534;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          width: 37.1rem;
          left: 0;
          top: 5.3rem;
          font-size: 1.6rem;
          font-weight: 500;
        }
      }
      .group-40-HSp {
        box-sizing: border-box;
        padding-left: 2.9rem;
        height: 8.5rem;
        align-items: center;
        border: solid 0.1rem #afafaf;
        width: 100%;
        display: flex;
        border-radius: 0.8rem;
        flex-shrink: 0;

        .enter-your-email-address-Rov {
          color: #a5a5a5;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 17.6rem;
          font-size: 1.7rem;
          font-weight: 500;
          line-height: 1.7690001095;
        }
        .auto-group-jpxu-Z9S {
          width: 17.3rem;
          font-weight: 700;
          align-items: center;
          justify-content: center;
          border-radius: 0 0.8rem 0.8rem 0;
          flex-shrink: 0;
          height: 100%;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 1.8rem;
          line-height: 1.7690000534;
          display: flex;
          background-color: #ecbd27;
        }
      }
    }
  }
}
