
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.my-wallet-LAt {
  width: 100%;
  height: 181.9rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .line-50-BBW {
    left: 41.9rem;
    top: 24.3rem;
    background-color: #a5a5a5;
    width: 0.1rem;
    height: 95.7rem;
    position: absolute;
  }
  .rectangle-32-6ZN {
    left: 0;
    top: 130.2rem;
    background-color: rgba(236, 189, 39, 0.3000000119);
    width: 144rem;
    height: 51.7rem;
    position: absolute;
  }
  .group-20-d3W {
    width: 9.7rem;
    height: 23.5rem;
    position: absolute;
    left: 74.1rem;
    top: 150rem;

    .company-91r {
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 2.8rem;
      font-size: 2.2rem;
      font-weight: 600;
      line-height: 1.7689999667;
    }
    .about-us-TYL {
      margin-bottom: 0.8rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.7690000534;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
    }
    .contact-us-144 {
      white-space: nowrap;
      margin-bottom: 0.8rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.7690000534;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
    }
    .career-YJt {
      white-space: nowrap;
      margin-bottom: 0.8rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.7690000534;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
    }
    .lottery-fuJ {
      font-weight: 400;
      line-height: 1.7690000534;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 2rem;
    }
  }
  .group-37-cpY {
    width: 9.7rem;
    height: 14.7rem;
    position: absolute;
    left: 92.9rem;
    top: 150rem;

    .support-YTJ {
      font-size: 2.2rem;
      font-weight: 600;
      line-height: 1.7689999667;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 2.8rem;
    }
    .faqs-HQt {
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 0.8rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.7690000534;
      color: #000000;
    }
    .contact-us-dUk {
      white-space: nowrap;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.7690000534;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
    }
  }
  .group-19-y2p {
    top: 150rem;
    width: 15rem;
    height: 23.5rem;
    position: absolute;
    left: 51.4rem;

    .quick-links-hDi {
      margin-bottom: 2.8rem;
      font-size: 2.2rem;
      font-weight: 600;
      line-height: 1.7689999667;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
    }
    .terms-of-service-pJL {
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 0.8rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.7690000534;
    }
    .privacy-policy-MZA {
      font-weight: 400;
      line-height: 1.7690000534;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 0.8rem;
      font-size: 2rem;
    }
    .plans-h7E {
      white-space: nowrap;
      margin-bottom: 0.8rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.7690000534;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
    }
    .games-qjE {
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.7690000534;
      color: #000000;
    }
  }
  .group-38-bTW {
    height: 9.1rem;
    position: absolute;
    left: 111.7rem;
    top: 150rem;
    width: 19.8rem;

    .connect-with-us--wXN {
      white-space: nowrap;
      margin: 0rem 0rem 0.5rem 0.4rem;
      font-size: 2.2rem;
      font-weight: 600;
      line-height: 1.7689999667;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
    }
    .group-22-fTN {
      box-sizing: border-box;
      padding: 0.392rem 0.35rem 0.4rem 0.392rem;
      width: 100%;
      display: flex;
      align-items: center;

      .ic-baseline-facebook-nXz {
        height: 3.9069rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1.292rem 0.001rem 0rem;
        width: 3.9167rem;
      }
      .formkit-twitter-gtG {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.008rem 1.258rem 0rem 0rem;
        width: 3.9rem;
        height: 3.9rem;
        object-fit: contain;
      }
      .ri-instagram-fill-D7W {
        margin: 0.008rem 1.608rem 0rem 0rem;
        width: 3.5835rem;
        height: 3.5834rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .ri-whatsapp-fill-Lhv {
        margin-top: 0.0083rem;
        width: 3.5rem;
        height: 3.5rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .group-36-4dv {
    width: 30.2rem;
    height: 22rem;
    position: absolute;
    left: 6rem;
    top: 141.8rem;

    .untitled-1-2-o5i {
      left: 0;
      top: 0;
      object-fit: cover;
      vertical-align: top;
      width: 22rem;
      height: 22rem;
      position: absolute;
    }
    .cryptofibank-8Nt {
      width: 14.2rem;
      color: #000000;
      font-family: Sansita One, 'Source Sans Pro';
      height: 2.8rem;
      position: absolute;
      left: 16rem;
      top: 8.8rem;
      font-size: 2.2rem;
      font-weight: 400;
      line-height: 1.2575;
      white-space: nowrap;
    }
  }
  .cryptofibank-a-trusted-name-in-the-world-of-financial-opportunity-provides-a-secure-platform-for-investing-in-forex-cryptocurrencies-slot-games-and-lotteries-2jA {
    color: #000000;
    font-family: Roboto, 'Source Sans Pro';
    width: 27.5rem;
    height: 14.2rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.7690000534;
    position: absolute;
    left: 12rem;
    top: 159.1rem;
  }
  .rectangle-34-5Be {
    height: 3.7rem;
    position: absolute;
    left: 0;
    top: 178.2rem;
    background-color: #ecbd27;
    width: 144rem;
  }
  .group-39-p9E {
    height: 2.9rem;
    position: absolute;
    left: 58.2rem;
    top: 178.6rem;
    width: 26.7rem;

    .copyright-2023-all-rights-reserved-9xC {
      white-space: nowrap;
      width: 26.7rem;
      height: 2.9rem;
      position: absolute;
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 1.7690000534;
      left: 0;
      top: 0;
      color: #ffffff;
      font-family: Roboto, 'Source Sans Pro';
    }
    .ic-outline-copyright-rrc {
      height: 1.6667rem;
      position: absolute;
      left: 7.3667rem;
      top: 0.5667rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.6667rem;
    }
  }
  .group-42-PrY {
    display: flex;
    box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    box-sizing: border-box;
    width: 119.5rem;
    height: 23rem;
    position: absolute;
    align-items: center;
    border-radius: 1rem;
    padding: 1.3rem 31.2rem 3.2rem 31.2rem;
    left: 12rem;
    top: 118.7rem;
    flex-direction: column;

    .auto-group-qmma-tYQ {
      width: calc(100% - 20rem);
      height: 8.2rem;
      position: relative;
      flex-shrink: 0;
      margin: 0rem 10.6rem 1.8rem 9.4rem;

      .subscribe-to-news-cjJ {
        left: 2.9rem;
        top: 0;
        font-weight: 700;
        line-height: 1.7690000534;
        color: #ecbd27;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        width: 31.6rem;
        height: 5.7rem;
        position: absolute;
        font-size: 3.2rem;
      }
      .get-the-latest-insights-subscribe-to-our-newsletter-vEC {
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        height: 2.9rem;
        left: 0;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1.7690000534;
        width: 37.1rem;
        position: absolute;
        top: 5.3rem;
      }
    }
    .group-40-CxQ {
      width: 100%;
      height: 8.5rem;
      align-items: center;
      box-sizing: border-box;
      display: flex;
      border: solid 0.1rem #afafaf;
      border-radius: 0.8rem;
      flex-shrink: 0;
      padding-left: 2.9rem;

      .enter-your-email-address-YmN {
        margin-right: 17.6rem;
        font-size: 1.7rem;
        font-weight: 500;
        line-height: 1.7690001095;
        color: #a5a5a5;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .auto-group-gfgl-4ji {
        font-weight: 700;
        flex-shrink: 0;
        height: 100%;
        font-family: Roboto, 'Source Sans Pro';
        align-items: center;
        color: #ffffff;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        background-color: #ecbd27;
        width: 17.3rem;
        line-height: 1.7690000534;
        border-radius: 0 0.8rem 0.8rem 0;
        font-size: 1.8rem;
      }
    }
  }
  .about-us-rvU {
    white-space: nowrap;
    width: 9.5rem;
    height: 2.4rem;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.1725;
    color: #000000;
    font-family: Roboto, 'Source Sans Pro';
    position: absolute;
    left: 49.6rem;
    top: 10.7rem;
    font-size: 2rem;
  }
  .home-a5n {
    top: 10.7rem;
    font-family: Roboto, 'Source Sans Pro';
    position: absolute;
    left: 41.9rem;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1725;
    text-transform: uppercase;
    color: #000000;
    white-space: nowrap;
    width: 5.7rem;
    height: 2.4rem;
  }
  .tether-usdt-erc-20-5YL {
    left: 12.2rem;
    font-weight: 500;
    white-space: nowrap;
    width: 20.2rem;
    height: 2.6rem;
    position: absolute;
    top: 66.5rem;
    font-size: 2.2rem;
    line-height: 1.1725;
    color: #a5a5a5;
    font-family: Roboto, 'Source Sans Pro';
  }
  .add-payment-method-C7A {
    top: 83rem;
    color: #000000;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    height: 2.6rem;
    position: absolute;
    left: 12.2rem;
    line-height: 1.1725;
    width: 21.3rem;
    font-size: 2.2rem;
    font-weight: 500;
  }
  .all-transaction-history-WNk {
    position: absolute;
    left: 45.6rem;
    font-size: 2.6rem;
    line-height: 1.1725;
    white-space: nowrap;
    width: 26.6rem;
    top: 47.9rem;
    font-weight: 500;
    color: #000000;
    font-family: Roboto, 'Source Sans Pro';
    height: 3.1rem;
  }
  .withdraw-amount-ose {
    position: absolute;
    top: 39.9rem;
    color: #a5a5a5;
    font-family: Roboto, 'Source Sans Pro';
    line-height: 1.1725;
    white-space: nowrap;
    width: 16rem;
    height: 2.4rem;
    left: 12rem;
    font-size: 2rem;
    font-weight: 500;
  }
  .bonus-account-vBa {
    position: absolute;
    top: 50rem;
    font-size: 2rem;
    font-weight: 500;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    width: 13.7rem;
    height: 2.4rem;
    color: #a5a5a5;
    left: 12rem;
    line-height: 1.1725;
  }
  .plans-SQp {
    line-height: 1.1725;
    color: #000000;
    font-family: Roboto, 'Source Sans Pro';
    width: 6.4rem;
    height: 2.4rem;
    position: absolute;
    top: 10.7rem;
    left: 61.3rem;
    font-size: 2rem;
    font-weight: 500;
    white-space: nowrap;
  }
  .game-kwJ {
    width: 5.6rem;
    line-height: 1.1725;
    font-family: Roboto, 'Source Sans Pro';
    font-size: 2rem;
    font-weight: 500;
    color: #000000;
    white-space: nowrap;
    height: 2.4rem;
    position: absolute;
    left: 69.8rem;
    top: 10.7rem;
  }
  .lottery-HAY {
    height: 2.4rem;
    position: absolute;
    color: #000000;
    font-family: Roboto, 'Source Sans Pro';
    width: 8.4rem;
    left: 77.4rem;
    top: 10.7rem;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1725;
    white-space: nowrap;
  }
  .faqs-bwv {
    width: 4.7rem;
    position: absolute;
    line-height: 1.1725;
    font-weight: 500;
    color: #000000;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    height: 2.4rem;
    left: 87.8rem;
    top: 10.7rem;
    font-size: 2rem;
  }
  .contact-us-JrL {
    position: absolute;
    left: 94.5rem;
    top: 10.7rem;
    width: 12rem;
    height: 2.4rem;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1725;
    color: #000000;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
  }
  .group-1-pZn {
    width: 33.9531rem;
    height: 27.1605rem;
    position: absolute;
    left: 0;
    top: 0;

    .untitled-1-2-mE8 {
      position: absolute;
      left: 0;
      top: 0;
      object-fit: cover;
      vertical-align: top;
      width: 27.1605rem;
      height: 27.1605rem;
    }
    .cryptofibank-JE4 {
      white-space: nowrap;
      height: 2.8rem;
      position: absolute;
      top: 10.4642rem;
      color: #000000;
      line-height: 1.2575;
      font-family: Sansita One, 'Source Sans Pro';
      width: 14.2rem;
      left: 19.0531rem;
      font-size: 2.2rem;
      font-weight: 400;
    }
  }
  .group-QH6 {
    vertical-align: top;
    width: 3rem;
    height: 3rem;
    position: absolute;
    left: 111.5rem;
    top: 10.2rem;
    object-fit: contain;
  }
  .eng-Y8Q {
    font-size: 1.5rem;
    color: #000000;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    width: 3rem;
    position: absolute;
    top: 10.8rem;
    line-height: 1.1725;
    height: 1.8rem;
    left: 115.3rem;
    font-weight: 600;
  }
  .group-135-3ax {
    width: 20rem;
    height: 6.4rem;
    position: absolute;
    left: 12rem;
    top: 26.8rem;

    .my-wallet-b6g {
      white-space: nowrap;
      width: 20rem;
      position: absolute;
      left: 0;
      font-weight: 700;
      line-height: 1.7690000534;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      height: 6.4rem;
      top: 0;
      font-size: 3.6rem;
    }
    .line-25-hvQ {
      width: 19.1rem;
      height: 0.2rem;
      position: absolute;
      left: 0.4rem;
      top: 5.2rem;
      background-color: #fbbc04;
    }
  }
  .ellipse-11-91i {
    top: 8.8rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
    background-size: 100% 150%;
    background-position: 0 -1.5rem;
    background-image: url('REPLACE_IMAGE:be205d20703d00cb3a2ca82cd0a3d02320b81482');
    border-radius: 3rem;
    width: 6rem;
    position: absolute;
    border: solid 0.2rem #ffffff;
    box-sizing: border-box;
    background-color: #d9d9d9;
    height: 6rem;
    left: 125.8rem;

    .ellipse-11-91i-bg {
      background-image: url('REPLACE_IMAGE:be205d20703d00cb3a2ca82cd0a3d02320b81482');
      width: 6rem;
      height: 6rem;
      position: relative;
    }
  }
  .line-49-NQG {
    position: absolute;
    left: 0;
    top: 24.3rem;
    background-color: #a5a5a5;
    width: 144rem;
    height: 0.1rem;
  }
  .card-approve-icon-1-uf6 {
    left: 20.1rem;
    top: 60.1rem;
    object-fit: contain;
    vertical-align: top;
    width: 5rem;
    height: 3.8664rem;
    position: absolute;
  }
  .rectangle-87-3FW {
    height: 15.8rem;
    position: absolute;
    left: 45.6rem;
    top: 28.3rem;
    background-color: #fff2ce;
    border-radius: 1rem;
    width: 86.2rem;
  }
  .item-212356-y9A {
    width: 16.4rem;
    height: 4.3rem;
    left: 48.5rem;
    top: 31.3rem;
    color: #ffa408;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
    font-size: 3.6rem;
    font-weight: 600;
    line-height: 1.1725;
  }
  .current-balance-sEY {
    width: 15.8rem;
    position: absolute;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.1725;
    white-space: nowrap;
    height: 2.6rem;
    left: 48.5rem;
    top: 36.7rem;
    color: #ffa408;
    font-family: Roboto, 'Source Sans Pro';
  }
  .frame-7-n6c {
    box-sizing: border-box;
    width: 32.8rem;
    position: absolute;
    left: 96rem;
    align-items: center;
    border-radius: 0.5rem;
    padding: 1.35rem 3rem 1.25rem 3.625rem;
    height: 5rem;
    top: 33.7rem;
    display: flex;
    background-color: #ffa408;

    .ic-round-plus-gBz {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 1.625rem 0.1rem 0rem;
      width: 1.75rem;
      height: 1.75rem;
      object-fit: contain;
    }
    .deposit-amount-to-wallet-Ps6 {
      flex-shrink: 0;
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.1725;
      color: #ffffff;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .rectangle-88-iPa {
    background-color: #ffffff;
    border-radius: 1rem;
    width: 86.4rem;
    height: 53.4rem;
    position: absolute;
    left: 45.6rem;
    top: 53.8rem;
    box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.25);
  }
  .rectangle-89-RYt {
    position: absolute;
    left: 45.6rem;
    top: 53.8rem;
    background-color: #fbbc04;
    border-radius: 1rem 1rem 0 0;
    width: 86.4rem;
    height: 6.3rem;
  }
  .line-51-7wW {
    left: 48.3rem;
    top: 70.6rem;
    background-color: #a5a5a5;
    width: 80.5rem;
    height: 0.1rem;
    position: absolute;
  }
  .line-52-RhJ {
    width: 80.5rem;
    height: 0.1rem;
    position: absolute;
    left: 48.3rem;
    top: 81.6rem;
    background-color: #a5a5a5;
  }
  .line-53-9NQ {
    height: 0.1rem;
    position: absolute;
    left: 48.3rem;
    top: 92.6rem;
    background-color: #a5a5a5;
    width: 80.5rem;
  }
  .method-name-gdE {
    height: 2.2rem;
    left: 50.3rem;
    font-weight: 500;
    width: 11.5rem;
    top: 55.8rem;
    font-size: 1.8rem;
    line-height: 1.1725;
    color: #ffffff;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
  }
  .withdrawal-Cba {
    width: 9.1rem;
    font-size: 1.8rem;
    font-weight: 500;
    height: 2.2rem;
    position: absolute;
    left: 84.1rem;
    top: 55.8rem;
    line-height: 1.1725;
    color: #ffffff;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
  }
  .deposit-KAQ {
    width: 6.2rem;
    position: absolute;
    top: 55.8rem;
    font-size: 1.8rem;
    line-height: 1.1725;
    font-family: Roboto, 'Source Sans Pro';
    height: 2.2rem;
    left: 103.4rem;
    font-weight: 500;
    color: #ffffff;
    white-space: nowrap;
  }
  .status-q8k {
    white-space: nowrap;
    width: 5.2rem;
    height: 2.2rem;
    top: 55.8rem;
    font-weight: 500;
    line-height: 1.1725;
    position: absolute;
    left: 119.5rem;
    font-size: 1.8rem;
    color: #ffffff;
    font-family: Roboto, 'Source Sans Pro';
  }
  .none-wha {
    color: #a5a5a5;
    font-family: Roboto, 'Source Sans Pro';
    width: 3.8rem;
    height: 1.9rem;
    font-size: 1.6rem;
    font-weight: 400;
    white-space: nowrap;
    position: absolute;
    left: 87rem;
    top: 64.4rem;
    line-height: 1.1725;
  }
  .none-SuE {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.1725;
    white-space: nowrap;
    position: absolute;
    left: 87rem;
    top: 74.9rem;
    color: #a5a5a5;
    font-family: Roboto, 'Source Sans Pro';
    width: 3.8rem;
    height: 1.9rem;
  }
  .item-250-ZDA {
    width: 3.6rem;
    top: 85.9rem;
    font-weight: 400;
    line-height: 1.1725;
    white-space: nowrap;
    height: 1.9rem;
    position: absolute;
    left: 87rem;
    font-size: 1.6rem;
    color: #a5a5a5;
    font-family: Roboto, 'Source Sans Pro';
  }
  .none-f1J {
    font-size: 1.6rem;
    line-height: 1.1725;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    width: 3.8rem;
    position: absolute;
    top: 96.9rem;
    font-weight: 400;
    color: #a5a5a5;
    height: 1.9rem;
    left: 87rem;
  }
  .item-350-Mui {
    top: 64.4rem;
    font-size: 1.6rem;
    font-weight: 400;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    width: 3.6rem;
    height: 1.9rem;
    position: absolute;
    left: 104.7rem;
    line-height: 1.1725;
    color: #a5a5a5;
  }
  .item-350-GFz {
    height: 1.9rem;
    left: 104.7rem;
    top: 74.9rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.1725;
    color: #a5a5a5;
    font-family: Roboto, 'Source Sans Pro';
    width: 3.6rem;
    position: absolute;
    white-space: nowrap;
  }
  .none-mTe {
    top: 85.9rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.1725;
    color: #a5a5a5;
    width: 3.8rem;
    height: 1.9rem;
    position: absolute;
    left: 104.7rem;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
  }
  .item-350-U7A {
    position: absolute;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.1725;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    width: 3.6rem;
    height: 1.9rem;
    left: 104.7rem;
    top: 96.9rem;
    color: #a5a5a5;
  }
  .successful-NCY {
    color: #a5a5a5;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    width: 7.9rem;
    left: 118.1rem;
    font-size: 1.6rem;
    line-height: 1.1725;
    height: 1.9rem;
    position: absolute;
    top: 64.4rem;
    font-weight: 400;
  }
  .successful-5ck {
    height: 1.9rem;
    position: absolute;
    left: 118.1rem;
    top: 74.9rem;
    line-height: 1.1725;
    color: #a5a5a5;
    white-space: nowrap;
    width: 7.9rem;
    font-weight: 400;
    font-family: Roboto, 'Source Sans Pro';
    font-size: 1.6rem;
  }
  .successful-ChN {
    height: 1.9rem;
    font-weight: 400;
    left: 118rem;
    top: 85.9rem;
    font-size: 1.6rem;
    line-height: 1.1725;
    color: #a5a5a5;
    font-family: Roboto, 'Source Sans Pro';
    width: 7.9rem;
    position: absolute;
    white-space: nowrap;
  }
  .unsuccessful-vNU {
    height: 1.9rem;
    top: 96.9rem;
    white-space: nowrap;
    line-height: 1.1725;
    color: #a5a5a5;
    font-family: Roboto, 'Source Sans Pro';
    width: 9.7rem;
    position: absolute;
    left: 117.2rem;
    font-size: 1.6rem;
    font-weight: 400;
  }
  .group-136-qkL {
    align-items: center;
    width: 28.5rem;
    height: 7.5rem;
    position: absolute;
    left: 50rem;
    top: 61.6rem;
    display: flex;

    .auto-group-k3t6-aT2 {
      margin-right: 1.8rem;
      width: 7.5rem;
      height: 7.5rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-nobn-7xk {
      margin: 0.2rem 0rem 0.4rem 0rem;
      height: calc(100% - 0.6rem);
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .add-money-to-wallet-eBz {
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.4rem;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.1725;
        color: #000000;
      }
      .transaction-id-225879314-mGc {
        font-weight: 400;
        line-height: 1.1725;
        color: #a5a5a5;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.5rem;
        font-size: 1.6rem;
      }
      .may-2023-05-30pm-geU {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.1725;
        color: #a5a5a5;
        font-family: Roboto, 'Source Sans Pro';
      }
    }
  }
  .group-137-QaU {
    width: 28.5rem;
    height: 7.5rem;
    position: absolute;
    left: 50rem;
    top: 72.1rem;
    display: flex;
    align-items: center;

    .auto-group-tsel-LU8 {
      width: 7.5rem;
      height: 7.5rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 1.8rem;
    }
    .auto-group-icdw-5Ri {
      margin: 0.2rem 0rem 0.4rem 0rem;
      height: calc(100% - 0.6rem);
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .add-money-to-wallet-osW {
        font-weight: 500;
        line-height: 1.1725;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.4rem;
        font-size: 1.8rem;
      }
      .transaction-id-225879314-YKJ {
        margin-bottom: 0.5rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.1725;
        color: #a5a5a5;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .may-2023-05-30pm-Tx4 {
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.1725;
        color: #a5a5a5;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
  }
  .ellipse-13-zwz {
    border: solid 0.1rem #a5a5a5;
    box-sizing: border-box;
    border-radius: 3.75rem;
    width: 7.5rem;
    height: 7.5rem;
    position: absolute;
    left: 50rem;
    top: 83.1rem;
  }
  .visa-master-card-hLc {
    width: 13.9rem;
    top: 83.3rem;
    font-size: 1.8rem;
    font-weight: 500;
    color: #000000;
    white-space: nowrap;
    height: 2.2rem;
    position: absolute;
    left: 59.3rem;
    line-height: 1.1725;
    font-family: Roboto, 'Source Sans Pro';
  }
  .transaction-id-225879314-zac {
    left: 59.3rem;
    top: 85.9rem;
    color: #a5a5a5;
    font-family: Roboto, 'Source Sans Pro';
    line-height: 1.1725;
    white-space: nowrap;
    width: 19.2rem;
    height: 1.9rem;
    position: absolute;
    font-size: 1.6rem;
    font-weight: 400;
  }
  .may-2023-05-30pm-VGU {
    font-size: 1.6rem;
    font-family: Roboto, 'Source Sans Pro';
    height: 1.9rem;
    position: absolute;
    left: 59.3rem;
    line-height: 1.1725;
    color: #a5a5a5;
    white-space: nowrap;
    width: 15.9rem;
    top: 88.3rem;
    font-weight: 400;
  }
  .group-139-CRn {
    position: absolute;
    left: 50rem;
    top: 94.1rem;
    display: flex;
    align-items: center;
    width: 28.5rem;
    height: 7.5rem;

    .auto-group-zfbn-XU4 {
      width: 7.5rem;
      height: 7.5rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 1.8rem;
    }
    .auto-group-hcsi-TMi {
      margin: 0.2rem 0rem 0.4rem 0rem;
      height: calc(100% - 0.6rem);
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .add-money-to-wallet-n96 {
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.4rem;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.1725;
      }
      .transaction-id-225879314-ujW {
        font-weight: 400;
        line-height: 1.1725;
        color: #a5a5a5;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.5rem;
        font-size: 1.6rem;
      }
      .may-2023-05-30pm-qt4 {
        color: #a5a5a5;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.1725;
      }
    }
  }
  .card-approve-icon-2-yUU {
    height: 2.7065rem;
    position: absolute;
    left: 52rem;
    top: 85.5rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.5rem;
  }
  .ellipse-14-hQU {
    height: 5rem;
    position: absolute;
    left: 19.9rem;
    top: 75.8rem;
    background-color: #fbbc04;
    border-radius: 2.5rem;
    width: 5rem;
  }
  .ic-round-plus-2Sk {
    top: 77.6998rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.4rem;
    height: 1.4rem;
    position: absolute;
    left: 21.7rem;
  }
}
