
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.plans-qMJ {
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;

  .auto-group-zwoj-A8g {
    width: 144.2rem;
    height: 58.3rem;
    position: relative;
    flex-shrink: 0;

    .mask-group-GxQ {
      height: 35.7rem;
      position: absolute;
      left: 0;
      top: 21.6rem;
      object-fit: contain;
      vertical-align: top;
      width: 144rem;
    }
    .rectangle-45-QYp {
      position: absolute;
      left: 0;
      top: 21.6rem;
      background-color: rgba(0, 0, 0, 0.400000006);
      width: 144rem;
      height: 35.7rem;
    }
    .group-65-j5J {
      height: 18.6rem;
      position: absolute;
      left: 46.75rem;
      top: 29.9rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 50.5rem;

      .plans-r9v {
        margin: 0rem 0.1rem 0.2rem 0rem;
        font-size: 3.4rem;
        font-weight: 800;
        line-height: 1.1725;
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .line-7-jjW {
        margin: 0rem 20.35rem 2.9rem 20.05rem;
        width: calc(100% - 40.4rem);
        height: 0.2rem;
        background-color: #fbbc04;
        flex-shrink: 0;
      }
      .cryptofibank-offers-six-investment-options-TQc {
        line-height: 1.171875;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 50.5rem;
        text-align: center;
        font-size: 4.8rem;
        font-weight: 700;

        .cryptofibank-offers-six-investment-options-TQc-sub-0 {
          font-size: 4.8rem;
          font-weight: 700;
          line-height: 1.1725;
          color: #fbbc04;
          font-family: Roboto, 'Source Sans Pro';
        }
        .cryptofibank-offers-six-investment-options-TQc-sub-1 {
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          font-size: 4.8rem;
          font-weight: 700;
          line-height: 1.1725;
        }
        .cryptofibank-offers-six-investment-options-TQc-sub-2 {
          font-size: 4.8rem;
          font-weight: 700;
          line-height: 1.1725;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
        }
      }
    }
    .group-120-an4 {
      left: 0;
      top: 0;
      display: flex;
      align-items: center;
      width: 136.8rem;
      height: 27.1605rem;
      position: absolute;

      .group-1-iNU {
        margin-right: 8.6469rem;
        width: 33.9531rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .untitled-1-2-fYc {
          width: 27.1604rem;
          height: 27.1605rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
          vertical-align: top;
        }
        .cryptofibank-16g {
          width: 14.2rem;
          height: 2.8rem;
          line-height: 1.2575;
          color: #000000;
          font-family: Sansita One, 'Source Sans Pro';
          white-space: nowrap;
          position: absolute;
          left: 19.5531rem;
          top: 9.8642rem;
          font-size: 2.2rem;
          font-weight: 400;
        }
      }
      .home-hEQ {
        color: #000000;
        margin: 0rem 2rem 2.56rem 0rem;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.1725;
        text-transform: uppercase;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .about-us-oYL {
        margin-bottom: 2.5605rem;
        font-weight: 500;
        flex-shrink: 0;
        font-size: 2rem;
        line-height: 1.1725;
        text-transform: uppercase;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
      .auto-group-ramn-w8k {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 10rem 0rem 13.06rem 2.2rem;
        height: 100%;

        .auto-group-3sxn-3xU {
          height: calc(100% - 1.7rem);
          position: relative;
          flex-shrink: 0;
          margin: 1.1rem 2.1rem 0.6rem 0rem;
          width: 6.4rem;

          .plans-mNg {
            top: 0;
            font-size: 2rem;
            line-height: 1.1725;
            left: 0;
            font-weight: 800;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            width: 6.4rem;
            height: 2.4rem;
            position: absolute;
          }
          .line-5-H68 {
            object-fit: contain;
            vertical-align: top;
            width: 5.9rem;
            height: 0;
            position: absolute;
            left: 0.3rem;
            top: 2.2rem;
          }
        }
        .game-1Xv {
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.5rem 2rem 0rem 0rem;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.1725;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
        }
        .lottery-ihE {
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.5rem 2rem 0rem 0rem;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.1725;
        }
        .faqs-3jW {
          flex-shrink: 0;
          margin: 0.5rem 2rem 0rem 0rem;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.1725;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
        .contact-us-Bqi {
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.5rem 5rem 0rem 0rem;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.1725;
          color: #000000;
        }
        .group-7jN {
          flex-shrink: 0;
          margin: 0.1rem 0.8rem 0rem 0rem;
          width: 3rem;
          height: 3rem;
          object-fit: contain;
          vertical-align: top;
        }
        .eng-ejJ {
          flex-shrink: 0;
          margin: 0.1rem 5.8rem 0rem 0rem;
          font-size: 1.5rem;
          font-weight: 600;
          line-height: 1.1725;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
        .frame-1-BUL {
          font-family: Roboto, 'Source Sans Pro';
          display: flex;
          border-radius: 0.5rem;
          flex-shrink: 0;
          width: 12rem;
          font-weight: 600;
          background-color: #ecbd27;
          height: 100%;
          justify-content: center;
          color: #ffffff;
          white-space: nowrap;
          align-items: center;
          font-size: 1.8rem;
          line-height: 1.1725;
        }
      }
    }
  }
  .auto-group-pygg-UCY {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 9.6rem 12.2rem 9.8rem 12.3rem;
    width: 100%;
    align-items: center;

    .auto-group-zjwc-zAt {
      flex-shrink: 0;
      margin: 0rem 0.1rem 7.1rem 0rem;
      height: 57.9rem;
      display: flex;
      align-items: center;

      .group-67-WQ8 {
        flex-shrink: 0;
        margin-right: 3.1rem;
        width: 37.7rem;
        height: 100%;
        position: relative;

        .rectangle-14-dzY {
          border-radius: 1rem;
          width: 37.7rem;
          height: 55.5rem;
          position: absolute;
          left: 0;
          top: 2.4rem;
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
        }
        .rectangle-17-8wJ {
          width: 24.7rem;
          height: 17rem;
          position: absolute;
          left: 6.5rem;
          top: 0;
          box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.25);
          background-color: #fbbc04;
          border-radius: 1rem;
        }
        .group-11-eue {
          line-height: 1.1725;
          align-items: center;
          justify-content: center;
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
          width: 7rem;
          left: 15.3rem;
          font-weight: 800;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          position: absolute;
          top: 3.1rem;
          font-size: 3.2rem;
          color: #000000;
          height: 7rem;
          border-radius: 3.5rem;
        }
        .numbered-plan-option-toz {
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          font-weight: 600;
          height: 2.4rem;
          position: absolute;
          left: 8.4rem;
          top: 11.8rem;
          font-size: 2rem;
          line-height: 1.1725;
          color: #ffffff;
          width: 20.4rem;
        }
        .investment-CZn {
          white-space: nowrap;
          width: 24.5rem;
          position: absolute;
          top: 20.1rem;
          font-size: 1.6rem;
          font-weight: 500;
          color: #000000;
          height: 2.6rem;
          left: 6.5rem;
          line-height: 1.1725;
          font-family: Roboto, 'Source Sans Pro';
          display: flex;
          align-items: baseline;

          .investment-CZn-sub-0 {
            font-family: Roboto, 'Source Sans Pro';
            font-size: 2.2rem;
            font-weight: 700;
            line-height: 1.1725;
            color: #000000;
          }
          .investment-CZn-sub-1 {
          }
        }
        .line-8-A9E {
          width: 32.3rem;
          height: 0.1rem;
          position: absolute;
          left: 2.7rem;
          top: 26.5rem;
          background-color: #a5a5a5;
        }
        .line-9-tqv {
          width: 32.3rem;
          height: 0.1rem;
          position: absolute;
          left: 2.7rem;
          top: 34.1rem;
          background-color: #a5a5a5;
        }
        .line-10-doW {
          height: 0.1rem;
          position: absolute;
          left: 2.7rem;
          top: 41.7rem;
          background-color: #a5a5a5;
          width: 32.3rem;
        }
        .line-11-aik {
          width: 32.3rem;
          height: 0.1rem;
          position: absolute;
          left: 2.7rem;
          top: 49.3rem;
          background-color: #a5a5a5;
        }
        .investment-period-7-days-KwE {
          height: 2.6rem;
          left: 2.7rem;
          font-size: 1.7rem;
          color: #000000;
          white-space: nowrap;
          width: 19.5rem;
          position: absolute;
          top: 28.8rem;
          font-weight: 500;
          line-height: 1.5226866905;
          font-family: Roboto, 'Source Sans Pro';
        }
        .gain-ratio-3-dh2 {
          font-weight: 500;
          white-space: nowrap;
          position: absolute;
          font-size: 1.7rem;
          left: 2.7rem;
          top: 36.2rem;
          line-height: 1.5226866905;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          width: 10.5rem;
          height: 2.6rem;
        }
        .earnings-investment-amount-gain--jzx {
          line-height: 1.5226866905;
          font-family: Roboto, 'Source Sans Pro';
          width: 23.9rem;
          position: absolute;
          font-size: 1.7rem;
          font-weight: 500;
          color: #000000;
          height: 5.2rem;
          left: 2.7rem;
          top: 43.6rem;
        }
        .group-12-dqS {
          width: 2.5rem;
          height: 2.5rem;
          position: absolute;
          left: 32.5rem;
          top: 28.9rem;
          object-fit: contain;
          vertical-align: top;
        }
        .group-13-NHE {
          width: 2.5rem;
          height: 2.5rem;
          position: absolute;
          left: 32.5rem;
          top: 36.1rem;
          object-fit: contain;
          vertical-align: top;
        }
        .group-14-7Vi {
          left: 32.5rem;
          top: 43.7rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.5rem;
          height: 2.5rem;
          position: absolute;
        }
        .frame-4-FM2 {
          font-size: 1.8rem;
          font-weight: 800;
          width: 13.2rem;
          left: 12.2rem;
          top: 51.1rem;
          white-space: nowrap;
          background-color: #000000;
          position: absolute;
          display: flex;
          align-items: center;
          font-family: Roboto, 'Source Sans Pro';
          justify-content: center;
          border-radius: 5rem;
          height: 4.7rem;
          line-height: 1.1725;
          color: #ffffff;
        }
      }
      .group-68-j1J {
        margin-right: 3.2rem;
        width: 37.7rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-14-FkL {
          border-radius: 1rem;
          width: 37.7rem;
          height: 55.5rem;
          position: absolute;
          left: 0;
          top: 2.4rem;
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
          background-color: #fbbc04;
        }
        .rectangle-17-AMW {
          position: absolute;
          left: 6.5rem;
          top: 0;
          box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.25);
          background-color: #fbbc04;
          border-radius: 1rem;
          width: 24.7rem;
          height: 17rem;
        }
        .group-11-Hh2 {
          font-size: 3.2rem;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          justify-content: center;
          background-color: #ffffff;
          position: absolute;
          line-height: 1.1725;
          align-items: center;
          border-radius: 3.5rem;
          left: 15.3rem;
          height: 7rem;
          top: 3.1rem;
          display: flex;
          width: 7rem;
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
          font-weight: 800;
        }
        .numbered-plan-option-mcC {
          white-space: nowrap;
          width: 20.4rem;
          height: 2.4rem;
          left: 8.4rem;
          font-size: 2rem;
          color: #ffffff;
          position: absolute;
          top: 11.8rem;
          font-weight: 600;
          line-height: 1.1725;
          font-family: Roboto, 'Source Sans Pro';
        }
        .investment-HaY {
          left: 5.3rem;
          top: 20.1rem;
          font-size: 1.6rem;
          line-height: 1.171875;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          width: 27rem;
          position: absolute;
          white-space: nowrap;
          display: flex;
          align-items: baseline;
          height: 2.6rem;
          font-weight: 500;

          .investment-HaY-sub-0 {
            line-height: 1.1725;
            color: #ffffff;
            font-family: Roboto, 'Source Sans Pro';
            font-size: 2.2rem;
            font-weight: 700;
          }
          .investment-HaY-sub-1 {
            font-weight: 500;
            line-height: 1.1725;
            color: #ffffff;
            font-family: Roboto, 'Source Sans Pro';
            font-size: 1.6rem;
          }
        }
        .line-8-w2p {
          background-color: #ffffff;
          width: 32.3rem;
          height: 0.1rem;
          position: absolute;
          left: 2.7rem;
          top: 26.5rem;
        }
        .line-9-Gat {
          width: 32.3rem;
          height: 0.1rem;
          position: absolute;
          left: 2.7rem;
          top: 34.1rem;
          background-color: #ffffff;
        }
        .line-10-CDe {
          width: 32.3rem;
          height: 0.1rem;
          position: absolute;
          left: 2.7rem;
          top: 41.7rem;
          background-color: #ffffff;
        }
        .line-11-XWp {
          left: 2.7rem;
          top: 49.3rem;
          background-color: #ffffff;
          width: 32.3rem;
          height: 0.1rem;
          position: absolute;
        }
        .investment-period-7-days-fN8 {
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          width: 19.5rem;
          height: 2.6rem;
          left: 2.7rem;
          font-size: 1.7rem;
          line-height: 1.5226866905;
          position: absolute;
          top: 28.8rem;
          font-weight: 500;
          white-space: nowrap;
        }
        .gain-ratio-14-AZn {
          top: 36.2rem;
          font-size: 1.7rem;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          height: 2.6rem;
          position: absolute;
          left: 2.7rem;
          font-weight: 500;
          line-height: 1.5226866905;
          color: #ffffff;
          width: 11.5rem;
        }
        .earnings-investment-amount-gain--V6G {
          left: 2.7rem;
          font-size: 1.7rem;
          line-height: 1.5226866905;
          height: 5.2rem;
          position: absolute;
          font-weight: 500;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          width: 23.9rem;
          top: 43.6rem;
        }
        .group-12-CWU {
          width: 2.5rem;
          height: 2.5rem;
          position: absolute;
          left: 32.5rem;
          top: 28.9rem;
          object-fit: contain;
          vertical-align: top;
        }
        .group-13-wix {
          top: 36.1rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.5rem;
          height: 2.5rem;
          position: absolute;
          left: 32.5rem;
        }
        .group-14-HXv {
          height: 2.5rem;
          position: absolute;
          left: 32.5rem;
          top: 43.7rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.5rem;
        }
        .frame-4-Re8 {
          white-space: nowrap;
          justify-content: center;
          background-color: #ffffff;
          font-size: 1.8rem;
          font-weight: 800;
          align-items: center;
          top: 51.1rem;
          height: 4.7rem;
          border-radius: 5rem;
          width: 13.2rem;
          left: 12.2rem;
          line-height: 1.1725;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          display: flex;
          position: absolute;
        }
      }
      .group-69-HwE {
        width: 37.7rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-14-2tp {
          border-radius: 1rem;
          width: 37.7rem;
          height: 55.5rem;
          position: absolute;
          left: 0;
          top: 2.4rem;
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
        }
        .rectangle-17-kpp {
          height: 17rem;
          position: absolute;
          left: 6.5rem;
          top: 0;
          box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.25);
          background-color: #fbbc04;
          border-radius: 1rem;
          width: 24.7rem;
        }
        .group-11-5MJ {
          white-space: nowrap;
          width: 7rem;
          left: 15.3rem;
          line-height: 1.1725;
          font-family: Roboto, 'Source Sans Pro';
          display: flex;
          height: 7rem;
          top: 3.1rem;
          font-size: 3.2rem;
          justify-content: center;
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
          border-radius: 3.5rem;
          position: absolute;
          font-weight: 800;
          color: #000000;
          align-items: center;
        }
        .numbered-plan-option-9MA {
          font-size: 2rem;
          line-height: 1.1725;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          height: 2.4rem;
          left: 8.4rem;
          top: 11.8rem;
          width: 20.4rem;
          position: absolute;
          font-weight: 600;
        }
        .investment-TMr {
          align-items: baseline;
          left: 4rem;
          top: 20.1rem;
          font-size: 1.6rem;
          font-weight: 500;
          display: flex;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          width: 29.6rem;
          height: 2.6rem;
          position: absolute;
          line-height: 1.1725;
          color: #000000;

          .investment-TMr-sub-0 {
            font-size: 2.2rem;
            font-weight: 700;
            line-height: 1.1725;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
          }
          .investment-TMr-sub-1 {
          }
        }
        .line-8-Emv {
          background-color: #a5a5a5;
          width: 32.3rem;
          height: 0.1rem;
          position: absolute;
          left: 2.7rem;
          top: 26.5rem;
        }
        .line-9-mmr {
          position: absolute;
          left: 2.7rem;
          top: 34.1rem;
          background-color: #a5a5a5;
          width: 32.3rem;
          height: 0.1rem;
        }
        .line-10-WzL {
          top: 41.7rem;
          background-color: #a5a5a5;
          width: 32.3rem;
          height: 0.1rem;
          position: absolute;
          left: 2.7rem;
        }
        .line-11-fMS {
          width: 32.3rem;
          height: 0.1rem;
          position: absolute;
          left: 2.7rem;
          top: 49.3rem;
          background-color: #a5a5a5;
        }
        .investment-period-7-days-CcG {
          left: 2.7rem;
          font-size: 1.7rem;
          font-weight: 500;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          width: 19.5rem;
          height: 2.6rem;
          position: absolute;
          top: 28.8rem;
          line-height: 1.5226866905;
          white-space: nowrap;
        }
        .gain-ratio-25-6xY {
          left: 2.7rem;
          top: 36.2rem;
          line-height: 1.5226866905;
          color: #000000;
          font-weight: 500;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          width: 11.5rem;
          height: 2.6rem;
          position: absolute;
          font-size: 1.7rem;
        }
        .earnings-investment-amount-gain--25W {
          position: absolute;
          left: 2.7rem;
          font-weight: 500;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          width: 23.9rem;
          height: 5.2rem;
          top: 43.6rem;
          font-size: 1.7rem;
          line-height: 1.5226866905;
        }
        .group-12-8PS {
          object-fit: contain;
          vertical-align: top;
          width: 2.5rem;
          height: 2.5rem;
          position: absolute;
          left: 32.5rem;
          top: 28.9rem;
        }
        .group-13-TwW {
          width: 2.5rem;
          height: 2.5rem;
          position: absolute;
          left: 32.5rem;
          top: 36.1rem;
          object-fit: contain;
          vertical-align: top;
        }
        .group-14-c3i {
          width: 2.5rem;
          height: 2.5rem;
          position: absolute;
          left: 32.5rem;
          top: 43.7rem;
          object-fit: contain;
          vertical-align: top;
        }
        .frame-4-Yi4 {
          align-items: center;
          justify-content: center;
          top: 51.1rem;
          font-size: 1.8rem;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          background-color: #000000;
          height: 4.7rem;
          position: absolute;
          font-weight: 800;
          white-space: nowrap;
          left: 12.2rem;
          width: 13.2rem;
          line-height: 1.1725;
          display: flex;
          border-radius: 5rem;
        }
      }
    }
    .auto-group-2qzu-392 {
      margin-left: 0.1rem;
      height: 57.9rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .group-67-yYU {
        margin-right: 3.1rem;
        width: 37.7rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-14-uS8 {
          height: 55.5rem;
          position: absolute;
          left: 0;
          top: 2.4rem;
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
          border-radius: 1rem;
          width: 37.7rem;
        }
        .rectangle-17-RQU {
          top: 0;
          box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.25);
          background-color: #fbbc04;
          border-radius: 1rem;
          width: 24.7rem;
          height: 17rem;
          position: absolute;
          left: 6.5rem;
        }
        .group-11-XyJ {
          left: 15.3rem;
          font-weight: 800;
          line-height: 1.1725;
          align-items: center;
          white-space: nowrap;
          font-size: 3.2rem;
          font-family: Roboto, 'Source Sans Pro';
          display: flex;
          background-color: #ffffff;
          border-radius: 3.5rem;
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
          width: 7rem;
          height: 7rem;
          position: absolute;
          top: 3.1rem;
          color: #000000;
          justify-content: center;
        }
        .numbered-plan-option-oR2 {
          font-weight: 600;
          line-height: 1.1725;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          height: 2.4rem;
          font-size: 2rem;
          left: 8.4rem;
          top: 11.8rem;
          width: 20.4rem;
          position: absolute;
        }
        .investment-iH6 {
          width: 23.8rem;
          left: 6.9rem;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          align-items: baseline;
          line-height: 1.1725;
          white-space: nowrap;
          display: flex;
          height: 2.6rem;
          position: absolute;
          top: 20.1rem;
          font-size: 1.6rem;
          font-weight: 500;

          .investment-iH6-sub-0 {
            font-size: 2.2rem;
            font-weight: 700;
            line-height: 1.1725;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
          }
          .investment-iH6-sub-1 {
          }
        }
        .line-8-74L {
          width: 32.3rem;
          height: 0.1rem;
          position: absolute;
          left: 2.7rem;
          top: 26.5rem;
          background-color: #a5a5a5;
        }
        .line-9-epx {
          height: 0.1rem;
          position: absolute;
          left: 2.7rem;
          top: 34.1rem;
          background-color: #a5a5a5;
          width: 32.3rem;
        }
        .line-10-CLg {
          width: 32.3rem;
          height: 0.1rem;
          position: absolute;
          left: 2.7rem;
          top: 41.7rem;
          background-color: #a5a5a5;
        }
        .line-11-912 {
          top: 49.3rem;
          background-color: #a5a5a5;
          width: 32.3rem;
          height: 0.1rem;
          position: absolute;
          left: 2.7rem;
        }
        .investment-period-30-days-sxc {
          width: 20.4rem;
          font-size: 1.7rem;
          font-weight: 500;
          line-height: 1.5226866905;
          white-space: nowrap;
          height: 2.6rem;
          position: absolute;
          left: 2.7rem;
          top: 28.8rem;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
        }
        .gain-ratio-70-bNp {
          font-weight: 500;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          top: 36.2rem;
          height: 2.6rem;
          position: absolute;
          left: 2.7rem;
          font-size: 1.7rem;
          line-height: 1.5226866905;
          width: 11.5rem;
        }
        .earnings-investment-amount-gain--Wkg {
          top: 43.6rem;
          font-size: 1.7rem;
          color: #000000;
          width: 23.9rem;
          height: 5.2rem;
          font-weight: 500;
          line-height: 1.5226866905;
          font-family: Roboto, 'Source Sans Pro';
          position: absolute;
          left: 2.7rem;
        }
        .group-12-2U8 {
          vertical-align: top;
          width: 2.5rem;
          height: 2.5rem;
          position: absolute;
          left: 32.5rem;
          top: 28.9rem;
          object-fit: contain;
        }
        .group-13-mgc {
          object-fit: contain;
          vertical-align: top;
          width: 2.5rem;
          height: 2.5rem;
          position: absolute;
          left: 32.5rem;
          top: 36.1rem;
        }
        .group-14-WPJ {
          position: absolute;
          left: 32.5rem;
          top: 43.7rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.5rem;
          height: 2.5rem;
        }
        .frame-4-eVW {
          align-items: center;
          position: absolute;
          height: 4.7rem;
          left: 12.2rem;
          top: 51.1rem;
          line-height: 1.1725;
          color: #ffffff;
          border-radius: 5rem;
          width: 13.2rem;
          font-weight: 800;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          background-color: #000000;
          font-size: 1.8rem;
          justify-content: center;
        }
      }
      .group-68-X3W {
        margin-right: 3.2rem;
        width: 37.7rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-14-SwA {
          height: 55.5rem;
          position: absolute;
          left: 0;
          top: 2.4rem;
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
          border-radius: 1rem;
          width: 37.7rem;
        }
        .rectangle-17-miY {
          position: absolute;
          left: 6.5rem;
          top: 0;
          box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.25);
          background-color: #fbbc04;
          border-radius: 1rem;
          width: 24.7rem;
          height: 17rem;
        }
        .group-11-hcC {
          border-radius: 3.5rem;
          font-size: 3.2rem;
          display: flex;
          background-color: #ffffff;
          line-height: 1.1725;
          white-space: nowrap;
          align-items: center;
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
          position: absolute;
          left: 15.3rem;
          top: 3.1rem;
          width: 7rem;
          font-family: Roboto, 'Source Sans Pro';
          justify-content: center;
          height: 7rem;
          font-weight: 800;
          color: #000000;
        }
        .numbered-plan-option-ZuJ {
          width: 20.4rem;
          left: 8.4rem;
          font-size: 2rem;
          color: #ffffff;
          white-space: nowrap;
          height: 2.4rem;
          position: absolute;
          top: 11.8rem;
          font-weight: 600;
          line-height: 1.1725;
          font-family: Roboto, 'Source Sans Pro';
        }
        .investment-HKW {
          height: 2.6rem;
          position: absolute;
          top: 20.1rem;
          font-weight: 500;
          color: #000000;
          width: 29.6rem;
          left: 4.1rem;
          font-size: 1.6rem;
          line-height: 1.1725;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          align-items: baseline;

          .investment-HKW-sub-0 {
            line-height: 1.1725;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            font-size: 2.2rem;
            font-weight: 700;
          }
          .investment-HKW-sub-1 {
          }
        }
        .line-8-4ja {
          position: absolute;
          left: 2.7rem;
          top: 26.5rem;
          background-color: #a5a5a5;
          width: 32.3rem;
          height: 0.1rem;
        }
        .line-9-D6g {
          position: absolute;
          left: 2.7rem;
          top: 34.1rem;
          background-color: #a5a5a5;
          width: 32.3rem;
          height: 0.1rem;
        }
        .line-10-vmn {
          left: 2.7rem;
          top: 41.7rem;
          background-color: #a5a5a5;
          width: 32.3rem;
          height: 0.1rem;
          position: absolute;
        }
        .line-11-4d6 {
          width: 32.3rem;
          height: 0.1rem;
          position: absolute;
          left: 2.7rem;
          top: 49.3rem;
          background-color: #a5a5a5;
        }
        .investment-period-30-days-bN8 {
          height: 2.6rem;
          line-height: 1.5226866905;
          white-space: nowrap;
          font-family: Roboto, 'Source Sans Pro';
          width: 20.4rem;
          position: absolute;
          left: 2.7rem;
          top: 28.8rem;
          font-size: 1.7rem;
          font-weight: 500;
          color: #000000;
        }
        .gain-ratio-100-u7v {
          line-height: 1.5226866905;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          position: absolute;
          left: 2.7rem;
          top: 36.2rem;
          font-size: 1.7rem;
          width: 12.4rem;
          height: 2.6rem;
          font-weight: 500;
          white-space: nowrap;
        }
        .earnings-investment-amount-gain--D8c {
          width: 23.9rem;
          font-size: 1.7rem;
          line-height: 1.5226866905;
          font-family: Roboto, 'Source Sans Pro';
          font-weight: 500;
          color: #000000;
          height: 5.2rem;
          position: absolute;
          left: 2.7rem;
          top: 43.6rem;
        }
        .group-12-hpU {
          position: absolute;
          left: 32.5rem;
          top: 28.9rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.5rem;
          height: 2.5rem;
        }
        .group-13-3NY {
          height: 2.5rem;
          position: absolute;
          left: 32.5rem;
          top: 36.1rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.5rem;
        }
        .group-14-Nvc {
          top: 43.7rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.5rem;
          height: 2.5rem;
          position: absolute;
          left: 32.5rem;
        }
        .frame-4-vBS {
          color: #ffffff;
          border-radius: 5rem;
          width: 13.2rem;
          position: absolute;
          left: 12.2rem;
          top: 51.1rem;
          height: 4.7rem;
          font-family: Roboto, 'Source Sans Pro';
          justify-content: center;
          background-color: #000000;
          font-size: 1.8rem;
          font-weight: 800;
          white-space: nowrap;
          display: flex;
          line-height: 1.1725;
          align-items: center;
        }
      }
      .group-69-oW8 {
        width: 37.7rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-14-8YQ {
          height: 55.5rem;
          position: absolute;
          left: 0;
          top: 2.4rem;
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
          border-radius: 1rem;
          width: 37.7rem;
        }
        .rectangle-17-39a {
          border-radius: 1rem;
          width: 24.7rem;
          height: 17rem;
          position: absolute;
          left: 6.5rem;
          top: 0;
          box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.25);
          background-color: #fbbc04;
        }
        .group-11-mLU {
          font-family: Roboto, 'Source Sans Pro';
          background-color: #ffffff;
          color: #000000;
          position: absolute;
          display: flex;
          width: 7rem;
          top: 3.1rem;
          white-space: nowrap;
          align-items: center;
          justify-content: center;
          height: 7rem;
          font-size: 3.2rem;
          font-weight: 800;
          line-height: 1.1725;
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
          border-radius: 3.5rem;
          left: 15.3rem;
        }
        .numbered-plan-option-qLL {
          white-space: nowrap;
          left: 8.4rem;
          font-size: 2rem;
          font-weight: 600;
          font-family: Roboto, 'Source Sans Pro';
          line-height: 1.1725;
          color: #ffffff;
          width: 20.4rem;
          height: 2.4rem;
          position: absolute;
          top: 11.8rem;
        }
        .unlimited-investment-w8U {
          height: 2.6rem;
          left: 3.3rem;
          top: 20.1rem;
          color: #000000;
          white-space: nowrap;
          display: flex;
          align-items: baseline;
          width: 30.9rem;
          position: absolute;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.1725;
          font-family: Roboto, 'Source Sans Pro';

          .unlimited-investment-w8U-sub-0 {
            font-size: 2.2rem;
            font-weight: 700;
            line-height: 1.1725;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
          }
          .unlimited-investment-w8U-sub-1 {
          }
        }
        .line-8-Wqn {
          left: 2.7rem;
          top: 26.5rem;
          background-color: #a5a5a5;
          width: 32.3rem;
          height: 0.1rem;
          position: absolute;
        }
        .line-9-3qi {
          height: 0.1rem;
          position: absolute;
          left: 2.7rem;
          top: 34.1rem;
          background-color: #a5a5a5;
          width: 32.3rem;
        }
        .line-10-bMS {
          height: 0.1rem;
          position: absolute;
          left: 2.7rem;
          top: 41.7rem;
          background-color: #a5a5a5;
          width: 32.3rem;
        }
        .line-11-8MN {
          left: 2.7rem;
          top: 49.3rem;
          background-color: #a5a5a5;
          width: 32.3rem;
          height: 0.1rem;
          position: absolute;
        }
        .investment-period-30-days-GiU {
          top: 28.8rem;
          font-size: 1.7rem;
          line-height: 1.5226866905;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          width: 20.4rem;
          left: 2.7rem;
          font-weight: 500;
          color: #000000;
          height: 2.6rem;
          position: absolute;
        }
        .gain-ratio-150-nRv {
          width: 12.4rem;
          height: 2.6rem;
          font-size: 1.7rem;
          line-height: 1.5226866905;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          position: absolute;
          left: 2.7rem;
          top: 36.2rem;
          font-weight: 500;
          color: #000000;
        }
        .earnings-investment-amount-gain--uWY {
          height: 5.2rem;
          position: absolute;
          left: 2.7rem;
          top: 43.6rem;
          font-size: 1.7rem;
          font-weight: 500;
          line-height: 1.5226866905;
          width: 23.9rem;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
        }
        .group-12-CVe {
          width: 2.5rem;
          height: 2.5rem;
          position: absolute;
          left: 32.5rem;
          top: 28.9rem;
          object-fit: contain;
          vertical-align: top;
        }
        .group-13-jEg {
          position: absolute;
          left: 32.5rem;
          top: 36.1rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.5rem;
          height: 2.5rem;
        }
        .group-14-UTA {
          height: 2.5rem;
          position: absolute;
          left: 32.5rem;
          top: 43.7rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.5rem;
        }
        .frame-4-Ctx {
          top: 51.1rem;
          font-family: Roboto, 'Source Sans Pro';
          background-color: #000000;
          height: 4.7rem;
          position: absolute;
          width: 13.2rem;
          align-items: center;
          color: #ffffff;
          white-space: nowrap;
          display: flex;
          font-weight: 800;
          line-height: 1.1725;
          justify-content: center;
          border-radius: 5rem;
          left: 12.2rem;
          font-size: 1.8rem;
        }
      }
    }
  }
  .auto-group-dnxa-t16 {
    flex-shrink: 0;
    width: 100%;
    height: 63.2rem;
    position: relative;

    .rectangle-32-pQY {
      width: 144rem;
      height: 51.7rem;
      position: absolute;
      left: 0;
      top: 11.5rem;
      background-color: rgba(236, 189, 39, 0.3000000119);
    }
    .group-20-9Sp {
      width: 9.7rem;
      height: 23.5rem;
      position: absolute;
      left: 74.1rem;
      top: 31.3rem;

      .company-GXS {
        line-height: 1.7689999667;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 2.8rem;
        font-size: 2.2rem;
        font-weight: 600;
      }
      .about-us-QNk {
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.8rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
      }
      .contact-us-kBi {
        margin-bottom: 0.8rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
      .career-HBe {
        margin-bottom: 0.8rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
      .lottery-pxG {
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 2rem;
      }
    }
    .group-37-Zex {
      height: 14.7rem;
      position: absolute;
      left: 92.9rem;
      top: 31.3rem;
      width: 9.7rem;

      .support-hWG {
        margin-bottom: 2.8rem;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.7689999667;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
      .faqs-STr {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.8rem;
      }
      .contact-us-BgL {
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 2rem;
      }
    }
    .group-19-jSx {
      top: 31.3rem;
      width: 15rem;
      height: 23.5rem;
      position: absolute;
      left: 51.4rem;

      .quick-links-GBz {
        font-weight: 600;
        line-height: 1.7689999667;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 2.8rem;
        font-size: 2.2rem;
      }
      .terms-of-service-19a {
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.8rem;
        font-size: 2rem;
      }
      .privacy-policy-jrG {
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.8rem;
        font-size: 2rem;
        font-weight: 400;
      }
      .plans-UYx {
        white-space: nowrap;
        margin-bottom: 0.8rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
      }
      .games-DmS {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.7690000534;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .group-38-NPS {
      width: 19.8rem;
      height: 9.1rem;
      position: absolute;
      left: 111.7rem;
      top: 31.3rem;

      .connect-with-us--Jnt {
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 0.5rem 0.4rem;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.7689999667;
      }
      .group-22-q28 {
        align-items: center;
        box-sizing: border-box;
        padding: 0.392rem 0.35rem 0.4rem 0.392rem;
        width: 100%;
        display: flex;

        .ic-baseline-facebook-kun {
          height: 3.9069rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.292rem 0.001rem 0rem;
          width: 3.9167rem;
        }
        .formkit-twitter-sDi {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.008rem 1.258rem 0rem 0rem;
          width: 3.9rem;
          height: 3.9rem;
          object-fit: contain;
        }
        .ri-instagram-fill-zZE {
          margin: 0.008rem 1.608rem 0rem 0rem;
          width: 3.5835rem;
          height: 3.5835rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .ri-whatsapp-fill-vSt {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 0.0083rem;
          width: 3.5rem;
          height: 3.5rem;
        }
      }
    }
    .cryptofibank-a-trusted-name-in-the-world-of-financial-opportunity-provides-a-secure-platform-for-investing-in-forex-cryptocurrencies-slot-games-and-lotteries-Thi {
      left: 12rem;
      font-weight: 400;
      line-height: 1.7690000534;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      width: 27.5rem;
      height: 14.2rem;
      position: absolute;
      top: 40.4rem;
      font-size: 1.6rem;
    }
    .rectangle-34-HRr {
      height: 3.7rem;
      position: absolute;
      left: 0;
      top: 59.5rem;
      background-color: #ecbd27;
      width: 144rem;
    }
    .group-39-2eL {
      height: 2.9rem;
      position: absolute;
      left: 58.2rem;
      top: 59.9rem;
      width: 26.7rem;

      .copyright-2023-all-rights-reserved-ZeG {
        width: 26.7rem;
        position: absolute;
        top: 0;
        font-weight: 600;
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
        height: 2.9rem;
        left: 0;
        font-size: 1.6rem;
        line-height: 1.7690000534;
        white-space: nowrap;
      }
      .ic-outline-copyright-UFS {
        object-fit: contain;
        vertical-align: top;
        width: 1.6667rem;
        height: 1.6667rem;
        position: absolute;
        left: 7.3667rem;
        top: 0.5667rem;
      }
    }
    .group-42-oHi {
      position: absolute;
      align-items: center;
      display: flex;
      box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      padding: 1.3rem 31.2rem 3.2rem 31.2rem;
      width: 119.5rem;
      flex-direction: column;
      background-color: #ffffff;
      border-radius: 1rem;
      height: 23rem;
      left: 12rem;
      top: 0;

      .auto-group-zxta-h8C {
        position: relative;
        flex-shrink: 0;
        margin: 0rem 10.6rem 1.8rem 9.4rem;
        width: calc(100% - 20rem);
        height: 8.2rem;

        .subscribe-to-news-cW4 {
          font-weight: 700;
          height: 5.7rem;
          position: absolute;
          left: 2.9rem;
          font-size: 3.2rem;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          width: 31.6rem;
          top: 0;
          line-height: 1.7690000534;
          color: #ecbd27;
        }
        .get-the-latest-insights-subscribe-to-our-newsletter-KfN {
          top: 5.3rem;
          font-size: 1.6rem;
          line-height: 1.7690000534;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          left: 0;
          height: 2.9rem;
          position: absolute;
          font-weight: 500;
          width: 37.1rem;
        }
      }
      .group-40-dAG {
        box-sizing: border-box;
        width: 100%;
        height: 8.5rem;
        display: flex;
        align-items: center;
        border: solid 0.1rem #afafaf;
        flex-shrink: 0;
        padding-left: 2.9rem;
        border-radius: 0.8rem;

        .enter-your-email-address-Zpc {
          line-height: 1.7690001095;
          color: #a5a5a5;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 17.6rem;
          font-size: 1.7rem;
          font-weight: 500;
        }
        .auto-group-gsty-6pY {
          height: 100%;
          font-size: 1.8rem;
          width: 17.3rem;
          line-height: 1.7690000534;
          align-items: center;
          justify-content: center;
          background-color: #ecbd27;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          font-weight: 700;
          color: #ffffff;
          border-radius: 0 0.8rem 0.8rem 0;
          flex-shrink: 0;
        }
      }
    }
    .group-65-8mE {
      position: absolute;
      left: 5.7rem;
      top: 22.9rem;
      width: 30.2rem;
      height: 22rem;

      .untitled-1-2-4un {
        object-fit: cover;
        vertical-align: top;
        width: 22rem;
        height: 22rem;
        position: absolute;
        left: 0;
        top: 0;
      }
      .cryptofibank-1a8 {
        white-space: nowrap;
        width: 14.2rem;
        position: absolute;
        top: 8.8rem;
        font-weight: 400;
        font-family: Sansita One, 'Source Sans Pro';
        height: 2.8rem;
        left: 16rem;
        font-size: 2.2rem;
        line-height: 1.2575;
        color: #000000;
      }
    }
  }
}
