
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 100rem;
}.sign-up-page-uqz {
  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 3rem;
  box-sizing: border-box;
  padding-right: 3.2rem;
  width: 100%;
  position: relative;

  .auto-group-gjdj-e2t {
    width: 50rem;
    background-size: 239.971% 100%;
    background-position: -16.9048rem -0rem;
    background-image: url('REPLACE_IMAGE:0c943cd48414699cb6a390e4cbf57b91138f97ac');
    border-radius: 3rem 0 0 3rem;
    flex-shrink: 0;
    margin-right: 5.3rem;
    height: 80rem;
    position: relative;
    background-color: rgba(0, 0, 0, 0.349999994);

    .the-cryptofibank-sign-up-page-welcomes-you-to-join-our-best-platform-NUg {
      position: absolute;
      left: 6.3rem;
      line-height: 1.5168750763;
      font-family: Roboto, 'Source Sans Pro';
      height: 6.1rem;
      top: 40.4rem;
      text-align: center;
      font-size: 2rem;
      font-weight: 500;
      color: #ffffff;
      width: 37.7rem;
    }
    .group-6-SN4 {
      position: absolute;
      left: 1.2rem;
      top: 19rem;
      width: 38.3rem;
      height: 25.9rem;

      .untitled-1-2-NWc {
        width: 25.3404rem;
        height: 25.9rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
      }
      .cryptofibank-Wcp {
        font-weight: 400;
        color: #ffffff;
        font-family: Sansita One, 'Source Sans Pro';
        white-space: nowrap;
        height: 3.8rem;
        position: absolute;
        top: 10.2rem;
        font-size: 3rem;
        line-height: 1.2575;
        width: 19.4rem;
        left: 18.9rem;
      }
    }
    .auto-group-gjdj-e2t-bg {
      width: 50rem;
      height: 80rem;
      position: relative;
      background-image: url('REPLACE_IMAGE:0c943cd48414699cb6a390e4cbf57b91138f97ac');
    }
  }
  .auto-group-mphr-53e {
    flex-shrink: 0;
    margin-bottom: 1.8rem;
    width: 41.5rem;
    align-items: center;
    display: flex;
    flex-direction: column;

    .auto-group-xeju-bGt {
      width: calc(100% - 8.1rem);
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 0rem 0.5rem 8.1rem;

      .member-form-KCt {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 1.6rem 8.6rem 0rem 0rem;
        font-size: 3.6rem;
        font-weight: 700;
        line-height: 1.5168750551;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
      }
      .icon-park-close-pvL {
        width: 2rem;
        height: 2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .to-stay-in-touch-with-us-please-sign-up-to-access-cryptofibank-y2Y {
      font-weight: 500;
      line-height: 1.5168750763;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      flex-shrink: 0;
      font-size: 2rem;
      max-width: 34.9rem;
      text-align: center;
      margin: 0rem 1.4rem 1.3rem 0rem;
    }
    .group-21-qKe {
      align-items: center;
      border-radius: 1rem;
      flex-shrink: 0;
      margin: 0rem 1.3rem 1.2rem 0rem;
      box-sizing: border-box;
      padding: 1.4rem 25.5rem 1.1rem 2.45rem;
      width: calc(100% - 1.3rem);
      display: flex;
      border: solid 0.15rem #afafaf;

      .fluent-person-20-filled-95S {
        margin: 0rem 1.85rem 0.2rem 0rem;
        width: 2.1rem;
        height: 2.4rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .username-3Ri {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.5168750551;
        color: #afafaf;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
      }
    }
    .group-22-9Uk {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      border: solid 0.15rem #afafaf;
      margin: 0rem 1.3rem 1.2rem 0rem;
      padding: 1.4rem 25.15rem 1.1rem 2.25rem;
      width: calc(100% - 1.3rem);
      border-radius: 1rem;
      flex-shrink: 0;

      .icon-park-solid-edit-name-rtx {
        margin: 0rem 1.488rem 0.325rem 0rem;
        width: 2.3125rem;
        height: 2.375rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .your-name-yig {
        color: #afafaf;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.5168750551;
      }
    }
    .group-23-HzG {
      padding: 0.918rem 22.7rem 1.3rem 2.234rem;
      display: flex;
      border: solid 0.15rem #afafaf;
      border-radius: 1rem;
      margin: 0rem 1.3rem 1.2rem 0rem;
      box-sizing: border-box;
      width: calc(100% - 1.3rem);
      align-items: center;
      flex-shrink: 0;

      .wpf-name-QZ6 {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1.334rem 0.113rem 0rem;
        width: 2.5315rem;
        height: 2.9687rem;
      }
      .your-surname-8jz {
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        font-weight: 500;
        line-height: 1.5168750551;
        color: #afafaf;
        flex-shrink: 0;
        margin-top: 0.282rem;
        text-align: center;
        font-size: 1.8rem;
      }
    }
    .group-24-psi {
      width: calc(100% - 1.3rem);
      align-items: center;
      border: solid 0.15rem #afafaf;
      border-radius: 1rem;
      flex-shrink: 0;
      margin: 0rem 1.3rem 1.2rem 0rem;
      box-sizing: border-box;
      padding: 1.2rem 29.5rem 1.1rem 2rem;
      display: flex;

      .clarity-email-solid-wSY {
        margin-right: 1.2rem;
        width: 3rem;
        height: 3rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .email-sLC {
        line-height: 1.5168750551;
        color: #afafaf;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.2rem;
        text-align: center;
        font-size: 1.8rem;
        font-weight: 500;
      }
    }
    .group-25-Nnk {
      margin: 0rem 1.3rem 1.2rem 0rem;
      box-sizing: border-box;
      display: flex;
      border-radius: 1rem;
      flex-shrink: 0;
      padding: 1.125rem 26.1rem 1.3rem 2.5rem;
      width: calc(100% - 1.3rem);
      align-items: center;
      border: solid 0.15rem #afafaf;

      .mdi-password-V6g {
        margin: 0rem 1.6rem 0.25rem 0rem;
        width: 2rem;
        height: 2.625rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .password-1qi {
        margin-top: 0.075rem;
        font-size: 1.8rem;
        color: #afafaf;
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-weight: 500;
        line-height: 1.5168750551;
        font-family: Roboto, 'Source Sans Pro';
      }
    }
    .group-26-ugC {
      padding: 1.35rem 3.1rem 1.1rem 2rem;
      width: calc(100% - 1.3rem);
      align-items: center;
      border: solid 0.15rem #afafaf;
      border-radius: 1rem;
      flex-shrink: 0;
      margin: 0rem 1.3rem 1.2rem 0rem;
      box-sizing: border-box;
      display: flex;

      .entypo-address-1jE {
        margin: 0rem 0.8rem 0.15rem 0rem;
        width: 3rem;
        height: 2.7rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .just-enter-the-tether-erc-20-address-M2Q {
        margin-top: 0.05rem;
        text-align: center;
        font-size: 1.8rem;
        font-family: Roboto, 'Source Sans Pro';
        font-weight: 500;
        line-height: 1.5168750551;
        color: #afafaf;
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .auto-group-tmdz-dVi {
      box-sizing: border-box;
      width: calc(100% - 1.3rem);
      display: flex;
      border-radius: 1rem;
      margin: 0rem 1.3rem 1.5rem 0rem;
      padding: 1.388rem 14.4rem 1.1rem 2.563rem;
      align-items: center;
      border: solid 0.15rem #afafaf;
      flex-shrink: 0;

      .fluent-book-number-16-filled-kKS {
        margin: 0rem 1.563rem 0.188rem 0rem;
        width: 1.875rem;
        height: 2.625rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .enter-reference-number-56p {
        text-align: center;
        font-weight: 500;
        line-height: 1.5168750551;
        font-family: Roboto, 'Source Sans Pro';
        flex-shrink: 0;
        margin-top: 0.0125rem;
        font-size: 1.8rem;
        color: #afafaf;
        white-space: nowrap;
      }
    }
    .auto-group-u65n-wui {
      margin: 0rem 1.5rem 1.5rem 6.9rem;
      width: calc(100% - 8.4rem);
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .rectangle-18-g6c {
        box-sizing: border-box;
        border-radius: 0.1rem;
        flex-shrink: 0;
        margin: 0.5rem 1rem 0rem 0rem;
        width: 1.3rem;
        height: 1.3rem;
        border: solid 0.1rem #000000;
      }
      .i-have-read-and-approved-the-membership-and-confidentiality-aBz {
        font-family: Roboto, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 30.8rem;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.5168750763;
        color: #000000;
      }
    }
    .group-9-gVv {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 1.3rem;
      width: 40.2rem;
      line-height: 1.5168750069;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 2.2rem;
      height: 5.3rem;
      text-align: center;
      font-weight: 800;
      white-space: nowrap;
      color: #ffffff;
      background-color: #d9a648;
      border-radius: 2.65rem;
      flex-shrink: 0;
    }
  }
}
