
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 63.2rem;
}.user-profile-QRe {
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 1rem;
  width: 100%;

  .auto-group-zvrw-wAg {
    position: relative;
    flex-shrink: 0;
    margin-bottom: 1.9rem;
    width: 100%;
    height: 31.9rem;

    .rectangle-84-5Xn {
      height: 21.9rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #fbbc04;
      border-radius: 1rem 1rem 0 0;
      width: 63.2rem;
    }
    .ellipse-9-c1v {
      background-color: #d9d9d9;
      width: 20rem;
      height: 20rem;
      left: 21.6rem;
      top: 11.9rem;
      border: solid 0.8rem #ffffff;
      box-sizing: border-box;
      box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
      background-position: 0 -5rem;
      position: absolute;
      background-size: 100% 150%;
      background-image: url('REPLACE_IMAGE:be205d20703d00cb3a2ca82cd0a3d02320b81482');
      border-radius: 10rem;

      .ellipse-9-c1v-bg {
        height: 20rem;
        position: relative;
        background-image: url('REPLACE_IMAGE:be205d20703d00cb3a2ca82cd0a3d02320b81482');
        width: 20rem;
      }
    }
  }
  .sara-taylor-EJC {
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 0.4rem 0.2rem 0rem;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.7690000534;
    color: #000000;
    font-family: Roboto, 'Source Sans Pro';
  }
  .reference-number-YJt {
    margin-right: 0.5rem;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.7690000534;
    color: #a5a5a5;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .auto-group-mcp8-5Zi {
    width: 100%;
    row-gap: 4.1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 2.3rem 5.2rem 2.9rem 4.9rem;

    .group-126-PKW {
      height: 5.6rem;
      border-bottom: solid 0.1rem #a5a5a5;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0 0.4167rem;
      width: 100%;

      .auto-group-cyhj-vqE {
        width: 13.6833rem;
        height: 3.9rem;
        display: flex;
        align-items: center;

        .iconamoon-profile-5CL {
          margin: 0rem 1.817rem 0rem 0rem;
          width: 1.6667rem;
          height: 1.6667rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .my-profile-yHi {
          flex-shrink: 0;
          font-size: 2.2rem;
          font-weight: 600;
          line-height: 1.7689999667;
          color: #a5a5a5;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .group-127-sdz {
      box-sizing: border-box;
      padding: 0 0.4167rem;
      width: 100%;
      height: 5.6rem;
      border-bottom: solid 0.1rem #a5a5a5;
      flex-shrink: 0;

      .auto-group-b5sp-cLg {
        width: 13.2833rem;
        height: 3.9rem;
        display: flex;
        align-items: center;

        .tabler-wallet-wdr {
          width: 1.6667rem;
          height: 1.6667rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.817rem 0rem 0rem;
        }
        .my-wallet-sGc {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.2rem;
          font-weight: 600;
          line-height: 1.7689999667;
          color: #a5a5a5;
          font-family: Roboto, 'Source Sans Pro';
        }
      }
    }
    .group-128-CJt {
      box-sizing: border-box;
      flex-shrink: 0;
      width: 100%;
      height: 5.8rem;
      border-bottom: solid 0.1rem #a5a5a5;

      .auto-group-jujr-YNk {
        width: 14.8rem;
        height: 3.9rem;
        display: flex;
        align-items: center;

        .foundation-ticket-fTN {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.4rem 0rem 0rem;
          width: 2.5rem;
          height: 2.5rem;
        }
        .my-tickets-kji {
          flex-shrink: 0;
          font-size: 2.2rem;
          font-weight: 600;
          line-height: 1.7689999667;
          color: #a5a5a5;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .group-129-sZS {
      box-sizing: border-box;
      padding: 0 0.1563rem;
      width: 100%;
      height: 5.8rem;
      border-bottom: solid 0.1rem #a5a5a5;
      flex-shrink: 0;

      .auto-group-byww-DdJ {
        width: 12.9438rem;
        height: 3.9rem;
        display: flex;
        align-items: center;

        .pajamas-planning-Zx4 {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.556rem 0.2rem 0rem;
          width: 2.1875rem;
          height: 2.1875rem;
          object-fit: contain;
        }
        .my-plans-hHa {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.2rem;
          font-weight: 600;
          line-height: 1.7689999667;
          color: #a5a5a5;
          font-family: Roboto, 'Source Sans Pro';
        }
      }
    }
    .group-130-dBE {
      box-sizing: border-box;
      padding: 0 0.2083rem;
      width: 100%;
      height: 6.6rem;
      border-bottom: solid 0.1rem #a5a5a5;
      flex-shrink: 0;

      .auto-group-sutg-Z4t {
        display: flex;
        align-items: center;
        width: 13.8917rem;
        height: 3.9rem;

        .ic-outline-message-hgt {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.608rem 0rem 0rem;
          width: 2.0833rem;
          height: 2.0833rem;
        }
        .messages-pWc {
          line-height: 1.7689999667;
          color: #a5a5a5;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.2rem;
          font-weight: 600;
        }
      }
    }
    .group-131-Lzk {
      height: 6.1rem;
      border-bottom: solid 0.1rem #a5a5a5;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0 0.3385rem;
      width: 100%;

      .auto-group-snpa-JAt {
        width: 10.5615rem;
        height: 3.9rem;
        display: flex;
        align-items: center;

        .basil-logout-outline-3uA {
          width: 1.7188rem;
          height: 1.6146rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.843rem 0.2rem 0rem;
        }
        .logout-y28 {
          font-size: 2.2rem;
          font-weight: 600;
          line-height: 1.7689999667;
          color: #a5a5a5;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
  }
}
